Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

Content change
  config/locales/en.yml
Due: none

Fix payroll details task for scrubbed claims
  app/views/admin/tasks/payroll_details.html.erb
  spec/features/admin/admin_claim_payroll_details_task_spec.rb
Due: standard

wip
  app/views/early_years_payment/practitioner/claims/how_we_use_your_information.html.erb
  spec/features/early_years_payment/practitioner/happy_path_spec.rb
Due: standard

Replace call to rake task
  app/models/eligible_fe_providers_importer.rb
  lib/analytics_importer.rb
  lib/csv_importer/base.rb
  spec/lib/analytics_importer_spec.rb
  spec/lib/csv_importer/base_spec.rb
Due: standard

fix email address on provider confirmation
  app/views/early_years_payment/provider/authenticated/submissions/show.html.erb
Due: none

copy tweak for ineligible nursery
  app/views/early_years_payment/provider/authenticated/claims/_ineligibility_nursery_is_not_listed.html.erb
Due: none

copy tweak EY paye reference
  app/views/early_years_payment/provider/authenticated/claims/paye_reference.html.erb
  config/locales/en.yml
Due: none

copy tweak EY practitioner confirmation
  app/views/early_years_payment/practitioner/submissions/show.html.erb
  spec/features/early_years_payment/practitioner/happy_path_spec.rb
Due: standard

blank PR template which is never used
  .github/pull_request_template.md
Due: prettier

Revert "wip"
  app/views/early_years_payment/practitioner/claims/how_we_use_your_information.html.erb
  spec/features/early_years_payment/practitioner/happy_path_spec.rb
Due: standard

unique indexes for FE + EY providers
  db/migrate/20241113111916_fe_providers_unique.rb
  db/migrate/20241113112028_ey_providers_unique.rb
  db/schema.rb
Due: standard

exclude EY from in progress update emails
  app/jobs/send_emails_after_three_weeks_job.rb
  app/models/base_policy.rb
  app/models/claim.rb
  app/models/policies/early_years_payments.rb
  spec/models/claim_spec.rb
Due: standard

2 and 5 month EY progress email update
  app/jobs/early_years_progress_emails_job.rb
  app/mailers/early_years_payments_mailer.rb
  app/models/claim.rb
  config/initializers/core_ext.rb
  lib/core_ext/date.rb
  spec/jobs/early_years_progress_emails_job_spec.rb
  spec/mailers/early_years_payments_mailer_spec.rb
Due: standard

Copy update
  app/views/early_years_payment/practitioner/claims/how_we_use_your_information.html.erb
  spec/features/early_years_payment/practitioner/happy_path_spec.rb
Due: standard

Remove duplicated test
  spec/features/admin/admin_ey_identity_task_spec.rb
Due: standard

Log emails in dev
  app/mailers/claim_mailer.rb
Due: standard

wip
  db/seeds.rb
Due: standard

for EY joruney clear dependent answers
  app/forms/journeys/early_years_payment/provider/authenticated/returner_form.rb
  app/forms/journeys/early_years_payment/provider/authenticated/returner_worked_with_children_form.rb
  spec/features/early_years_payment/provider/authenticated/changing_answers_spec.rb
  spec/support/steps/early_years_provider_journey_authenticated.rb
Due: standard

fix typo
  app/models/journeys/early_years_payment/provider/authenticated/answers_presenter.rb
Due: standard

reset dependent answers for EY provider journey
  app/forms/journeys/early_years_payment/provider/authenticated/returner_form.rb
  app/forms/journeys/early_years_payment/provider/authenticated/returner_worked_with_children_form.rb
  spec/forms/journeys/early_years_payment/provider/authenticated/returner_form_spec.rb
  spec/forms/journeys/early_years_payment/provider/authenticated/returner_worked_with_children_form_spec.rb
Due: standard

session now passed to form
  app/controllers/concerns/form_submittable.rb
  app/forms/current_school_form.rb
  app/forms/form.rb
  app/forms/journeys/early_years_payment/provider/authenticated/current_nursery_form.rb
  app/forms/journeys/early_years_payment/provider/authenticated/start_date_form.rb
  app/forms/journeys/get_a_teacher_relocation_payment/entry_date_form.rb
  app/forms/journeys/get_a_teacher_relocation_payment/start_date_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/claim_school_form.rb
  app/forms/personal_details_form.rb
  app/models/journeys/base.rb
Due: standard

update EY policy start date => 15/11/2024
  app/models/policies/early_years_payments.rb
  spec/features/admin/admin_ey_tasks_spec.rb
Due: standard

upgrade postgresql16 16.4-r0 => 16.5-r0
  Dockerfile
Due: none

Send emails when claim approved
  app/controllers/admin/decisions_controller.rb
  app/mailers/early_years_payments_mailer.rb
  app/models/claim_auto_approval.rb
  spec/factories/claims.rb
  spec/features/admin/approvals_spec.rb
Due: standard

CAPT-1969 EY Consent page content update
  app/views/early_years_payment/provider/authenticated/claims/consent.html.erb
  config/locales/en.yml
  spec/features/admin/admin_ey_tasks_spec.rb
  spec/features/early_years_payment/provider/authenticated/employee_email_spec.rb
  spec/features/early_years_payment/provider/authenticated/happy_path_spec.rb
  spec/features/early_years_payment/provider/authenticated/ineligible_nursery_spec.rb
  spec/features/early_years_payment/provider/authenticated/ineligible_returner_spec.rb
  spec/features/early_years_payment/provider/authenticated/ineligible_start_date_spec.rb
  spec/features/early_years_payment/provider/authenticated/not_child_facing_spec.rb
  spec/support/steps/early_years_provider_journey_authenticated.rb
Due: standard

Smart quotes
  config/locales/en.yml
  spec/features/admin/admin_ey_tasks_spec.rb
  spec/features/early_years_payment/provider/authenticated/changing_answers_spec.rb
  spec/features/early_years_payment/provider/authenticated/employee_email_spec.rb
  spec/features/early_years_payment/provider/authenticated/happy_path_spec.rb
  spec/features/early_years_payment/provider/authenticated/ineligible_nursery_spec.rb
  spec/features/early_years_payment/provider/authenticated/ineligible_returner_spec.rb
  spec/features/early_years_payment/provider/authenticated/ineligible_start_date_spec.rb
  spec/features/early_years_payment/provider/authenticated/not_child_facing_spec.rb
  spec/support/steps/early_years_provider_journey_authenticated.rb
Due: standard

tweak EY provider landing page
  app/assets/stylesheets/components/document.scss
  app/views/early_years_payment/provider/start/landing_page.html.erb
  app/views/shared/_document.html.erb
Due: prettier

remove duplicate code
  app/controllers/admin/allocations_controller.rb
Due: standard

use govuk formbuilder for admin allocations form
  app/views/admin/allocations/bulk_deallocate.html.erb
  spec/features/admin/admin_claim_allocation_spec.rb
Due: standard

fix policy name shown when allocating
  app/controllers/admin/allocations_controller.rb
  app/views/admin/allocations/bulk_deallocate.html.erb
  spec/features/admin/admin_claim_allocation_spec.rb
Due: standard

fix linting
  app/controllers/admin/allocations_controller.rb
Due: standard

add EY consent form
  app/views/early_years_payment/provider/start/landing_page.html.erb
  public/ey-provider-practitioner-consent-form.html
Due: prettier

add EY PDF consent form
  app/assets/pdfs/ey-provider-practitioner-consent-form.pdf
  app/assets/stylesheets/components/document.scss
  app/views/early_years_payment/provider/start/landing_page.html.erb
  app/views/shared/_document.html.erb
  app/views/shared/_generic_document_icon.html.erb
  app/views/shared/_pdf_document_icon.html.erb
  config/initializers/assets.rb
Due: prettier, standard

ensure document icons also clickable
  app/views/shared/_document.html.erb
Due: none

remove html EY consent form
  app/views/early_years_payment/provider/start/landing_page.html.erb
  public/ey-provider-practitioner-consent-form.html
Due: prettier

Replace smart quotes in docs
  docs/architecture-decisions/0008-use-govuk-verify-for-claiment-identity-assurance.md
  docs/architecture-decisions/0009-capture-teacher-reference-number.md
  docs/architecture-decisions/0011-payroll-information-to-be-downloaded-directly-by-payroll-provider.md
Due: prettier

Remove falsely passed task
  db/data/20241121115931_remove_student_loan_plan_task_from_claims_with_no_slc_plan.rb
Due: standard

Make links open in new tab
  app/views/early_years_payment/provider/start/guidance.html.erb
Due: none

Copy tweak
  app/views/early_years_payment/provider/start/guidance.html.erb
Due: none

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
