Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{css,html,js,js.erb,json,md,scss}"
      run: rails prettier {staged_files}
      skip:
        - merge
        - rebase
    standard:
      glob: "*.rb"
      run: rails standard {staged_files}
      skip:
        - merge
        - rebase

add EY alt idv task
  app/forms/admin/tasks/ey_alternative_verification_form.rb
  app/forms/admin/tasks/form_factory.rb
  app/jobs/tasks/ey_alternative_verification_job.rb
  app/models/automated_checks/claim_verifiers/ey_alternative_verification.rb
  app/models/policies/early_years_payments.rb
  app/models/policies/early_years_payments/claim_checking_tasks.rb
  app/models/task.rb
  app/views/admin/tasks/_task_outcome_one_login_identity.html.erb
  app/views/admin/tasks/ey_alternative_verification.html.erb
  app/views/admin/tasks/one_login_identity.html.erb
  config/locales/en.yml
  spec/features/admin/admin_ey_tasks_spec.rb
  spec/features/admin/early_years/alternative_verification_spec.rb
  spec/features/admin/tasks/identity_confirmation_spec.rb
  spec/features/admin/tasks/one_login_identity_spec.rb
  spec/support/admin_checks_feature_shared_examples.rb
  spec/support/admin_view_claim_feature_shared_examples.rb
Due: standard

conditional for alternative_identity_verification
  app/models/policies/further_education_payments/claim_checking_tasks.rb
  spec/factories/claims.rb
  spec/models/policies/further_education_payments/claim_checking_tasks_spec.rb
Due: standard

Add new columns to dfe analytics
  config/analytics.yml
Due: none

Send provider_contact_name to notify
  app/mailers/early_years_payments_mailer.rb
Due: standard

Show if claim already verified on link visit
  app/views/early_years_payment/provider/alternative_idv/landing_page.html.erb
  spec/features/early_years_payment/provider/alternative_idv/alternative_idv_spec.rb
Due: standard

feat(2447): CAPT: add restore-deleted workflow
  .github/workflows/restore-deleted-postgres.yml
Due: none

CAPT-2800 Refactor FE provider verification UI with compressed claim details
  app/views/further_education_payments/providers/claims/verifications/_collapsible_claim_details.html.erb
  app/views/further_education_payments/providers/claims/verifications/_courses.html.erb
  app/views/further_education_payments/providers/claims/verifications/_verification_header.html.erb
  app/views/further_education_payments/providers/claims/verifications/actual_subjects_taught.html.erb
  app/views/further_education_payments/providers/claims/verifications/contract_covers_full_academic_year.html.erb
  app/views/further_education_payments/providers/claims/verifications/contract_type.html.erb
  app/views/further_education_payments/providers/claims/verifications/half_teaching_hours.html.erb
  app/views/further_education_payments/providers/claims/verifications/half_timetabled_teaching_time.html.erb
  app/views/further_education_payments/providers/claims/verifications/in_first_five_years.html.erb
  app/views/further_education_payments/providers/claims/verifications/performance_and_discipline.html.erb
  app/views/further_education_payments/providers/claims/verifications/subjects_taught.html.erb
  app/views/further_education_payments/providers/claims/verifications/taught_at_least_one_academic_term.html.erb
  app/views/further_education_payments/providers/claims/verifications/teaching_hours_per_week.html.erb
  app/views/further_education_payments/providers/claims/verifications/teaching_qualification.html.erb
  app/views/further_education_payments/providers/claims/verifications/teaching_responsibilities.html.erb
  app/views/further_education_payments/providers/claims/verifications/timetabled_teaching_hours.html.erb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
  spec/features/further_education_payments/providers/provider_verifying_with_claimant_courses_spec.rb
  spec/features/further_education_payments/providers/provider_verifying_with_custom_subjects_spec.rb
  spec/features/further_education_payments/providers/provider_verifying_with_no_eligible_courses_spec.rb
Due: standard

fix time sensitive tests
  app/models/policies/targeted_retention_incentive_payments.rb
  lib/tasks/fix_student_loan_repayment_amounts.rake
  spec/features/admin/admin_claim_further_education_payments_spec.rb
  spec/features/admin/admin_claim_tasks_update_with_dqt_api_spec.rb
  spec/forms/journeys/further_education_payments/check_your_answers_form_spec.rb
  spec/lib/tasks/fix_student_loan_repayment_amounts_spec.rb
  spec/models/journeys/targeted_retention_incentive_payments/answers_presenter_spec.rb
  spec/models/journeys/teacher_student_loan_reimbursement/answers_presenter_spec.rb
  spec/models/policies/further_education_payments/claim_checking_tasks_spec.rb
  spec/models/policies/further_education_payments/provider_verfication_emails_spec.rb
Due: standard

Notify subscribers when alternative idv completed
  app/forms/further_education_payments/providers/claims/verification/check_answers_form.rb
  app/forms/further_education_payments/providers/claims/verification/claimant_employed_by_college_form.rb
  app/models/policies/further_education_payments.rb
  app/models/policies/further_education_payments/eligibility.rb
  spec/forms/further_education_payments/providers/claims/verification/check_answers_form_spec.rb
  spec/forms/further_education_payments/providers/claims/verification/claimant_employed_by_college_form_spec.rb
Due: standard

Branch on information param
  app/controllers/further_education_payments/providers/claims/information_controller.rb
  app/views/further_education_payments/providers/claims/information/progress_saved.html.erb
Due: standard

Add employment checks
  app/controllers/further_education_payments/providers/claims/information_controller.rb
  app/controllers/further_education_payments/providers/claims/verifications_controller.rb
  app/forms/further_education_payments/providers/claims/verification/base_form.rb
  app/forms/further_education_payments/providers/claims/verification/check_answers_form.rb
  app/forms/further_education_payments/providers/claims/verification/claimant_employed_by_college_form.rb
  app/forms/further_education_payments/providers/claims/verification/claimant_employment_check_declaration_form.rb
  app/forms/further_education_payments/providers/claims/verification/claimant_employment_check_needed_form.rb
  app/forms/further_education_payments/providers/claims/verification/claimant_personal_details_form.rb
  app/models/further_education_payments/providers/claims/answers_presenter.rb
  app/models/further_education_payments/providers/claims/claim_presenter.rb
  app/models/further_education_payments/providers/claims/verification/wizard.rb
  app/models/policies/further_education_payments/eligibility.rb
  app/models/policies/further_education_payments/provider_verification_constants.rb
  app/views/further_education_payments/providers/claims/information/claim_rejected.html.erb
  app/views/further_education_payments/providers/claims/verifications/claimant_employed_by_college.html.erb
  app/views/further_education_payments/providers/claims/verifications/claimant_employment_check_declaration.html.erb
  app/views/further_education_payments/providers/claims/verifications/claimant_employment_check_needed.html.erb
  app/views/further_education_payments/providers/claims/verifications/claimant_personal_details.html.erb
  app/views/further_education_payments/providers/verified_claims/_employment_check_failed.html.erb
  app/views/further_education_payments/providers/verified_claims/_verified.html.erb
  app/views/further_education_payments/providers/verified_claims/show.html.erb
  spec/factories/claims.rb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
  spec/forms/further_education_payments/providers/claims/verification/claimant_employed_by_college_form_spec.rb
  spec/forms/further_education_payments/providers/claims/verification/claimant_employment_check_declaration_form_spec.rb
  spec/forms/further_education_payments/providers/claims/verification/claimant_personal_details_form_spec.rb
Due: standard

Add cancel button
  app/models/policies/further_education_payments.rb
  app/views/further_education_payments/providers/claims/verifications/claimant_employment_check_declaration.html.erb
Due: standard

Use presenter for verified claims index
  app/models/further_education_payments/providers/claims/claim_presenter.rb
  app/views/further_education_payments/providers/verified_claims/index.html.erb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
  spec/features/further_education_payments/providers/verified_dashboard_spec.rb
Due: standard

Update EY alternative verification task
  app/forms/admin/tasks/ey_alternative_verification_form.rb
  app/jobs/tasks/ey_alternative_verification_job.rb
  app/models/automated_checks/claim_verifiers/ey_alternative_verification.rb
  app/models/claim.rb
  app/views/admin/tasks/ey_alternative_verification.html.erb
  spec/features/admin/early_years/alternative_verification_spec.rb
  spec/forms/admin/tasks/ey_alternative_verification_form_spec.rb
  spec/models/claim_spec.rb
Due: standard

Don't automatically pass the ey idv task
  app/jobs/tasks/ey_alternative_verification_job.rb
  app/models/automated_checks/claim_verifiers/ey_alternative_verification.rb
  app/models/policies/early_years_payments.rb
  spec/features/admin/early_years/alternative_verification_spec.rb
Due: standard

CAPT-2831 - Update EY landing page content
  app/views/early_years_payment/provider/start/landing_page.html.erb
  config/locales/en.yml
  spec/features/early_years_payment/provider/start/documents_spec.rb
  spec/features/early_years_payment/provider/start/happy_path_spec.rb
Due: standard

Send employment check chaser emails
  app/jobs/early_years_payments/provider_six_month_employment_reminder_job.rb
  app/mailers/application_mailer.rb
  app/mailers/early_years_payments_mailer.rb
  config/analytics.yml
  config/recurring.yml
  db/migrate/20250826152518_add_provider_six_month_employment_reminder_sent_at_to_eligibility.rb
  db/schema.rb
  spec/jobs/early_years_payments/provider_six_month_employment_reminder_job_spec.rb
Due: standard

EY practitioner landing page
  app/mailers/claim_mailer.rb
  app/models/journeys/early_years_payment/practitioner/slug_sequence.rb
  app/views/early_years_payment/practitioner/claims/find_reference.html.erb
  app/views/early_years_payment/practitioner/landing_page.html.erb
  config/locales/en.yml
  spec/features/early_years_payment/practitioner/happy_path_spec.rb
  spec/forms/journeys/early_years_payment/provider/authenticated/check_your_answers_form_spec.rb
  spec/mailers/claim_mailer_spec.rb
Due: standard

Fix FE provider verification test expectation
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
Due: standard

extend IRP window for Y2
  app/models/policies/international_relocation_payments/policy_eligibility_checker.rb
Due: standard

Add contract type page to EY journey
  app/forms/journeys/early_years_payment/provider/authenticated/provider_entered_contract_type_form.rb
  app/models/journeys/early_years_payment/provider/authenticated.rb
  app/models/journeys/early_years_payment/provider/authenticated/answers_presenter.rb
  app/models/journeys/early_years_payment/provider/authenticated/session_answers.rb
  app/models/journeys/early_years_payment/provider/authenticated/slug_sequence.rb
  app/models/policies/early_years_payments/admin_claim_details_presenter.rb
  app/models/policies/early_years_payments/policy_eligibility_checker.rb
  app/views/early_years_payment/provider/authenticated/claims/_ineligibility_ineligible_contract_type.html.erb
  app/views/early_years_payment/provider/authenticated/claims/contract_type.html.erb
  config/analytics.yml
  config/locales/en.yml
  db/migrate/20250827140510_add_contract_type_to_ey_eligibilities.rb
  db/schema.rb
  spec/factories/journeys/early_years_payment/provider/authenticated/early_years_payment_provider_authenticated_answers.rb
  spec/features/admin/admin_ey_tasks_spec.rb
  spec/features/early_years_payment/provider/authenticated/changing_answers_spec.rb
  spec/features/early_years_payment/provider/authenticated/employee_email_spec.rb
  spec/features/early_years_payment/provider/authenticated/happy_path_spec.rb
  spec/features/early_years_payment/provider/authenticated/ineligible_contract_type_spec.rb
  spec/features/early_years_payment/provider/authenticated/not_child_facing_spec.rb
  spec/forms/journeys/early_years_payment/provider/authenticated/provider_entered_contract_type_form_spec.rb
  spec/models/journeys/early_years_payment/provider/authenticated/answers_presenter_spec.rb
  spec/models/policies/early_years_payments/admin_claim_details_presenter_spec.rb
  spec/models/policies/early_years_payments/policy_eligibility_checker_spec.rb
  spec/support/steps/early_years_provider_journey_authenticated.rb
Due: standard

install rebranded OL header
  app/assets/javascripts/application.js
  app/assets/stylesheets/components/button_to.scss
  app/views/shared/_one_login_header.html.erb
Due: prettier

CAPT-2799 - Provider dashboard claim list changes
  app/assets/stylesheets/components/card.scss
  app/controllers/further_education_payments/providers/claims_controller.rb
  app/models/further_education_payments/providers/claims/claim_presenter.rb
  app/models/policies/further_education_payments.rb
  app/models/policies/further_education_payments/eligibility.rb
  app/models/policies/further_education_payments/provider_verification_constants.rb
  app/views/further_education_payments/providers/claims/index.html.erb
  spec/features/further_education_payments/providers/unverified_dashboard_spec.rb
  spec/models/further_education_payments/providers/claims/claim_presenter_spec.rb
  spec/models/policies/further_education_payments/eligibility_spec.rb
Due: prettier, standard

Auto pass the personal details sub task
  app/forms/admin/tasks/ey_alternative_verification_form.rb
  app/jobs/tasks/ey_alternative_verification_job.rb
  app/models/automated_checks/claim_verifiers/ey_alternative_verification.rb
  app/models/policies/early_years_payments.rb
  app/models/tasks.rb
  app/views/admin/tasks/ey_alternative_verification.html.erb
  spec/features/admin/early_years/alternative_verification_spec.rb
Due: standard

add empty line
  app/views/further_education_payments/providers/claims/verifications/_collapsible_claim_details.html.erb
Due: none

Add bbank detail sub task automated passing
  app/forms/admin/tasks/ey_alternative_verification_form.rb
  app/models/automated_checks/claim_verifiers/ey_alternative_verification.rb
  app/models/claim.rb
  app/views/admin/tasks/ey_alternative_verification.html.erb
  spec/features/admin/early_years/alternative_verification_spec.rb
  spec/models/automated_checks/claim_verifiers/ey_alternative_verification_spec.rb
Due: standard

add empty line
  app/views/further_education_payments/providers/claims/verifications/_courses.html.erb
  app/views/further_education_payments/providers/claims/verifications/_verification_header.html.erb
  app/views/further_education_payments/providers/claims/verifications/actual_subjects_taught.html.erb
  app/views/further_education_payments/providers/claims/verifications/contract_covers_full_academic_year.html.erb
Due: none

touch
  README.md
Due: prettier

CAPT-2818: Add practitioner reminder emails for Early Years Payments
  app/jobs/early_years_payments/practitioner_reminder_email_job.rb
  app/mailers/application_mailer.rb
  app/mailers/early_years_payments_mailer.rb
  config/analytics.yml
  config/recurring.yml
  db/migrate/20250903083853_add_practitioner_reminder_fields_to_early_years_payments_eligibility.rb
  db/schema.rb
  spec/factories/claims.rb
  spec/jobs/early_years_payments/practitioner_reminder_email_job_spec.rb
  spec/mailers/early_years_payments_mailer_spec.rb
Due: standard

EY tweak radio option copy
  app/models/policies/early_years_payments/admin_claim_details_presenter.rb
  config/locales/en.yml
  spec/features/admin/admin_ey_tasks_spec.rb
  spec/features/admin/admin_view_full_claim_early_years_payments_spec.rb
  spec/features/early_years_payment/provider/authenticated/changing_answers_spec.rb
  spec/features/early_years_payment/provider/authenticated/employee_email_spec.rb
  spec/features/early_years_payment/provider/authenticated/happy_path_spec.rb
  spec/features/early_years_payment/provider/authenticated/ineligible_returner_spec.rb
  spec/models/policies/early_years_payments/admin_claim_details_presenter_spec.rb
Due: standard

copy tweak EY hint
  config/locales/en.yml
Due: none

update admin decision due field
  app/models/claim.rb
  app/models/policies/early_years_payments.rb
  spec/features/admin/admin_view_full_claim_early_years_payments_spec.rb
  spec/features/admin/admin_view_full_claim_further_education_payments_spec.rb
  spec/helpers/admin/claims_helper_spec.rb
  spec/models/base_policy_spec.rb
  spec/models/policies/early_years_payments_spec.rb
  spec/models/policies/further_education_payments_spec.rb
Due: standard

EY provider errors copy tweak
  app/forms/journeys/early_years_payment/provider/authenticated/child_facing_form.rb
  app/forms/journeys/early_years_payment/provider/authenticated/returner_contract_type_form.rb
  app/forms/journeys/early_years_payment/provider/authenticated/returner_form.rb
  app/forms/journeys/early_years_payment/provider/authenticated/returner_worked_with_children_form.rb
  config/locales/en.yml
  spec/features/early_years_payment/provider/authenticated/not_child_facing_spec.rb
  spec/forms/journeys/early_years_payment/provider/authenticated/child_facing_form_spec.rb
  spec/forms/journeys/early_years_payment/provider/authenticated/returner_contract_type_form_spec.rb
  spec/forms/journeys/early_years_payment/provider/authenticated/returner_form_spec.rb
  spec/forms/journeys/early_years_payment/provider/authenticated/returner_worked_with_children_form_spec.rb
Due: standard

tweak postcode error copy
  config/locales/en.yml
Due: none

tweak admin error messages
  app/controllers/admin/tasks_controller.rb
  app/forms/admin/tasks/form_factory.rb
  app/forms/admin/tasks/generic_form.rb
  app/forms/admin/tasks/matching_details_form.rb
  app/forms/admin/tasks/payroll_details_form.rb
  app/models/decision.rb
  spec/features/admin/admin_claim_with_matching_details_spec.rb
  spec/features/admin/admin_reject_claim_spec.rb
  spec/forms/admin/tasks/matching_details_form_spec.rb
  spec/forms/admin/tasks/payroll_details_form_spec.rb
  spec/models/decision_spec.rb
  spec/requests/admin/admin_decisions_spec.rb
Due: standard

tweak error message
  app/forms/postcode_search_form.rb
  spec/forms/postcode_search_form_spec.rb
Due: standard

Remove hint text
  app/views/early_years_payment/provider/authenticated/claims/current_nursery.html.erb
Due: none

Update hint text from grey to black
  app/views/early_years_payment/provider/authenticated/claims/child_facing.html.erb
Due: none

Change hint text to black
  app/views/early_years_payment/provider/authenticated/claims/paye_reference.html.erb
Due: none

Put optional in brackets and lowercase it
  app/views/claims/full_name.html.erb
Due: none
