Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

Move last policy year value to `Policies::EarlyCareerPayments`
  app/models/policies/early_career_payments.rb
  app/models/policies/early_career_payments/eligibility.rb
Due: standard

Move last policy year value to `Policies::LevellingUpPremiumPayments`
  app/models/policies/levelling_up_premium_payments.rb
  app/models/policies/levelling_up_premium_payments/eligibility.rb
Due: standard

Use `#any_future_policy_years?` to evaluate against the the policy specific end year
  app/models/concerns/eligibility_checkable.rb
Due: standard

Fix eligibility criteria url for ECP
  app/models/policies/levelling_up_premium_payments.rb
  spec/models/levelling_up_premium_payments_spec.rb
Due: standard

Use session answers instead of claim object
  app/models/journeys/additional_payments_for_teaching/slug_sequence.rb
  lib/ineligibility_reason_checker.rb
Due: standard

Remove shim class workaround
  app/models/journeys/additional_payments_for_teaching/slug_sequence.rb
Due: standard

Fix bug in ineligible page
  app/views/additional_payments/claims/_ineligibility_trainee_in_last_policy_year.html.erb
Due: none

Fix copy
  app/views/additional_payments/claims/_ineligibility_ecp_only_induction_not_completed.html.erb
Due: none

Remove redundant methods from `Policies::EarlyCareerPayments`
  app/models/policies/early_career_payments.rb
  spec/models/early_career_payments_spec.rb
Due: standard

Make sure an ECP claim is ineligible when induction not completed and it's the end year for ECP
  app/models/concerns/policies/early_career_payments/eligible.rb
  app/models/journeys/additional_payments_for_teaching/slug_sequence.rb
  app/views/additional_payments/claims/_ineligibility_ecp_only_induction_not_completed.html.erb
  lib/ineligibility_reason_checker.rb
  spec/factories/journeys/additional_payments_for_teaching/session_answers.rb
  spec/features/ineligible_early_career_payments_claims_spec.rb
  spec/models/policies/early_career_payments/policy_eligibility_checker_spec.rb
Due: standard

CAPT-1419 ECP exit screen showing incorrect text for AY24-25 (when induction not completed) (#2766)
  app/models/concerns/eligibility_checkable.rb
  app/models/concerns/policies/early_career_payments/eligible.rb
  app/models/journeys/additional_payments_for_teaching/slug_sequence.rb
  app/models/policies/early_career_payments.rb
  app/models/policies/early_career_payments/eligibility.rb
  app/models/policies/levelling_up_premium_payments.rb
  app/models/policies/levelling_up_premium_payments/eligibility.rb
  app/views/additional_payments/claims/_ineligibility_ecp_only_induction_not_completed.html.erb
  app/views/additional_payments/claims/_ineligibility_trainee_in_last_policy_year.html.erb
  lib/ineligibility_reason_checker.rb
  spec/factories/journeys/additional_payments_for_teaching/session_answers.rb
  spec/features/ineligible_early_career_payments_claims_spec.rb
  spec/models/early_career_payments_spec.rb
  spec/models/levelling_up_premium_payments_spec.rb
  spec/models/policies/early_career_payments/policy_eligibility_checker_spec.rb
Due: standard

Bugfix empty pii yaml file needs to be an empty hash
  config/analytics_pii.yml
Due: none

Bugfix empty pii yaml file needs to be an empty hash (#2929)
  config/analytics_pii.yml
Due: none

Require the build job for prod deploy per PR feedback
  .github/workflows/build_and_deploy.yml
Due: none

Fix production deploys being skipped (#2923)
  azure-pipelines.yml
Due: none

Setup the admin to display IRP claims
  app/models/base_policy.rb
  app/models/claim_checking_tasks.rb
  app/models/policies.rb
  app/models/policies/international_relocation_payments/admin_tasks_presenter.rb
  app/models/policies/international_relocation_payments/eligibility.rb
  app/models/policies/international_relocation_payments/eligibility_admin_answers_presenter.rb
  config/locales/en.yml
  spec/factories/journey_configurations.rb
  spec/factories/policies/international_relocation_payments/eligibilities.rb
  spec/features/admin_claim_allocation_spec.rb
  spec/mailers/payment_mailer_spec.rb
  spec/models/policies/international_relocation_payments/admin_tasks_presenter_spec.rb
  spec/models/policies/international_relocation_payments/eligibility_admin_answers_presenter_spec.rb
  spec/models/policies_spec.rb
  spec/support/admin_view_claim_feature_shared_examples.rb
Due: standard

Add employment details form
  app/forms/journeys/get_a_teacher_relocation_payment/employment_details_form.rb
  app/models/journeys/get_a_teacher_relocation_payment.rb
  app/models/journeys/get_a_teacher_relocation_payment/answers_presenter.rb
  app/models/journeys/get_a_teacher_relocation_payment/session_answers.rb
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  app/views/get_a_teacher_relocation_payment/claims/check_your_answers.html.erb
  app/views/get_a_teacher_relocation_payment/claims/employment_details.html.erb
  config/analytics_blocklist.yml
  config/locales/en.yml
  db/migrate/20240625135618_add_employment_details_to_international_relocation_payments_eligibilities.rb
  db/schema.rb
  spec/factories/journeys/get_a_teacher_relocation_payment/get_a_teacher_relocation_payment_answers.rb
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/forms/journeys/get_a_teacher_relocation_payment/employment_details_form_spec.rb
  spec/models/journeys/get_a_teacher_relocation_payment/answers_presenter_spec.rb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

add subject areas to FE journey
  app/forms/form.rb
  app/forms/journeys/further_education_payments/subjects_taught_form.rb
  app/models/journeys/further_education_payments.rb
  app/models/journeys/further_education_payments/session_answers.rb
  app/models/journeys/further_education_payments/slug_sequence.rb
  app/views/further_education_payments/claims/subject_areas.html.erb
  app/views/further_education_payments/claims/subjects_taught.html.erb
  config/locales/en.yml
  spec/features/further_education_payments/happy_js_path_spec.rb
  spec/features/further_education_payments/happy_path_spec.rb
  spec/forms/journeys/further_education_payments/subjects_taught_form_spec.rb
Due: standard

refactor: improve method name
  app/forms/journeys/further_education_payments/subjects_taught_form.rb
  app/views/further_education_payments/claims/subjects_taught.html.erb
Due: standard

Update old documentation (#2912)
  docs/connecting-to-azure.md
  docs/developer-onboarding.md
  docs/docker-hub-credentials.md
  docs/first-line-support-developer-runbook.md
  docs/infrastructure-deployment.md
  docs/privileged-identity-management-requests.md
  docs/release-process.md
  docs/secrets.md
Due: prettier

Fix visiting landing page for same journey
  app/controllers/claims_controller.rb
  spec/features/switching_policies_spec.rb
Due: standard

FE landing page tweaks
  app/views/further_education_payments/landing_page.html.erb
Due: none

Add smoke test
  spec/forms/journeys/get_a_teacher_relocation_payment/claim_submission_form_spec.rb
Due: standard

Remove TRN step
  app/models/journeys/get_a_teacher_relocation_payment/answers_presenter.rb
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

Fix forms
  app/views/get_a_teacher_relocation_payment/claims/application_route.html.erb
  app/views/get_a_teacher_relocation_payment/claims/contract_details.html.erb
  app/views/get_a_teacher_relocation_payment/claims/entry_date.html.erb
  app/views/get_a_teacher_relocation_payment/claims/nationality.html.erb
  app/views/get_a_teacher_relocation_payment/claims/passport_number.html.erb
  app/views/get_a_teacher_relocation_payment/claims/start_date.html.erb
  app/views/get_a_teacher_relocation_payment/claims/state_funded_secondary_school.html.erb
  app/views/get_a_teacher_relocation_payment/claims/subject.html.erb
  app/views/get_a_teacher_relocation_payment/claims/visa.html.erb
Due: none

Remove shared/error summary
  app/views/get_a_teacher_relocation_payment/claims/application_route.html.erb
  app/views/get_a_teacher_relocation_payment/claims/contract_details.html.erb
  app/views/get_a_teacher_relocation_payment/claims/entry_date.html.erb
  app/views/get_a_teacher_relocation_payment/claims/start_date.html.erb
  app/views/get_a_teacher_relocation_payment/claims/state_funded_secondary_school.html.erb
  app/views/get_a_teacher_relocation_payment/claims/subject.html.erb
  app/views/get_a_teacher_relocation_payment/claims/visa.html.erb
Due: none

Don't allow future dates for start date
  app/forms/journeys/get_a_teacher_relocation_payment/start_date_form.rb
  config/locales/en.yml
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/forms/journeys/get_a_teacher_relocation_payment/start_date_form_spec.rb
Due: standard

Revert "WIP: Run the action on this branch for testing"
  .github/workflows/build_and_deploy.yml
Due: none

Revert "WIP: Run the test/prod deploys on this branch for testing"
  .github/workflows/build_and_deploy.yml
Due: none

GIAS import also stores UKPRN
  app/models/school_data_importer.rb
  config/analytics.yml
  db/migrate/20240627114644_add_ukprn_to_schools.rb
  db/schema.rb
  spec/models/school_data_importer_spec.rb
Due: standard

WIP: Use the new production canonical_hostname for testing
  .github/workflows/build_and_deploy.yml
  terraform/application/config/production.tfvars.json
Due: prettier

Replace employment details with select school
  app/forms/journeys/get_a_teacher_relocation_payment/employment_details_form.rb
  app/forms/journeys/get_a_teacher_relocation_payment/headteacher_details_form.rb
  app/models/journeys/get_a_teacher_relocation_payment.rb
  app/models/journeys/get_a_teacher_relocation_payment/answers_presenter.rb
  app/models/journeys/get_a_teacher_relocation_payment/session_answers.rb
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  app/views/get_a_teacher_relocation_payment/claims/_current_school_details.html.erb
  app/views/get_a_teacher_relocation_payment/claims/_current_school_question.html.erb
  app/views/get_a_teacher_relocation_payment/claims/_current_school_search_results_question.html.erb
  app/views/get_a_teacher_relocation_payment/claims/employment_details.html.erb
  app/views/get_a_teacher_relocation_payment/claims/headteacher_details.html.erb
  config/analytics.yml
  config/analytics_blocklist.yml
  config/locales/en.yml
  db/migrate/20240627121651_drop_eligibility_columns_from_international_relocation_payments.rb
  db/migrate/20240627145713_add_current_school_id_to_international_relocation_payments_eligibilities.rb
  db/schema.rb
  spec/factories/journeys/get_a_teacher_relocation_payment/get_a_teacher_relocation_payment_answers.rb
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/forms/journeys/get_a_teacher_relocation_payment/claim_submission_form_spec.rb
  spec/forms/journeys/get_a_teacher_relocation_payment/employment_details_form_spec.rb
  spec/forms/journeys/get_a_teacher_relocation_payment/headteacher_details_form_spec.rb
  spec/models/journeys/get_a_teacher_relocation_payment/answers_presenter_spec.rb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

LUPEYALPHA-553 - add half-teaching-hours page/form to FE journey
  app/forms/journeys/further_education_payments/half_teaching_hours_form.rb
  app/models/journeys/further_education_payments.rb
  app/models/journeys/further_education_payments/session_answers.rb
  app/views/further_education_payments/claims/half_teaching_hours.html.erb
  app/views/further_education_payments/claims/teaching_responsibilities.html.erb
  config/locales/en.yml
  spec/features/further_education_payments/happy_js_path_spec.rb
  spec/features/further_education_payments/happy_path_spec.rb
  spec/forms/journeys/further_education_payments/half_teaching_hours_form_spec.rb
Due: standard

FE journey school search only returns FE bodies
  app/assets/javascripts/components/college_search.js.erb
  app/controllers/school_search_controller.rb
  app/forms/journeys/further_education_payments/select_provision_form.rb
  app/models/school.rb
  app/views/further_education_payments/claims/further_education_provision_search.html.erb
  spec/factories/schools.rb
  spec/features/further_education_payments/happy_js_path_spec.rb
  spec/features/further_education_payments/happy_path_spec.rb
  spec/models/school_spec.rb
  spec/requests/school_search_spec.rb
Due: prettier, standard

link to FE eligible providers
  app/views/further_education_payments/claims/further_education_provision_search.html.erb
Due: none

add FE contract type
  app/forms/journeys/further_education_payments/contract_type_form.rb
  app/models/journeys/further_education_payments.rb
  app/models/journeys/further_education_payments/session_answers.rb
  app/views/further_education_payments/claims/contract_type.html.erb
  config/locales/en.yml
  spec/factories/journeys/further_education_payments/session_answers.rb
  spec/features/further_education_payments/happy_js_path_spec.rb
  spec/features/further_education_payments/happy_path_spec.rb
  spec/forms/journeys/further_education_payments/contract_type_form_spec.rb
Due: standard

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
