Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{css,html,js,js.erb,json,md,scss}"
      run: rails prettier {staged_files}
      skip:
        - merge
        - rebase
    standard:
      glob: "*.rb"
      run: rails standard {staged_files}
      skip:
        - merge
        - rebase

Migrate the database before app starts (#3760)
  .github/actions/deploy-environment/action.yml
  .github/workflows/build_and_deploy.yml
  Dockerfile
  bin/prepare-database
  lib/tasks/default.rake
  lib/tasks/migrations.rake
  terraform/application/config/production.tfvars.json
  terraform/application/config/review.tfvars.json
  terraform/application/config/test.tfvars.json
Due: prettier

Add missing local for one time password invalid
  config/locales/targeted_retention_incentive_payments.yml
Due: none

migrate EY provider start to navigator
  app/assets/stylesheets/components/button_to.scss
  app/controllers/claims_controller.rb
  app/controllers/claims_form_callbacks.rb
  app/forms/journeys/early_years_payment/provider/authenticated/expired_link_form.rb
  app/forms/journeys/early_years_payment/provider/start/check_your_email_form.rb
  app/forms/journeys/early_years_payment/provider/start/ineligible_form.rb
  app/models/journeys/early_years_payment/provider/authenticated/session_answers.rb
  app/models/journeys/early_years_payment/provider/authenticated/slug_sequence.rb
  app/models/journeys/early_years_payment/provider/start.rb
  app/models/journeys/early_years_payment/provider/start/slug_sequence.rb
  app/models/journeys/navigator.rb
  app/views/early_years_payment/provider/authenticated/claims/expired_link.html.erb
  app/views/early_years_payment/provider/start/claims/check_your_email.html.erb
  spec/features/early_years_payment/provider/authenticated/expired_magic_link_spec.rb
  spec/features/early_years_payment/provider/start/happy_path_spec.rb
Due: prettier, standard

disable RSpec monkey patching
  spec/features/get_a_teacher_relocation_payment/ineligible_route_completing_the_form_spec.rb
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/helpers/admin/claim_summary_helper_spec.rb
  spec/helpers/admin/claims_helper_spec.rb
  spec/helpers/admin/timeline_helper_spec.rb
  spec/helpers/application_helper_spec.rb
  spec/helpers/claim_mailer_helper_spec.rb
  spec/helpers/early_career_payments_helper_spec.rb
  spec/helpers/govuk_form_helper_spec.rb
  spec/helpers/student_loans_helper_spec.rb
  spec/lib/ordnance_survey/api/v1/search_places_spec.rb
  spec/lib/ordnance_survey/api/v1_spec.rb
  spec/lib/ordnance_survey/api_spec.rb
  spec/lib/ordnance_survey/client/response_spec.rb
  spec/lib/ordnance_survey/client_spec.rb
  spec/lib/ordnance_survey/configuration_spec.rb
  spec/lib/tasks/fix_student_loan_repayment_amounts_spec.rb
  spec/models/automated_checks/claim_verifiers/qualifications_spec.rb
  spec/models/eligible_ey_provider_spec.rb
  spec/models/journeys/early_years_payment/provider/authenticated/slug_sequence_spec.rb
  spec/models/journeys/session_spec.rb
  spec/models/policies/early_career_payments/award_amount_calculator_spec.rb
  spec/models/policies/early_years_payments/policy_eligibility_checker_spec.rb
  spec/models/policies/further_education_payments/policy_eligibility_checker_spec.rb
  spec/models/policies/further_education_payments/provider_verfication_emails_spec.rb
  spec/models/policies/international_relocation_payments/policy_eligibility_checker_spec.rb
  spec/routes/routes_spec.rb
  spec/spec_helper.rb
Due: standard

fix validation copy for postcode
  config/locales/en.yml
  spec/forms/journeys/further_education_payments/provider/verify_identity_form_spec.rb
Due: standard

phase banner now an ally region landmark
  app/views/layouts/application.html.erb
Due: none

CAPT-1474 - TRI - Copy qualification enum to qualification_string
  app/models/policies/targeted_retention_incentive_payments/eligibility.rb
  config/analytics_blocklist.yml
  db/data/20250501180600_backfill_targeted_retention_incentive_payments_eligibilities_qualification_string.rb
  db/migrate/20250501172559_add_qualification_string_to_targeted_retention_incentive_payments_eligibilities.rb
  db/schema.rb
  spec/models/policies/targeted_retention_incentive_payments/eligibility_spec.rb
Due: standard

CAPT-1474 - TRI - Copy eligible_itt_subject enum to eligible_itt_subject_string
  app/models/policies/targeted_retention_incentive_payments/eligibility.rb
  config/analytics_blocklist.yml
  db/data/20250501200024_backfill_targeted_retention_incentive_payments_eligibilities_eligible_itt_subject_string.rb
  db/migrate/20250501185513_add_eligible_itt_subject_string_to_targeted_retention_incentive_payments_eligibilities.rb
  db/schema.rb
  spec/models/policies/targeted_retention_incentive_payments/eligibility_spec.rb
Due: standard

WIP
  README.md
Due: prettier

Load some data
  Gemfile
  db/seeds.rb
Due: standard

Load seeds
  db/seeds.rb
Due: standard

Load seeds
  Gemfile
  db/seeds.rb
Due: standard

CAPT-1474 - TRI - Rename the string enum columns to the original column
  app/models/policies/targeted_retention_incentive_payments/eligibility.rb
  config/analytics_blocklist.yml
  db/migrate/20250502100643_rename_targeted_retention_incentive_payments_eligibilities_enum_columns.rb
  db/schema.rb
  spec/models/policies/targeted_retention_incentive_payments/eligibility_spec.rb
Due: standard

CAPT-1474 - ECP - Copy qualification enum to qualification_string
  app/models/policies/early_career_payments/eligibility.rb
  config/analytics_blocklist.yml
  db/data/20250502113230_backfill_early_career_payments_eligibilities_qualification_string.rb
  db/migrate/20250502112643_add_qualification_string_to_early_career_payments_eligibilities.rb
  db/schema.rb
  spec/models/policies/early_career_payments/eligibility_spec.rb
Due: standard

CAPT-1474 - ECP - Copy eligible_itt_subject enum to eligible_itt_subject_string
  app/models/policies/early_career_payments/eligibility.rb
  config/analytics_blocklist.yml
  db/data/20250502114836_backfill_early_career_payments_eligibilities_eligible_itt_subject_string.rb
  db/migrate/20250502114728_add_eligible_itt_subject_string_to_early_career_payments_eligibilities.rb
  db/schema.rb
  spec/models/policies/early_career_payments/eligibility_spec.rb
Due: standard

CAPT-1474 - ECP - Rename the string enum columns to the original column
  app/models/policies/early_career_payments/eligibility.rb
  db/migrate/20250502123059_rename_early_career_payments_eligibilities_enum_columns.rb
  db/schema.rb
  spec/models/policies/early_career_payments/eligibility_spec.rb
Due: standard

admin js now separated from application js
  app/assets/javascripts/admin.js
  app/views/layouts/admin.html.erb
  app/views/layouts/application.html.erb
  config/initializers/assets.rb
Due: prettier, standard

Update landing page copy
  app/views/targeted_retention_incentive_payments/landing_page.html.erb
Due: none

Update supply teacher exist screen copy
  app/views/targeted_retention_incentive_payments/claims/_ineligible_supply_teacher.html.erb
  app/views/targeted_retention_incentive_payments/claims/ineligible.html.erb
Due: none

Don't show backlink on ineligible
  app/controllers/claims_controller.rb
Due: standard

Update poor performance hint copy
  config/locales/targeted_retention_incentive_payments.yml
Due: none

Update ineligible cohort copy
  app/views/targeted_retention_incentive_payments/claims/_ineligible_cohort.html.erb
Due: none

Update the hint copy
  config/locales/targeted_retention_incentive_payments.yml
Due: none

update hint copy
  config/locales/targeted_retention_incentive_payments.yml
Due: none

update hint copy
  app/views/targeted_retention_incentive_payments/claims/_ineligible_supply_teacher.html.erb
  spec/features/targeted_retention_incentives/eligible_paths_spec.rb
  spec/features/targeted_retention_incentives/ineligible_paths_spec.rb
Due: standard

Remove details
  app/views/targeted_retention_incentive_payments/claims/_current_school_details.html.erb
Due: none

Move tri award upload to tri journey config
  app/controllers/admin/journey_configurations_controller.rb
  app/models/journeys/configuration.rb
  app/views/admin/journey_configurations/_edit_targeted_retention_incentive_payments.html.erb
  app/views/admin/journey_configurations/edit.html.erb
  spec/features/admin/admin_manage_lupp_school_awards_spec.rb
Due: standard

fixing missing email translation
  config/locales/en.yml
Due: none
