Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{css,html,js,js.erb,json,md,scss}"
      run: rails prettier {staged_files}
      skip:
        - merge
        - rebase
    standard:
      glob: "*.rb"
      run: rails standard {staged_files}
      skip:
        - merge
        - rebase

CAPT-3770 - OL ineligible feedback links
  app/views/early_years_teachers_financial_incentive_payments/claims/_ineligible_ineligible_provider.html.erb
  app/views/early_years_teachers_financial_incentive_payments/claims/_ineligible_teaching_qualification_ineligible.html.erb
  app/views/early_years_teachers_financial_incentive_payments/claims/_ineligible_teaching_qualification_not_confirmed.html.erb
Due: none

EYTFI ineligible nursery backlink
  app/views/early_years_teachers_financial_incentive_payments/claims/_ineligible_ineligible_provider.html.erb
Due: none

test coverage on postcode
  app/forms/postcode_search_form.rb
  app/forms/select_home_address_form.rb
  app/views/claims/select_home_address.html.erb
  spec/features/auto_populating_home_address_from_postcode_search_spec.rb
  spec/features/postcode_journey_changes_spec.rb
Due: standard

Update postcode_search.html.erb
  app/forms/postcode_search_form.rb
  app/forms/select_home_address_form.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/slug_sequence.rb
  app/views/claims/postcode_search.html.erb
Due: standard

Update postcode_journey_changes_spec.rb
  spec/features/postcode_journey_changes_spec.rb
Due: standard

fix link in i18n translation
  config/locales/early_years_teachers_financial_incentive_payments.yml
Due: none

Bugfix to back button from gender page address issues
  app/forms/select_home_address_form.rb
  spec/forms/select_home_address_form_spec.rb
Due: standard

superfluous commit
  README.md
Due: prettier

Add test coverage for back paths on postcode
  app/forms/postcode_search_form.rb
  app/views/claims/postcode_search.html.erb
  app/views/claims/select_home_address.html.erb
  spec/features/postcode_journey_changes_spec.rb
  spec/forms/postcode_search_form_spec.rb
Due: standard

CAPT-3852 - EYTRP landing page content changes
  app/views/early_years_teachers_financial_incentive_payments/landing_page.html.erb
Due: none

CAPT-3852 - document successful message contraction
  app/views/early_years_teachers_financial_incentive_payments/claims/information_provided.html.erb
Due: none

CAPT-3852 - EYTRP specific payroll gender page
  app/views/early_years_teachers_financial_incentive_payments/claims/gender.html.erb
  config/locales/early_years_teachers_financial_incentive_payments.yml
  spec/features/early_years_teachers_financial_incentive_payments/claim_submission_to_payroll_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/happy_path_spec.rb
  spec/features/postcode_journey_changes_spec.rb
Due: standard

CAPT-3852 - Feedback form tweaks
  app/forms/feedbacks/details_form.rb
  app/views/feedback/details.html.erb
  config/locales/early_years_teachers_financial_incentive_payments.yml
  spec/features/early_years_teachers_financial_incentive_payments/feedback_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/happy_path_spec.rb
Due: standard

CAPT-3852 - EYTRP CYA content contraction change
  app/views/early_years_teachers_financial_incentive_payments/claims/check_your_answers.html.erb
Due: none

CAPT-3852 - Check eligibility
  app/views/early_years_teachers_financial_incentive_payments/claims/check_eligibility.html.erb
  spec/features/early_years_teachers_financial_incentive_payments/check_eligibility_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/claim_cancelled_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/claim_submission_to_payroll_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/happy_path_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/ineligible_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/teacher_auth_bypass_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/teacher_auth_failure_spec.rb
Due: standard

CAPT-3852 - EYTRP check eligibility, ineligible page content change
  app/views/early_years_teachers_financial_incentive_payments/claims/_ineligible_check_eligibility_not_confirmed_content.html.erb
  app/views/early_years_teachers_financial_incentive_payments/claims/_ineligible_teaching_qualification_not_confirmed.html.erb
Due: none

Ensure all pages have titles
  app/views/early_years_teachers_financial_incentive_payments/claims/check_eligibility.html.erb
  app/views/early_years_teachers_financial_incentive_payments/claims/claim_cancelled.html.erb
  app/views/early_years_teachers_financial_incentive_payments/claims/continue_claim.html.erb
  app/views/early_years_teachers_financial_incentive_payments/claims/eligible_teaching_qualification_held.html.erb
  app/views/early_years_teachers_financial_incentive_payments/claims/information_provided.html.erb
  app/views/early_years_teachers_financial_incentive_payments/claims/nursery_search.html.erb
  app/views/early_years_teachers_financial_incentive_payments/claims/nursery_select.html.erb
  app/views/early_years_teachers_financial_incentive_payments/claims/qualifications_check.html.erb
  app/views/early_years_teachers_financial_incentive_payments/claims/review_employment_proof.html.erb
  app/views/early_years_teachers_financial_incentive_payments/claims/sign_in.html.erb
  app/views/early_years_teachers_financial_incentive_payments/claims/teaching_qualification_confirmation.html.erb
  config/locales/early_years_teachers_financial_incentive_payments.yml
Due: none

Content tweaks to public copy
  app/views/early_years_teachers_financial_incentive_payments/good_practice.html.erb
  app/views/early_years_teachers_financial_incentive_payments/guidance.html.erb
  app/views/early_years_teachers_financial_incentive_payments/methodology.html.erb
Due: none

Address link change to postcode search
  app/models/journeys/early_years_teachers_financial_incentive_payments/answers_presenter.rb
  spec/models/journeys/early_years_teachers_financial_incentive_payments/answers_presenter_spec.rb
Due: standard

Update copy
  app/views/early_years_teachers_financial_incentive_payments/good_practice.html.erb
  app/views/early_years_teachers_financial_incentive_payments/guidance.html.erb
Due: none

Content tweaks
  app/views/early_years_teachers_financial_incentive_payments/good_practice.html.erb
  app/views/early_years_teachers_financial_incentive_payments/guidance.html.erb
Due: none

Clean up address forms
  app/forms/postcode_search_form.rb
  app/forms/select_home_address_form.rb
  app/models/journeys/base_answers_presenter.rb
  app/models/journeys/early_years_payment/practitioner/answers_presenter.rb
  app/models/journeys/early_years_payment/practitioner/slug_sequence.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/answers_presenter.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/slug_sequence.rb
  app/models/journeys/further_education_payments/answers_presenter.rb
  app/models/journeys/further_education_payments/slug_sequence.rb
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  app/models/journeys/session_answers.rb
  app/models/journeys/targeted_retention_incentive_payments/slug_sequence.rb
  app/models/journeys/teacher_student_loan_reimbursement/slug_sequence.rb
  app/models/postcode_search.rb
  app/views/claims/postcode_search.html.erb
  app/views/claims/select_home_address.html.erb
  spec/features/auto_populating_home_address_from_postcode_search_spec.rb
  spec/features/early_years_payment/practitioner/address_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/address_spec.rb
  spec/features/further_education_payments/address_spec.rb
  spec/features/get_a_teacher_relocation_payment/address_spec.rb
  spec/features/postcode_journey_changes_spec.rb
  spec/features/targeted_retention_incentives/address_spec.rb
  spec/features/tslr/address_spec.rb
  spec/forms/postcode_search_form_spec.rb
  spec/forms/select_home_address_form_spec.rb
  spec/support/address_journey_shared_examples.rb
  spec/support/journey_answers_presenter_shared_examples.rb
Due: standard

feedback link passed referrer
  app/views/shared/phase_banner/_early_years_teachers_recognition_payments.html.erb
  spec/features/early_years_teachers_financial_incentive_payments/feedback_spec.rb
Due: standard

upgrade govuk-frontend 5.13.0 => 5.14.0
  Gemfile
  Gemfile.lock
  package.json
  yarn.lock
Due: prettier

feedback persists journey
  app/controllers/feedback_controller.rb
  app/forms/feedbacks/confirmation_form.rb
  app/forms/feedbacks/details_form.rb
  config/analytics.yml
  db/migrate/20260609131626_add_journey_to_feedback.rb
  db/schema.rb
  spec/features/early_years_teachers_financial_incentive_payments/feedback_spec.rb
Due: standard

bypassing teacher auth adds TRS qualification data
  app/jobs/early_years_teachers_financial_incentive_payments/fetch_qualifications_bypass_job.rb
Due: standard

Remove backfill provider verification job
  app/jobs/further_education_payments/back_fill_provider_verification_timestamp_job.rb
  spec/jobs/further_education_payments/back_fill_provider_verification_timestamp_job_spec.rb
Due: standard

capture OL decode errors in sentry
  app/models/one_login/logout_token.rb
Due: standard

notify sentry of OL auth failure
  app/controllers/omniauth_callbacks_controller.rb
  app/models/one_login/failure_handler.rb
  spec/requests/omniauth_callbacks_controller_spec.rb
Due: standard

clear jwks cache prior to each test
  spec/models/one_login/logout_token_spec.rb
Due: standard

Set payroll file name for EYTRP
  app/models/policies/early_years_teachers_financial_incentive_payments.rb
  spec/features/early_years_teachers_financial_incentive_payments/claim_submission_to_payroll_spec.rb
Due: standard

remove EYTFI already submitted SLA copy
  app/views/early_years_teachers_financial_incentive_payments/claims/_ineligible_claim_already_submitted_this_policy_year.html.erb
Due: none

EYTFI double submission is ineligible
  app/models/journeys/early_years_teachers_financial_incentive_payments/session_answers.rb
  app/models/policies/early_years_teachers_financial_incentive_payments/policy_eligibility_checker.rb
  app/views/early_years_teachers_financial_incentive_payments/claims/_ineligible_claim_already_submitted_this_policy_year.html.erb
  config/locales/early_years_teachers_financial_incentive_payments.yml
  spec/features/early_years_teachers_financial_incentive_payments/ineligible_spec.rb
Due: standard
