Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

[LUPEYALPHA-1162] practitioner_claim_submitted_at for EY practitioner journey
  app/forms/journeys/early_years_payment/practitioner/find_reference_form.rb
  app/models/policies/early_years_payments/eligibility.rb
  config/analytics.yml
  db/migrate/20241015093740_add_practitioner_claim_submitted_at_to_early_years_payment_eligibilities.rb
  db/schema.rb
  spec/factories/early_years_payments/eligibilities.rb
  spec/features/early_years_payment/practitioner/find_reference_spec.rb
  spec/features/early_years_payment/practitioner/happy_path_spec.rb
  spec/forms/journeys/early_years_payment/practitioner/find_reference_form_spec.rb
  spec/support/steps/eligible_ey_journey_authenticated.rb
Due: standard

EY Practitioner check-your-answers page
  app/forms/journeys/early_years_payment/practitioner/claim_submission_form.rb
  app/models/journeys/early_years_payment/practitioner/answers_presenter.rb
  app/views/early_years_payment/practitioner/claims/check_your_answers.html.erb
  app/views/early_years_payment/practitioner/submissions/show.html.erb
  config/locales/en.yml
  spec/factories/journeys/early_years_payment/practitioner/answers.rb
  spec/features/early_years_payment/practitioner/happy_path_spec.rb
  spec/models/journeys/early_years_payment/practitioner/answers_presenter_spec.rb
Due: standard

Update copy
  config/locales/en.yml
  spec/features/admin/admin_view_full_claim_further_education_payments_spec.rb
  spec/features/further_education_payments/happy_js_path_spec.rb
  spec/features/further_education_payments/happy_path_spec.rb
  spec/features/further_education_payments/ineligible_paths_spec.rb
  spec/models/journeys/additional_payments_for_teaching/answers_presenter_spec.rb
  spec/models/journeys/further_education_payments/answers_presenter_spec.rb
  spec/models/policies/further_education_payments/eligibility_admin_answers_presenter_spec.rb
Due: standard

Rescue notify api errors
  app/forms/mobile_number_form.rb
  spec/forms/mobile_number_form_spec.rb
Due: standard

migration so claim#reference cannot be NULL
  db/migrate/20241015121145_add_not_null_reference.rb
  db/schema.rb
  spec/factories/claims.rb
  spec/forms/journeys/additional_payments_for_teaching/nqt_in_academic_year_after_itt_form_spec.rb
Due: standard

Combine with payroll gender
  app/models/journeys/early_years_payment/practitioner/slug_sequence.rb
  spec/features/early_years_payment/practitioner/happy_path_spec.rb
Due: standard

CAPT-1863: Rake task to pull message delivery status from Notify API
  lib/tasks/retrieve_notify_message_status.rake
Due: none

CAPT-1863: Rake task to pull message delivery status from Notify API (#3321)
  lib/tasks/retrieve_notify_message_status.rake
Due: none

wip
  db/seeds.rb
Due: standard

fix test: ordering must now be explicitly called
  spec/models/claim_spec.rb
Due: standard

reflect csv row count when skipped rows
  app/models/eligible_fe_providers_importer.rb
  lib/csv_importer/base.rb
  spec/models/eligible_fe_providers_importer_spec.rb
Due: standard

CSV upload now ignores empty rows
  lib/csv_importer/base.rb
  spec/factories/file_uploads.rb
  spec/jobs/import_census_job_spec.rb
  spec/models/eligible_fe_providers_importer_spec.rb
Due: standard

EY practitioner submitting claim should update existing claim
  app/forms/claim_submission_base_form.rb
  app/forms/journeys/early_years_payment/practitioner/claim_submission_form.rb
  app/forms/journeys/early_years_payment/provider/authenticated/claim_submission_form.rb
  app/forms/journeys/early_years_payment/provider/start/claim_submission_form.rb
  app/forms/journeys/further_education_payments/claim_submission_form.rb
  app/forms/journeys/get_a_teacher_relocation_payment/claim_submission_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/claim_submission_form.rb
  spec/features/early_years_payment/practitioner/happy_path_spec.rb
Due: standard

add groupings to status filter drop down
  app/forms/admin/claims_filter_form.rb
  app/views/admin/claims/index.html.erb
Due: standard

tweak status filter dropdown ordering
  app/forms/admin/claims_filter_form.rb
Due: standard

back office filters for QA-ed claims
  app/forms/admin/claims_filter_form.rb
  spec/factories/claims.rb
  spec/forms/admin/claims_filter_form_spec.rb
Due: standard

set eligibility.practitioner_claim_submitted_at
  app/forms/journeys/early_years_payment/practitioner/claim_submission_form.rb
  spec/features/early_years_payment/practitioner/happy_path_spec.rb
Due: standard

upgrade static error pages to govuk 5.7.1
  public/404.html
  public/422.html
  public/500.html
  public/favicon.ico
  public/fonts/bold-affa96571d-v2.woff
  public/fonts/bold-b542beb274-v2.woff2
  public/fonts/light-94a07e06a1-v2.woff2
  public/fonts/light-f591b13f7d-v2.woff
  public/govuk-frontend-5.3.1.min.css
  public/govuk-frontend-5.7.1.min.css
  public/images/favicon.ico
  public/images/favicon.svg
  public/images/govuk-crest.svg
  public/images/govuk-icon-180.png
  public/images/govuk-icon-192.png
  public/images/govuk-icon-512.png
  public/images/govuk-icon-mask.svg
  public/images/govuk-opengraph-image.png
  spec/features/static_error_pages_spec.rb
Due: prettier, standard

Remove -aks from envs in Makefile and workflows
  .github/actions/deploy-environment/action.yml
  .github/workflows/build_and_deploy.yml
  .github/workflows/delete_review_app.yml
  Makefile
  docs/connecting-to-azure.md
  docs/infrastructure-deployment.md
Due: prettier

update db workflows to match new templates
  .github/workflows/database_backup.yml
  .github/workflows/database_restore.yml
  .github/workflows/postgres-ptr.yml
Due: none

EY practitioner confirmation page
  app/views/early_years_payment/practitioner/submissions/show.html.erb
  spec/features/early_years_payment/practitioner/happy_path_spec.rb
Due: standard

Refactor the mobile form specs
  spec/forms/mobile_number_form_spec.rb
Due: standard

Move setting slug to after action
  app/controllers/claims_controller.rb
Due: standard

[LUPEYALPHA-987 / LUPEYALPHA-988] EY Practitioner personal-bank-account & gender pages (#3306)
  app/models/journeys/early_years_payment/practitioner/slug_sequence.rb
  spec/features/early_years_payment/practitioner/happy_path_spec.rb
Due: standard

Early Years Practitioner mobile number
  app/models/journeys/early_years_payment/practitioner/slug_sequence.rb
  app/views/early_years_payment/practitioner/claims/check_your_answers.html.erb
  spec/features/early_years_payment/practitioner/mobile_number_spec.rb
  spec/features/early_years_payment/provider/authenticated/changing_answers_spec.rb
  spec/features/early_years_payment/provider/authenticated/submitter_name_omitted_spec.rb
  spec/features/early_years_payment/provider/start/happy_path_spec.rb
  spec/features/early_years_payment/provider/start/ineligible_email_spec.rb
  spec/support/steps/early_years_practitioner_journey.rb
  spec/support/steps/early_years_provider_journey_authenticated.rb
  spec/support/steps/early_years_provider_journey_start.rb
Due: standard

make styles consistent with rest of journey
  app/views/claims/_mobile_number.html.erb
  app/views/claims/_provide_mobile_number.html.erb
  app/views/claims/mobile_number.html.erb
  app/views/claims/provide_mobile_number.html.erb
  app/views/early_years_payment/practitioner/claims/mobile_number.html.erb
  app/views/early_years_payment/practitioner/claims/mobile_verification.html.erb
  app/views/early_years_payment/practitioner/claims/provide_mobile_number.html.erb
Due: none

make next page personal-bank-account
  app/forms/mobile_number_form.rb
  app/models/journeys/early_years_payment/practitioner/slug_sequence.rb
  app/views/early_years_payment/practitioner/claims/check_your_answers.html.erb
  spec/features/early_years_payment/practitioner/mobile_number_spec.rb
Due: standard

fix bug - clear mobile number when answer changed to "Would you like to provide your mobile number?"
  app/forms/provide_mobile_number_form.rb
  spec/forms/provide_mobile_number_form_spec.rb
Due: standard

fix resend passcode functionality
  app/forms/email_address_form.rb
  app/forms/mobile_number_form.rb
  app/views/claims/_mobile_number.html.erb
  app/views/claims/_one_time_password.html.erb
  app/views/claims/email_address.html.erb
  app/views/early_years_payment/practitioner/claims/email_address.html.erb
  spec/features/changing_answers_spec.rb
  spec/features/early_years_payment/practitioner/email_address_spec.rb
  spec/features/early_years_payment/practitioner/mobile_number_spec.rb
  spec/forms/email_address_form_spec.rb
  spec/support/steps/early_years_practitioner_journey.rb
Due: standard

spec for resend and phone number not changing scenarios
  spec/forms/mobile_number_form_spec.rb
Due: standard

placeholder template
  app/views/early_years_payment/practitioner/claims/check_your_answers.html.erb
Due: none

use single partial for email address - better test coverage
  app/views/claims/_email_address.html.erb
  app/views/claims/email_address.html.erb
  app/views/early_years_payment/practitioner/claims/email_address.html.erb
  config/locales/en.yml
  spec/features/combined_teacher_claim_journey_with_teacher_id_check_email_spec.rb
  spec/features/student_loans_claim_spec.rb
  spec/features/tslr/tslr_claim_journey_with_teacher_id_check_email_spec.rb
Due: standard

[LUPEYALPHA-1075] Early Years Practitioner mobile number (#3293)
  app/forms/email_address_form.rb
  app/forms/mobile_number_form.rb
  app/forms/provide_mobile_number_form.rb
  app/models/journeys/early_years_payment/practitioner/slug_sequence.rb
  app/views/claims/_email_address.html.erb
  app/views/claims/_mobile_number.html.erb
  app/views/claims/_one_time_password.html.erb
  app/views/claims/_provide_mobile_number.html.erb
  app/views/claims/email_address.html.erb
  app/views/claims/mobile_number.html.erb
  app/views/claims/provide_mobile_number.html.erb
  app/views/early_years_payment/practitioner/claims/check_your_answers.html.erb
  app/views/early_years_payment/practitioner/claims/email_address.html.erb
  app/views/early_years_payment/practitioner/claims/mobile_number.html.erb
  app/views/early_years_payment/practitioner/claims/mobile_verification.html.erb
  app/views/early_years_payment/practitioner/claims/provide_mobile_number.html.erb
  config/locales/en.yml
  spec/features/changing_answers_spec.rb
  spec/features/combined_teacher_claim_journey_with_teacher_id_check_email_spec.rb
  spec/features/early_years_payment/practitioner/email_address_spec.rb
  spec/features/early_years_payment/practitioner/mobile_number_spec.rb
  spec/features/early_years_payment/provider/authenticated/changing_answers_spec.rb
  spec/features/early_years_payment/provider/authenticated/submitter_name_omitted_spec.rb
  spec/features/early_years_payment/provider/start/happy_path_spec.rb
  spec/features/early_years_payment/provider/start/ineligible_email_spec.rb
  spec/features/student_loans_claim_spec.rb
  spec/features/tslr/tslr_claim_journey_with_teacher_id_check_email_spec.rb
  spec/forms/email_address_form_spec.rb
  spec/forms/mobile_number_form_spec.rb
  spec/forms/provide_mobile_number_form_spec.rb
  spec/support/steps/early_years_practitioner_journey.rb
  spec/support/steps/early_years_provider_journey_authenticated.rb
  spec/support/steps/early_years_provider_journey_start.rb
Due: standard

align FE page titles with h1s
  app/views/claims/_account_details.html.erb
  app/views/claims/existing_session.html.erb
  app/views/claims/personal_bank_account.html.erb
  app/views/further_education_payments/claims/further_education_provision_search.html.erb
  app/views/further_education_payments/claims/hours_teaching_eligible_subjects.html.erb
  app/views/further_education_payments/claims/teacher_reference_number.html.erb
  app/views/further_education_payments/claims/teaching_responsibilities.html.erb
  app/views/further_education_payments/landing_page.html.erb
  config/locales/en.yml
Due: none

LUPEYALPHA-1153 - add a generic error page if journey session missing after OL auth failure
  app/controllers/omniauth_callbacks_controller.rb
  app/helpers/application_helper.rb
  app/models/one_login/failure_handler.rb
  app/views/layouts/omniauth_failure.html.erb
  app/views/omniauth_callbacks/dfe_identity_failure.html.erb
  app/views/omniauth_callbacks/failure.html.erb
  app/views/omniauth_callbacks/session_missing_failure.html.erb
  app/views/shared/_header.html.erb
  spec/requests/omniauth_callbacks_controller_spec.rb
Due: standard

use visible legends for FE questions
  app/views/further_education_payments/claims/half_teaching_hours.html.erb
  app/views/further_education_payments/claims/hours_teaching_eligible_subjects.html.erb
Due: none

only populate claim.submitted_at when practitioner submits claim
  app/forms/claim_submission_base_form.rb
  app/forms/journeys/early_years_payment/practitioner/claim_submission_form.rb
  app/forms/journeys/early_years_payment/practitioner/find_reference_form.rb
  app/forms/journeys/early_years_payment/provider/authenticated/claim_submission_form.rb
  app/models/policies/early_years_payments/eligibility.rb
  config/analytics.yml
  db/migrate/20241017113701_add_provider_claim_submitted_at_to_early_years_payment_eligibilities.rb
  db/schema.rb
  spec/factories/claims.rb
  spec/factories/early_years_payments/eligibilities.rb
  spec/factories/journeys/early_years_payment/practitioner/answers.rb
  spec/features/early_years_payment/practitioner/find_reference_spec.rb
  spec/features/early_years_payment/practitioner/happy_path_spec.rb
  spec/features/early_years_payment/provider/authenticated/happy_path_spec.rb
  spec/forms/journeys/early_years_payment/practitioner/claim_submission_form_spec.rb
  spec/forms/journeys/early_years_payment/practitioner/find_reference_form_spec.rb
  spec/forms/journeys/early_years_payment/provider/authenticated/claim_submission_form_spec.rb
Due: standard

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
