Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

CAPT-1712: Use CRLF line endings on payroll CSV file (#2810)
  app/models/payroll/payment_csv_row.rb
  app/models/payroll/payments_csv.rb
  spec/models/payroll/payment_csv_row_spec.rb
  spec/models/payroll/payments_csv_spec.rb
Due: standard

Remove running tests on Azure devops
  templates/build.yml
Due: none

Remove pushing test image
  templates/build.yml
Due: none

Remove Docker test from refresh_images.yml
  azure/pipelines/refresh_images.yml
Due: none

Attempt to fix flaky school search specs
  spec/support/feature_helpers.rb
Due: standard

CAPT-1688 Remove old review app creation/deletion (#2796)
  .github/workflows/ga_delete-review-app.yml
  .github/workflows/ga_publish_ra_link.yml
  Makefile
  README.md
  app.json
  azure-pipelines.yml
  azure/delete_review_app.yml
  azure/pipelines/refresh_images.yml
  azure/terraform/main.tf
  azure/terraform/modules/app_service/variable.tf
  azure/terraform/modules/container/variable.tf
  azure/terraform/variable.tf
  azure/terraform/workspace_variables/review.tfvars.json
  docs/heroku.md
  templates/build.yml
Due: prettier

Attempt to fix flaky school search specs (#2816)
  spec/support/feature_helpers.rb
Due: standard

allow focus filtering on specs
  spec/spec_helper.rb
Due: standard

refactor IineligibilityReasonChecker
  app/models/ineligibility_reason_checker.rb
  app/models/journeys/session.rb
  app/models/journeys/session_answers.rb
  app/views/additional_payments/claims/ineligible.html.erb
  lib/ineligibility_reason_checker.rb
  spec/lib/ineligibility_reason_checker_spec.rb
  spec/models/ineligibility_reason_checker_spec.rb
Due: standard

Create aks test env base resources
  Makefile
  global_config/test.sh
Due: none

Bugfix on everything_ineligible? and add ineligible?
  app/models/journeys/additional_payments_for_teaching/eligibility_checker.rb
  app/models/journeys/page_sequence.rb
  spec/models/journeys/additional_payments_for_teaching/eligiblity_checker_spec.rb
Due: standard

use factories and remove #load_answers
  app/models/journeys/session.rb
  spec/models/ineligibility_reason_checker_spec.rb
Due: standard

remove superfluous attributes on session_answers
  app/models/journeys/session_answers.rb
Due: standard

update zendesk slug
  app/helpers/admin/claims_helper.rb
  spec/features/admin_claim_support_tickets_spec.rb
Due: standard

CAPT-1709: Output shortened policy names in the payroll file
  app/models/base_policy.rb
  app/models/payment.rb
  app/models/policies/levelling_up_premium_payments.rb
  app/models/policies/student_loans.rb
  spec/models/early_career_payments_spec.rb
  spec/models/levelling_up_premium_payments_spec.rb
  spec/models/payment_spec.rb
  spec/models/student_loans_spec.rb
Due: standard

CAPT-1709: Output shortened policy names in the payroll file (#2811)
  app/models/base_policy.rb
  app/models/payment.rb
  app/models/policies/levelling_up_premium_payments.rb
  app/models/policies/student_loans.rb
  spec/models/early_career_payments_spec.rb
  spec/models/levelling_up_premium_payments_spec.rb
  spec/models/payment_spec.rb
  spec/models/student_loans_spec.rb
Due: standard

CAPT-1655 Update eligibility-confirmed to use the EligibilityChecker
  app/forms/journeys/additional_payments_for_teaching/eligibility_confirmed_form.rb
  app/helpers/claims/show_helper.rb
  app/models/concerns/policies/early_career_payments/eligible.rb
  app/models/concerns/policies/levelling_up_premium_payments/eligible.rb
  app/models/journeys/additional_payments_for_teaching/eligibility_checker.rb
  app/models/policies/early_career_payments/eligibility.rb
  app/models/policies/levelling_up_premium_payments/eligibility.rb
  app/views/additional_payments/claims/_eligibility_confirmed_multiple.html.erb
  app/views/additional_payments/claims/_eligibility_confirmed_single.html.erb
  app/views/additional_payments/claims/eligibility_confirmed.html.erb
  spec/forms/journeys/additional_payments_for_teaching/eligibility_confirmed_form_spec.rb
  spec/helpers/claims/show_helper_spec.rb
Due: standard

Brind tslr and add eligibility checking in line
  app/controllers/claims_controller.rb
  app/models/journeys/additional_payments_for_teaching/eligibility_checker.rb
  app/models/journeys/eligibility_checker.rb
  app/models/journeys/page_sequence.rb
  app/models/journeys/teacher_student_loan_reimbursement/eligibility_checker.rb
  app/models/journeys/teacher_student_loan_reimbursement/slug_sequence.rb
  app/models/policies/student_loans/eligibility.rb
  app/models/policies/student_loans/policy_eligibility_checker.rb
Due: standard

Remove unused method
  app/helpers/claims/itt_subject_helper.rb
  spec/helpers/claims/itt_subject_helper_spec.rb
Due: standard

Make methods private
  app/forms/journeys/additional_payments_for_teaching/claim_submission_form.rb
Due: standard

Move method
  app/models/journeys/additional_payments_for_teaching/answers_presenter.rb
  app/models/journeys/additional_payments_for_teaching/session_answers.rb
  app/models/journeys/eligibility_checker.rb
  lib/journey_subject_eligibility_checker.rb
  spec/factories/journeys/additional_payments_for_teaching/session_answers.rb
  spec/models/journeys/additional_payments_for_teaching/answers_presenter_spec.rb
Due: standard

Remove unused method
  lib/journey_subject_eligibility_checker.rb
  spec/lib/journey_subject_eligibility_checker_spec.rb
Due: standard

Remove unused methods
  lib/journey_subject_eligibility_checker.rb
Due: standard

Migrate eligibile degree subject to answers
  app/forms/journeys/additional_payments_for_teaching/eligible_degree_subject_form.rb
  app/forms/journeys/additional_payments_for_teaching/qualification_details_form.rb
  app/models/journeys/additional_payments_for_teaching/answers_presenter.rb
  app/models/journeys/additional_payments_for_teaching/claim_journey_session_shim.rb
  app/models/journeys/page_sequence.rb
  spec/features/ineligible_levelling_up_premium_payments_spec.rb
  spec/forms/journeys/additional_payments_for_teaching/eligible_degree_subject_form_spec.rb
  spec/forms/journeys/additional_payments_for_teaching/qualification_details_form_spec.rb
  spec/lib/ineligibility_reason_checker_spec.rb
  spec/models/journeys/additional_payments_for_teaching/answers_presenter_spec.rb
Due: standard

Update teaching subject now to write to answers
  app/forms/journeys/additional_payments_for_teaching/qualification_form.rb
  app/forms/journeys/additional_payments_for_teaching/teaching_subject_now_form.rb
  app/models/journeys/additional_payments_for_teaching/claim_journey_session_shim.rb
  spec/factories/journeys/additional_payments_for_teaching/session_answers.rb
  spec/features/early_career_payments_claim_spec.rb
  spec/features/ineligible_early_career_payments_claims_spec.rb
  spec/forms/journeys/additional_payments_for_teaching/qualification_form_spec.rb
  spec/forms/journeys/additional_payments_for_teaching/teaching_subject_now_form_spec.rb
Due: standard

Update induction complete form to write to answers
  app/forms/journeys/additional_payments_for_teaching/induction_completed_form.rb
  app/forms/journeys/additional_payments_for_teaching/nqt_in_academic_year_after_itt_form.rb
  app/models/journeys/additional_payments_for_teaching/claim_journey_session_shim.rb
  app/models/journeys/additional_payments_for_teaching/session_answers.rb
  app/models/journeys/additional_payments_for_teaching/slug_sequence.rb
  app/views/additional_payments/claims/eligible_later.html.erb
  spec/forms/journeys/additional_payments_for_teaching/induction_completed_form_spec.rb
  spec/forms/journeys/additional_payments_for_teaching/nqt_in_academic_year_after_itt_form_spec.rb
  spec/models/journeys/additional_payments_for_teaching/slug_sequence_spec.rb
Due: standard

style font for result number in search results
  app/assets/stylesheets/components/school_search.scss
Due: prettier

Migrate employed directly to the journey session
  app/forms/journeys/additional_payments_for_teaching/employed_directly_form.rb
  app/models/journeys/additional_payments_for_teaching/claim_journey_session_shim.rb
  spec/factories/journeys/additional_payments_for_teaching/session_answers.rb
  spec/features/early_career_payments_claim_spec.rb
  spec/forms/employed_directly_form_spec.rb
Due: standard

Extract presentation logic
  app/models/claim_student_loan_details_updater.rb
  app/models/student_loans_data_presenter.rb
Due: standard

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
