Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

Make sure submitted_using_slc_data is set
  app/models/claim_journey_session_shim.rb
  app/models/journeys/session_answers.rb
  spec/features/student_loans_claim_spec.rb
Due: standard

Set student loans on session
  app/controllers/claims_form_callbacks.rb
  app/controllers/concerns/journey_concern.rb
  app/forms/personal_details_form.rb
  app/models/claim_journey_session_shim.rb
  app/models/claim_student_loan_details_updater.rb
  app/models/journeys/additional_payments_for_teaching/answers_student_loans_details_updater.rb
  app/models/journeys/answers_student_loans_details_updater.rb
  app/models/journeys/session_answers.rb
  app/models/journeys/teacher_student_loan_reimbursement/answers_student_loans_details_updater.rb
  app/views/student_loans/claims/student_loan_amount.html.erb
  spec/features/changing_answers_spec.rb
  spec/features/student_loans_claim_spec.rb
  spec/forms/personal_details_form_spec.rb
  spec/models/claim_student_loan_details_updater_spec.rb
  spec/requests/claims_spec.rb
Due: standard

Remove policy_year from current_claim
  app/models/current_claim.rb
  app/models/journeys/page_sequence.rb
Due: standard

Remove some methods from current claim
  app/controllers/claims_controller.rb
  app/models/current_claim.rb
  spec/models/current_claim_spec.rb
Due: standard

Remove eligible_eligibility
  app/models/current_claim.rb
  app/models/journeys/teacher_student_loan_reimbursement/answers_presenter.rb
Due: standard

Remove set a reminder from current claim
  app/models/claim.rb
  app/models/current_claim.rb
Due: standard

eligible_itt_subject uses journey session
  app/controllers/claims_controller.rb
  app/controllers/claims_form_callbacks.rb
  app/controllers/journeys/additional_payments_for_teaching/reminders_controller.rb
  app/forms/journeys/additional_payments_for_teaching/eligible_itt_subject_form.rb
  app/forms/journeys/additional_payments_for_teaching/itt_academic_year_form.rb
  app/forms/journeys/additional_payments_for_teaching/qualification_details_form.rb
  app/forms/journeys/additional_payments_for_teaching/qualification_form.rb
  app/forms/journeys/additional_payments_for_teaching/teaching_subject_now_form.rb
  app/models/journeys/additional_payments_for_teaching/answers_presenter.rb
  app/models/journeys/additional_payments_for_teaching/claim_journey_session_shim.rb
  app/models/journeys/page_sequence.rb
  spec/factories/journeys/additional_payments_for_teaching/session_answers.rb
  spec/features/admin_claim_tasks_update_with_dqt_api_spec.rb
  spec/features/early_career_payments_claim_spec.rb
  spec/features/ineligible_early_career_payments_claims_spec.rb
  spec/features/ineligible_early_career_payments_in_2022_and_future_years_spec.rb
  spec/features/reminders_spec.rb
  spec/forms/journeys/additional_payments_for_teaching/eligible_itt_subject_form_spec.rb
  spec/forms/journeys/additional_payments_for_teaching/qualification_details_form_spec.rb
  spec/forms/journeys/additional_payments_for_teaching/qualification_form_spec.rb
  spec/forms/journeys/additional_payments_for_teaching/teaching_subject_now_form_spec.rb
  spec/models/journeys/additional_payments_for_teaching/answers_presenter_spec.rb
  spec/models/journeys/additional_payments_for_teaching/slug_sequence_spec.rb
  spec/spec_helper.rb
Due: standard

Update pagy_anchor lambda usage per v8.0.0 breaking change
  app/views/admin/claims/_pagination.html.erb
  app/views/admin/payroll_runs/_pagination.html.erb
Due: none

Update support file per v8.0.0 breaking change
  config/initializers/pagy.rb
Due: standard

Update method name per v8.0.0 breaking change
  app/views/admin/claims/_pagination.html.erb
  app/views/admin/payroll_runs/_pagination.html.erb
Due: none

Store the nqt_in_academic_year_after_itt on the journey session
  app/forms/journeys/additional_payments_for_teaching/eligible_itt_subject_form.rb
  app/forms/journeys/additional_payments_for_teaching/employed_directly_form.rb
  app/forms/journeys/additional_payments_for_teaching/nqt_in_academic_year_after_itt_form.rb
  app/models/journeys/additional_payments_for_teaching/claim_journey_session_shim.rb
  app/models/journeys/additional_payments_for_teaching/slug_sequence.rb
  app/models/journeys/page_sequence.rb
  app/views/additional_payments/claims/eligible_itt_subject.html.erb
  spec/features/early_career_payments_claim_spec.rb
  spec/features/reminders_spec.rb
  spec/forms/employed_directly_form_spec.rb
  spec/forms/journeys/additional_payments_for_teaching/eligible_itt_subject_form_spec.rb
  spec/forms/journeys/additional_payments_for_teaching/nqt_in_academic_year_after_itt_form_spec.rb
  spec/helpers/early_career_payments_helper_spec.rb
  spec/lib/ineligibility_reason_checker_spec.rb
  spec/models/journeys/additional_payments_for_teaching/answers_presenter_spec.rb
  spec/models/journeys/additional_payments_for_teaching/slug_sequence_spec.rb
  spec/support/eligible_later_shared_examples.rb
Due: standard

Add test env variables
  terraform/application/config/test.tfvars.json
  terraform/application/config/test_Terrafile
Due: prettier

Add startup commands and test_app_env.yml
  Makefile
  terraform/application/config/test.tfvars.json
  terraform/application/config/test_app_env.yml
Due: prettier

Add test deploy to workflow
  .github/workflows/build_and_deploy.yml
Due: none

Update build_and_deploy workflow to run on push to master, not main
  .github/workflows/build_and_deploy.yml
Due: none

Update canonical_hostname and add postgres extensions
  terraform/application/config/test.tfvars.json
  terraform/application/database.tf
Due: prettier

Fix rspec matcher
  spec/support/have_received_email_matcher.rb
Due: standard

Update specs
  spec/features/reminders_spec.rb
  spec/features/trainee_teacher_subjourney_for_lup_schools_spec.rb
  spec/jobs/import_census_job_spec.rb
  spec/jobs/send_reminder_emails_job_spec.rb
  spec/mailers/claim_mailer_spec.rb
Due: standard

Update specs
  spec/mailers/claim_mailer_spec.rb
  spec/mailers/payment_mailer_spec.rb
Due: standard

CAPT-1714: Use first and last days of the month in payroll file
  app/models/payroll/payment_csv_row.rb
  spec/models/payroll/payment_csv_row_spec.rb
Due: standard

CAPT-1714: Use first and last days of the month in payroll file (#2834)
  app/models/payroll/payment_csv_row.rb
  spec/models/payroll/payment_csv_row_spec.rb
Due: standard

Make sure references to current school use answers
  app/forms/current_school_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/claim_school_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/select_claim_school_form.rb
  app/models/journeys/additional_payments_for_teaching/claim_journey_session_shim.rb
  app/models/journeys/additional_payments_for_teaching/slug_sequence.rb
  app/models/journeys/page_sequence.rb
  app/views/additional_payments/claims/_ineligibility_current_school.html.erb
  app/views/student_loans/claims/_ineligibility_reason_ineligible_current_school.html.erb
  spec/factories/journeys/additional_payments_for_teaching/session_answers.rb
  spec/features/early_career_payments_claim_spec.rb
  spec/features/ineligible_levelling_up_premium_payments_spec.rb
  spec/features/reminders_spec.rb
  spec/features/student_loans_claim_spec.rb
  spec/forms/current_school_form_spec.rb
  spec/forms/journeys/additional_payments_for_teaching/eligible_itt_subject_form_spec.rb
  spec/models/journeys/additional_payments_for_teaching/slug_sequence_spec.rb
Due: standard

Make sure references to current school use answers
  app/models/journeys/additional_payments_for_teaching/claim_journey_session_shim.rb
  spec/features/early_career_payments_claim_spec.rb
Due: standard

Remove claim references form correct_school_form
  app/forms/journeys/additional_payments_for_teaching/correct_school_form.rb
  app/models/journeys/additional_payments_for_teaching/session_answers.rb
  spec/features/correct_school_spec.rb
  spec/forms/journeys/additional_payments_for_teaching/correct_school_form_spec.rb
Due: standard

Move spec
  spec/forms/journeys/additional_payments_for_teaching/entire_term_contract_form_spec.rb
Due: standard

Update employed directly form to write to answers
  app/forms/journeys/additional_payments_for_teaching/entire_term_contract_form.rb
  app/forms/journeys/additional_payments_for_teaching/supply_teacher_form.rb
  app/models/journeys/additional_payments_for_teaching/claim_journey_session_shim.rb
  spec/factories/journeys/additional_payments_for_teaching/session_answers.rb
  spec/features/early_career_payments_claim_spec.rb
  spec/forms/journeys/additional_payments_for_teaching/entire_term_contract_form_spec.rb
  spec/models/journeys/additional_payments_for_teaching/answers_presenter_spec.rb
Due: standard

Clean up refernces ot current claim
  app/forms/journeys/additional_payments_for_teaching/qualification_details_form.rb
  app/forms/journeys/additional_payments_for_teaching/teaching_subject_now_form.rb
  spec/forms/journeys/additional_payments_for_teaching/qualification_details_form_spec.rb
Due: standard

remove java from README as no longer used
  README.md
Due: prettier

Update command to get cluster credentials
  docs/connecting-to-azure.md
Due: prettier

Add documentation for accessing review apps on azure
  README.md
  docs/connecting-to-azure.md
Due: prettier

CAPT-1707 Add documentation for review apps on AKS (#2820)
  README.md
  docs/connecting-to-azure.md
Due: prettier

supply teacher form uses journey session answers
  app/forms/journeys/additional_payments_for_teaching/supply_teacher_form.rb
  app/models/journeys/additional_payments_for_teaching/claim_journey_session_shim.rb
  app/models/journeys/additional_payments_for_teaching/slug_sequence.rb
  spec/features/early_career_payments_claim_spec.rb
  spec/forms/supply_teacher_form_spec.rb
  spec/models/journeys/additional_payments_for_teaching/slug_sequence_spec.rb
Due: standard

CAPT-1655 - selected policy using session answers only, remove selected policy cookie
  app/controllers/claims_form_callbacks.rb
  app/controllers/concerns/claim_session_timeout.rb
  app/controllers/concerns/journey_concern.rb
  app/controllers/journeys/additional_payments_for_teaching/reminders_controller.rb
  app/forms/journeys/additional_payments_for_teaching/claim_submission_form.rb
  app/forms/journeys/additional_payments_for_teaching/eligibility_confirmed_form.rb
  app/helpers/application_helper.rb
  app/models/claim_journey_session_shim.rb
  app/models/journeys/additional_payments_for_teaching/claim_journey_session_shim.rb
  app/models/journeys/additional_payments_for_teaching/session_answers.rb
  app/models/journeys/session_answers.rb
  app/models/journeys/teacher_student_loan_reimbursement/session_answers.rb
  app/views/claims/information_provided.html.erb
  spec/factories/journeys/additional_payments_for_teaching/session_answers.rb
  spec/forms/journeys/additional_payments_for_teaching/eligibility_confirmed_form_spec.rb
  spec/helpers/application_helper_spec.rb
Due: standard

even out parallel test run times across cores
  .rspec_parallel
Due: none

move poor perfomance attributes to journey session
  app/forms/journeys/additional_payments_for_teaching/poor_performance_form.rb
  app/models/journeys/additional_payments_for_teaching/answers_presenter.rb
  app/models/journeys/additional_payments_for_teaching/claim_journey_session_shim.rb
  spec/forms/journeys/additional_payments_for_teaching/poor_performance_form_spec.rb
Due: standard

Don't reference claim in answers presenter
  app/models/concerns/journeys/sessions/teacher_id.rb
  app/models/journeys/additional_payments_for_teaching/answers_presenter.rb
  app/models/journeys/additional_payments_for_teaching/session_answers.rb
  app/models/journeys/base.rb
  app/models/journeys/base_answers_presenter.rb
  app/models/journeys/session_answers.rb
  app/models/journeys/teacher_student_loan_reimbursement/answers_presenter.rb
  app/models/policies/student_loans/admin_tasks_presenter.rb
  app/models/policies/student_loans/eligibility_admin_answers_presenter.rb
  app/models/policies/student_loans/presenter_methods.rb
  app/views/additional_payments/claims/check_your_answers.html.erb
  app/views/additional_payments/claims/check_your_answers_part_one.html.erb
  app/views/student_loans/claims/check_your_answers.html.erb
  spec/factories/journeys/teacher_student_loan_reimbursement/session_answers.rb
  spec/features/changing_answers_spec.rb
  spec/models/journeys/additional_payments_for_teaching/answers_presenter_spec.rb
  spec/models/journeys/teacher_student_loan_reimbursement/answers_presenter_spec.rb
  spec/models/student_loans/presenter_methods_spec.rb
  spec/requests/submissions_spec.rb
  spec/support/journey_answers_presenter_shared_examples.rb
Due: standard

Remove shim
  app/controllers/claims_controller.rb
  app/controllers/concerns/journey_concern.rb
  app/controllers/submissions_controller.rb
  app/forms/claim_submission_base_form.rb
  app/forms/form.rb
  app/forms/journeys/additional_payments_for_teaching/eligibility_confirmed_form.rb
  app/forms/journeys/additional_payments_for_teaching/eligible_itt_subject_form.rb
  app/models/claim_journey_session_shim.rb
  app/models/journeys/additional_payments_for_teaching/claim_journey_session_shim.rb
  app/models/journeys/additional_payments_for_teaching/slug_sequence.rb
  app/models/journeys/page_sequence.rb
  app/models/journeys/teacher_student_loan_reimbursement/claim_journey_session_shim.rb
  app/models/journeys/teacher_student_loan_reimbursement/slug_sequence.rb
  app/views/additional_payments/claims/eligible_itt_subject.html.erb
  app/views/additional_payments/claims/ineligible.html.erb
  app/views/additional_payments/claims/teaching_subject_now.html.erb
  app/views/claims/ineligible.html.erb
  spec/factories/journeys/teacher_student_loan_reimbursement/session_answers.rb
  spec/features/early_career_payments_eligible_now_reminder_set_spec.rb
  spec/features/ineligible_levelling_up_premium_payments_spec.rb
  spec/helpers/claims/itt_subject_helper_spec.rb
  spec/helpers/early_career_payments_helper_spec.rb
  spec/lib/ineligibility_reason_checker_spec.rb
  spec/lib/journey_subject_eligibility_checker_spec.rb
  spec/models/journeys/page_sequence_spec.rb
Due: standard

Remove loading answers from claim
  app/forms/form.rb
  app/forms/journeys/additional_payments_for_teaching/reminders/email_verification_form.rb
  app/forms/journeys/additional_payments_for_teaching/reminders/personal_details_form.rb
  app/models/journeys/session.rb
  app/models/journeys/session_answers.rb
  spec/forms/form_spec.rb
  spec/forms/journeys/teacher_student_loan_reimbursement/subjects_taught_form_spec.rb
  spec/lib/ineligibility_reason_checker_spec.rb
  spec/models/journeys/additional_payments_for_teaching/slug_sequence_spec.rb
Due: standard

Update form spec
  app/forms/journeys/additional_payments_for_teaching/poor_performance_form.rb
  spec/forms/journeys/additional_payments_for_teaching/poor_performance_form_spec.rb
Due: standard

dependabot checks docker and github actions
  .github/dependabot.yml
Due: none

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
