Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

Show started at
  app/helpers/admin/claims_helper.rb
  db/migrate/20240924113642_make_claims_started_at_not_null.rb
  db/schema.rb
  spec/features/admin/admin_view_full_claim_further_education_payments_spec.rb
Due: standard

LUPEYALPHA-1067 - FE user journey accessibility test dates
  config/locales/en.yml
Due: none

Fix flakey test
  spec/features/admin/admin_claims_filtering_spec.rb
Due: standard

add EY practitioner scaffoling
  app/forms/journeys/early_years_payment/practitioner/claim_submission_form.rb
  app/forms/journeys/early_years_payment/practitioner/find_reference_form.rb
  app/forms/journeys/early_years_payment/practitioner/session_form.rb
  app/models/journeys.rb
  app/models/journeys/early_years_payment/practitioner.rb
  app/models/journeys/early_years_payment/practitioner/eligibility_checker.rb
  app/models/journeys/early_years_payment/practitioner/session.rb
  app/models/journeys/early_years_payment/practitioner/session_answers.rb
  app/models/journeys/early_years_payment/practitioner/session_answers_type.rb
  app/models/journeys/early_years_payment/practitioner/slug_sequence.rb
  app/views/early_years_payment/practitioner/landing_page.html.erb
  config/locales/en.yml
  db/seeds.rb
  spec/models/journeys_spec.rb
Due: standard

[LUPEYALPHA-877] Send an email to the practitioner when the provider submits a claim (#3219)
  app/forms/journeys/early_years_payment/provider/authenticated/claim_submission_form.rb
  app/mailers/application_mailer.rb
  app/mailers/claim_mailer.rb
  app/models/policies/early_years_payments/eligibility.rb
  spec/forms/journeys/early_years_payment/provider/authenticated/claim_submission_form_spec.rb
  spec/mailers/claim_mailer_spec.rb
Due: standard

how-we-use-your-information page
  app/forms/journeys/early_years_payment/practitioner/find_reference_form.rb
  app/models/journeys/early_years_payment/practitioner/slug_sequence.rb
  app/views/early_years_payment/practitioner/claims/find_reference.html.erb
  app/views/early_years_payment/practitioner/claims/how_we_use_your_information.html.erb
  app/views/early_years_payment/practitioner/claims/one_login_sign_in.html.erb
  app/views/early_years_payment/practitioner/claims/personal_details.html.erb
  config/locales/en.yml
Due: standard

happy path feature spec
  spec/factories/journey_configurations.rb
  spec/features/early_years_payment/practitioner/happy_path_spec.rb
  spec/support/steps/journey_configuration.rb
Due: standard

Add task if provider / claimant details match
  app/models/claim_checking_tasks.rb
  app/models/policies/further_education_payments/admin_tasks_presenter.rb
  app/models/policies/further_education_payments/claim_checking_tasks.rb
  app/models/policies/further_education_payments/eligibility.rb
  app/models/task.rb
  app/views/admin/tasks/provider_details.html.erb
  config/locales/en.yml
  spec/features/admin/admin_checks_further_education_payments_claim_spec.rb
  spec/features/admin/admin_claim_further_education_payments_spec.rb
  spec/models/policies/further_education_payments/claim_checking_tasks_spec.rb
Due: standard

adding placeholder text to make reviewing app nicer
  app/views/early_years_payment/practitioner/claims/enter_home_address.html.erb
  app/views/early_years_payment/practitioner/claims/find_reference.html.erb
  app/views/early_years_payment/practitioner/claims/one_login_sign_in.html.erb
Due: none

EY practitioner personal details
  app/models/journeys/early_years_payment/practitioner/slug_sequence.rb
  app/views/early_years_payment/practitioner/claims/enter_home_address.html.erb
  app/views/early_years_payment/practitioner/claims/personal_details.html.erb
  spec/features/early_years_payment/practitioner/happy_path_spec.rb
Due: standard

make personal details a partial, allowing for different heading sizes
  app/views/claims/_personal_details_page.html.erb
  app/views/claims/personal_details.html.erb
  app/views/early_years_payment/practitioner/claims/personal_details.html.erb
Due: none

Fix backlink path for returner contract type
  app/views/early_years_payment/provider/authenticated/claims/_ineligibility_returner.html.erb
Due: none

Fixes admin matching claims ui
  app/helpers/admin/claims_helper.rb
  app/models/claim/matching_attribute_finder.rb
  app/views/admin/claims/_claims_with_matching_details.html.erb
  spec/features/admin/admin_claim_with_matching_details_spec.rb
  spec/helpers/admin/claims_helper_spec.rb
  spec/models/claim/matching_attribute_finder_spec.rb
Due: standard

Allow deleting payroll runs on review apps
  app/controllers/admin/payroll_runs_controller.rb
  app/models/payroll_run.rb
  app/views/admin/payroll_runs/show.html.erb
  config/routes.rb
Due: standard

EY practitioner enter home address
  app/models/journeys/early_years_payment/practitioner.rb
  app/models/journeys/early_years_payment/practitioner/slug_sequence.rb
  app/views/claims/_address_fields.html.erb
  app/views/claims/address.html.erb
  app/views/early_years_payment/practitioner/claims/email_address.html.erb
  app/views/early_years_payment/practitioner/claims/enter_home_address.html.erb
  spec/features/early_years_payment/practitioner/happy_path_spec.rb
Due: standard

upgrade pagy 8.6.3 => 9.0.9
  Gemfile.lock
  config/initializers/pagy.rb
  spec/features/admin/admin_payroll_runs_spec.rb
Due: standard

Add name and dob check to matching claims
  app/models/claim/matching_attribute_finder.rb
  spec/models/claim/matching_attribute_finder_spec.rb
  spec/models/claim_checking_tasks_spec.rb
  spec/support/admin_view_claim_feature_shared_examples.rb
Due: standard

Update FE eligibility guidance URL
  config/locales/en.yml
Due: none

Fix backlink path for returner contract type (#3238)
  app/views/early_years_payment/provider/authenticated/claims/_ineligibility_returner.html.erb
Due: none

remove radio buttons from Student Loan Plan task
  app/helpers/admin/claims_helper.rb
  app/views/admin/tasks/student_loan_plan.html.erb
  config/locales/en.yml
  spec/factories/policies/further_education_payments/eligibilities.rb
  spec/features/admin/admin_checks_further_education_payments_claim_spec.rb
  spec/features/admin/admin_claims_filtering_spec.rb
  spec/jobs/further_education_payments/provider_verification_chase_email_spec.rb
  spec/models/automated_checks/claim_verifiers/student_loan_plan_spec.rb
  spec/models/claim_spec.rb
  spec/support/admin_checks_feature_shared_examples.rb
Due: standard

EY practitioner email address and verification
  app/models/journeys/early_years_payment/practitioner/session_answers.rb
  app/models/journeys/early_years_payment/practitioner/slug_sequence.rb
  app/views/additional_payments/claims/reminder_email_verification.html.erb
  app/views/additional_payments/reminders/email_verification.html.erb
  app/views/claims/_one_time_password.html.erb
  app/views/claims/email_verification.html.erb
  app/views/early_years_payment/practitioner/claims/email_address.html.erb
  app/views/early_years_payment/practitioner/claims/email_verification.html.erb
  config/locales/en.yml
  spec/features/early_years_payment/practitioner/happy_path_spec.rb
Due: standard

Match across all policies
  app/models/policies/early_career_payments.rb
  app/models/policies/further_education_payments.rb
  app/models/policies/levelling_up_premium_payments.rb
  app/models/policies/student_loans.rb
  spec/models/claim/matching_attribute_finder_spec.rb
Due: standard

Remove out of date comment
  app/models/policies/early_career_payments.rb
  app/models/policies/further_education_payments.rb
  app/models/policies/levelling_up_premium_payments.rb
  app/models/policies/student_loans.rb
Due: standard

upgrade to govuk 5.4 => 5.6
  Gemfile
  Gemfile.lock
  package.json
  spec/features/early_career_payments/early_career_payments_claim_spec.rb
  spec/support/feature_helpers.rb
  yarn.lock
Due: prettier, standard

add EY practitioner find reference form
  app/forms/journeys/early_years_payment/practitioner/find_reference_form.rb
  app/models/journeys/early_years_payment/practitioner/session_answers.rb
  app/views/early_years_payment/practitioner/claims/find_reference.html.erb
  config/locales/en.yml
  spec/factories/journeys/early_years_payment/practitioner/session.rb
  spec/features/early_years_payment/practitioner/happy_path_spec.rb
  spec/forms/journeys/early_years_payment/practitioner/find_reference_form_spec.rb
Due: standard

fix placeholder in test
  spec/features/early_years_payment/practitioner/happy_path_spec.rb
Due: standard

EY practitioner find reference requires email
  app/controllers/claims_controller.rb
  app/controllers/concerns/form_submittable.rb
  app/forms/current_school_form.rb
  app/forms/journeys/early_years_payment/practitioner/find_reference_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/claim_school_form.rb
  app/views/early_years_payment/practitioner/claims/find_reference.html.erb
  spec/features/early_years_payment/practitioner/find_reference_spec.rb
  spec/features/early_years_payment/practitioner/happy_path_spec.rb
  spec/forms/journeys/early_years_payment/practitioner/find_reference_form_spec.rb
  spec/requests/reminders_spec.rb
Due: standard

EY find reference form keeps params in URL
  app/views/early_years_payment/practitioner/claims/find_reference.html.erb
  spec/features/early_years_payment/practitioner/find_reference_spec.rb
Due: standard

update EY practitioner email invite link
  app/mailers/claim_mailer.rb
  spec/forms/journeys/early_years_payment/provider/authenticated/claim_submission_form_spec.rb
  spec/mailers/claim_mailer_spec.rb
Due: standard

use govuk_mail_to helper
  app/views/early_years_payment/practitioner/claims/find_reference.html.erb
  config/locales/en.yml
Due: none

WIP: Validation for missing practitioner email
  app/forms/journeys/early_years_payment/provider/authenticated/check_your_answers_form.rb
  config/locales/en.yml
  spec/forms/journeys/early_years_payment/provider/authenticated/check_your_answers_form_spec.rb
Due: standard

Remove ' - start' from journey name
  config/locales/en.yml
Due: none

Remove ' - start' from journey name (#3248)
  config/locales/en.yml
Due: none

store EY start email for back scenario works
  app/forms/journeys/early_years_payment/practitioner/find_reference_form.rb
  app/models/journeys/early_years_payment/practitioner/session_answers.rb
  app/views/early_years_payment/practitioner/claims/find_reference.html.erb
  spec/features/early_years_payment/practitioner/find_reference_spec.rb
Due: standard

add EY practitioner find reference form
  spec/features/early_years_payment/practitioner/happy_path_spec.rb
Due: standard

add one login to EY practitioner journey
  app/models/journeys/early_years_payment/practitioner/slug_sequence.rb
  app/views/early_years_payment/practitioner/claims/one_login_sign_in.html.erb
  spec/features/early_years_payment/practitioner/find_reference_spec.rb
  spec/features/early_years_payment/practitioner/happy_path_spec.rb
Due: standard

Clear the employee-email slug on form failure so it is not bypassed
  app/controllers/claims_form_callbacks.rb
Due: standard

dfe-analytics upgrade
  Gemfile
  Gemfile.lock
  config/analytics_hidden_pii.yml
Due: none

Fix claims being flagged for qa
  app/models/claim.rb
Due: standard

update copy on EY find ref screen
  config/locales/en.yml
  spec/features/early_years_payment/practitioner/find_reference_spec.rb
  spec/features/early_years_payment/practitioner/happy_path_spec.rb
Due: standard

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
