Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{css,html,js,js.erb,json,md,scss}"
      run: rails prettier {staged_files}
      skip:
        - merge
        - rebase
    standard:
      glob: "*.rb"
      run: rails standard {staged_files}
      skip:
        - merge
        - rebase

Add note regarding logit.io
  docs/logging.md
Due: prettier

Filter DfE::Analytics::SendEvents from logs
  config/environments/production.rb
Due: standard

Redirect DfE Sign-in to www
  terraform/application/config/production_app_env.yml
Due: none

Update production hostname
  terraform/application/config/production.tfvars.json
Due: prettier

Update production hostname (#3016)
  terraform/application/config/production.tfvars.json
Due: prettier

Point front door at the new environments on AKS
  terraform/domains/environment_domains/config/production.tfvars.json
  terraform/domains/environment_domains/config/test.tfvars.json
Due: prettier

Enable nightly db backups
  .github/workflows/database_backup.yml
Due: none

Fix smoke test to visit admin
  spec/smoke/visit_admin_spec.rb
Due: standard

Only set username and password if in ENV
  spec/smoke/visit_admin_spec.rb
Due: standard

Check presence of username and password
  spec/smoke/visit_admin_spec.rb
Due: standard

Turn logit off for production, to test on test and review first
  terraform/application/config/production.tfvars.json
Due: prettier

Configure the Semantic Logger to output JSON (#2876)
  Dockerfile
  bin/start-worker
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/semantic_logger.rb
  docs/logging.md
  filebeat.yml
  terraform/application/application.tf
  terraform/application/config/review.tfvars.json
  terraform/application/config/test.tfvars.json
  terraform/application/variables.tf
Due: prettier, standard

Enable log shipping to logit.io in production
  terraform/application/config/production.tfvars.json
Due: prettier

call to one login authorize endpoint
  .env.development
  app/views/claims/_sign_in_or_continue.html.erb
  config/initializers/omniauth.rb
Due: standard

fix linting errors
  app/controllers/omniauth_callbacks_controller.rb
  config/routes.rb
Due: standard

decode JWT
  app/controllers/omniauth_callbacks_controller.rb
  app/forms/sign_in_form.rb
  app/views/claims/_sign_in.html.erb
Due: standard

use OpenIDConnect::Client
  app/controllers/omniauth_callbacks_controller.rb
Due: standard

only construct onelogin secret key if env var is present
  config/initializers/omniauth.rb
Due: standard

login works using openid_connect strategy
  app/controllers/omniauth_callbacks_controller.rb
  config/initializers/omniauth.rb
Due: standard

remove filter params
  app/models/claim.rb
Due: standard

use form attributes
  app/controllers/omniauth_callbacks_controller.rb
  app/forms/sign_in_form.rb
  app/models/claim.rb
  app/models/journeys/session_answers.rb
  app/views/claims/_sign_in.html.erb
Due: standard

bypass initialising one login providers in test environment for now
  config/initializers/omniauth.rb
Due: standard

no need for scope on identity call
  config/initializers/omniauth.rb
Due: standard

verify identity JWT
  app/controllers/omniauth_callbacks_controller.rb
Due: standard

request access token (doesn't work). moved sign-in to FE journey
  app/controllers/omniauth_callbacks_controller.rb
  app/forms/sign_in_form.rb
  app/models/journeys/base.rb
  app/models/journeys/further_education_payments/slug_sequence.rb
  app/views/claims/_sign_in.html.erb
  app/views/claims/sign_in.html.erb
  config/initializers/omniauth.rb
  config/routes.rb
Due: standard

identity call and response works
  app/controllers/omniauth_callbacks_controller.rb
  app/forms/sign_in_form.rb
  app/forms/signed_in_form.rb
  app/models/claim.rb
  app/models/journeys/session_answers.rb
  app/views/claims/_sign_in.html.erb
  app/views/claims/_sign_in_or_continue.html.erb
  config/initializers/omniauth.rb
Due: standard

upgrade rexml 3.3.1 => 3.3.2
  Gemfile.lock
Due: none

add missing page titles to FE journey
  app/models/journeys/further_education_payments.rb
  app/views/further_education_payments/claims/_courses.html.erb
  app/views/further_education_payments/claims/_ineligible_teaching_less_than_2_5_next_term.html.erb
  app/views/further_education_payments/claims/contract_type.html.erb
  app/views/further_education_payments/claims/eligible.html.erb
  app/views/further_education_payments/claims/fixed_term_contract.html.erb
  app/views/further_education_payments/claims/further_education_provision_search.html.erb
  app/views/further_education_payments/claims/further_education_teaching_start_year.html.erb
  app/views/further_education_payments/claims/half_teaching_hours.html.erb
  app/views/further_education_payments/claims/ineligible.html.erb
  app/views/further_education_payments/claims/poor_performance.html.erb
  app/views/further_education_payments/claims/select_provision.html.erb
  app/views/further_education_payments/claims/subjects_taught.html.erb
  app/views/further_education_payments/claims/taught_at_least_one_term.html.erb
  app/views/further_education_payments/claims/teaching_hours_per_week.html.erb
  app/views/further_education_payments/claims/teaching_hours_per_week_next_term.html.erb
  app/views/further_education_payments/claims/teaching_qualification.html.erb
  app/views/further_education_payments/claims/teaching_responsibilities.html.erb
  config/locales/en.yml
Due: standard

Update test hostname
  terraform/application/config/test.tfvars.json
Due: prettier

Update test hostname (#3022)
  terraform/application/config/test.tfvars.json
Due: prettier

FE personal details pages
  app/forms/journeys/further_education_payments/teacher_reference_number_form.rb
  app/mailers/claim_mailer.rb
  app/models/journeys/further_education_payments.rb
  app/models/journeys/further_education_payments/session_answers.rb
  app/models/journeys/further_education_payments/slug_sequence.rb
  app/models/policies/further_education_payments.rb
  app/views/further_education_payments/claims/check_your_answers.html.erb
  app/views/further_education_payments/claims/information_provided.html.erb
  app/views/further_education_payments/submissions/show.html.erb
  config/locales/en.yml
  spec/features/further_education_payments/happy_js_path_spec.rb
  spec/features/further_education_payments/happy_path_spec.rb
Due: standard

FE override gender question copy
  app/models/journeys/base_answers_presenter.rb
  app/models/journeys/further_education_payments/answers_presenter.rb
Due: standard

Various bugfixes to adding Personal Details to FE journey
  app/forms/claim_submission_base_form.rb
  app/forms/journeys/further_education_payments/check_your_answers_form.rb
  app/forms/mobile_number_form.rb
  app/forms/provide_mobile_number_form.rb
  app/views/additional_payments/claims/check_your_answers.html.erb
  app/views/claims/information_provided.html.erb
  app/views/claims/teacher_reference_number.html.erb
  app/views/further_education_payments/claims/check_your_answers.html.erb
  app/views/further_education_payments/claims/information_provided.html.erb
  app/views/student_loans/claims/check_your_answers.html.erb
  config/locales/en.yml
Due: standard

FE information-provided page
  app/models/journeys/further_education_payments/slug_sequence.rb
  app/views/further_education_payments/claims/information_provided.html.erb
  app/views/further_education_payments/claims/one_login_placeholder.html.erb
Due: standard

Dry up the form translation methods with default fallbacks
  app/forms/claim_submission_base_form.rb
  app/forms/form.rb
  app/forms/form_helpers.rb
  app/views/claims/gender.html.erb
  config/locales/en.yml
  spec/features/further_education_payments/happy_js_path_spec.rb
  spec/features/further_education_payments/happy_path_spec.rb
  spec/forms/form_spec.rb
Due: standard

refactor: improve method name
  app/forms/admin/eligible_fe_providers_form.rb
Due: standard

maintain selected academic year after file upload
  app/controllers/admin/eligible_fe_providers_controller.rb
  app/controllers/admin/journey_configurations_controller.rb
  app/forms/admin/eligible_fe_providers_form.rb
  app/views/admin/journey_configurations/_edit_further_education_payments.html.erb
  spec/features/admin/eligible_fe_providers_spec.rb
Due: standard

move FE provider up/down load to journey config
  app/controllers/admin/eligible_fe_providers_controller.rb
  app/controllers/admin/journey_configurations_controller.rb
  app/models/eligible_fe_providers_importer.rb
  app/views/admin/eligible_fe_providers/new.html.erb
  app/views/admin/journey_configurations/_edit_additional_payments.html.erb
  app/views/admin/journey_configurations/_edit_further_education_payments.html.erb
  app/views/admin/journey_configurations/edit.html.erb
  config/routes.rb
  lib/csv_importer/base.rb
  spec/features/admin/eligible_fe_providers_spec.rb
Due: standard

add back link to edit journey configuration screen
  app/views/admin/journey_configurations/edit.html.erb
Due: none

use base importer for EligibleFeProvider
  app/controllers/admin/eligible_fe_providers_controller.rb
  app/forms/admin/eligible_fe_providers_form.rb
  app/models/eligible_fe_providers_importer.rb
  app/models/importers/eligible_fe_providers.rb
  lib/csv_importer/base.rb
  spec/features/admin/eligible_fe_providers_spec.rb
  spec/models/eligible_fe_providers_importer_spec.rb
Due: standard
