Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

partially populate verified provider dashboard
  app/assets/stylesheets/components/card.scss
  app/controllers/further_education_payments/providers/claims_controller.rb
  app/controllers/further_education_payments/providers/verified_claims_controller.rb
  app/models/claim.rb
  app/views/further_education_payments/providers/verified_claims/index.html.erb
  config/analytics.yml
  spec/factories/policies/further_education_payments/eligibilities.rb
  spec/features/further_education_payments/providers/verified_dashboard_spec.rb
Due: prettier, standard

pagination for provider verified claims
  app/controllers/further_education_payments/providers/base_controller.rb
  app/controllers/further_education_payments/providers/verified_claims_controller.rb
  app/views/further_education_payments/providers/verified_claims/index.html.erb
  spec/features/further_education_payments/providers/verified_dashboard_spec.rb
Due: standard

Enable new pv dashboard on review apps
  db/seeds.rb
Due: standard

Handle attempted edits of verified claims
  app/controllers/further_education_payments/providers/claims/verifications_controller.rb
  app/models/policies/further_education_payments/eligibility.rb
  app/views/further_education_payments/providers/claims/verifications/_summary.html.erb
  app/views/further_education_payments/providers/claims/verifications/check_answers.html.erb
  app/views/further_education_payments/providers/claims/verifications/show.html.erb
  config/routes.rb
  spec/factories/policies/further_education_payments/eligibilities.rb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
Due: standard

Update trait
  spec/factories/policies/further_education_payments/eligibilities.rb
Due: standard

Switch to save and continue button
  app/controllers/further_education_payments/providers/claims/verifications_controller.rb
  app/forms/further_education_payments/providers/claims/verification/base_form.rb
  app/forms/further_education_payments/providers/claims/verification/contract_covers_full_academic_year_form.rb
  app/forms/further_education_payments/providers/claims/verification/contracted_hours_form.rb
  app/forms/further_education_payments/providers/claims/verification/performance_and_discipline_form.rb
  app/forms/further_education_payments/providers/claims/verification/role_and_experience_form.rb
  app/forms/further_education_payments/providers/claims/verification/taught_at_least_one_academic_term_form.rb
  app/views/further_education_payments/providers/claims/verifications/contract_covers_full_academic_year.html.erb
  app/views/further_education_payments/providers/claims/verifications/contracted_hours.html.erb
  app/views/further_education_payments/providers/claims/verifications/performance_and_discipline.html.erb
  app/views/further_education_payments/providers/claims/verifications/role_and_experience.html.erb
  app/views/further_education_payments/providers/claims/verifications/taught_at_least_one_academic_term.html.erb
  config/analytics.yml
  db/migrate/20250715134556_remove_progress_tracking_columns_from_fe_eligibility.rb
  db/schema.rb
  spec/factories/policies/further_education_payments/eligibilities.rb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
  spec/forms/further_education_payments/providers/claims/verification/contract_covers_full_academic_year_form_spec.rb
  spec/forms/further_education_payments/providers/claims/verification/role_and_experience_form_spec.rb
  spec/forms/further_education_payments/providers/claims/verification/taught_at_least_one_academic_term_form_spec.rb
Due: standard

Fix form legend sizing
  app/views/further_education_payments/providers/claims/verifications/contract_covers_full_academic_year.html.erb
  app/views/further_education_payments/providers/claims/verifications/contracted_hours.html.erb
  app/views/further_education_payments/providers/claims/verifications/performance_and_discipline.html.erb
  app/views/further_education_payments/providers/claims/verifications/taught_at_least_one_academic_term.html.erb
Due: none

Add new option
  app/forms/further_education_payments/providers/claims/verification/check_answers_form.rb
  app/forms/further_education_payments/providers/claims/verification/contract_type_form.rb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
Due: standard

Switch to individual change links
  app/views/further_education_payments/providers/claims/verifications/_summary.html.erb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
Due: standard

Send user to first incomplete form
  app/controllers/further_education_payments/providers/claims/verifications_controller.rb
  app/models/further_education_payments/providers/claims/verification/wizard.rb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
Due: standard

Split role and experience into separate forms
  app/forms/further_education_payments/providers/claims/verification/base_form.rb
  app/forms/further_education_payments/providers/claims/verification/contract_type_form.rb
  app/forms/further_education_payments/providers/claims/verification/qualification_form.rb
  app/forms/further_education_payments/providers/claims/verification/teaching_responsibilities_form.rb
  app/models/further_education_payments/providers/claims/verification/wizard.rb
  app/views/further_education_payments/providers/claims/verifications/_summary.html.erb
  app/views/further_education_payments/providers/claims/verifications/contract_type.html.erb
  app/views/further_education_payments/providers/claims/verifications/qualification.html.erb
  app/views/further_education_payments/providers/claims/verifications/teaching_responsibilities.html.erb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
  spec/forms/further_education_payments/providers/claims/verification/contract_type_form_spec.rb
  spec/forms/further_education_payments/providers/claims/verification/qualification_form_spec.rb
  spec/forms/further_education_payments/providers/claims/verification/teaching_responsibilities_form_spec.rb
Due: standard

Move contract type section
  app/views/further_education_payments/providers/claims/verifications/_summary.html.erb
Due: none

Update title for type of contract pages
  app/views/further_education_payments/providers/claims/verifications/contract_covers_full_academic_year.html.erb
  app/views/further_education_payments/providers/claims/verifications/contract_type.html.erb
  app/views/further_education_payments/providers/claims/verifications/taught_at_least_one_academic_term.html.erb
Due: none

install rebranded OL header
  app/assets/javascripts/application.js
  app/assets/stylesheets/components/button_to.scss
  app/views/shared/_one_login_header.html.erb
Due: prettier

Add provider_assigned_to_id to represent Processed By
  app/models/policies/further_education_payments/eligibility.rb
  config/analytics.yml
  db/migrate/20250717094757_add_provider_assigned_to_id_to_further_education_payments_eligibilities.rb
  db/schema.rb
Due: standard

fix provider dashboard back link positioning
  app/views/further_education_payments/providers/claims/verifications/check_answers.html.erb
  app/views/further_education_payments/providers/claims/verifications/contract_covers_full_academic_year.html.erb
  app/views/further_education_payments/providers/claims/verifications/contracted_hours.html.erb
  app/views/further_education_payments/providers/claims/verifications/performance_and_discipline.html.erb
  app/views/further_education_payments/providers/claims/verifications/role_and_experience.html.erb
  app/views/further_education_payments/providers/claims/verifications/show.html.erb
  app/views/further_education_payments/providers/claims/verifications/taught_at_least_one_academic_term.html.erb
  app/views/layouts/application.html.erb
  app/views/shared/_backlink.html.erb
Due: none

Split contracted hours form into 3 steps
  app/forms/further_education_payments/providers/claims/verification/contracted_hours_form.rb
  app/forms/further_education_payments/providers/claims/verification/half_teaching_hours_form.rb
  app/forms/further_education_payments/providers/claims/verification/subjects_taught_form.rb
  app/forms/further_education_payments/providers/claims/verification/teaching_hours_per_week_form.rb
  app/models/further_education_payments/providers/claims/verification/wizard.rb
  app/views/further_education_payments/providers/claims/verifications/_summary.html.erb
  app/views/further_education_payments/providers/claims/verifications/half_teaching_hours.html.erb
  app/views/further_education_payments/providers/claims/verifications/subjects_taught.html.erb
  app/views/further_education_payments/providers/claims/verifications/teaching_hours_per_week.html.erb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
  spec/forms/further_education_payments/providers/claims/verification/half_teaching_hours_form_spec.rb
  spec/forms/further_education_payments/providers/claims/verification/subjects_taught_form_spec.rb
  spec/forms/further_education_payments/providers/claims/verification/teaching_hours_per_week_form_spec.rb
Due: standard

Display term
  app/forms/further_education_payments/providers/claims/verification/teaching_hours_per_week_form.rb
  app/views/further_education_payments/providers/claims/verifications/teaching_hours_per_week.html.erb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
Due: standard

CAPT-2719 Seed some FE claims for dev/review app
  app/views/further_education_payments/providers/sessions/_dfe_sign_in_by_pass.html.erb
  db/seeds.rb
  spec/fixtures/schools.yml
Due: standard

Add basic auth to provider/claims
  app/controllers/further_education_payments/providers/base_controller.rb
Due: standard

add hint text to provider question
  app/views/further_education_payments/providers/claims/verifications/performance_and_discipline.html.erb
Due: none

Fix claim scoping
  app/controllers/further_education_payments/providers/claims_controller.rb
  app/controllers/further_education_payments/providers/verified_claims_controller.rb
  spec/features/further_education_payments/providers/unverified_dashboard_spec.rb
  spec/features/further_education_payments/providers/verified_dashboard_spec.rb
Due: standard

Split qualification form
  app/forms/further_education_payments/providers/claims/verification/contract_type_form.rb
  app/forms/further_education_payments/providers/claims/verification/in_first_five_years_form.rb
  app/forms/further_education_payments/providers/claims/verification/teaching_qualification_form.rb
  app/forms/further_education_payments/providers/claims/verification/teaching_responsibilities_form.rb
  app/models/further_education_payments/providers/claims/verification/wizard.rb
  app/views/further_education_payments/providers/claims/verifications/_summary.html.erb
  app/views/further_education_payments/providers/claims/verifications/in_first_five_years.html.erb
  app/views/further_education_payments/providers/claims/verifications/teaching_qualification.html.erb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
  spec/forms/further_education_payments/providers/claims/verification/in_first_five_years_form_spec.rb
  spec/forms/further_education_payments/providers/claims/verification/teaching_qualification_form_spec.rb
Due: standard

CAPT-2703 feat: add hit text and details block
  app/views/further_education_payments/providers/claims/verifications/role_and_experience.html.erb
Due: none

Fix some backlinks
  app/views/further_education_payments/providers/claims/verifications/contract_type.html.erb
  app/views/further_education_payments/providers/claims/verifications/in_first_five_years.html.erb
  app/views/further_education_payments/providers/claims/verifications/teaching_qualification.html.erb
  app/views/further_education_payments/providers/claims/verifications/teaching_responsibilities.html.erb
Due: none

Update check answers
  app/forms/further_education_payments/providers/claims/verification/check_answers_form.rb
  app/forms/further_education_payments/providers/claims/verification/teaching_qualification_form.rb
  app/views/further_education_payments/providers/claims/verifications/_summary.html.erb
  config/locales/en.yml
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
Due: standard

add readonly view for provider verified claim
  app/controllers/further_education_payments/providers/claims/verifications_controller.rb
  app/controllers/further_education_payments/providers/verified_claims_controller.rb
  app/forms/further_education_payments/providers/claims/verification/check_answers_form.rb
  app/models/further_education_payments/providers/claims/answers_presenter.rb
  app/views/further_education_payments/providers/claims/verifications/_summary.html.erb
  app/views/further_education_payments/providers/claims/verifications/check_answers.html.erb
  app/views/further_education_payments/providers/verified_claims/index.html.erb
  app/views/further_education_payments/providers/verified_claims/show.html.erb
  config/locales/en.yml
  config/routes.rb
  spec/features/admin/admin_view_full_claim_early_years_payments_spec.rb
  spec/features/admin/admin_view_full_claim_further_education_payments_spec.rb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
  spec/features/further_education_payments/providers/verified_claim_spec.rb
  spec/features/further_education_payments/providers/verified_dashboard_spec.rb
  spec/forms/further_education_payments/providers/claims/verification/check_answers_form_spec.rb
  spec/rails_helper.rb
  spec/support/govuk_summary_list_test_helper.rb
Due: standard

update nodejs version
  .tool-versions
Due: none

touch
  README.md
Due: prettier

Add provider_verification_started_at to FE eligibilities │ │
  db/migrate/20250718114309_add_provider_verification_started_at_to_further_education_payments_eligibilities.rb
  db/schema.rb
Due: standard

Add provider verification constants module
  app/models/policies/further_education_payments/provider_verification_constants.rb
Due: standard

Refactor provider verification status to use timestamps
  app/models/policies/further_education_payments/eligibility.rb
Due: standard

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
