Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{css,html,js,js.erb,json,md,scss}"
      run: rails prettier {staged_files}
      skip:
        - merge
        - rebase
    standard:
      glob: "*.rb"
      run: rails standard {staged_files}
      skip:
        - merge
        - rebase

Display provider entered teaching hours
  app/models/policies/further_education_payments/eligibility_admin_answers_presenter.rb
Due: standard

Fail provider verification task if lacking hours
  app/models/automated_checks/claim_verifiers/fe_provider_verification_v2.rb
  app/models/policies/further_education_payments/eligibility.rb
  spec/models/automated_checks/claim_verifiers/fe_provider_verification_v2_spec.rb
Due: standard

Fail on mismatched teaching hours
  app/models/automated_checks/claim_verifiers/fe_provider_verification_v2.rb
  app/models/policies/further_education_payments/eligibility.rb
  spec/models/automated_checks/claim_verifiers/fe_provider_verification_v2_spec.rb
Due: standard

Copy update
  config/locales/en.yml
  spec/models/policies/further_education_payments/admin_tasks_presenter_spec.rb
Due: standard

Match provider and claimant answers in presenter
  app/models/policies/further_education_payments/admin_tasks_presenter.rb
  config/locales/en.yml
  spec/features/admin/tasks/further_education_payments/fe_provider_verification_v2_spec.rb
  spec/models/policies/further_education_payments/admin_tasks_presenter_spec.rb
Due: standard

better DSI error logging
  app/controllers/omniauth_callbacks_controller.rb
  app/models/dfe_sign_in/api/client.rb
  spec/lib/dfe_sign_in/api/user_spec.rb
Due: standard

Address PR review feedback for provider verification notifications
  app/forms/further_education_payments/providers/claims/verification/check_answers_form.rb
  app/jobs/further_education_payments/provider_weekly_update_job.rb
  app/jobs/tasks/fe_provider_verification_v2_job.rb
  app/models/automated_checks/claim_verifiers/provider_verification_v2.rb
  spec/jobs/tasks/fe_provider_verification_v2_job_spec.rb
  spec/models/automated_checks/claim_verifiers/provider_verification_v2_spec.rb
Due: standard

CAPT-2788 Add FE provider verification email notifications
  .tool-versions
  app/jobs/further_education_payments/provider_overdue_chaser_job.rb
  app/jobs/further_education_payments/provider_weekly_update_job.rb
  app/mailers/application_mailer.rb
  app/mailers/further_education_payments_mailer.rb
  config/recurring.yml
  spec/jobs/further_education_payments/provider_overdue_chaser_job_spec.rb
  spec/jobs/further_education_payments/provider_weekly_update_job_spec.rb
  spec/mailers/further_education_payments_mailer_spec.rb
Due: standard

update docs about BigQuery
  docs/big-query.md
Due: prettier

add backdated adr for AKS/terraform work
  docs/architecture-decisions/0013-azure-kubernetes.md
Due: prettier

CAPT-2966 - Namespace EligibleEyProvider
  app/controllers/admin/eligible_ey_providers_controller.rb
  app/controllers/admin/journey_configurations_controller.rb
  app/forms/admin/eligible_ey_providers_form.rb
  app/forms/journeys/early_years_payment/provider/authenticated/contract_type_form.rb
  app/forms/journeys/early_years_payment/provider/authenticated/current_nursery_form.rb
  app/forms/journeys/early_years_payment/provider/authenticated/paye_reference_form.rb
  app/forms/journeys/early_years_payment/provider/authenticated/start_date_form.rb
  app/forms/journeys/early_years_payment/provider/start/email_address_form.rb
  app/models/eligible_ey_provider.rb
  app/models/eligible_ey_providers_importer.rb
  app/models/journeys/early_years_payment/provider/authenticated/answers_presenter.rb
  app/models/journeys/early_years_payment/provider/authenticated/session_answers.rb
  app/models/policies/early_years_payments/eligible_ey_provider.rb
  app/models/policies/early_years_payments/eligible_ey_providers_importer.rb
  db/migrate/20251107134346_update_eligible_ey_provider_model_strings.rb
  db/schema.rb
  spec/factories/eligible_ey_providers.rb
  spec/features/admin/eligible_ey_providers_spec.rb
  spec/features/early_years_payment/provider/authenticated/changing_answers_spec.rb
  spec/models/eligible_ey_provider_spec.rb
  spec/models/eligible_ey_providers_importer_spec.rb
  spec/models/journeys/early_years_payment/provider/authenticated/answers_presenter_spec.rb
  spec/support/steps/early_years_provider_journey_authenticated.rb
  spec/support/steps/eligible_ey_providers.rb
Due: standard

Redirect unless submitted claim id present
  app/controllers/claims_controller.rb
Due: standard

Set submitted_claim_id
  app/forms/journeys/early_years_payment/provider/alternative_idv/check_answers_form.rb
  app/forms/journeys/early_years_payment/provider/alternative_idv/confirmation_form.rb
Due: standard

use supported OL button for sign out
  app/assets/stylesheets/components/button_to.scss
  app/views/shared/_one_login_header.html.erb
Due: prettier

Fix spec
  spec/features/admin/tasks/further_education_payments/fe_provider_verification_v2_spec.rb
Due: standard

Reorder options
  app/models/policies/further_education_payments/admin_tasks_presenter.rb
  spec/models/policies/further_education_payments/admin_tasks_presenter_spec.rb
Due: standard

Automate task passing / failing
  app/models/automated_checks/claim_verifiers/fe_provider_verification_v2.rb
  spec/models/automated_checks/claim_verifiers/fe_provider_verification_v2_spec.rb
Due: standard

Simplify slug sequence
  app/models/journeys/further_education_payments/slug_sequence.rb
Due: standard

Add contract duration to admin presenter
  app/models/policies/further_education_payments/admin_tasks_presenter.rb
  spec/models/policies/further_education_payments/admin_tasks_presenter_spec.rb
Due: standard

Add failed check scenarios
  app/models/automated_checks/claim_verifiers/fe_provider_verification_v2.rb
  spec/models/automated_checks/claim_verifiers/fe_provider_verification_v2_spec.rb
Due: standard

Handle edge case
  app/models/policies/further_education_payments/admin_tasks_presenter.rb
  spec/models/policies/further_education_payments/admin_tasks_presenter_spec.rb
Due: standard

herb gem now part of bundle
  .github/workflows/ci.yaml
  Gemfile
  Gemfile.lock
Due: none

Move herb into gem file
  .github/workflows/ci.yaml
  Gemfile
  Gemfile.lock
Due: none

move shared method to single location where used
  app/controllers/claims_controller.rb
  app/controllers/concerns/journey_concern.rb
Due: standard

remove method which is never utilised
  app/controllers/base_public_controller.rb
Due: standard

CAPT-2995 - migration to fix the target-data-model typo
  db/migrate/20251113153739_fix_file_uploads_ey_target_data_model.rb
  db/schema.rb
Due: standard

Add overdue verification chaser email
  app/jobs/further_education_payments/providers/overdue_chaser_email_job.rb
  app/mailers/application_mailer.rb
  app/mailers/further_education_payments_mailer.rb
  app/models/policies/further_education_payments.rb
  app/models/policies/further_education_payments/eligibility.rb
  config/recurring.yml
  spec/jobs/further_education_payments/providers/overdue_chaser_email_job_spec.rb
Due: standard

extend FE SLA
  app/models/policies/further_education_payments.rb
  spec/features/admin/admin_view_full_claim_further_education_payments_spec.rb
  spec/models/policies/further_education_payments_spec.rb
Due: standard

extend SLA from 13 weeks => 19 weeks
  app/models/claim.rb
  spec/features/admin/admin_view_full_claim_early_years_payments_spec.rb
  spec/features/admin/admin_view_full_claim_further_education_payments_spec.rb
  spec/helpers/admin/claims_helper_spec.rb
  spec/models/base_policy_spec.rb
  spec/models/policies/early_years_payments_spec.rb
  spec/models/policies/further_education_payments_spec.rb
Due: standard

upgrade postgres apk 16.10-r0 => 16.11-r0
  Dockerfile
Due: none

swap ordering of provider verified claims stats
  app/views/further_education_payments/providers/verified_claims/index.html.erb
Due: none

min height for card component for better alignment
  app/assets/stylesheets/components/card.scss
Due: prettier

FE provider dashboard verified stats
  app/controllers/further_education_payments/providers/base_controller.rb
  app/controllers/further_education_payments/providers/verified_claims_controller.rb
  app/models/claim.rb
  app/models/further_education_payments/providers/claims/stats.rb
  app/models/payment.rb
  app/views/further_education_payments/providers/verified_claims/index.html.erb
  spec/factories/claims.rb
  spec/factories/policies/further_education_payments/eligibilities.rb
  spec/models/further_education_payments/providers/claims/stats_spec.rb
Due: standard

provider stats includes topups
  app/models/further_education_payments/providers/claims/stats.rb
  app/views/further_education_payments/providers/verified_claims/index.html.erb
  spec/models/further_education_payments/providers/claims/stats_spec.rb
Due: standard

FE provider dashboard scoped to academic year
  app/controllers/further_education_payments/providers/base_controller.rb
Due: standard

fix rebase
  app/models/further_education_payments/providers/claims/stats.rb
Due: standard

replace pluck with select
  app/models/further_education_payments/providers/claims/stats.rb
Due: standard

remove unused code
  app/models/further_education_payments/providers/claims/stats.rb
Due: standard

CAPT-2894 - logic for teaching start year mistmatch and flag
  app/forms/journeys/further_education_payments/check_your_answers_form.rb
  app/models/policies/further_education_payments.rb
  app/models/policies/further_education_payments/eligibility.rb
  config/analytics.yml
  db/migrate/20251114121856_add_flagged_as_mismatch_on_teaching_start_year_to_fe_eligibilities.rb
  db/schema.rb
  spec/forms/journeys/further_education_payments/check_your_answers_form_spec.rb
Due: standard

CAPT-2894 - Send FE year 1 mismatch rejection email
  app/mailers/application_mailer.rb
  app/mailers/claim_mailer.rb
  app/models/policies/further_education_payments.rb
  config/locales/en.yml
  spec/features/admin/admin_reject_claim_spec.rb
  spec/mailers/claim_mailer_spec.rb
Due: standard
