Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{css,html,js,js.erb,json,md,scss}"
      run: rails prettier {staged_files}
      skip:
        - merge
        - rebase
    standard:
      glob: "*.rb"
      run: rails standard {staged_files}
      skip:
        - merge
        - rebase

Fix line width
  app/views/admin/task_lists/index.html.erb
Due: none

Eager load verified by
  app/models/admin/task_list_form.rb
Due: standard

Extract base class
  app/models/policies/claim_checking_tasks.rb
  app/models/policies/early_career_payments/claim_checking_tasks.rb
  app/models/policies/early_years_payments/claim_checking_tasks.rb
  app/models/policies/further_education_payments/claim_checking_tasks.rb
  app/models/policies/international_relocation_payments/claim_checking_tasks.rb
  app/models/policies/student_loans/claim_checking_tasks.rb
  app/models/policies/targeted_retention_incentive_payments/claim_checking_tasks.rb
Due: standard

Display claim assignee
  app/models/admin/task_list_form.rb
  app/views/admin/task_lists/index.html.erb
Due: standard

Move buttons
  app/views/admin/task_lists/index.html.erb
Due: none

Add support for assignee filtering
  app/controllers/admin/task_lists_controller.rb
  app/models/admin/task_list_form.rb
  app/views/admin/task_lists/index.html.erb
  spec/models/admin/task_list_form_spec.rb
Due: standard

Display decision deadline
  app/models/admin/task_list_form.rb
  app/views/admin/task_lists/index.html.erb
Due: standard

Don't break row on names
  app/views/admin/task_lists/index.html.erb
Due: none

Use task_exists?
  app/models/policies/claim_checking_tasks.rb
  app/models/policies/early_career_payments/claim_checking_tasks.rb
  app/models/policies/early_years_payments/claim_checking_tasks.rb
  app/models/policies/further_education_payments/claim_checking_tasks.rb
  app/models/policies/international_relocation_payments/claim_checking_tasks.rb
  app/models/policies/student_loans/claim_checking_tasks.rb
  app/models/policies/targeted_retention_incentive_payments/claim_checking_tasks.rb
Due: standard

Constrain table
  app/assets/stylesheets/components/container.scss
  app/views/admin/task_lists/index.html.erb
Due: prettier

Admin tasks list overview
  app/controllers/admin/task_lists_controller.rb
  app/models/admin/task_list_form.rb
  app/views/admin/task_lists/index.html.erb
  config/routes.rb
  spec/models/admin/task_list_form_spec.rb
Due: standard

And between tasks
  app/controllers/admin/task_lists_controller.rb
  app/models/admin/task_list_form.rb
  app/views/admin/task_lists/index.html.erb
  spec/features/admin/task_lists_spec.rb
  spec/models/admin/task_list_form_spec.rb
Due: standard

Handle missing deadline data (ey claims)
  app/views/admin/task_lists/index.html.erb
Due: none

Update on hold copy
  app/views/admin/task_lists/index.html.erb
Due: none

Display held status
  app/models/admin/task_list_form.rb
  app/views/admin/task_lists/index.html.erb
Due: standard

Add ability to skip matching claims check
  app/models/policies/claim_checking_tasks.rb
Due: standard

Exclude matching details
  app/models/admin/task_list_form.rb
Due: standard

Add ability to export page to CSV
  app/controllers/admin/task_lists_controller.rb
  app/models/admin/task_list_form.rb
  app/views/admin/task_lists/index.html.erb
Due: standard

Display number of claims returned
  app/models/admin/task_list_form.rb
  app/views/admin/task_lists/index.html.erb
Due: standard

Treat no data as incomplete for filtering purposes
  app/models/admin/task_list_form.rb
Due: standard

CAPT-3030: Generate TRS data load spreadsheet from user personas (#4320)
  app/models/policies/targeted_retention_incentive_payments/test/school_workforce_census_generator.rb
  app/models/policies/targeted_retention_incentive_payments/test/trs_data_generator.rb
  app/models/policies/targeted_retention_incentive_payments/test/user_persona.rb
  lib/tasks/trs_test_data.rake
  spec/fixtures/files/targeted_retention_incentive_payments_personas.csv
  spec/models/policies/targeted_retention_incentive_payments/test/school_workforce_census_generator_spec.rb
  spec/models/policies/targeted_retention_incentive_payments/test/trs_data_generator_spec.rb
  spec/models/policies/targeted_retention_incentive_payments/test/user_persona_spec.rb
  spec/personas/targeted_retention_incentive_payments.csv
Due: standard

Add teacher_reference_number
  app/forms/journeys/early_years_teachers/practitioner/gender_form.rb
  app/forms/journeys/early_years_teachers/provider/provide_teacher_details_form.rb
  app/models/journeys/early_years_teachers/provider/session_answers.rb
  app/views/early_years_teachers/provider/claims/_teacher_card.html.erb
  app/views/early_years_teachers/provider/claims/provide_teacher_details.html.erb
  config/locales/early_years_teachers_provider.yml
Due: standard

generate TPS CSVs from personas
  app/models/policies/targeted_retention_incentive_payments/test/teachers_pensions_service_generator.rb
  spec/models/policies/targeted_retention_incentive_payments/test/teachers_pensions_service_generator_spec.rb
Due: standard

school importer now idempotent
  app/models/policies/targeted_retention_incentive_payments/test/school_importer.rb
  spec/models/policies/targeted_retention_incentive_payments/test/school_importer_spec.rb
Due: standard

STRI awards generator returns unique schools
  app/models/policies/targeted_retention_incentive_payments/test/stri_awards_generator.rb
  spec/models/policies/targeted_retention_incentive_payments/test/stri_awards_generator_spec.rb
Due: standard

Spike prototype for practitioner only journey
  app/assets/javascripts/components/school_search_field.js
  app/controllers/nursery_searches_controller.rb
  app/forms/journeys/early_years_teachers/practitioner/check_your_answers_part_one_form.rb
  app/forms/journeys/early_years_teachers/practitioner/employer_ref_form.rb
  app/forms/journeys/early_years_teachers/practitioner/national_insurance_number_form.rb
  app/forms/journeys/early_years_teachers/practitioner/select_nursery_form.rb
  app/forms/journeys/early_years_teachers/practitioner/teacher_reference_number_form.rb
  app/models/journeys/early_years_teachers/practitioner.rb
  app/models/journeys/early_years_teachers/practitioner/answers_presenter.rb
  app/models/journeys/early_years_teachers/practitioner/session_answers.rb
  app/models/journeys/early_years_teachers/practitioner/slug_sequence.rb
  app/views/early_years_teachers/practitioner/claims/check_your_answers_part_one.html.erb
  app/views/early_years_teachers/practitioner/claims/employer_ref.html.erb
  app/views/early_years_teachers/practitioner/claims/national_insurance_number.html.erb
  app/views/early_years_teachers/practitioner/claims/select_nursery.html.erb
  app/views/early_years_teachers/practitioner/claims/teacher_reference_number.html.erb
  config/locales/early_years_teachers_practitioner.yml
  config/routes.rb
Due: prettier, standard

seed persona data in review apps
  app/models/policies/targeted_retention_incentive_payments/test/school_workforce_census_generator.rb
  app/models/policies/targeted_retention_incentive_payments/test/stri_awards_generator.rb
  app/models/policies/targeted_retention_incentive_payments/test/teachers_pensions_service_generator.rb
  app/models/policies/targeted_retention_incentive_payments/test/user_persona.rb
  db/seeds.rb
Due: standard

Initial mapping docs for TRA v3 API
  docs/dqt_api_v3_mapping.md
Due: prettier

Add interface methods
  app/models/base_policy.rb
  app/models/policies/early_years_payments.rb
  app/models/policies/further_education_payments.rb
Due: standard

seed persona data in review apps
  app/models/policies/targeted_retention_incentive_payments/test/school_workforce_census_generator.rb
  app/models/policies/targeted_retention_incentive_payments/test/stri_awards_generator.rb
  app/models/policies/targeted_retention_incentive_payments/test/teachers_pensions_service_generator.rb
  app/models/policies/targeted_retention_incentive_payments/test/user_persona.rb
  db/seeds.rb
  spec/models/policies/targeted_retention_incentive_payments/test/school_workforce_census_generator_spec.rb
  spec/models/policies/targeted_retention_incentive_payments/test/stri_awards_generator_spec.rb
  spec/models/policies/targeted_retention_incentive_payments/test/teachers_pensions_service_generator_spec.rb
  spec/models/policies/targeted_retention_incentive_payments/test/user_persona_spec.rb
Due: standard

Update decision and payment copy for schools
  app/forms/journeys/confirmation_form.rb
  app/views/student_loans/claims/confirmation.html.erb
  app/views/submissions/_confirmation.html.erb
  app/views/targeted_retention_incentive_payments/claims/confirmation.html.erb
Due: standard

Remove TRN from FE journey
  app/forms/journeys/further_education_payments/teacher_reference_number_form.rb
  app/models/journeys/further_education_payments/answers_presenter.rb
  app/models/journeys/further_education_payments/slug_sequence.rb
  app/views/further_education_payments/providers/claims/verifications/_claim_summary.html.erb
  app/views/further_education_payments/providers/claims/verifications/_collapsible_claim_details.html.erb
  app/views/further_education_payments/providers/verified_claims/_employment_check_failed.html.erb
  app/views/further_education_payments/providers/verified_claims/_verified.html.erb
  config/locales/further_education_payments.yml
  spec/features/accessing_closed_service_spec.rb
  spec/features/further_education_payments/change_answers_spec.rb
  spec/features/further_education_payments/claimed_last_year_spec.rb
  spec/features/further_education_payments/existing_one_login_spec.rb
  spec/features/further_education_payments/happy_js_path_spec.rb
  spec/features/further_education_payments/happy_path_spec.rb
  spec/features/further_education_payments/one_login_without_idv_spec.rb
  spec/features/further_education_payments/previously_claimed_spec.rb
  spec/features/further_education_payments/providers/provider_verification_access_spec.rb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
  spec/features/further_education_payments/providers/provider_verifying_with_claimant_courses_spec.rb
  spec/features/further_education_payments/variable_contract_spec.rb
  spec/features/journey_session_expiry_spec.rb
  spec/forms/journeys/further_education_payments/teacher_reference_number_form_spec.rb
  spec/support/steps/further_education_journey.rb
Due: standard

tweak QA failed provider verification report
  app/models/reports/failed_fe_provider_verification_v2.rb
  spec/models/reports/failed_fe_provider_verification_v2_spec.rb
Due: standard

make private methods private
  app/models/reports/failed_fe_provider_verification_v2.rb
Due: standard

QA report only selects approved claims
  app/models/reports/failed_fe_provider_verification_v2.rb
  spec/models/reports/failed_fe_provider_verification_v2_spec.rb
Due: standard

Fix cookie overflow
  app/controllers/admin/task_lists_controller.rb
Due: standard

Copy update
  config/locales/further_education_payments.yml
  spec/features/admin/admin_view_full_claim_further_education_payments_spec.rb
  spec/features/further_education_payments/bypass_one_login_spec.rb
  spec/features/further_education_payments/change_answers_spec.rb
  spec/features/further_education_payments/claimed_last_year_spec.rb
  spec/features/further_education_payments/existing_one_login_spec.rb
  spec/features/further_education_payments/happy_js_path_spec.rb
  spec/features/further_education_payments/happy_path_spec.rb
  spec/features/further_education_payments/ineligible_paths_spec.rb
  spec/features/further_education_payments/jump_around_spec.rb
  spec/features/further_education_payments/one_login_resume_spec.rb
  spec/features/further_education_payments/one_login_without_idv_spec.rb
  spec/features/further_education_payments/previously_claimed_spec.rb
  spec/features/further_education_payments/variable_contract_spec.rb
  spec/features/journey_session_expiry_spec.rb
  spec/models/journeys/further_education_payments/answers_presenter_spec.rb
  spec/models/policies/further_education_payments/eligibility_admin_answers_presenter_spec.rb
Due: standard

CAPT-3155: Remove support tickets functionality
  app/controllers/admin/support_tickets_controller.rb
  app/models/claim.rb
  app/models/support_ticket.rb
  app/views/admin/notes/index.html.erb
  app/views/admin/support_tickets/_widget.html.erb
  config/analytics.yml
  config/routes.rb
  db/migrate/20260129172243_migrate_support_tickets_to_notes.rb
  db/schema.rb
  db/test_seeders/base_importer.rb
  spec/factories/claims.rb
  spec/factories/support_tickets.rb
  spec/features/admin/admin_claim_support_tickets_spec.rb
  spec/models/claim_spec.rb
  spec/models/support_ticket_spec.rb
  spec/requests/admin/admin_support_tickets_spec.rb
Due: standard

Restore records in down migration
  db/migrate/20260129172243_migrate_support_tickets_to_notes.rb
Due: standard
