Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{css,html,js,js.erb,json,md,scss}"
      run: rails prettier {staged_files}
      skip:
        - merge
        - rebase
    standard:
      glob: "*.rb"
      run: rails standard {staged_files}
      skip:
        - merge
        - rebase

Send a notification when analytics file changes
  .github/workflows/notify-schema-change.yml
Due: none

Copy and styling changes for EY
  app/forms/bank_details_form.rb
  app/forms/journeys/early_years_payment/practitioner/bank_details_form.rb
  app/models/journeys/early_years_payment/practitioner.rb
  app/views/claims/_check_your_answers_section.html.erb
  app/views/claims/_mobile_number.html.erb
  app/views/claims/_one_time_password.html.erb
  app/views/claims/_personal_details_page.html.erb
  app/views/claims/_provide_mobile_number.html.erb
  app/views/claims/_sign_in_2_authed.html.erb
  app/views/claims/_sign_in_3_identified.html.erb
  app/views/claims/_sign_in_3_not_identified.html.erb
  app/views/claims/gender.html.erb
  app/views/claims/mobile_number.html.erb
  app/views/claims/personal_bank_account.html.erb
  app/views/early_years_payment/practitioner/claims/_ineligibility_claim_already_submitted.html.erb
  app/views/early_years_payment/practitioner/claims/_ineligibility_reference_number_not_found.html.erb
  app/views/early_years_payment/practitioner/claims/check_your_answers.html.erb
  app/views/early_years_payment/practitioner/claims/mobile_number.html.erb
  config/locales/en.yml
  spec/features/admin/admin_ey_tasks_spec.rb
  spec/features/admin/eligible_ey_providers_spec.rb
  spec/features/early_years_payment/practitioner/find_reference_spec.rb
  spec/features/early_years_payment/practitioner/happy_path_spec.rb
  spec/features/early_years_payment/practitioner/mobile_number_spec.rb
  spec/support/steps/early_years_practitioner_journey.rb
Due: standard

EY consent form is now HTML
  app/assets/pdfs/ey-provider-practitioner-consent-form.pdf
  app/controllers/journeys/early_years_payment/provider/start/static_pages_controller.rb
  app/views/early_years_payment/provider/start/consent_form.html.erb
  app/views/early_years_payment/provider/start/landing_page.html.erb
  app/views/layouts/bare.html.erb
  app/views/shared/_document.html.erb
  app/views/shared/_generic_document_icon.html.erb
  app/views/shared/_pdf_document_icon.html.erb
  config/routes.rb
  spec/features/early_years_payment/provider/start/documents_spec.rb
Due: standard

EY tweak email form for better a11y
  app/views/early_years_payment/provider/start/claims/email_address.html.erb
  spec/features/admin/admin_ey_tasks_spec.rb
  spec/features/early_years_payment/provider/start/happy_path_spec.rb
  spec/features/early_years_payment/provider/start/ineligible_email_spec.rb
  spec/support/steps/early_years_provider_journey_start.rb
Due: standard

Add convenience methods
  app/models/feature_flag.rb
Due: standard

Add form for test users to set return codes
  app/controllers/omniauth_callbacks_controller.rb
  app/views/claims/_sign_in_2_authed.html.erb
  app/views/claims/_sign_in_2_bypass.html.erb
  spec/features/admin/admin_ey_tasks_spec.rb
Due: standard

touch
  README.md
Due: prettier

Move setting answers attribute into the base class
  app/models/journeys/additional_payments_for_teaching/session.rb
  app/models/journeys/early_years_payment/practitioner/session.rb
  app/models/journeys/early_years_payment/provider/authenticated/session.rb
  app/models/journeys/early_years_payment/provider/start/session.rb
  app/models/journeys/further_education_payments/provider/session.rb
  app/models/journeys/further_education_payments/session.rb
  app/models/journeys/get_a_teacher_relocation_payment/session.rb
  app/models/journeys/session.rb
  app/models/journeys/teacher_student_loan_reimbursement/session.rb
Due: standard

Move methods off sessions
  app/forms/journeys/additional_payments_for_teaching/correct_school_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/select_claim_school_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/still_teaching_form.rb
  app/models/journeys/additional_payments_for_teaching/slug_sequence.rb
  app/models/journeys/session.rb
  app/models/journeys/session_answers.rb
  app/models/journeys/teacher_student_loan_reimbursement/session_answers.rb
  app/models/journeys/teacher_student_loan_reimbursement/slug_sequence.rb
Due: standard

Pass reference to a session to answers
  app/models/journeys/additional_payments_for_teaching/session.rb
  app/models/journeys/early_years_payment/practitioner/session.rb
  app/models/journeys/early_years_payment/provider/authenticated/session.rb
  app/models/journeys/early_years_payment/provider/start/session.rb
  app/models/journeys/further_education_payments/provider/session.rb
  app/models/journeys/further_education_payments/session.rb
  app/models/journeys/get_a_teacher_relocation_payment/session.rb
  app/models/journeys/session_answers.rb
  app/models/journeys/teacher_student_loan_reimbursement/session.rb
Due: standard

set security headers
  app/controllers/application_controller.rb
  spec/controllers/application_controller_spec.rb
Due: standard

CAPT-2314 Add aria and tabindex attributes to remove image from accessibility tree
  app/views/early_years_payment/provider/start/landing_page.html.erb
  app/views/shared/_document.html.erb
  app/views/shared/_generic_document_icon.html.erb
Due: none

Fix missing nursery name in report
  app/models/policies/early_years_payments/eligibility.rb
Due: standard

fix admin accepting cookies before auth
  app/controllers/admin/base_admin_controller.rb
  app/controllers/admin/cookies_controller.rb
  spec/features/admin/admin_sessions_spec.rb
Due: standard

Add landmark for screen readers
  app/views/shared/_backlink.html.erb
Due: none

remove fieldset from EY consent checkbox
  app/views/early_years_payment/provider/authenticated/claims/consent.html.erb
Due: none

Highlight sign out on focus
  app/assets/stylesheets/components/button_to.scss
Due: prettier

remove duplication in address labels
  app/views/claims/_address_fields.html.erb
  config/locales/en.yml
Due: none

remove superfluous controller concern
  app/controllers/base_public_controller.rb
  app/controllers/concerns/session_management.rb
Due: standard

remove superfluous controller concern
  app/controllers/admin/base_admin_controller.rb
  app/controllers/concerns/admin_session_timeout.rb
  spec/requests/admin/admin_timeout_spec.rb
Due: standard

add signed out page for EY practitioner journey
  app/controllers/claims_controller.rb
  app/controllers/deauth_controller.rb
  app/models/journeys/early_years_payment/practitioner/slug_sequence.rb
  app/models/journeys/further_education_payments/slug_sequence.rb
  app/views/early_years_payment/practitioner/claims/signed_out.html.erb
  config/routes.rb
  spec/features/early_years_payment/practitioner/signing_out_spec.rb
Due: standard

Rename methods
  app/models/automated_checks/claim_verifiers/early_years_payments/identity.rb
Due: standard

Strip whitespace
  app/models/policies/early_years_payments/eligibility.rb
  spec/models/policies/early_years_payments/eligibility_spec.rb
Due: standard

WIP
  app/models/concerns/eligibility_checkable.rb
Due: standard

CAPT-2308 add autocomplete to fields
  app/views/claims/_address_fields.html.erb
  app/views/claims/personal_bank_account.html.erb
  app/views/claims/postcode_search.html.erb
  app/views/early_years_payment/provider/authenticated/claims/check_your_answers.html.erb
  app/views/early_years_payment/provider/authenticated/claims/claimant_name.html.erb
Due: none

Move prepare-database step to before terraform-apply in order to ensure dfe-analytics initialisation in the web process
  .github/actions/deploy-environment/action.yml
Due: none

Move prepare-database step to before terraform-apply in order to ensure dfe-analytics initialisation in the web process (#3701)
  .github/actions/deploy-environment/action.yml
Due: none

Move no_selectable_subjects?
  app/models/concerns/eligibility_checkable.rb
  app/models/policies/early_career_payments/policy_eligibility_checker.rb
Due: standard

allow empty rows in payment confirmation CSV
  app/models/payment_confirmation_upload.rb
  spec/models/payment_confirmation_upload_spec.rb
Due: standard

Get provider from eligibility
  app/models/policies/early_years_payments/admin_claim_details_presenter.rb
Due: standard
