Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{css,html,js,js.erb,json,md,scss}"
      run: rails prettier {staged_files}
      skip:
        - merge
        - rebase
    standard:
      glob: "*.rb"
      run: rails standard {staged_files}
      skip:
        - merge
        - rebase

feat: Adding new credential veriables for CAPT
  .github/actions/deploy-environment/action.yml
  .github/workflows/build_and_deploy.yml
  .github/workflows/database_backup.yml
  .github/workflows/database_restore.yml
  .github/workflows/delete_review_app.yml
  .github/workflows/maintenance.yml
  .github/workflows/postgres-ptr.yml
  Makefile
  terraform/application/terraform.tf
Due: none

feat: Keyvault change
  .github/workflows/database_backup.yml
Due: none

Revert "feat: Adding new credential veriables for CAPT"
  .github/actions/deploy-environment/action.yml
  .github/workflows/build_and_deploy.yml
  .github/workflows/database_backup.yml
  .github/workflows/database_restore.yml
  .github/workflows/delete_review_app.yml
  .github/workflows/maintenance.yml
  .github/workflows/postgres-ptr.yml
  Makefile
  terraform/application/terraform.tf
Due: none

Revert "feat: Keyvault change"
  .github/workflows/database_backup.yml
Due: none

feat: Database backup id token and credentials
  .github/workflows/database_backup.yml
Due: none

add db backed Stat model
  app/models/stat.rb
  db/migrate/20250213153245_create_stats_table.rb
  db/schema.rb
Due: standard

handle and store OL return codes
  app/controllers/omniauth_callbacks_controller.rb
  config/initializers/omniauth.rb
  spec/requests/omniauth_callbacks_controller_spec.rb
Due: standard

update DfE analytics config for stats
  config/analytics.yml
Due: none

feat: Adding namespace to workflow
  .github/workflows/database_backup.yml
Due: none

Add name / dob fields to analytics for FE only
  config/analytics.yml
  config/analytics_hidden_pii.yml
  config/initializers/dfe_analytics.rb
  spec/lib/analytics_importer_spec.rb
Due: standard

only remove selected courses if no longer taught
  app/forms/journeys/further_education_payments/building_construction_courses_form.rb
  app/forms/journeys/further_education_payments/chemistry_courses_form.rb
  app/forms/journeys/further_education_payments/computing_courses_form.rb
  app/forms/journeys/further_education_payments/early_years_courses_form.rb
  app/forms/journeys/further_education_payments/engineering_manufacturing_courses_form.rb
  app/forms/journeys/further_education_payments/maths_courses_form.rb
  app/forms/journeys/further_education_payments/physics_courses_form.rb
Due: standard

subjects taught answers no longer cleared
  app/forms/journeys/further_education_payments/subjects_taught_form.rb
  spec/forms/journeys/further_education_payments/subjects_taught_form_spec.rb
Due: standard

FE teaching start year answers no longer cleared
  app/forms/journeys/further_education_payments/further_education_teaching_start_year_form.rb
  spec/forms/journeys/further_education_payments/further_education_teaching_start_year_form_spec.rb
Due: standard

change answer supports multiple check answers page
  app/forms/form.rb
  app/forms/journeys/further_education_payments/teaching_qualification_form.rb
  app/forms/poor_performance_form.rb
  app/models/journeys/navigator.rb
  app/views/claims/_check_your_answers_section.html.erb
  app/views/further_education_payments/claims/_courses.html.erb
  app/views/further_education_payments/claims/contract_type.html.erb
  app/views/further_education_payments/claims/fixed_term_contract.html.erb
  app/views/further_education_payments/claims/further_education_teaching_start_year.html.erb
  app/views/further_education_payments/claims/half_teaching_hours.html.erb
  app/views/further_education_payments/claims/hours_teaching_eligible_subjects.html.erb
  app/views/further_education_payments/claims/poor_performance.html.erb
  app/views/further_education_payments/claims/postcode_search.html.erb
  app/views/further_education_payments/claims/subjects_taught.html.erb
  app/views/further_education_payments/claims/taught_at_least_one_term.html.erb
  app/views/further_education_payments/claims/teacher_reference_number.html.erb
  app/views/further_education_payments/claims/teaching_hours_per_week.html.erb
  app/views/further_education_payments/claims/teaching_hours_per_week_next_term.html.erb
  app/views/further_education_payments/claims/teaching_responsibilities.html.erb
  spec/features/further_education_payments/change_answers_spec.rb
  spec/forms/journeys/further_education_payments/teaching_qualification_form_spec.rb
  spec/forms/poor_performance_form_spec.rb
Due: standard

half teaching hours answers no longer cleared
  app/forms/journeys/further_education_payments/half_teaching_hours_form.rb
  spec/features/further_education_payments/change_answers_spec.rb
  spec/forms/journeys/further_education_payments/half_teaching_hours_form_spec.rb
Due: standard

implement change answer for navigator
  app/forms/form.rb
  app/models/journeys/navigator.rb
  app/views/claims/_check_your_answers_section.html.erb
  app/views/claims/_confirmation_form.html.erb
  app/views/claims/_current_school_search.html.erb
  app/views/claims/_current_school_search_results.html.erb
  app/views/claims/_email_address.html.erb
  app/views/claims/_mobile_number.html.erb
  app/views/claims/_one_time_password.html.erb
  app/views/claims/_personal_details_page.html.erb
  app/views/claims/_provide_mobile_number.html.erb
  app/views/claims/_sign_in_3_identified.html.erb
  app/views/claims/address.html.erb
  app/views/claims/correct_school.html.erb
  app/views/claims/gender.html.erb
  app/views/claims/personal_bank_account.html.erb
  app/views/claims/postcode_search.html.erb
  app/views/claims/reset_claim.erb
  app/views/claims/select_email.html.erb
  app/views/claims/select_home_address.html.erb
  app/views/claims/select_mobile.html.erb
  app/views/claims/teacher_reference_number.html.erb
  spec/features/changing_answers_spec.rb
  spec/features/combined_teacher_claim_journey_with_teacher_id_check_mobile_spec.rb
  spec/features/early_years_payment/provider/authenticated/changing_answers_spec.rb
  spec/features/further_education_payments/change_answers_spec.rb
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/features/levelling_up_premium_payments_spec.rb
  spec/features/tslr/tslr_claim_journey_with_teacher_id_check_mobile_spec.rb
Due: standard

test change answer with side effects
  spec/features/further_education_payments/change_answers_spec.rb
Due: standard

use govuk_summary_list component for answers
  app/views/claims/_check_your_answers_section.html.erb
Due: none

feat:Adding namespace
  .github/workflows/database_restore.yml
Due: none

migration to add renamed TRI tables
  db/migrate/20250210114746_create_targeted_retention_incentive_payments_eligibilities.rb
  db/migrate/20250210115829_create_targeted_retention_incentive_payments_awards.rb
  db/schema.rb
Due: standard

feat:Adding maintenance workflow
  .github/workflows/maintenance.yml
Due: none

Stat is now an STI model
  app/controllers/omniauth_callbacks_controller.rb
  app/models/stats/one_login.rb
  config/analytics.yml
  db/migrate/20250214095211_add_type_to_stats.rb
  db/schema.rb
  spec/requests/omniauth_callbacks_controller_spec.rb
Due: standard

Flag 10% of rejected claims for QA
  app/models/claim.rb
  app/models/policies/early_career_payments.rb
  app/models/policies/early_years_payments.rb
  app/models/policies/further_education_payments.rb
  app/models/policies/international_relocation_payments.rb
  app/models/policies/levelling_up_premium_payments.rb
  app/models/policies/student_loans.rb
  spec/features/admin/admin_reject_claim_spec.rb
  spec/models/claim_spec.rb
  spec/support/stubbing_helpers.rb
Due: standard

Rename const
  app/models/claim.rb
  app/models/policies/early_career_payments.rb
  app/models/policies/early_years_payments.rb
  app/models/policies/further_education_payments.rb
  app/models/policies/international_relocation_payments.rb
  app/models/policies/levelling_up_premium_payments.rb
  app/models/policies/student_loans.rb
  spec/features/admin/approvals_spec.rb
  spec/models/claim_spec.rb
  spec/support/admin_checks_feature_shared_examples.rb
  spec/support/stubbing_helpers.rb
Due: standard

Make expected_personalisation optional
  spec/support/have_received_email_matcher.rb
Due: standard

Rate limit file uploads
  app/controllers/admin/eligible_ey_providers_controller.rb
  app/controllers/admin/eligible_fe_providers_controller.rb
  app/controllers/admin/fraud_risk_csv_uploads_controller.rb
  app/controllers/admin/payment_confirmation_report_uploads_controller.rb
  app/controllers/admin/qualification_report_uploads_controller.rb
  app/controllers/admin/school_workforce_census_data_uploads_controller.rb
  app/controllers/admin/student_loans_data_uploads_controller.rb
  app/controllers/admin/tps_data_uploads_controller.rb
Due: standard

only create tables if they exists
  db/migrate/20250210114746_create_targeted_retention_incentive_payments_eligibilities.rb
  db/migrate/20250210115829_create_targeted_retention_incentive_payments_awards.rb
Due: standard

Only create indexes if they exists
  db/migrate/20250210114746_create_targeted_retention_incentive_payments_eligibilities.rb
  db/migrate/20250210115829_create_targeted_retention_incentive_payments_awards.rb
Due: standard

data migration for LUP to TRI
  db/migrate/20250214143033_redo_lup_to_tri_tables.rb
  db/migrate/20250214143034_migrate_lup_to_tri.rb
  db/schema.rb
Due: standard

Add current_academic_year to policy
  app/jobs/qualifications_no_match_check_job.rb
  app/jobs/student_loan_amount_check_job.rb
  app/models/automated_checks/claim_verifiers/employment.rb
  app/models/base_policy.rb
  app/models/concerns/eligibility_checkable.rb
  app/models/journeys/additional_payments_for_teaching/answers_presenter.rb
  app/models/policies/targeted_retention_incentive_payments/dqt_record.rb
  app/models/policies/targeted_retention_incentive_payments/eligibility.rb
  app/models/policies/targeted_retention_incentive_payments/school_eligibility.rb
  app/models/teachers_pensions_service.rb
  db/test_seeders/claims_importer.rb
  docs/claims_with_lup_uplifts_report.md
  spec/factories/journeys/additional_payments_for_teaching/session_answers.rb
  spec/factories/policies/early_career_payments/eligibilities.rb
  spec/factories/targeted_retention_incentive_payments/awards.rb
  spec/factories/targeted_retention_incentive_payments/eligibilities.rb
  spec/features/admin/admin_claim_tasks_update_with_dqt_api_spec.rb
Due: prettier, standard

data migration for claims LUP => TRI
  db/migrate/20250218150905_migrate_lup_claims_to_tri.rb
  db/schema.rb
Due: standard

Automatically define predicate methods for bools
  app/models/concerns/boolean_attributes.rb
  app/models/journeys/additional_payments_for_teaching/session_answers.rb
  app/models/journeys/further_education_payments/session_answers.rb
  app/models/journeys/session_answers.rb
  app/models/journeys/teacher_student_loan_reimbursement/session_answers.rb
Due: standard

feat: Adding new credential veriables for CAPT
  .github/workflows/database_backup.yml
Due: none

Adds service access code
  app/controllers/concerns/part_of_claim_journey.rb
  app/controllers/journeys/early_years_payment/provider/start/static_pages_controller.rb
  app/controllers/static_pages_controller.rb
  app/controllers/submissions_controller.rb
  app/forms/journeys/session_form.rb
  app/models/journeys/base.rb
  app/models/journeys/service_access_code.rb
  app/models/journeys/session.rb
  app/models/journeys/session_answers.rb
  app/views/additional_payments/landing_page.html.erb
  app/views/early_years_payment/provider/start/landing_page.html.erb
  app/views/further_education_payments/landing_page.html.erb
  app/views/get_a_teacher_relocation_payment/landing_page.html.erb
  app/views/student_loans/landing_page.html.erb
  config/analytics_blocklist.yml
  db/migrate/20250207140932_create_journeys_service_access_codes.rb
  db/schema.rb
  spec/factories/journeys/service_access_code.rb
  spec/features/accessing_closed_service_spec.rb
  spec/models/journeys/service_access_code_spec.rb
Due: standard

add beta survey link to EY journeys
  app/views/early_years_payment/practitioner/submissions/show.html.erb
  app/views/early_years_payment/provider/authenticated/submissions/show.html.erb
Due: none

Quick bug fix
  app/helpers/admin/claims_helper.rb
Due: standard

Remove slugs method
  app/controllers/concerns/form_submittable.rb
Due: standard
