Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{css,html,js,js.erb,json,md,scss}"
      run: rails prettier {staged_files}
      skip:
        - merge
        - rebase
    standard:
      glob: "*.rb"
      run: rails standard {staged_files}
      skip:
        - merge
        - rebase

Add session answers to anayltics block list
  config/analytics.yml
  config/analytics_blocklist.yml
Due: none

Add session answers to anayltics block list (#2973)
  config/analytics.yml
  config/analytics_blocklist.yml
Due: none

Add test environment app variables
  terraform/application/config/test_app_env.yml
Due: none

Add review environment app variables
  terraform/application/config/review_app_env.yml
Due: none

Add IRP notify templates
  app/mailers/application_mailer.rb
Due: standard

IRP review app
  README.md
Due: prettier

Copy production env vars from keyvault into code
  terraform/application/config/production_app_env.yml
Due: none

Clean up duplicate workflow steps with a matrix
  .github/workflows/build_and_deploy.yml
Due: none

LUPEYALPHA-556 - Check your answers part one for FE journey
  app/forms/journeys/further_education_payments/contract_type_form.rb
  app/forms/journeys/further_education_payments/further_education_teaching_start_year_form.rb
  app/forms/journeys/further_education_payments/subjects_taught_form.rb
  app/forms/journeys/further_education_payments/teaching_hours_per_week_form.rb
  app/forms/journeys/further_education_payments/teaching_qualification_form.rb
  app/models/journeys/further_education_payments/answers_presenter.rb
  app/models/journeys/further_education_payments/session_answers.rb
  app/models/journeys/further_education_payments/slug_sequence.rb
  app/views/further_education_payments/claims/check_your_answers_part_one.html.erb
  app/views/further_education_payments/claims/further_education_provision_search.html.erb
  app/views/further_education_payments/claims/further_education_teaching_start_year.html.erb
  app/views/further_education_payments/claims/half_teaching_hours.html.erb
  app/views/further_education_payments/claims/teaching_responsibilities.html.erb
  config/locales/en.yml
  spec/features/further_education_payments/happy_js_path_spec.rb
  spec/features/further_education_payments/happy_path_spec.rb
  spec/forms/journeys/further_education_payments/contract_type_form_spec.rb
  spec/forms/journeys/further_education_payments/teaching_hours_per_week_form_spec.rb
  spec/models/journeys/further_education_payments/answers_presenter_spec.rb
Due: standard

reset answers for contract type branching for FE
  app/forms/journeys/further_education_payments/contract_type_form.rb
  spec/forms/journeys/further_education_payments/contract_type_form_spec.rb
Due: standard

add fixed contract form for FE journey
  app/forms/journeys/further_education_payments/fixed_term_contract_form.rb
  app/models/journeys/further_education_payments.rb
  app/models/journeys/further_education_payments/session_answers.rb
  app/models/journeys/further_education_payments/slug_sequence.rb
  app/views/further_education_payments/claims/fixed_term_contract.html.erb
  config/locales/en.yml
  spec/features/further_education_payments/happy_path_spec.rb
  spec/forms/journeys/further_education_payments/fixed_term_contract_form_spec.rb
Due: standard

ineligible start again link goes to landing page
  app/views/further_education_payments/claims/_ineligible_must_teach_at_least_one_term.html.erb
Due: none

add ineligible one term sad path to FE journey
  app/models/journeys/further_education_payments/slug_sequence.rb
  app/models/policies/further_education_payments/policy_eligibility_checker.rb
  app/views/further_education_payments/claims/_ineligible_must_teach_at_least_one_term.html.erb
  spec/features/further_education_payments/ineligible_paths_spec.rb
  spec/forms/form_spec.rb
  spec/models/policies/further_education_payments/policy_eligibility_checker_spec.rb
Due: standard

fix linting
  app/forms/journeys/further_education_payments/fixed_term_contract_form.rb
  app/forms/journeys/further_education_payments/taught_at_least_one_term_form.rb
Due: standard

add taught one term page to FE journey
  app/forms/form.rb
  app/forms/journeys/further_education_payments/taught_at_least_one_term_form.rb
  app/models/journeys/further_education_payments.rb
  app/models/journeys/further_education_payments/session_answers.rb
  app/models/journeys/further_education_payments/slug_sequence.rb
  app/views/further_education_payments/claims/taught_at_least_one_term.html.erb
  config/locales/en.yml
  spec/features/further_education_payments/happy_path_spec.rb
  spec/forms/journeys/further_education_payments/taught_at_least_one_term_form_spec.rb
Due: standard

minor copy change: worked => taught
  app/forms/journeys/further_education_payments/taught_at_least_one_term_form.rb
  config/locales/en.yml
  spec/features/further_education_payments/happy_path_spec.rb
  spec/features/further_education_payments/ineligible_paths_spec.rb
  spec/forms/journeys/further_education_payments/taught_at_least_one_term_form_spec.rb
Due: standard

convert to use snakecase for stored values
  app/forms/journeys/further_education_payments/contract_type_form.rb
  app/models/journeys/further_education_payments/slug_sequence.rb
  spec/forms/journeys/further_education_payments/contract_type_form_spec.rb
Due: standard

use i18n for form options
  app/forms/journeys/further_education_payments/fixed_term_contract_form.rb
  app/forms/journeys/further_education_payments/taught_at_least_one_term_form.rb
  config/locales/en.yml
Due: standard

Add StatusCake for the test environment
  terraform/application/application.tf
  terraform/application/config/test.tfvars.json
  terraform/application/statuscake.tf
  terraform/application/variables.tf
Due: prettier

Add the payroll admin tasks for IRP
  app/models/claim_checking_tasks.rb
  spec/factories/policies/international_relocation_payments/eligibilities.rb
Due: standard

Additional eligibility answers
  app/models/policies/international_relocation_payments/eligibility_admin_answers_presenter.rb
  config/locales/en.yml
  spec/factories/policies/international_relocation_payments/eligibilities.rb
  spec/models/policies/international_relocation_payments/eligibility_admin_answers_presenter_spec.rb
Due: standard

Set external_url for SSL checking
  terraform/application/config/test.tfvars.json
Due: prettier

Move head teacher question
  app/models/journeys/get_a_teacher_relocation_payment/answers_presenter.rb
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  app/views/get_a_teacher_relocation_payment/claims/check_your_answers.html.erb
  spec/factories/journeys/get_a_teacher_relocation_payment/get_a_teacher_relocation_payment_answers.rb
  spec/features/get_a_teacher_relocation_payment/ineligible_route_completing_the_form_spec.rb
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/models/journeys/get_a_teacher_relocation_payment/answers_presenter_spec.rb
Due: standard

Set IRP award amount
  app/forms/journeys/get_a_teacher_relocation_payment/claim_submission_form.rb
  app/models/policies/international_relocation_payments.rb
  app/models/policies/international_relocation_payments/eligibility.rb
  config/analytics.yml
  db/migrate/20240709110147_add_award_amount_to_international_relocation_payments_eligibilities.rb
  db/schema.rb
  spec/factories/policies/international_relocation_payments/eligibilities.rb
  spec/forms/journeys/get_a_teacher_relocation_payment/claim_submission_form_spec.rb
Due: standard

Fix missing translation
  config/locales/en.yml
Due: none

Journey config for GetATeacherRelocationPayment
  db/data/20240709134609_add_irp_journey_configuration.rb
Due: standard

Revert "Set external_url for SSL checking"
  terraform/application/config/test.tfvars.json
Due: prettier

Add an SSL check on the healthcheck URL
  terraform/application/config/test.tfvars.json
Due: prettier

add ineligible state for non recent FE teacher
  app/models/journeys/further_education_payments/session_answers.rb
  app/models/policies/further_education_payments/policy_eligibility_checker.rb
  app/views/further_education_payments/claims/_ineligible_must_be_recent_further_education_teacher.html.erb
  spec/features/further_education_payments/ineligible_paths_spec.rb
Due: standard

add unhappy teaching hours paths to FE journey
  app/forms/journeys/further_education_payments/teaching_hours_per_week_next_term_form.rb
  app/models/journeys/further_education_payments.rb
  app/models/journeys/further_education_payments/session_answers.rb
  app/models/journeys/further_education_payments/slug_sequence.rb
  app/models/policies/further_education_payments/policy_eligibility_checker.rb
  app/views/further_education_payments/claims/_ineligible_teaching_less_than_2_5.html.erb
  app/views/further_education_payments/claims/_ineligible_teaching_less_than_2_5_next_term.html.erb
  app/views/further_education_payments/claims/teaching_hours_per_week_next_term.html.erb
  config/locales/en.yml
  spec/features/further_education_payments/happy_path_spec.rb
  spec/features/further_education_payments/ineligible_paths_spec.rb
  spec/forms/journeys/further_education_payments/teaching_hours_per_week_next_term_form_spec.rb
Due: standard

add FE ineligible state due to problematic actions
  app/models/journeys/further_education_payments/session_answers.rb
  app/models/policies/further_education_payments/policy_eligibility_checker.rb
  app/views/further_education_payments/claims/_ineligible_subject_to_problematic_actions.html.erb
  spec/features/further_education_payments/ineligible_paths_spec.rb
Due: standard

Add StatusCake for the test environment (#2979)
  terraform/application/application.tf
  terraform/application/config/test.tfvars.json
  terraform/application/statuscake.tf
  terraform/application/variables.tf
Due: prettier

Switch back to targetting master
  .github/workflows/build_and_deploy.yml
Due: none

CAPT-1703 Migrate production environment to AKS (#2887)
  .github/actions/deploy-environment/action.yml
  .github/workflows/build_and_deploy.yml
  terraform/application/application.tf
  terraform/application/config/production.tfvars.json
  terraform/application/config/production_Terrafile
  terraform/application/config/production_app_env.yml
  terraform/application/config/review.tfvars.json
  terraform/application/database.tf
  terraform/application/variables.tf
Due: prettier

Remove old deployment code, axure terraform modules and config, unused Makefile commands and pipelines
  Makefile
  azure-pipelines.yml
  azure/pipelines/refresh_images.yml
  azure/terraform/main.tf
  azure/terraform/modules/app_service/app_service.tf
  azure/terraform/modules/app_service/app_service_slot.tf
  azure/terraform/modules/app_service/data.tf
  azure/terraform/modules/app_service/variable.tf
  azure/terraform/modules/container/container_group.tf
  azure/terraform/modules/container/data.tf
  azure/terraform/modules/container/variable.tf
  azure/terraform/postgres.tf
  azure/terraform/provider.tf
  azure/terraform/status_cake.tf
  azure/terraform/variable.tf
  azure/terraform/workspace_variables/production.tfvars.json
  bin/azure-deploy
Due: prettier

Add StatusCake for the production AKS deployment
  terraform/application/config/production.tfvars.json
Due: prettier

Add StatusCake for the production AKS deployment (#2997)
  terraform/application/config/production.tfvars.json
Due: prettier

Remove Filebeat, update docs
  Dockerfile
  bin/start-worker
  docs/logging.md
  filebeat.yml
Due: prettier

Add +DFE_SIGN_IN_REDIRECT_BASE_URL and +TID_BASE_URL variables
  terraform/application/config/production_app_env.yml
  terraform/application/config/review_app_env.yml
  terraform/application/config/test_app_env.yml
Due: none
