Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

Re add target
  app/views/admin/tasks/employment_history.html.erb
Due: none

View clean up
  app/views/admin/tasks/employment_history.html.erb
  spec/features/get_a_teacher_relocation_payment/admin_employment_history_task_spec.rb
Due: standard

govuk formbuilder for SL qts year form
  app/forms/journeys/teacher_student_loan_reimbursement/qts_year_form.rb
  app/views/student_loans/claims/qts_year.html.erb
  config/locales/en.yml
  spec/features/changing_answers_spec.rb
  spec/support/feature_helpers.rb
Due: standard

govuk formbuilder for SL leadership duty question
  app/forms/journeys/teacher_student_loan_reimbursement/mostly_performed_leadership_duties_form.rb
  app/views/student_loans/claims/mostly_performed_leadership_duties.html.erb
Due: standard

govuk formbuilder for SL leadership question
  app/forms/journeys/teacher_student_loan_reimbursement/leadership_position_form.rb
  app/views/student_loans/claims/leadership_position.html.erb
Due: standard

remove old LUP tables which were migrated to TRI
  db/migrate/20250516104001_drop_lup_tables.rb
  db/schema.rb
Due: standard

WIP - running ci to see surface area of changes
  app/models/automated_checks/claim_verifiers/claim_checking_tasks.rb
  app/models/claim_checking_tasks.rb
  app/models/policies/early_career_payments/claim_checking_tasks.rb
  app/models/policies/early_years_payments/claim_checking_tasks.rb
  app/models/policies/further_education_payments/claim_checking_tasks.rb
  app/models/policies/international_relocation_payments/claim_checking_tasks.rb
  app/models/policies/student_loans/claim_checking_tasks.rb
  app/models/policies/targeted_retention_incentive_payments/claim_checking_tasks.rb
  db/migrate/20250610125917_add_task_list_to_claims.rb
  db/schema.rb
Due: standard

don't care abount unit tests for this spike
  .github/workflows/ci.yaml
Due: none

wip
  app/models/automated_checks/claim_verifiers/claim_checking_tasks.rb
  app/models/policies/early_career_payments.rb
  app/models/policies/early_years_payments.rb
  app/models/policies/further_education_payments.rb
  app/models/policies/international_relocation_payments.rb
  app/models/policies/student_loans.rb
  app/models/policies/targeted_retention_incentive_payments.rb
Due: standard

wip spec
  spec/features/admin/admin_ey_tasks_spec.rb
Due: standard

admin claim#show always full width
  app/views/admin/claims/show.html.erb
Due: none

remove error summary that is no longer used
  app/views/admin/claims/show.html.erb
Due: none

KEN TEST BRANCH
  README.md
Due: prettier

Revert "KEN TEST BRANCH"
  README.md
Due: prettier

Remove callback
  app/controllers/claims_form_callbacks.rb
Due: standard

Subsequent claims are ineligible
  app/models/journeys/further_education_payments/session_answers.rb
  app/models/policies/further_education_payments/policy_eligibility_checker.rb
  app/views/further_education_payments/claims/_ineligible_claim_already_submitted_this_policy_year.html.erb
  config/locales/en.yml
  spec/features/further_education_payments/ineligible_paths_spec.rb
  spec/models/journeys/further_education_payments/session_answers_spec.rb
  spec/models/policies/further_education_payments/policy_eligibility_checker_spec.rb
  spec/support/one_login_helper.rb
Due: standard

FE move optional OL sign in to start of journey
  app/forms/journeys/further_education_payments/have_one_login_account_form.rb
  app/forms/journeys/further_education_payments/previously_claimed_form.rb
  app/models/journeys/further_education_payments.rb
  app/models/journeys/further_education_payments/slug_sequence.rb
  app/models/journeys/session_answers.rb
  app/views/further_education_payments/claims/have_one_login_account.html.erb
  app/views/further_education_payments/claims/previously_claimed.html.erb
  app/views/further_education_payments/claims/teaching_responsibilities.html.erb
  config/locales/en.yml
  spec/factories/journeys/further_education_payments/further_education_payments_answers.rb
  spec/features/accessing_closed_service_spec.rb
  spec/features/further_education_payments/back_link_spec.rb
  spec/features/further_education_payments/bypass_one_login_spec.rb
  spec/features/further_education_payments/change_answers_spec.rb
  spec/features/further_education_payments/college_not_found_spec.rb
  spec/features/further_education_payments/existing_one_login_spec.rb
  spec/features/further_education_payments/happy_path_spec.rb
  spec/features/further_education_payments/ineligible_paths_spec.rb
  spec/features/further_education_payments/jump_around_spec.rb
  spec/features/further_education_payments/one_login_without_idv_spec.rb
  spec/features/further_education_payments/previously_claimed_spec.rb
  spec/forms/journeys/further_education_payments/have_one_login_account_form_spec.rb
  spec/forms/journeys/further_education_payments/previously_claimed_form_spec.rb
  spec/models/journeys/navigator_spec.rb
  spec/support/steps/further_education_journey.rb
Due: standard

remove app insights gem
  Gemfile
  Gemfile.lock
  config/initializers/application_insights.rb
  lib/application_insights/enhance_request_data_with_client_ip.rb
  lib/application_insights/enhance_track_request_with_client_ip.rb
  spec/requests/application_insights_spec.rb
Due: standard

REVIEW APP DONT MERGE
  README.md
Due: prettier

touch
  README.md
Due: prettier

CAPT-1624 - remove nil as a postgraduate_itt match from DQT
  lib/dqt/matchers/general.rb
  spec/models/journeys/targeted_retention_incentive_payments/slug_sequence_spec.rb
Due: standard

CAPT-2599 fix change link and add TRI answers_presenter_spec
  app/models/journeys/targeted_retention_incentive_payments/answers_presenter.rb
  spec/models/journeys/targeted_retention_incentive_payments/answers_presenter_spec.rb
Due: standard

Remove backlinks from fe ineligible pages
  app/models/journeys/further_education_payments/slug_sequence.rb
  app/views/further_education_payments/claims/ineligible.html.erb
Due: standard

CAPT-2192 - remove superfluous db indexes
  db/migrate/20250616161048_remove_extra_indexes_on_targeted_retention_incentive_payments_awards.rb
  db/migrate/20250616162148_remove_extra_indexes_on_journey_configurations.rb
  db/schema.rb
Due: standard

Add task navigation
  app/views/admin/tasks/employment_history.html.erb
Due: none

fix git sha of build step
  Dockerfile
Due: none

config sentry to know about git SHA for releases
  config/initializers/sentry.rb
Due: standard

setup sentry
  Gemfile
  Gemfile.lock
  app/views/layouts/application.html.erb
  config/initializers/sentry.rb
  terraform/application/config/production_app_env.yml
  terraform/application/config/review_app_env.yml
  terraform/application/config/test_app_env.yml
Due: standard

enable sentry tracing
  config/initializers/sentry.rb
Due: standard

add manual calls to sentry
  app/controllers/claims_controller.rb
  app/forms/postcode_search_form.rb
  app/jobs/application_job.rb
  app/jobs/file_importer_job.rb
  app/jobs/student_loan_amount_check_job.rb
  app/jobs/student_loan_plan_check_job.rb
  app/models/dqt/retrieve_claim_qualifications_data.rb
  app/models/journeys/answers_student_loans_details_updater.rb
  lib/dqt/object.rb
Due: standard

FE unsure OL account sends to OL
  app/models/journeys/further_education_payments/slug_sequence.rb
  spec/features/further_education_payments/existing_one_login_spec.rb
Due: standard

use yes/no strings over true/false strings
  app/forms/journeys/further_education_payments/have_one_login_account_form.rb
  app/models/journeys/further_education_payments/slug_sequence.rb
  config/locales/en.yml
  spec/factories/journeys/further_education_payments/further_education_payments_answers.rb
  spec/models/journeys/navigator_spec.rb
Due: standard

Add task navigation
  app/views/admin/tasks/employment_history.html.erb
  spec/features/tslr/tslr_claim_journey_with_teacher_id_still_teaching_spec.rb
Due: standard

CAPT-2612 - fix task list number squashed with title
  app/assets/stylesheets/components/task_list.scss
Due: prettier

Remove redirect_to_first_slug
  app/controllers/concerns/form_submittable.rb
  app/models/policies/early_years_payments/policy_eligibility_checker.rb
  spec/requests/form_submittable_spec.rb
Due: standard

Remove ineligible check from slug sequence
  app/models/journeys/teacher_student_loan_reimbursement/slug_sequence.rb
Due: standard

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
