Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{css,html,js,js.erb,json,md,scss}"
      run: rails prettier {staged_files}
      skip:
        - merge
        - rebase
    standard:
      glob: "*.rb"
      run: rails standard {staged_files}
      skip:
        - merge
        - rebase

Require PII flag to be set
  app/models/concerns/journeys/sessions/pii_attributes.rb
  app/models/journeys/additional_payments_for_teaching/session_answers.rb
  app/models/journeys/early_years_payment/practitioner/session_answers.rb
  app/models/journeys/early_years_payment/provider/authenticated/session_answers.rb
  app/models/journeys/further_education_payments/provider/session_answers.rb
  app/models/journeys/further_education_payments/session_answers.rb
  app/models/journeys/get_a_teacher_relocation_payment/session_answers.rb
  app/models/journeys/session_answers.rb
  app/models/journeys/teacher_student_loan_reimbursement/session_answers.rb
Due: standard

Migrate GCP
  .github/actions/deploy-environment/action.yml
  .github/workflows/build_and_deploy.yml
  .github/workflows/delete_review_app.yml
  config/initializers/dfe_analytics.rb
  terraform/application/application.tf
  terraform/application/config/production.tfvars.json
  terraform/application/config/review.tfvars.json
  terraform/application/config/test.tfvars.json
  terraform/application/dfe_analytics.tf
  terraform/application/variables.tf
Due: prettier, standard

Remove Claim::FILTER_PARAMS
  app/models/claim.rb
  app/models/journeys/base.rb
  config/initializers/filter_parameter_logging.rb
  spec/models/claim_spec.rb
  spec/models/concerns/journeys/sessions/pii_attributes_spec.rb
Due: standard

use email field for emails
  app/views/claims/_email_address.html.erb
Due: none

use numeric fields where needed
  app/views/claims/_one_time_password.html.erb
  app/views/claims/personal_bank_account.html.erb
  app/views/claims/teacher_reference_number.html.erb
  app/views/further_education_payments/claims/teacher_reference_number.html.erb
Due: none

Display the urn on the employment task
  app/models/policies/early_years_payments/admin_tasks_presenter.rb
  spec/models/policies/early_years_payments/admin_tasks_presenter_spec.rb
Due: standard

Include LA name
  app/models/policies/early_years_payments/admin_tasks_presenter.rb
  spec/models/policies/early_years_payments/admin_tasks_presenter_spec.rb
Due: standard

enable OTP autocomplete
  app/views/claims/_one_time_password.html.erb
Due: none

Remove redundant function
  app/models/payroll/name_normalizer.rb
  spec/models/payroll/name_normalizer_spec.rb
Due: standard

CAPT-2040 normalize banking name
  app/models/payroll/banking_name_normalizer.rb
  app/models/payroll/payment_csv_row.rb
  spec/models/payroll/banking_name_normalizer_spec.rb
Due: standard

CAPT-2040 normalize names for payroll csv export
  app/models/payroll/name_normalizer.rb
  app/models/payroll/payment_csv_row.rb
  spec/models/payroll/name_normalizer_spec.rb
Due: standard

Upgrade Ruby
  .ruby-version
  .tool-versions
  Gemfile
  Gemfile.lock
  README.md
Due: prettier

Fix
  Gemfile.lock
Due: none

Fix specs
  spec/mailers/claim_mailer_spec.rb
Due: standard

can extract full name from OL JWT
  app/models/one_login/core_identity_validator.rb
  spec/models/one_login/core_identity_validator_spec.rb
Due: standard

OL name matches via regexp
  app/models/claim.rb
  spec/models/claim_spec.rb
Due: standard

store full name from OL
  app/controllers/omniauth_callbacks_controller.rb
  app/models/claim.rb
  app/models/journeys/session_answers.rb
  config/analytics_blocklist.yml
  db/migrate/20241205121421_add_ol_full_name_to_claims.rb
  db/schema.rb
  spec/factories/claims.rb
  spec/features/further_education_payments/happy_path_spec.rb
  spec/forms/journeys/further_education_payments/claim_submission_form_spec.rb
  spec/models/automated_checks/claim_verifiers/identity_spec.rb
  spec/models/claim_spec.rb
  spec/requests/omniauth_callbacks_controller_spec.rb
Due: standard

ensure OL full name uses family name last
  app/models/one_login/core_identity_validator.rb
  spec/models/one_login/core_identity_validator_spec.rb
Due: standard

Log session answers to rollbar
  app/controllers/claims_controller.rb
  app/models/concerns/journeys/sessions/pii_attributes.rb
  app/models/journeys/early_years_payment/provider/authenticated/session_answers.rb
  app/models/journeys/further_education_payments/provider/session_answers.rb
  app/models/journeys/get_a_teacher_relocation_payment/session_answers.rb
  app/models/journeys/session_answers.rb
Due: standard

gcp wif test deployment
  terraform/application/config/test.tfvars.json
Due: prettier

gcp wif production deployment
  terraform/application/config/production.tfvars.json
Due: prettier

CAPT-1711: Payroll file alias for EY policy payments
  app/models/policies/early_years_payments.rb
  spec/models/policies/early_years_payments_spec.rb
Due: standard

CAPT-1953 silence more rollbar errors froms bots
  config/routes.rb
  spec/routes/routes_spec.rb
Due: standard

Show the ol and claimant entered DOB
  app/models/policies/early_years_payments/admin_tasks_presenter.rb
  app/views/admin/tasks/early_years_payments/identity_confirmation.html.erb
  spec/features/admin/admin_ey_tasks_spec.rb
  spec/models/policies/early_years_payments/admin_tasks_presenter_spec.rb
Due: standard

Standardise admin dates
  app/helpers/admin/claims_helper.rb
  app/helpers/admin/timeline_helper.rb
  app/models/policies/early_years_payments/admin_claim_details_presenter.rb
  app/models/policies/early_years_payments/admin_tasks_presenter.rb
  app/views/admin/tasks/_claim_summary.html.erb
  app/views/admin/tasks/_claim_summary_early_years_payments.html.erb
  app/views/admin/tasks/_claim_summary_further_education_payments.html.erb
  app/views/admin/tasks/_claim_summary_international_relocation_payments.html.erb
  spec/features/admin/admin_amend_claim_spec.rb
  spec/features/admin/admin_ey_tasks_spec.rb
  spec/features/admin/admin_view_claim_early_years_payments_spec.rb
  spec/features/admin/admin_view_full_claim_early_years_payments_spec.rb
  spec/features/admin/admin_view_full_claim_further_education_payments_spec.rb
  spec/helpers/admin/claims_helper_spec.rb
  spec/helpers/admin/timeline_helper_spec.rb
  spec/models/policies/early_years_payments/admin_claim_details_presenter_spec.rb
  spec/models/policies/early_years_payments/admin_tasks_presenter_spec.rb
Due: standard

CAPT-1711: Payroll file alias for EY policy payments (#3503)
  app/models/policies/early_years_payments.rb
  spec/models/policies/early_years_payments_spec.rb
Due: standard

Fix ssl check statuscake monitoring
  terraform/application/config/production.tfvars.json
  terraform/application/statuscake.tf
  terraform/application/variables.tf
Due: prettier

remove failed postcode lookup callback redirect
  app/controllers/claims_form_callbacks.rb
  app/forms/postcode_search_form.rb
  app/models/journeys/additional_payments_for_teaching/slug_sequence.rb
  app/models/journeys/further_education_payments/slug_sequence.rb
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  app/models/journeys/session_answers.rb
  app/models/journeys/teacher_student_loan_reimbursement/slug_sequence.rb
  app/views/claims/address.html.erb
  spec/features/auto_populating_home_address_from_postcode_search_spec.rb
  spec/forms/postcode_search_form_spec.rb
Due: standard

add yaml + ffi to Dockerfile
  Dockerfile
Due: none

add solid queue
  Gemfile
  Gemfile.lock
  bin/jobs
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/queue.yml
  config/recurring.yml
  db/migrate/20250107110155_solid_queue.rb
  db/schema.rb
Due: standard

add mission_control for solid queue monitoring
  Gemfile
  Gemfile.lock
  app/controllers/admin/mission_control_controller.rb
  config/application.rb
  config/routes.rb
Due: standard

remove custom background cron job scheduling
  README.md
  app/jobs/auto_approve_claims_job.rb
  app/jobs/cron_job.rb
  app/jobs/daily_entity_table_check_job.rb
  app/jobs/delete_personal_data_from_old_claims_job.rb
  app/jobs/dfe_sign_in/user_data_importer_job.rb
  app/jobs/early_years_progress_emails_job.rb
  app/jobs/further_education_payments/provider_verification_chase_email_job.rb
  app/jobs/heartbeat_job.rb
  app/jobs/purge_unsubmitted_claims_job.rb
  app/jobs/school_data_importer_job.rb
  app/jobs/send_emails_after_three_weeks_job.rb
  app/models/cron_job_scheduler.rb
  config/recurring.yml
  lib/tasks/jobs.rake
  spec/jobs/auto_approve_claims_job_spec.rb
  spec/jobs/cron_job_spec.rb
  spec/models/cron_job_scheduler_spec.rb
  spec/support/delayed_job.rb
Due: prettier, standard

run solid queue worker not DJ worker
  bin/start-worker
  docker-compose.production.yml
  terraform/application/config/production.tfvars.json
  terraform/application/config/review.tfvars.json
  terraform/application/config/test.tfvars.json
Due: prettier
