Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

Use govuk body
  app/views/claims/_email_address.html.erb
  app/views/claims/_one_time_password.html.erb
Due: none

Use contractions in header
  app/views/claims/_sign_in_2_authed.html.erb
  app/views/claims/_sign_in_3_identified.html.erb
  spec/features/early_years_payment/practitioner/happy_path_spec.rb
  spec/features/further_education_payments/one_login_without_idv_spec.rb
  spec/support/feature_helpers.rb
  spec/support/steps/early_years_practitioner_journey.rb
Due: standard

Copy and styling changes for EY
  app/forms/bank_details_form.rb
  app/forms/journeys/early_years_payment/practitioner/bank_details_form.rb
  app/models/journeys/early_years_payment/practitioner.rb
  app/views/claims/_check_your_answers_section.html.erb
  app/views/claims/_mobile_number.html.erb
  app/views/claims/_one_time_password.html.erb
  app/views/claims/_personal_details_page.html.erb
  app/views/claims/_provide_mobile_number.html.erb
  app/views/claims/_sign_in_2_authed.html.erb
  app/views/claims/_sign_in_3_identified.html.erb
  app/views/claims/_sign_in_3_not_identified.html.erb
  app/views/claims/gender.html.erb
  app/views/claims/mobile_number.html.erb
  app/views/claims/personal_bank_account.html.erb
  app/views/early_years_payment/practitioner/claims/_ineligibility_claim_already_submitted.html.erb
  app/views/early_years_payment/practitioner/claims/_ineligibility_reference_number_not_found.html.erb
  app/views/early_years_payment/practitioner/claims/check_your_answers.html.erb
  app/views/early_years_payment/practitioner/claims/mobile_number.html.erb
  config/locales/en.yml
  spec/features/admin/admin_ey_tasks_spec.rb
  spec/features/admin/eligible_ey_providers_spec.rb
  spec/features/early_years_payment/practitioner/find_reference_spec.rb
  spec/features/early_years_payment/practitioner/happy_path_spec.rb
  spec/features/early_years_payment/practitioner/mobile_number_spec.rb
  spec/support/steps/early_years_practitioner_journey.rb
Due: standard

Address form changes
  app/views/early_years_payment/practitioner/claims/address.html.erb
Due: none

fix review apps
  .github/actions/deploy-environment/action.yml
Due: none

remove superfluous controller concern
  app/controllers/base_public_controller.rb
  app/controllers/concerns/session_management.rb
Due: standard

add signed out page for EY practitioner journey
  app/controllers/claims_controller.rb
  app/controllers/deauth_controller.rb
  app/models/journeys/early_years_payment/practitioner/slug_sequence.rb
  app/models/journeys/further_education_payments/slug_sequence.rb
  app/views/early_years_payment/practitioner/claims/signed_out.html.erb
  config/routes.rb
  spec/features/early_years_payment/practitioner/signing_out_spec.rb
Due: standard

remove superfluous controller concern
  app/controllers/admin/base_admin_controller.rb
  app/controllers/concerns/admin_session_timeout.rb
  spec/requests/admin/admin_timeout_spec.rb
Due: standard

touch
  README.md
Due: prettier

fix mail-notify 2.1.0 upgrade
  app/mailers/payment_mailer.rb
  app/views/payment_mailer/confirmation.text.erb
  spec/features/accessing_closed_service_spec.rb
  spec/features/admin/admin_ey_tasks_spec.rb
  spec/features/admin/admin_fraud_prevention_spec.rb
  spec/features/changing_answers_spec.rb
  spec/features/combined_teacher_claim_journey_spec.rb
  spec/features/early_career_payments/early_career_payments_claim_spec.rb
  spec/features/early_years_payment/practitioner/email_address_spec.rb
  spec/features/early_years_payment/practitioner/happy_path_spec.rb
  spec/features/early_years_payment/practitioner/signing_out_spec.rb
  spec/features/early_years_payment/practitioner/student_loan_spec.rb
  spec/features/early_years_payment/provider/authenticated/changing_answers_spec.rb
  spec/features/early_years_payment/provider/authenticated/employee_email_spec.rb
  spec/features/early_years_payment/provider/authenticated/expired_magic_link_spec.rb
  spec/features/early_years_payment/provider/authenticated/happy_path_spec.rb
  spec/features/early_years_payment/provider/authenticated/ineligible_nursery_spec.rb
  spec/features/early_years_payment/provider/authenticated/ineligible_returner_spec.rb
  spec/features/early_years_payment/provider/authenticated/ineligible_start_date_spec.rb
  spec/features/early_years_payment/provider/authenticated/not_child_facing_spec.rb
  spec/features/early_years_payment/provider/authenticated/submitter_name_omitted_spec.rb
  spec/features/early_years_payment/provider/start/happy_path_spec.rb
  spec/features/further_education_payments/change_answers_spec.rb
  spec/features/further_education_payments/happy_js_path_spec.rb
  spec/features/further_education_payments/happy_path_spec.rb
  spec/features/further_education_payments/one_login_without_idv_spec.rb
  spec/features/hmrc_bank_validation_spec.rb
  spec/features/student_loans_claim_spec.rb
  spec/features/targeted_retention_incentive_payments_spec.rb
  spec/mailers/claim_mailer_spec.rb
  spec/mailers/payment_mailer_spec.rb
  spec/requests/submissions_spec.rb
  spec/support/feature_helpers.rb
  spec/support/have_received_email_matcher.rb
  spec/support/steps/early_years_practitioner_journey.rb
  spec/support/steps/further_education_journey.rb
Due: standard

better a11y for address related forms
  app/forms/postcode_search_form.rb
  config/locales/en.yml
  spec/forms/postcode_search_form_spec.rb
Due: standard

add solid queue
  Gemfile
  Gemfile.lock
  bin/jobs
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/queue.yml
  config/recurring.yml
  db/migrate/20250107110155_solid_queue.rb
  db/schema.rb
Due: standard

add mission_control for solid queue monitoring
  Gemfile
  Gemfile.lock
  app/controllers/admin/mission_control_controller.rb
  config/application.rb
  config/routes.rb
Due: standard

run solid queue worker not DJ worker
  bin/start-worker
  docker-compose.production.yml
  terraform/application/config/production.tfvars.json
  terraform/application/config/review.tfvars.json
  terraform/application/config/test.tfvars.json
Due: prettier

remove custom background cron job scheduling
  README.md
  app/jobs/auto_approve_claims_job.rb
  app/jobs/cron_job.rb
  app/jobs/daily_entity_table_check_job.rb
  app/jobs/delete_file_uploads_and_downloads_job.rb
  app/jobs/delete_personal_data_from_old_claims_job.rb
  app/jobs/dfe_sign_in/user_data_importer_job.rb
  app/jobs/early_years_progress_emails_job.rb
  app/jobs/further_education_payments/provider_verification_chase_email_job.rb
  app/jobs/heartbeat_job.rb
  app/jobs/purge_unsubmitted_claims_job.rb
  app/jobs/reports_job.rb
  app/jobs/school_data_importer_job.rb
  app/jobs/send_emails_after_three_weeks_job.rb
  app/models/cron_job_scheduler.rb
  config/recurring.yml
  lib/tasks/jobs.rake
  spec/jobs/auto_approve_claims_job_spec.rb
  spec/jobs/cron_job_spec.rb
  spec/models/cron_job_scheduler_spec.rb
  spec/support/delayed_job.rb
Due: prettier, standard

migrate delayed jobs to solid queue
  db/migrate/20250107154328_solid_queue_jobs.rb
Due: standard

Remove specially handling
  app/forms/journeys/additional_payments_for_teaching/eligible_itt_subject_form.rb
  app/models/policies/targeted_retention_incentive_payments.rb
Due: standard

This method is only used by ecp checker
  app/models/concerns/eligibility_checkable.rb
  app/models/policies/early_career_payments/policy_eligibility_checker.rb
Due: standard

Fix spec
  spec/forms/journeys/additional_payments_for_teaching/eligible_itt_subject_form_spec.rb
Due: standard

Remove LUP#subject_symbols
  app/forms/journeys/additional_payments_for_teaching/eligible_itt_subject_form.rb
  app/models/journeys/additional_payments_for_teaching/answers_presenter.rb
  app/models/policies/targeted_retention_incentive_payments.rb
  app/models/policies/targeted_retention_incentive_payments/policy_eligibility_checker.rb
  spec/models/targeted_retention_incentive_payments_spec.rb
Due: standard

Move ineligible to ECP
  app/models/concerns/eligibility_checkable.rb
  app/models/policies/early_career_payments/policy_eligibility_checker.rb
Due: standard

Change TSLR ineligibility to use reason
  app/models/policies/targeted_retention_incentive_payments/policy_eligibility_checker.rb
  spec/models/policies/targeted_retention_incentive_payments/policy_eligibility_checker_spec.rb
Due: standard

Add uses_reminders? flag
  app/models/journeys.rb
  app/models/journeys/additional_payments_for_teaching.rb
  app/models/journeys/base.rb
  app/models/journeys/further_education_payments.rb
  config/routes.rb
Due: standard

Pass reference to a session to answers
  app/models/journeys/additional_payments_for_teaching/session.rb
  app/models/journeys/early_years_payment/practitioner/session.rb
  app/models/journeys/early_years_payment/provider/authenticated/session.rb
  app/models/journeys/early_years_payment/provider/start/session.rb
  app/models/journeys/further_education_payments/provider/session.rb
  app/models/journeys/further_education_payments/session.rb
  app/models/journeys/get_a_teacher_relocation_payment/session.rb
  app/models/journeys/session_answers.rb
  app/models/journeys/teacher_student_loan_reimbursement/session.rb
Due: standard

Move setting answers attribute into the base class
  app/models/journeys/additional_payments_for_teaching/session.rb
  app/models/journeys/early_years_payment/practitioner/session.rb
  app/models/journeys/early_years_payment/provider/authenticated/session.rb
  app/models/journeys/early_years_payment/provider/start/session.rb
  app/models/journeys/further_education_payments/provider/session.rb
  app/models/journeys/further_education_payments/session.rb
  app/models/journeys/get_a_teacher_relocation_payment/session.rb
  app/models/journeys/session.rb
  app/models/journeys/teacher_student_loan_reimbursement/session.rb
Due: standard

Move methods off sessions
  app/forms/journeys/additional_payments_for_teaching/correct_school_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/select_claim_school_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/still_teaching_form.rb
  app/models/journeys/additional_payments_for_teaching/slug_sequence.rb
  app/models/journeys/session.rb
  app/models/journeys/session_answers.rb
  app/models/journeys/teacher_student_loan_reimbursement/session_answers.rb
  app/models/journeys/teacher_student_loan_reimbursement/slug_sequence.rb
Due: standard

wip
  app/forms/form_helpers.rb
  app/jobs/send_reminder_email_job.rb
  app/views/targeted_retention_incentive_payments/claims/_trainee_in_last_policy_year_ineligible.html.erb
  app/views/targeted_retention_incentive_payments/claims/ineligible.html.erb
  app/views/targeted_retention_incentive_payments/claims/itt_year.html.erb
  spec/features/targeted_retention_incentives/eligible_later_paths_spec.rb
  spec/features/targeted_retention_incentives/eligible_paths_spec.rb
  spec/features/targeted_retention_incentives/ineligible_paths_spec.rb
  spec/features/targeted_retention_incentives/reminders_spec.rb
Due: standard

rename specs and add ineligilbe
  app/forms/journeys/targeted_retention_incentive_payments/correct_school_form.rb
  app/forms/journeys/targeted_retention_incentive_payments/ineligible_form.rb
  app/forms/journeys/targeted_retention_incentive_payments/qualification_details_form.rb
  app/models/concerns/eligibility_checkable.rb
  app/models/journeys/targeted_retention_incentive_payments.rb
  app/models/journeys/targeted_retention_incentive_payments/session_answers.rb
  app/models/journeys/targeted_retention_incentive_payments/slug_sequence.rb
  app/models/policies/early_career_payments/school_eligibility.rb
  app/models/policies/targeted_retention_incentive_payments/school_eligibility.rb
  app/views/additional_payments/claims/_ineligibility_current_school.html.erb
  app/views/targeted_retention_incentive_payments/claims/_generic.html.erb
  app/views/targeted_retention_incentive_payments/claims/_ineligible_cohort.html.erb
  app/views/targeted_retention_incentive_payments/claims/_ineligible_current_school.html.erb
  app/views/targeted_retention_incentive_payments/claims/_subject_and_degree_ineligible.html.erb
  app/views/targeted_retention_incentive_payments/claims/ineligible.html.erb
  config/locales/targeted_retention_incentive_payments.yml
  spec/features/targeted_retention_incentives/eligible_later_paths_spec.rb
  spec/features/targeted_retention_incentives/eligible_paths_spec.rb
  spec/features/targeted_retention_incentives/ineligible_paths_spec.rb
  spec/features/targeted_retention_incentives/teacher_id_branches_spec.rb
  spec/models/journeys/targeted_retention_incentive_payments/slug_sequence_spec.rb
Due: standard

academic year
  app/forms/journeys/targeted_retention_incentive_payments/itt_academic_year_form.rb
  app/models/journeys/targeted_retention_incentive_payments/session_answers.rb
  app/views/targeted_retention_incentive_payments/claims/itt_year.html.erb
  spec/forms/journeys/targeted_retention_incentive_payments/eligible_itt_subject_form_spec.rb
  spec/forms/journeys/targeted_retention_incentive_payments/itt_academic_year_form_spec.rb
Due: standard

wip
  app/forms/journeys/targeted_retention_incentive_payments/qualification_form.rb
  app/models/journeys.rb
  app/models/journeys/additional_payments_for_teaching.rb
  app/models/journeys/base.rb
  app/models/policies/targeted_retention_incentive_payments.rb
  config/locales/targeted_retention_incentive_payments.yml
  spec/factories/journey_configurations.rb
  spec/factories/targeted_retention_incentive_payments/awards.rb
  spec/features/targeted_retention_incentives/eligible_paths_spec.rb
  spec/features/targeted_retention_incentives/ineligible_paths_spec.rb
  spec/features/targeted_retention_incentives/reminders_spec.rb
Due: standard

wip
  spec/forms/journeys/targeted_retention_incentive_payments/eligible_itt_subject_form_spec.rb
  spec/forms/journeys/targeted_retention_incentive_payments/employed_directly_form_spec.rb
  spec/forms/journeys/targeted_retention_incentive_payments/entire_term_contract_form_spec.rb
  spec/forms/journeys/targeted_retention_incentive_payments/itt_academic_year_form_spec.rb
  spec/forms/journeys/targeted_retention_incentive_payments/nqt_in_academic_year_after_itt_form_spec.rb
  spec/forms/journeys/targeted_retention_incentive_payments/qualification_form_spec.rb
  spec/forms/journeys/targeted_retention_incentive_payments/supply_teacher_form_spec.rb
  spec/forms/journeys/targeted_retention_incentive_payments/teaching_subject_now_form_spec.rb
  spec/forms/sign_in_or_continue_form_spec.rb
Due: standard

wip
  config/environments/development.rb
  config/environments/test.rb
  spec/models/journeys_spec.rb
Due: standard

remove delayed job scheduling
  bin/prepare-database
Due: none

update analytics with solid queue fields
  config/analytics_blocklist.yml
Due: none

solid queue migration considers mail jobs
  db/migrate/20250107154328_solid_queue_jobs.rb
Due: standard

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
