Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

handle teacher auth within new STRI journey
  app/controllers/journeys/school_targeted_retention_incentive_payments/auth_controller.rb
  app/controllers/journeys/school_targeted_retention_incentive_payments/bypass_auth_controller.rb
  app/forms/debug/teacher_auth/school/sign_in_form.rb
  app/forms/journeys/school_targeted_retention_incentive_payments/sign_in_form.rb
  app/jobs/debug/fetch_nino_bypass_job.rb
  app/models/journeys/school_targeted_retention_incentive_payments.rb
  app/models/journeys/school_targeted_retention_incentive_payments/session_answers.rb
  app/models/journeys/school_targeted_retention_incentive_payments/slug_sequence.rb
  app/models/teacher_auth/school_config.rb
  app/views/school_targeted_retention_incentive_payments/claims/sign_in.html.erb
  config/initializers/omniauth.rb
  config/routes.rb
  spec/factories/journeys/school_targeted_retention_incentive_payments/session.rb
  spec/factories/journeys/school_targeted_retention_incentive_payments/session_answers.rb
  spec/features/school_targeted_retention_incentives/happy_path_spec.rb
  spec/jobs/debug/fetch_nino_bypass_job_spec.rb
Due: standard

rebrand NI check to teacher details
  app/controllers/journeys/school_targeted_retention_incentive_payments/auth_controller.rb
  app/controllers/journeys/school_targeted_retention_incentive_payments/bypass_auth_controller.rb
  app/forms/journeys/school_targeted_retention_incentive_payments/query_teacher_details_form.rb
  app/models/journeys/school_targeted_retention_incentive_payments.rb
  app/models/journeys/school_targeted_retention_incentive_payments/slug_sequence.rb
  app/views/school_targeted_retention_incentive_payments/claims/query_teacher_details.html.erb
  config/locales/school_targeted_retention_incentive_payments.yml
Due: standard

able to fake fetch NI number
  app/controllers/journeys/school_targeted_retention_incentive_payments/auth_controller.rb
  app/controllers/journeys/school_targeted_retention_incentive_payments/bypass_auth_controller.rb
  app/forms/journeys/school_targeted_retention_incentive_payments/query_national_insurance_number_form.rb
  app/forms/journeys/school_targeted_retention_incentive_payments/teacher_details_form.rb
  app/forms/journeys/school_targeted_retention_incentive_payments/verify_national_insurance_number_form.rb
  app/helpers/application_helper.rb
  app/models/journeys/school_targeted_retention_incentive_payments.rb
  app/models/journeys/school_targeted_retention_incentive_payments/session_answers.rb
  app/models/journeys/school_targeted_retention_incentive_payments/slug_sequence.rb
  app/views/school_targeted_retention_incentive_payments/claims/query_national_insurance_number.html.erb
  app/views/school_targeted_retention_incentive_payments/claims/teacher_details.html.erb
  app/views/school_targeted_retention_incentive_payments/claims/verify_national_insurance_number.html.erb
  config/locales/school_targeted_retention_incentive_payments.yml
  spec/features/school_targeted_retention_incentives/happy_path_spec.rb
Due: standard

fix rendering of NI number
  app/helpers/application_helper.rb
Due: standard

exclude view from herb
  .github/workflows/ci.yaml
  .herb.yml
Due: none

Move to after initializer
  config/initializers/hmrc_bank_validations.rb
Due: standard

Reset employment check when details change
  app/forms/journeys/early_years_teachers_financial_incentive_payments/nursery_search_form.rb
  app/forms/journeys/early_years_teachers_financial_incentive_payments/nursery_select_form.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/employment_check.rb
  spec/features/early_years_teachers_financial_incentive_payments/changing_schools_rechecks_employment_spec.rb
Due: standard

Rename hmrc_employment_check_status
  app/forms/journeys/early_years_teachers_financial_incentive_payments/confirm_national_insurance_number_form.rb
  app/forms/journeys/early_years_teachers_financial_incentive_payments/hmrc_bypass_form.rb
  app/forms/journeys/early_years_teachers_financial_incentive_payments/national_insurance_number_form.rb
  app/jobs/early_years_teachers_financial_incentive_payments/hmrc_employment_check_job.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/session_answers.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/slug_sequence.rb
Due: standard

Update HMRC matching rules
  app/jobs/early_years_teachers_financial_incentive_payments/hmrc_employment_check_job.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/employment_check.rb
  spec/features/early_years_teachers_financial_incentive_payments/hmrc_journeys_spec.rb
  spec/jobs/early_years_teachers_financial_incentive_payments/hmrc_employment_check_job_spec.rb
Due: standard

Make method predicate
  app/models/journeys/early_years_teachers_financial_incentive_payments/session_answers.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/slug_sequence.rb
  spec/forms/journeys/early_years_teachers_financial_incentive_payments/confirm_national_insurance_number_form_spec.rb
  spec/jobs/early_years_teachers_financial_incentive_payments/hmrc_employment_check_job_spec.rb
  spec/models/journeys/early_years_teachers_financial_incentive_payments/session_answers_spec.rb
Due: standard

Wire up HMRC api
  app/forms/journeys/early_years_teachers_financial_incentive_payments/confirm_national_insurance_number_form.rb
  app/forms/journeys/early_years_teachers_financial_incentive_payments/national_insurance_number_form.rb
  app/jobs/early_years_teachers_financial_incentive_payments/hmrc_employment_check_job.rb
  app/models/hmrc/employment_history.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/employment_check.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/session_answers.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/slug_sequence.rb
  config/initializers/hmrc_bank_validations.rb
  lib/hmrc/employments/matching_request.rb
  spec/features/early_years_teachers_financial_incentive_payments/changing_schools_rechecks_employment_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/happy_path_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/hmrc_journeys_spec.rb
  spec/jobs/early_years_teachers_financial_incentive_payments/hmrc_employment_check_job_spec.rb
Due: standard

Store the response from HMRC
  app/forms/journeys/early_years_teachers_financial_incentive_payments/confirm_national_insurance_number_form.rb
  app/forms/journeys/early_years_teachers_financial_incentive_payments/hmrc_bypass_form.rb
  app/forms/journeys/early_years_teachers_financial_incentive_payments/hmrc_loading_screen_form.rb
  app/forms/journeys/early_years_teachers_financial_incentive_payments/national_insurance_number_form.rb
  app/forms/journeys/early_years_teachers_financial_incentive_payments/nursery_search_form.rb
  app/forms/journeys/early_years_teachers_financial_incentive_payments/nursery_select_form.rb
  app/jobs/early_years_teachers_financial_incentive_payments/hmrc_employment_check_job.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/session_answers.rb
  lib/hmrc/employments/client.rb
  spec/features/early_years_teachers_financial_incentive_payments/happy_path_spec.rb
  spec/forms/journeys/early_years_teachers_financial_incentive_payments/confirm_national_insurance_number_form_spec.rb
  spec/jobs/early_years_teachers_financial_incentive_payments/hmrc_employment_check_job_spec.rb
  spec/lib/hmrc/employments/client_spec.rb
  spec/models/journeys/early_years_teachers_financial_incentive_payments/session_answers_spec.rb
Due: standard

Fix specs
  spec/features/early_years_teachers_financial_incentive_payments/hmrc_journeys_spec.rb
Due: standard

Add HMRC job
  app/forms/journeys/early_years_teachers_financial_incentive_payments/hmrc_bypass_form.rb
  app/jobs/early_years_teachers_financial_incentive_payments/hmrc_employment_check_job.rb
  app/models/hmrc/employment_history.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/employment_check.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/session_answers.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/slug_sequence.rb
  app/views/early_years_teachers_financial_incentive_payments/claims/hmrc_bypass.html.erb
  config/initializers/hmrc_bank_validations.rb
  spec/features/early_years_teachers_financial_incentive_payments/happy_path_spec.rb
Due: standard

Don't call hmrc job if using bypass form
  app/forms/journeys/early_years_teachers_financial_incentive_payments/confirm_national_insurance_number_form.rb
  app/forms/journeys/early_years_teachers_financial_incentive_payments/hmrc_bypass_form.rb
  app/forms/journeys/early_years_teachers_financial_incentive_payments/national_insurance_number_form.rb
  spec/features/early_years_teachers_financial_incentive_payments/happy_path_spec.rb
Due: standard

Update landing_page.html.erb
  app/views/early_years_teachers_financial_incentive_payments/landing_page.html.erb
Due: none

Update landing_page.html.erb (#4967)
  app/views/early_years_teachers_financial_incentive_payments/landing_page.html.erb
Due: none

Bumb zlib to fix security vulnerability
  Dockerfile
Due: none

Update eligibility check design
  app/forms/journeys/early_years_teachers_financial_incentive_payments/check_eligibility_form.rb
  app/views/early_years_teachers_financial_incentive_payments/claims/check_eligibility.html.erb
  spec/features/early_years_teachers_financial_incentive_payments/address_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/check_eligibility_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/claim_cancelled_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/claim_submission_to_payroll_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/happy_path_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/hmrc_journeys_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/ineligible_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/review_employment_proof_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/teacher_auth_bypass_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/teacher_auth_failure_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/upload_employment_proof_validation_spec.rb
  spec/features/postcode_journey_changes_spec.rb
  spec/forms/journeys/early_years_teachers_financial_incentive_payments/check_eligibility_form_spec.rb
Due: standard

Update eligibility check design (#4969)
  app/forms/journeys/early_years_teachers_financial_incentive_payments/check_eligibility_form.rb
  app/views/early_years_teachers_financial_incentive_payments/claims/check_eligibility.html.erb
  spec/features/early_years_teachers_financial_incentive_payments/address_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/check_eligibility_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/claim_cancelled_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/claim_submission_to_payroll_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/happy_path_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/hmrc_journeys_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/ineligible_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/review_employment_proof_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/teacher_auth_bypass_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/teacher_auth_failure_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/upload_employment_proof_validation_spec.rb
  spec/features/postcode_journey_changes_spec.rb
  spec/forms/journeys/early_years_teachers_financial_incentive_payments/check_eligibility_form_spec.rb
Due: standard

Add in meet eligibility field
  app/forms/journeys/early_years_teachers_financial_incentive_payments/check_eligibility_form.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/session_answers.rb
Due: standard

Update ineligibility logic for radios
  app/models/policies/early_years_teachers_financial_incentive_payments/policy_eligibility_checker.rb
  app/views/early_years_teachers_financial_incentive_payments/claims/_ineligible_check_eligibility_not_confirmed.html.erb
  config/locales/early_years_teachers_financial_incentive_payments.yml
  spec/models/policies/early_years_teachers_financial_incentive_payments_spec.rb
Due: standard

Updated name to meets_teaching_standards
  app/forms/journeys/early_years_teachers_financial_incentive_payments/check_eligibility_form.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/session_answers.rb
  app/models/policies/early_years_teachers_financial_incentive_payments/policy_eligibility_checker.rb
  app/views/early_years_teachers_financial_incentive_payments/claims/check_eligibility.html.erb
  config/locales/early_years_teachers_financial_incentive_payments.yml
  spec/forms/journeys/early_years_teachers_financial_incentive_payments/check_eligibility_form_spec.rb
  spec/models/policies/early_years_teachers_financial_incentive_payments_spec.rb
Due: standard

Move extracting employments from response
  app/models/journeys/early_years_teachers_financial_incentive_payments/employment_check.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/session_answers.rb
Due: standard

Add hmrc columns to eligibility
  config/analytics.yml
  config/analytics_blocklist.yml
  db/migrate/20261006142851_add_hmrc_columns_to_early_years_teachers_financial_incentive_payments_eligibilities.rb
  db/schema.rb
Due: standard

Add hmrc_employment_check_passed column
  app/forms/journeys/early_years_teachers_financial_incentive_payments/check_your_answers_form.rb
  config/analytics.yml
  db/migrate/20261007151303_add_hmrc_passed_to_early_years_teachers_financial_incentive_payments_eligibilities.rb
  db/schema.rb
Due: standard

511 eligibility changes (#4970)
  app/forms/journeys/early_years_teachers_financial_incentive_payments/check_eligibility_form.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/session_answers.rb
  app/models/policies/early_years_teachers_financial_incentive_payments/policy_eligibility_checker.rb
  app/views/early_years_teachers_financial_incentive_payments/claims/_ineligible_check_eligibility_not_confirmed.html.erb
  app/views/early_years_teachers_financial_incentive_payments/claims/check_eligibility.html.erb
  config/locales/early_years_teachers_financial_incentive_payments.yml
  spec/forms/journeys/early_years_teachers_financial_incentive_payments/check_eligibility_form_spec.rb
  spec/models/policies/early_years_teachers_financial_incentive_payments_spec.rb
Due: standard

WAL on test postgres
  terraform/application/config/test.tfvars.json
  terraform/application/database.tf
  terraform/application/variables.tf
Due: prettier

Update EYTRP employment check to handle hmrc
  app/models/automated_checks/claim_verifiers/early_years_teachers_financial_incentive_payments/employment.rb
  app/models/policies/early_years_teachers_financial_incentive_payments.rb
  app/models/policies/early_years_teachers_financial_incentive_payments/eligibility.rb
  app/views/admin/tasks/early_years_teachers_financial_incentive_payments/_employment_proof.html.erb
  app/views/admin/tasks/early_years_teachers_financial_incentive_payments/employment.html.erb
  spec/features/early_years_teachers_financial_incentive_payments/hmrc_journeys_spec.rb
  spec/models/policies/early_years_teachers_financial_incentive_payments_spec.rb
Due: standard

Feat: airbyte wal production
  terraform/application/config/production.tfvars.json
Due: prettier

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
