Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

notify sentry of OL auth failure
  app/controllers/omniauth_callbacks_controller.rb
  app/models/one_login/failure_handler.rb
  spec/requests/omniauth_callbacks_controller_spec.rb
Due: standard

Don't revalidate form
  app/forms/postcode_search_form.rb
Due: standard

Split up postcode_has_address concerns
  app/forms/postcode_search_form.rb
  app/models/postcode_search.rb
  app/views/claims/address.html.erb
  spec/features/auto_populating_home_address_from_postcode_search_spec.rb
  spec/features/postcode_journey_changes_spec.rb
  spec/forms/postcode_search_form_spec.rb
Due: standard

Don't run validations when skipping search
  app/forms/postcode_search_form.rb
  spec/forms/postcode_search_form_spec.rb
Due: standard

Don't validate session answers
  app/forms/select_home_address_form.rb
  app/models/journeys/session_answers.rb
  app/views/claims/select_home_address.html.erb
  spec/forms/select_home_address_form_spec.rb
  spec/support/ordnance_survey_helpers.rb
Due: standard

Safe titleize
  app/forms/select_home_address_form.rb
Due: standard

Lose valid check on completed
  app/forms/select_home_address_form.rb
Due: standard

Don't validate if skipping postcode search
  app/forms/select_home_address_form.rb
Due: standard

Use PostcodeSearch
  app/forms/select_home_address_form.rb
Due: standard

Simplify slug sequence
  app/models/journeys/base_answers_presenter.rb
  app/models/journeys/early_years_payment/practitioner/answers_presenter.rb
  app/models/journeys/early_years_payment/practitioner/slug_sequence.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/answers_presenter.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/slug_sequence.rb
  app/models/journeys/further_education_payments/answers_presenter.rb
  app/models/journeys/further_education_payments/slug_sequence.rb
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  app/models/journeys/session_answers.rb
  app/models/journeys/targeted_retention_incentive_payments/slug_sequence.rb
  app/models/journeys/teacher_student_loan_reimbursement/slug_sequence.rb
  spec/models/journeys/early_years_payment/practitioner/answers_presenter_spec.rb
  spec/models/journeys/get_a_teacher_relocation_payment/slug_sequence_spec.rb
  spec/models/journeys/targeted_retention_incentive_payments/slug_sequence_spec.rb
  spec/support/journey_answers_presenter_shared_examples.rb
Due: standard

Add test cases
  spec/features/early_years_payment/practitioner/address_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/address_spec.rb
  spec/features/further_education_payments/address_spec.rb
  spec/features/get_a_teacher_relocation_payment/address_spec.rb
  spec/features/targeted_retention_incentives/address_spec.rb
  spec/features/tslr/address_spec.rb
  spec/support/address_journey_shared_examples.rb
Due: standard

Add customer journeys page to tools
  app/controllers/static_pages_controller.rb
  app/models/journeys.rb
  app/views/static_pages/customer_journeys.html.erb
  app/views/static_pages/home.html.erb
  config/routes.rb
  spec/requests/admin/admin_page_spec.rb
Due: standard

compatability with dart sass
  .gitignore
  Gemfile
  Gemfile.lock
  Procfile.dev
  app/assets/builds/.keep
  app/assets/config/manifest.js
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/components/_remove_default_button_styling.scss
  app/assets/stylesheets/components/_timeline.scss
  app/assets/stylesheets/components/a11y_dialog.scss
  app/assets/stylesheets/components/accessible_autocomplete_tweaks.scss
  app/assets/stylesheets/components/admin_filters.scss
  app/assets/stylesheets/components/banner.scss
  app/assets/stylesheets/components/box.scss
  app/assets/stylesheets/components/button_to.scss
  app/assets/stylesheets/components/card.scss
  app/assets/stylesheets/components/contents_list.scss
  app/assets/stylesheets/components/cookie_banner.scss
  app/assets/stylesheets/components/currency_input.scss
  app/assets/stylesheets/components/document.scss
  app/assets/stylesheets/components/flash.scss
  app/assets/stylesheets/components/gds_kit_tweaks.scss
  app/assets/stylesheets/components/grey_box.scss
  app/assets/stylesheets/components/overrides.scss
  app/assets/stylesheets/components/panel.scss
  app/assets/stylesheets/components/school_search.scss
  app/assets/stylesheets/components/tag.scss
  app/assets/stylesheets/components/task_list.scss
  app/assets/stylesheets/components/text.scss
  app/assets/stylesheets/components/train.scss
  app/assets/stylesheets/url_handlers.scss
  app/views/components/_contents_list.html.erb
  app/views/early_years_payment/provider/start/guidance.html.erb
  app/views/early_years_teachers_financial_incentive_payments/guidance.html.erb
  app/views/layouts/admin.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/test_data.html.erb
  bin/dev
  config/initializers/assets.rb
  package.json
Due: prettier, standard

Update issue templates
  .github/ISSUE_TEMPLATE/claim-issue-template.md
Due: prettier

Add admin link
  app/views/static_pages/home.html.erb
  spec/requests/admin/admin_page_spec.rb
Due: standard

Fix EYPS qualification check
  app/jobs/early_years_teachers_financial_incentive_payments/fetch_qualifications_job.rb
  lib/dqt/objects/teacher.rb
  spec/jobs/early_years_teachers_financial_incentive_payments/fetch_qualifications_job_spec.rb
Due: standard

Add admin link
  app/assets/stylesheets/components/journey_components.scss
  app/controllers/concerns/journey_components_page.rb
  app/views/static_pages/journey_components.html.erb
  spec/requests/admin/admin_page_spec.rb
Due: prettier, standard

Fix EYPS qualification check
  app/jobs/early_years_teachers_financial_incentive_payments/fetch_qualifications_job.rb
  lib/dqt/objects/teacher.rb
  spec/features/early_years_teachers_financial_incentive_payments/claim_submission_to_payroll_spec.rb
  spec/jobs/early_years_teachers_financial_incentive_payments/fetch_qualifications_job_spec.rb
  spec/lib/dqt/objects/teacher_spec.rb
  spec/models/journeys/early_years_teachers_financial_incentive_payments/answers_presenter_spec.rb
Due: standard

Check SLC plan for EYTRP claim on upload
  app/jobs/student_loan_plan_check_job.rb
  app/models/claim/claims_awaiting_decision_finder.rb
  spec/features/admin/upload_slc_data_spec.rb
  spec/jobs/student_loan_plan_check_job_spec.rb
  spec/requests/admin/admin_student_loans_data_upload_spec.rb
Due: standard

upgrade govuk gems
  Gemfile
  Gemfile.lock
Due: none

upgrade govuk 6.1 => 6.2
  package.json
  yarn.lock
Due: prettier

upgrade to govuk 6.1.0 and OL header 6.0.0
  app/views/shared/_one_login_header.html.erb
  package.json
  yarn.lock
Due: prettier

claims without SLC data considers nil or false
  app/models/claim/claims_awaiting_decision_finder.rb
  spec/models/claim/claims_awaiting_decision_finder_spec.rb
Due: standard

Centralise awaiting task
  app/models/automated_checks/claim_verifiers/census_subjects_taught.rb
  app/models/automated_checks/claim_verifiers/employment.rb
  app/models/automated_checks/claim_verifiers/identity.rb
  app/models/automated_checks/claim_verifiers/one_login_identity.rb
  app/models/automated_checks/claim_verifiers/qualifications.rb
  app/models/automated_checks/claim_verifiers/student_loan_amount.rb
  app/models/automated_checks/claim_verifiers/student_loan_plan.rb
  app/models/claim.rb
  spec/models/claim_spec.rb
Due: standard

add rb-readline
  Gemfile
  Gemfile.lock
Due: none

add gems that were extracted from core or stdlib
  Gemfile
  Gemfile.lock
Due: none

upgrade ruby 3.4.9 => 4.0.5
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
Due: none

upgrade rubocop
  Gemfile.lock
  app/forms/further_education_payments/providers/claims/verification/claimant_personal_details_form.rb
  app/helpers/application_helper.rb
  app/models/automated_checks/dqt_report_csv_to_records.rb
  app/models/concerns/date_of_birth.rb
  app/models/dfe_sign_in.rb
  app/models/dfe_sign_in/user.rb
  app/models/payroll_run.rb
  app/models/policies/further_education_payments/admin_provider_verification_task_presenter.rb
  app/models/policies/further_education_payments/eligibility.rb
  app/models/policies/international_relocation_payments/employment_history/employment.rb
  spec/factories/claims.rb
  spec/features/get_a_teacher_relocation_payment/ineligible_route_completing_the_form_spec.rb
  spec/features/targeted_retention_incentives/reminders_spec.rb
  spec/jobs/auto_approve_claims_job_spec.rb
  spec/lib/dqt/resources/teacher_spec.rb
Due: standard

ignore keyword_init rubocop
  .standard.yml
  app/forms/further_education_payments/providers/claims/verification/claimant_personal_details_form.rb
  app/models/automated_checks/dqt_report_csv_to_records.rb
  app/models/concerns/date_of_birth.rb
  app/models/dfe_sign_in/user.rb
  app/models/payroll_run.rb
  app/models/policies/further_education_payments/admin_provider_verification_task_presenter.rb
  app/models/policies/further_education_payments/eligibility.rb
Due: standard

Change awaiting_task? to check if task required
  app/models/claim.rb
  spec/models/claim_spec.rb
Due: standard

Remove redundant guards
  app/models/automated_checks/claim_verifiers/employment.rb
  app/models/automated_checks/claim_verifiers/student_loan_amount.rb
  app/models/automated_checks/claim_verifiers/student_loan_plan.rb
Due: standard

Extract methods
  app/models/claim.rb
  spec/models/automated_checks/claim_verifiers/one_login_identity_spec.rb
Due: standard

Remove spring
  Gemfile
  Gemfile.lock
  bin/rails
  bin/rake
  bin/spring
Due: none

Touch
  README.md
Due: prettier

upgrade rails_semantic_logger 4.18.0 => 4.20.0
  Gemfile.lock
  config/initializers/rails_semantic_logger_8_monkeypatch.rb
Due: standard

upgrade dfe-analytics 1.15.9 => 1.15.17
  Gemfile
  Gemfile.lock
Due: none

install pundit gem
  Gemfile
  Gemfile.lock
  app/controllers/admin/base_admin_controller.rb
Due: standard

Persist matching details tasks
  app/models/automated_checks/claim_verifiers/matching_claims.rb
  app/models/claims/match.rb
  app/models/policies/early_career_payments/claim_checking_tasks.rb
  app/models/policies/early_years_payments/claim_checking_tasks.rb
  app/models/policies/early_years_teachers_financial_incentive_payments/claim_checking_tasks.rb
  app/models/policies/further_education_payments/claim_checking_tasks.rb
  app/models/policies/international_relocation_payments/claim_checking_tasks.rb
  app/models/policies/student_loans/claim_checking_tasks.rb
  app/models/policies/targeted_retention_incentive_payments/claim_checking_tasks.rb
  app/models/task.rb
  app/views/admin/tasks/matching_details.html.erb
  spec/features/admin/admin_claim_with_matching_details_spec.rb
  spec/features/admin/admin_duplicate_claims_task_spec.rb
  spec/models/automated_checks/claim_verifiers/matching_claims_spec.rb
Due: standard

Add shim
  app/models/policies/claim_checking_tasks.rb
  app/models/policies/early_career_payments/claim_checking_tasks.rb
  app/models/policies/early_years_payments/claim_checking_tasks.rb
  app/models/policies/early_years_teachers_financial_incentive_payments/claim_checking_tasks.rb
  app/models/policies/further_education_payments/claim_checking_tasks.rb
  app/models/policies/international_relocation_payments/claim_checking_tasks.rb
  app/models/policies/student_loans/claim_checking_tasks.rb
  app/models/policies/targeted_retention_incentive_payments/claim_checking_tasks.rb
  spec/factories/claims.rb
  spec/models/automated_checks/claim_verifiers/matching_claims_spec.rb
Due: standard

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
