Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

make award amount editable for FE
  app/helpers/admin/amendments_helper.rb
  spec/helpers/admin/amendments_helper_spec.rb
Due: standard

make award amount editable for FE (#3155)
  app/helpers/admin/amendments_helper.rb
  spec/helpers/admin/amendments_helper_spec.rb
Due: standard

LUPEYALPHA-1014: Change email address
  config/locales/en.yml
Due: none

Configure FE claims to never be sent for QA
  app/models/policies/further_education_payments.rb
Due: standard

Fix backlink on ineligible child-facing page (#3169)
  app/views/early_years_payment/provider/authenticated/claims/_ineligibility_not_child_facing_enough.html.erb
Due: none

Move additional payments journey specific reminder code to journey module
  app/models/claim.rb
  app/models/journeys/additional_payments_for_teaching.rb
  app/models/reminder.rb
  app/views/additional_payments/submissions/show.html.erb
  spec/models/journeys/additional_payments_for_teaching_spec.rb
  spec/models/reminder_spec.rb
Due: standard

Move additional payments journey specific reminder code to journey module (#3173)
  app/models/claim.rb
  app/models/journeys/additional_payments_for_teaching.rb
  app/models/reminder.rb
  app/views/additional_payments/submissions/show.html.erb
  spec/models/journeys/additional_payments_for_teaching_spec.rb
  spec/models/reminder_spec.rb
Due: standard

LUPEYALPHA-1014: Change email address (#3170)
  config/locales/en.yml
Due: none

change admin hint copy for FE payroll gender
  app/views/admin/decisions/_incomplete_tasks.html.erb
  app/views/admin/tasks/index.html.erb
  app/views/admin/tasks/payroll_gender.html.erb
  config/locales/en.yml
  spec/features/admin/admin_claim_payroll_details_task_spec.rb
  spec/features/admin/admin_claim_with_matching_details_spec.rb
  spec/features/admin/admin_claim_with_missing_payroll_gender_spec.rb
  spec/features/admin/admin_claim_without_verified_identity_spec.rb
  spec/support/admin_checks_feature_shared_examples.rb
Due: standard

fix deprecation
  Gemfile
  Gemfile.lock
Due: none

fix back link
  app/views/admin/tasks/payroll_gender.html.erb
Due: none

Update backlink on returner ineligibility to returner-contract-type
  app/views/early_years_payment/provider/authenticated/claims/_ineligibility_returner.html.erb
Due: none

[LUPEYALPHA-775] EY previous job in early years setting - unhappy path (#3129)
  app/forms/journeys/early_years_payment/provider/authenticated/returner_contract_type_form.rb
  app/forms/journeys/early_years_payment/provider/authenticated/returner_form.rb
  app/forms/journeys/early_years_payment/provider/authenticated/returner_worked_with_children_form.rb
  app/models/journeys/early_years_payment/provider/authenticated.rb
  app/models/journeys/early_years_payment/provider/authenticated/answers_presenter.rb
  app/models/journeys/early_years_payment/provider/authenticated/session_answers.rb
  app/models/journeys/early_years_payment/provider/authenticated/slug_sequence.rb
  app/models/policies/early_years_payments/policy_eligibility_checker.rb
  app/views/early_years_payment/provider/authenticated/claims/_ineligibility_returner.html.erb
  app/views/early_years_payment/provider/authenticated/claims/returner.html.erb
  app/views/early_years_payment/provider/authenticated/claims/returner_contract_type.html.erb
  app/views/early_years_payment/provider/authenticated/claims/returner_worked_with_children.html.erb
  config/analytics.yml
  config/locales/en.yml
  db/migrate/20240828132813_rename_ey_eligibility_column.rb
  db/schema.rb
  spec/factories/journeys/early_years_payment/provider/authenticated/early_years_payment_answers.rb
  spec/factories/journeys/early_years_payment/provider/authenticated/early_years_payment_provider_authenticated_answers.rb
  spec/features/early_years_payment/provider/authenticated/happy_path_spec.rb
  spec/features/early_years_payment/provider/authenticated/ineligible_returner_spec.rb
  spec/forms/journeys/early_years_payment/provider/authenticated/claim_submission_form_spec.rb
  spec/forms/journeys/early_years_payment/provider/authenticated/returner_contract_type_form_spec.rb
  spec/forms/journeys/early_years_payment/provider/authenticated/returner_worked_with_children_form_spec.rb
  spec/models/policies/early_years_payments/policy_eligibility_checker_spec.rb
Due: standard

PR feedback
  app/controllers/journeys/additional_payments_for_teaching/reminders_controller.rb
  app/forms/reminders/confirmation_form.rb
  app/forms/reminders/email_verification_form.rb
  app/forms/reminders/personal_details_form.rb
  app/models/reminder.rb
  config/analytics.yml
  db/migrate/20240910135453_add_journey_to_reminders.rb
  db/schema.rb
  spec/factories/reminders.rb
Due: standard

Use correct support email address for journey in reminder email
  app/mailers/reminder_mailer.rb
Due: standard

Store journey on Reminder and remove assumptions that all reminders are for the additional payments journey
  app/controllers/admin/journey_configurations_controller.rb
  app/controllers/journeys/additional_payments_for_teaching/reminders_controller.rb
  app/forms/journeys/additional_payments_for_teaching/reminders/email_verification_form.rb
  app/forms/journeys/additional_payments_for_teaching/reminders/personal_details_form.rb
  app/forms/reminders/confirmation_form.rb
  app/forms/reminders/email_verification_form.rb
  app/forms/reminders/personal_details_form.rb
  app/jobs/send_reminder_email_job.rb
  app/jobs/send_reminder_emails_job.rb
  app/mailers/reminder_mailer.rb
  app/models/reminder.rb
  app/views/admin/journey_configurations/_ecp_reminder_warning.html.erb
  config/analytics.yml
  db/migrate/20240910135453_add_journey_to_reminders.rb
  db/schema.rb
  spec/factories/reminders.rb
  spec/features/admin/admin_configure_services_spec.rb
  spec/features/reminders_spec.rb
  spec/forms/journeys/additional_payments_for_teaching/reminders/email_verification_form_spec.rb
  spec/jobs/send_reminder_emails_job_spec.rb
Due: standard

No need to selectively filter blank fields
  app/models/claim/matching_attribute_finder.rb
  spec/models/claim/matching_attribute_finder_spec.rb
Due: standard

LUPEYALPHA-1015 - FE claims with no TRN aren't considered matching other claims with no TRN
  app/models/claim/matching_attribute_finder.rb
  spec/models/claim/matching_attribute_finder_spec.rb
  spec/support/admin_view_claim_feature_shared_examples.rb
Due: standard

Fix the labels on addresses
  app/views/claims/select_home_address.html.erb
  spec/features/auto_populating_home_address_from_postcode_search_spec.rb
  spec/features/combined_teacher_claim_journey_with_teacher_id_check_email_spec.rb
  spec/features/early_career_payments_claim_spec.rb
  spec/features/tslr_claim_journey_with_teacher_id_check_email_spec.rb
  spec/features/tslr_claim_journey_with_teacher_id_trn_spec.rb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

Show all email sending events
  app/models/policies/further_education_payments/admin_provider_verification_task_presenter.rb
  app/views/admin/tasks/_provider_verification_unsubmitted.html.erb
Due: standard

Record who sent the email to the provider
  app/controllers/admin/further_education_payments/provider_verification_emails_controller.rb
  app/models/policies/further_education_payments/admin_provider_verification_task_presenter.rb
  app/models/policies/further_education_payments/admin_tasks_presenter.rb
  app/views/admin/tasks/provider_verification.html.erb
  spec/features/admin/admin_claim_further_education_payments_spec.rb
Due: standard

Fix resend verification email logic
  app/models/policies/further_education_payments/admin_provider_verification_task_presenter.rb
  app/views/admin/tasks/_provider_verification_submitted.html.erb
  app/views/admin/tasks/_provider_verification_unsubmitted.html.erb
  app/views/admin/tasks/provider_verification.html.erb
  spec/features/admin/admin_claim_further_education_payments_spec.rb
Due: standard

Update button copy
  app/views/admin/tasks/provider_verification.html.erb
  spec/features/admin/admin_claim_further_education_payments_spec.rb
Due: standard

Show the FE specific claim summary
  app/views/admin/tasks/provider_verification.html.erb
Due: none

Update the link copy
  config/locales/en.yml
  spec/features/admin/admin_claim_further_education_payments_spec.rb
Due: standard

Move scrubbing attributes to policy
  app/models/policies/claim_personal_data_scrubber.rb
  app/models/policies/early_career_payments.rb
  app/models/policies/early_years_payments.rb
  app/models/policies/further_education_payments.rb
  app/models/policies/international_relocation_payments.rb
  app/models/policies/international_relocation_payments/claim_personal_data_scrubber.rb
  app/models/policies/levelling_up_premium_payments.rb
  app/models/policies/student_loans.rb
  spec/support/claim_personal_data_scrubber_shared_examples.rb
Due: standard

add survey to FE confirmation page
  app/views/further_education_payments/submissions/show.html.erb
Due: none

add view spec for tracking scripts
  app/views/layouts/application.html.erb
  spec/views/layouts/application.html.erb_spec.rb
Due: standard

folder to group tslr feature specs
  spec/features/tslr/tslr_claim_journey_with_teacher_id_check_email_spec.rb
  spec/features/tslr/tslr_claim_journey_with_teacher_id_check_mobile_spec.rb
  spec/features/tslr/tslr_claim_journey_with_teacher_id_disabled_spec.rb
  spec/features/tslr/tslr_claim_journey_with_teacher_id_select_claim_school_spec.rb
  spec/features/tslr/tslr_claim_journey_with_teacher_id_spec.rb
  spec/features/tslr/tslr_claim_journey_with_teacher_id_still_teaching_spec.rb
  spec/features/tslr/tslr_claim_journey_with_teacher_id_trn_spec.rb
Due: standard

update copy on save cookies button
  app/views/static_pages/cookies_page.html.erb
Due: none

folder to group ecp feature specs
  spec/features/early_career_payments/early_career_payments_claim_lupp_ineligible_spec.rb
  spec/features/early_career_payments/early_career_payments_claim_spec.rb
  spec/features/early_career_payments/early_career_payments_eligible_now_reminder_set_spec.rb
  spec/features/early_career_payments/early_career_payments_landing_page_spec.rb
  spec/features/early_career_payments/early_career_payments_trainee_teacher_spec.rb
  spec/features/early_career_payments/eligible_later_early_career_payments_claim_spec.rb
  spec/features/early_career_payments/ineligible_early_career_payments_claims_spec.rb
  spec/features/early_career_payments/ineligible_early_career_payments_in_2022_and_future_years_spec.rb
Due: standard

revamp cookies
  README.md
  app/assets/javascripts/application.js
  app/assets/javascripts/components/cookie_banner.js
  app/assets/javascripts/cookie_functions.js
  app/assets/javascripts/google_analytics.js
  app/assets/stylesheets/components/cookie_banner.scss
  app/controllers/cookies_controller.rb
  app/controllers/static_pages_controller.rb
  app/forms/cookies_form.rb
  app/helpers/application_helper.rb
  app/views/layouts/application.html.erb
  app/views/shared/_cookie_banner.html.erb
  app/views/static_pages/cookies.html.erb
  app/views/static_pages/cookies_page.html.erb
  config/routes.rb
Due: prettier, standard

add test coverage of cookies
  spec/features/cookies_spec.rb
Due: standard

Capitalize trn and ni
  app/helpers/admin/claims_helper.rb
  app/views/admin/claims/_claims_with_matching_details.html.erb
  config/locales/en.yml
  spec/features/admin/admin_claim_with_matching_details_spec.rb
  spec/helpers/admin/claims_helper_spec.rb
Due: standard

update hint copy on payroll gender question
  app/views/claims/gender.html.erb
Due: none

Fix find or create for provider
  app/models/automated_checks/claim_verifiers/provider_verification.rb
  spec/models/automated_checks/claim_verifiers/provider_verification_spec.rb
Due: standard

update cookie banner for admins
  app/controllers/admin/cookies_controller.rb
  app/controllers/admin/static_pages_controller.rb
  app/views/admin/_cookie_banner.html.erb
  app/views/admin/static_pages/cookies_page.html.erb
  app/views/layouts/admin.html.erb
  app/views/static_pages/_cookies_content.html.erb
  app/views/static_pages/cookies_page.html.erb
  config/routes.rb
  spec/features/admin/cookies_spec.rb
Due: standard

Add screen for when a magic link has expired
  app/controllers/claims_controller.rb
  app/models/journeys/early_years_payment/provider/start/slug_sequence.rb
  app/models/journeys/page_sequence.rb
  app/views/early_years_payment/provider/start/claims/expired_link.html.erb
  spec/features/early_years_payment/provider/authenticated/expired_magic_link_spec.rb
Due: standard

Only show payroll_details task if required
  app/models/policies/further_education_payments/claim_checking_tasks.rb
  config/locales/en.yml
  spec/models/policies/further_education_payments/claim_checking_tasks_spec.rb
  spec/support/admin_view_claim_feature_shared_examples.rb
Due: standard

Add specs for ClaimCheckingTasks
  spec/models/policies/further_education_payments/claim_checking_tasks_spec.rb
Due: standard

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
