Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

extra guard for FE dupe submission
  app/controllers/concerns/form_submittable.rb
  app/forms/journeys/further_education_payments/check_your_answers_form.rb
  app/views/further_education_payments/claims/_ineligible_claim_already_submitted_this_policy_year.html.erb
  spec/features/further_education_payments/claimed_last_year_spec.rb
  spec/features/further_education_payments/ineligible_paths_spec.rb
  spec/forms/journeys/further_education_payments/check_your_answers_form_spec.rb
Due: standard

Don't allow approving fe/tri/loans claims
  app/models/policies/further_education_payments.rb
  app/models/policies/student_loans.rb
  app/models/policies/targeted_retention_incentive_payments.rb
  app/views/admin/decisions/_decision_form.html.erb
  spec/models/claim_auto_approval_spec.rb
  spec/rails_helper.rb
Due: standard

job to delete failed file uploads
  app/jobs/delete_failed_file_uploads_job.rb
  config/recurring.yml
  spec/jobs/delete_failed_file_uploads_job_spec.rb
Due: standard

Add BankAccountVerificationResponse#status
  app/forms/personal_bank_account_form.rb
  lib/hmrc/bank_account_verification_response.rb
Due: standard

Refactor specs to stub api calls
  spec/features/hmrc_bank_validation_spec.rb
  spec/forms/personal_bank_account_form_spec.rb
  spec/support/hmrc.rb
Due: standard

Use save context to trigger hmrc api call
  app/forms/personal_bank_account_form.rb
  spec/forms/personal_bank_account_form_spec.rb
Due: standard

Clean up HMRC validation
  app/forms/personal_bank_account_form.rb
  lib/hmrc/bank_account_verification_response.rb
  lib/hmrc/client.rb
  spec/forms/personal_bank_account_form_spec.rb
  spec/lib/hmrc/client_spec.rb
  spec/support/hmrc.rb
Due: standard

Add post_request!
  lib/hmrc/client.rb
Due: standard

hide rejected claims from unverified claims
  app/controllers/further_education_payments/providers/claims_controller.rb
  spec/features/further_education_payments/providers/unverified_dashboard_spec.rb
Due: standard

Remove support_agent role
  app/controllers/admin/base_admin_controller.rb
  app/controllers/admin/page_controller.rb
  app/models/dfe_sign_in/user.rb
  spec/models/dfe_sign_in/user_spec.rb
Due: standard

remove forced pg package from Dockerfile
  Dockerfile
Due: none

fix TSLR change school
  app/forms/journeys/teacher_student_loan_reimbursement/claim_school_form.rb
  spec/features/tslr/tslr_claim_journey_with_teacher_id_change_school_spec.rb
Due: standard

CAPT-3377 - Handle DQT http status for 200 only
  lib/dqt/resources/teacher.rb
Due: standard

shuffle analytics fields
  config/analytics.yml
  config/analytics_blocklist.yml
  config/analytics_hidden_pii.yml
Due: none

fix data reliant test
  spec/lib/analytics_importer_spec.rb
Due: standard

Show generic failure
  app/views/targeted_retention_incentive_payments/claims/ineligible.html.erb
Due: none

dqt_teacher_status contains pii
  app/models/journeys/session_answers.rb
Due: standard

Role and experience content change
  config/locales/further_education_payments.yml
  spec/models/policies/further_education_payments/eligibility_admin_provider_answers_presenter_spec.rb
Due: standard

The verification of this claim was started content change
  app/views/further_education_payments/providers/claims/verifications/_summary.html.erb
  app/views/further_education_payments/providers/claims/verifications/continue_verification.html.erb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
Due: standard

Change content to study programmes, T Levels or 16-19 apprentices
  app/models/further_education_payments/providers/claims/answers_presenter.rb
  app/views/further_education_payments/providers/claims/verifications/_summary.html.erb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
  spec/features/further_education_payments/providers/provider_verifying_with_claimant_courses_spec.rb
  spec/features/further_education_payments/providers/verified_claim_spec.rb
Due: standard

Change content eligible FE courses the claimant listed
  app/models/further_education_payments/providers/claims/answers_presenter.rb
  app/views/further_education_payments/providers/claims/verifications/_summary.html.erb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
  spec/features/further_education_payments/providers/provider_verifying_with_claimant_courses_spec.rb
  spec/features/further_education_payments/providers/verified_claim_spec.rb
Due: standard

touch
  README.md
Due: prettier

fix OL indexes
  db/migrate/20260316121438_redo_index_sessions_ol_index.rb
  db/migrate/20260316122045_rm_extra_ol_index.rb
  db/schema.rb
Due: standard

Switch back to the normal terraform-modules tags
  global_config/domains.sh
  global_config/production.sh
  global_config/review.sh
  global_config/test.sh
Due: none

Update admin.yml
  config/locales/admin.yml
Due: none

fix OL query syntax
  app/models/one_login_account.rb
Due: standard

fix incorrect schema version
  db/schema.rb
Due: standard

Timetabled teaching hours content change
  app/views/further_education_payments/providers/claims/verifications/teaching_hours_per_week.html.erb
Due: none

Feature flag job
  app/jobs/claims/verify_personal_bank_account_job.rb
  spec/jobs/claims/verify_personal_bank_account_job_spec.rb
Due: standard

Add job to retry bank validation
  app/jobs/claims/retry_failed_personal_bank_account_verification_job.rb
  app/jobs/claims/verify_personal_bank_account_job.rb
  spec/jobs/claims/retry_failed_personal_bank_account_verification_job_spec.rb
  spec/jobs/claims/verify_personal_bank_account_job_spec.rb
  spec/support/hmrc.rb
Due: standard

add missing admin summary to FE repeat check task
  app/views/admin/tasks/fe_repeat_applicant_check.html.erb
Due: none

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
