Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

move OL variables to OneLogin::Config
  app/models/one_login/config.rb
  config/initializers/omniauth.rb
Due: standard

move DSI variables into DfeSignIn::Config
  app/models/dfe_sign_in/config.rb
  config/initializers/omniauth.rb
Due: standard

move TeacherId variables to TeacherId::Config
  app/models/teacher_id/config.rb
  config/initializers/omniauth.rb
Due: standard

move dfe sign in #bypass? method to Config
  app/controllers/admin/auth_controller.rb
  app/controllers/omniauth_callbacks_controller.rb
  app/models/dfe_sign_in/config.rb
  app/views/admin/auth/sign_in.html.erb
  app/views/further_education_payments/providers/sessions/new.html.erb
  config/initializers/omniauth.rb
  config/routes.rb
  spec/features/further_education_payments/providers/sessions_spec.rb
  spec/features/further_education_payments/providers/status_and_processed_by_spec.rb
  spec/features/further_education_payments/providers/unverified_dashboard_spec.rb
  spec/features/further_education_payments/providers/verified_claim_spec.rb
  spec/features/further_education_payments/providers/verified_dashboard_spec.rb
Due: standard

OL config now a singleton
  app/controllers/omniauth_callbacks_controller.rb
  app/helpers/application_helper.rb
  app/models/one_login/config.rb
  app/views/early_years_payment/practitioner/claims/_sign_in_2_authed.html.erb
  app/views/further_education_payments/claims/_one_login_idv_1_prepare.html.erb
  config/initializers/omniauth.rb
  config/routes.rb
  spec/requests/omniauth_callbacks_controller_spec.rb
Due: standard

TeacherId::bypass? now lives in config singleton
  app/models/journeys/base.rb
  app/models/teacher_id/config.rb
  config/initializers/omniauth.rb
Due: standard

dfe sign in issuer_uri now part of config
  app/models/dfe_sign_in/config.rb
  config/initializers/omniauth.rb
Due: standard

Add support for assignee filtering
  app/controllers/admin/task_lists_controller.rb
  app/models/admin/task_list_form.rb
  app/views/admin/task_lists/index.html.erb
  spec/models/admin/task_list_form_spec.rb
Due: standard

fix active claims sorting
  app/models/admin/my_claims.rb
  spec/models/admin/my_claims_spec.rb
Due: standard

fix nil date in my claims view
  app/views/admin/my_claims/show.html.erb
  spec/views/admin/my_claims/show.html.erb_spec.rb
Due: standard

CAPT-3157: Add ability for admin users to add notes to claim tasks
  app/controllers/admin/notes_controller.rb
  app/controllers/admin/payroll_gender_tasks_controller.rb
  app/controllers/admin/tasks_controller.rb
  app/views/admin/notes/_note.html.erb
  app/views/admin/tasks/_continuous_employment_form.html.erb
  app/views/admin/tasks/_form_body.html.erb
  app/views/admin/tasks/_task_notes_section.html.erb
  app/views/admin/tasks/_task_outcome.html.erb
  app/views/admin/tasks/_task_outcome_continuous_employment.html.erb
  app/views/admin/tasks/_task_outcome_one_login_identity.html.erb
  app/views/admin/tasks/arrival_date.html.erb
  app/views/admin/tasks/census_subjects_taught.html.erb
  app/views/admin/tasks/continuous_employment.html.erb
  app/views/admin/tasks/employment.html.erb
  app/views/admin/tasks/employment_contract.html.erb
  app/views/admin/tasks/employment_history.html.erb
  app/views/admin/tasks/employment_start.html.erb
  app/views/admin/tasks/ey_eoi_cross_reference.html.erb
  app/views/admin/tasks/fe_provider_verification_v2.html.erb
  app/views/admin/tasks/fe_repeat_applicant_check.html.erb
  app/views/admin/tasks/first_year_application.html.erb
  app/views/admin/tasks/identity_confirmation.html.erb
  app/views/admin/tasks/matching_details.html.erb
  app/views/admin/tasks/one_login_identity.html.erb
  app/views/admin/tasks/payroll_details.html.erb
  app/views/admin/tasks/payroll_gender.html.erb
  app/views/admin/tasks/previous_payment.html.erb
  app/views/admin/tasks/previous_residency.html.erb
  app/views/admin/tasks/provider_verification.html.erb
  app/views/admin/tasks/qualifications.html.erb
  app/views/admin/tasks/student_loan_amount.html.erb
  app/views/admin/tasks/student_loan_plan.html.erb
  app/views/admin/tasks/subject.html.erb
  app/views/admin/tasks/teaching_hours.html.erb
  app/views/admin/tasks/visa.html.erb
  config/routes.rb
  spec/features/admin/admin_claim_tasks_update_with_dqt_api_spec.rb
  spec/features/admin/admin_task_notes_spec.rb
  spec/requests/admin/admin_task_notes_spec.rb
  spec/views/admin/tasks/one_login_identity.html.erb_spec.rb
Due: standard

Refactor Note model to determine if the record is task related
  app/models/note.rb
  app/views/admin/notes/_note.html.erb
  spec/models/note_spec.rb
Due: standard

add FE year 2 failed provider check report
  app/jobs/reports_job.rb
  app/models/reports/failed_fe_provider_verification_v2.rb
  app/models/task.rb
  spec/factories/policies/further_education_payments/eligibilities.rb
  spec/models/reports/failed_fe_provider_verification_v2_spec.rb
Due: standard

redirect before setting form
  app/controllers/further_education_payments/providers/claims/verifications_controller.rb
Due: standard

format boolean in CSV
  app/models/reports/failed_fe_provider_verification_v2.rb
Due: standard

only print decision agent name if present
  app/models/reports/failed_fe_provider_verification_v2.rb
Due: standard

track new OL header package rather than git
  app/assets/javascripts/application.js
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/components/overrides.scss
  package.json
  yarn.lock
Due: prettier

Update copy
  app/views/early_years_teachers/practitioner/claims/check_your_answers.html.erb
Due: none

Allow setting the phase form views
  app/views/layouts/application.html.erb
Due: none

Add feature flag to bypass basic auth
  app/controllers/concerns/http_auth_concern.rb
Due: standard

Add gender changes
  app/forms/journeys/early_years_teachers/practitioner/gender_form.rb
  app/models/journeys/early_years_teachers/practitioner.rb
  app/models/journeys/early_years_teachers/practitioner/answers_presenter.rb
  app/models/journeys/early_years_teachers/practitioner/session_answers.rb
  app/views/early_years_teachers/practitioner/claims/gender.html.erb
  config/locales/early_years_teachers_practitioner.yml
Due: standard

Bypass validations for UR
  app/forms/journeys/early_years_teachers/practitioner/national_insurance_number_form.rb
  app/forms/journeys/early_years_teachers/practitioner/personal_bank_account_form.rb
  app/models/journeys/early_years_teachers/practitioner.rb
Due: standard

Fix provider check answers links
  app/models/journeys/early_years_teachers/provider/answers_presenter.rb
Due: standard

Update teacher journey
  app/forms/journeys/early_years_teachers/practitioner/check_your_answers_part_one_form.rb
  app/forms/journeys/early_years_teachers/practitioner/confirm_details_form.rb
  app/forms/journeys/early_years_teachers/practitioner/how_we_use_your_information_form.rb
  app/forms/journeys/early_years_teachers/practitioner/national_insurance_number_form.rb
  app/forms/journeys/early_years_teachers/practitioner/one_login_callback_success_form.rb
  app/forms/journeys/early_years_teachers/practitioner/sign_in_form.rb
  app/forms/journeys/early_years_teachers/practitioner/sign_in_or_continue_form.rb
  app/models/journeys/early_years_teachers/practitioner.rb
  app/models/journeys/early_years_teachers/practitioner/session_answers.rb
  app/models/journeys/early_years_teachers/practitioner/slug_sequence.rb
  app/views/early_years_teachers/practitioner/claims/check_your_answers_part_one.html.erb
  app/views/early_years_teachers/practitioner/claims/confirm_details.html.erb
  app/views/early_years_teachers/practitioner/claims/confirmation.html.erb
  app/views/early_years_teachers/practitioner/claims/date_of_birth.html.erb
  app/views/early_years_teachers/practitioner/claims/full_name.html.erb
  app/views/early_years_teachers/practitioner/claims/how_we_use_your_information.html.erb
  app/views/early_years_teachers/practitioner/claims/national_insurance_number.html.erb
  app/views/early_years_teachers/practitioner/claims/one_login_callback_success.html.erb
  app/views/early_years_teachers/practitioner/claims/sign_in.html.erb
  app/views/early_years_teachers/practitioner/claims/sign_in_or_continue.html.erb
  app/views/early_years_teachers/practitioner/claims/teacher_reference_number.html.erb
  config/locales/early_years_teachers_practitioner.yml
Due: standard

Fix link to lost trn
  app/views/early_years_teachers/practitioner/claims/teacher_reference_number.html.erb
Due: none

ADD initial eytfi practioner prototype
  app/forms/journeys/early_years_teachers/practitioner/check_your_answers_form.rb
  app/forms/journeys/early_years_teachers/practitioner/check_your_answers_part_one_form.rb
  app/forms/journeys/early_years_teachers/practitioner/confirm_details_form.rb
  app/forms/journeys/early_years_teachers/practitioner/confirmation_form.rb
  app/forms/journeys/early_years_teachers/practitioner/eligibility_confirmed_form.rb
  app/forms/journeys/early_years_teachers/practitioner/favourite_colour_form.rb
  app/forms/journeys/early_years_teachers/practitioner/payment_not_accepted_form.rb
  app/forms/journeys/early_years_teachers/practitioner/payment_options_form.rb
  app/forms/journeys/early_years_teachers/practitioner/sign_in_or_continue_form.rb
  app/models/journeys/early_years_teachers/practitioner.rb
  app/models/journeys/early_years_teachers/practitioner/answers_presenter.rb
  app/models/journeys/early_years_teachers/practitioner/session_answers.rb
  app/models/journeys/early_years_teachers/practitioner/slug_sequence.rb
  app/views/early_years_teachers/practitioner/claims/check_your_answers.html.erb
  app/views/early_years_teachers/practitioner/claims/check_your_answers_part_one.html.erb
  app/views/early_years_teachers/practitioner/claims/confirm_details.html.erb
  app/views/early_years_teachers/practitioner/claims/confirmation.html.erb
  app/views/early_years_teachers/practitioner/claims/date_of_birth.html.erb
  app/views/early_years_teachers/practitioner/claims/eligibility_confirmed.html.erb
  app/views/early_years_teachers/practitioner/claims/full_name.html.erb
  app/views/early_years_teachers/practitioner/claims/national_insurance_number.html.erb
  app/views/early_years_teachers/practitioner/claims/payment_not_accepted.html.erb
  app/views/early_years_teachers/practitioner/claims/payment_options.html.erb
  app/views/early_years_teachers/practitioner/claims/sign_in_or_continue.html.erb
  app/views/early_years_teachers/practitioner/claims/teacher_reference_number.html.erb
  app/views/early_years_teachers/practitioner/landing_page.html.erb
  config/locales/early_years_teachers_practitioner.yml
  config/locales/en.yml
Due: standard

Add initial eytfi provider prototype
  app/forms/journeys/early_years_teachers/provider/check_nursery_details_form.rb
  app/forms/journeys/early_years_teachers/provider/check_your_answers_form.rb
  app/forms/journeys/early_years_teachers/provider/check_your_email_form.rb
  app/forms/journeys/early_years_teachers/provider/confirmation_form.rb
  app/forms/journeys/early_years_teachers/provider/employer_paye_reference_form.rb
  app/forms/journeys/early_years_teachers/provider/favourite_colour_form.rb
  app/forms/journeys/early_years_teachers/provider/manage_teachers_form.rb
  app/forms/journeys/early_years_teachers/provider/organisation_email_address_form.rb
  app/forms/journeys/early_years_teachers/provider/provide_teacher_details_form.rb
  app/forms/journeys/early_years_teachers/provider/provider_email_form.rb
  app/forms/journeys/early_years_teachers/provider/update_nursery_details_form.rb
  app/models/journeys/early_years_teachers/provider.rb
  app/models/journeys/early_years_teachers/provider/answers_presenter.rb
  app/models/journeys/early_years_teachers/provider/session_answers.rb
  app/models/journeys/early_years_teachers/provider/slug_sequence.rb
  app/views/early_years_teachers/provider/claims/_remove_teacher.html.erb
  app/views/early_years_teachers/provider/claims/_teacher_card.html.erb
  app/views/early_years_teachers/provider/claims/check_nursery_details.html.erb
  app/views/early_years_teachers/provider/claims/check_your_answers.html.erb
  app/views/early_years_teachers/provider/claims/check_your_email.html.erb
  app/views/early_years_teachers/provider/claims/confirmation.html.erb
  app/views/early_years_teachers/provider/claims/employer_paye_reference.html.erb
  app/views/early_years_teachers/provider/claims/manage_teachers.html.erb
  app/views/early_years_teachers/provider/claims/organisation_email_address.html.erb
  app/views/early_years_teachers/provider/claims/provide_teacher_details.html.erb
  app/views/early_years_teachers/provider/claims/provider_email.html.erb
  app/views/early_years_teachers/provider/claims/update_nursery_details.html.erb
  app/views/early_years_teachers/provider/landing_page.html.erb
  config/locales/early_years_teachers_provider.yml
  spec/features/early_years_teachers/practitioner/prototype_test_spec.rb
  spec/features/early_years_teachers/provider/prototype_test_spec.rb
Due: standard

touch
  README.md
Due: prettier

Add notes task detail pages where missing
  app/views/admin/tasks/_alternative_identity_verification_form.html.erb
  app/views/admin/tasks/alternative_identity_verification.html.erb
  app/views/admin/tasks/induction_confirmation.erb
  app/views/admin/tasks/provider_details.html.erb
  spec/features/admin/admin_task_notes_spec.rb
Due: standard

Fix persona
  spec/personas/targeted_retention_incentive_payments.csv
Due: none

Generate TRS test data
  app/models/policies/targeted_retention_incentive_payments/test/school_workforce_census_generator.rb
  app/models/policies/targeted_retention_incentive_payments/test/trs_data_generator.rb
  app/models/policies/targeted_retention_incentive_payments/test/user_persona.rb
  lib/tasks/trs_test_data.rake
  spec/models/policies/targeted_retention_incentive_payments/test/school_workforce_census_generator_spec.rb
  spec/models/policies/targeted_retention_incentive_payments/test/trs_data_generator_spec.rb
  spec/models/policies/targeted_retention_incentive_payments/test/user_persona_spec.rb
  spec/personas/targeted_retention_incentive_payments.csv
Due: standard

Add TRNs to personas file
  spec/fixtures/files/targeted_retention_incentive_payments_personas.csv
  spec/personas/targeted_retention_incentive_payments.csv
Due: none

Add notes task detail pages where missing (#4319)
  app/views/admin/tasks/_alternative_identity_verification_form.html.erb
  app/views/admin/tasks/alternative_identity_verification.html.erb
  app/views/admin/tasks/induction_confirmation.erb
  app/views/admin/tasks/provider_details.html.erb
  spec/features/admin/admin_task_notes_spec.rb
Due: standard

feature flag to toggle fe provider dashboard
  app/controllers/admin/feature_flags_controller.rb
  app/controllers/admin/journey_configurations_controller.rb
  app/forms/admin/feature_flags_form.rb
  app/views/admin/journey_configurations/_edit_further_education_payments.html.erb
  config/routes.rb
  spec/features/admin/configure_services_spec.rb
Due: standard

plumb fe_provider_dashboard feature flag
  app/controllers/further_education_payments/providers/base_controller.rb
  app/views/further_education_payments/providers/closed.html.erb
  spec/features/further_education_payments/providers/provider_verification_access_spec.rb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
  spec/features/further_education_payments/providers/provider_verifying_with_claimant_courses_spec.rb
  spec/features/further_education_payments/providers/sessions_spec.rb
  spec/features/further_education_payments/providers/status_and_processed_by_spec.rb
  spec/features/further_education_payments/providers/unverified_dashboard_spec.rb
  spec/features/further_education_payments/providers/verified_claim_spec.rb
  spec/features/further_education_payments/providers/verified_dashboard_spec.rb
Due: standard

enable fe_provider_dashboard feature flag in seeds
  db/seeds.rb
Due: standard

Fix double render error
  app/controllers/further_education_payments/providers/base_controller.rb
  spec/features/further_education_payments/providers/provider_verification_access_spec.rb
Due: standard

Upper case nino before validation
  app/forms/national_insurance_number_form.rb
  spec/forms/national_insurance_number_form_spec.rb
Due: standard

Add link
  app/views/admin/claims/index.html.erb
Due: none

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
