Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{css,html,js,js.erb,json,md,scss}"
      run: rails prettier {staged_files}
      skip:
        - merge
        - rebase
    standard:
      glob: "*.rb"
      run: rails standard {staged_files}
      skip:
        - merge
        - rebase

bypass dfe sign in for review apps
  terraform/application/config/review_app_env.yml
Due: none

enabled DfE sign in
  terraform/application/config/review_app_env.yml
Due: none

modify unique index on dfe sign in users
  db/migrate/20250630131122_dfe_users_index_change.rb
  db/schema.rb
Due: standard

further_education_payments auth skeleton
  app/controllers/further_education_payments/providers/authorisation_failures_controller.rb
  app/controllers/further_education_payments/providers/base_controller.rb
  app/controllers/further_education_payments/providers/claims_controller.rb
  app/controllers/further_education_payments/providers/sessions_controller.rb
  app/controllers/omniauth_callbacks_controller.rb
  app/views/further_education_payments/providers/authorisation_failures/show.html.erb
  app/views/further_education_payments/providers/claims/index.html.erb
  app/views/further_education_payments/providers/sessions/_dfe_sign_in_by_pass.html.erb
  app/views/further_education_payments/providers/sessions/new.html.erb
  config/routes.rb
Due: standard

Add skeleton dashboard
  app/controllers/further_education_payments/providers/base_controller.rb
  app/controllers/further_education_payments/providers/claims_controller.rb
  app/controllers/further_education_payments/providers/sessions_controller.rb
  app/views/further_education_payments/providers/claims/index.html.erb
  config/routes.rb
Due: standard

Add current_organisation_ukprn to DfeSignIn::User
  app/controllers/admin/auth_controller.rb
  app/models/dfe_sign_in/user.rb
  config/analytics.yml
  db/migrate/20250627101949_add_current_organisation_ukprn_to_dfe_sign_in_users.rb
  db/schema.rb
  lib/dfe_sign_in/authenticated_session.rb
  spec/models/dfe_sign_in/user_spec.rb
Due: standard

enable dfe sign in fore review apps
  terraform/application/config/review_app_env.yml
Due: none

Fix typo'd locale
  config/locales/en.yml
Due: none

Update notify template for year two
  app/mailers/application_mailer.rb
  spec/mailers/claim_mailer_spec.rb
Due: standard

add provider dashboard
  app/assets/stylesheets/components/card.scss
  app/views/components/_card.html.erb
  app/views/further_education_payments/providers/claims/index.html.erb
  spec/features/further_education_payments/providers/unverified_dashboard_spec.rb
Due: prettier, standard

Add the initial role and experience form
  app/controllers/further_education_payments/providers/claims/verifications_controller.rb
  app/forms/further_education_payments/providers/claims/check_answers_form.rb
  app/forms/further_education_payments/providers/claims/role_and_experience_form.rb
  app/views/further_education_payments/providers/claims/verifications/_claim_summary.html.erb
  app/views/further_education_payments/providers/claims/verifications/check_answers.html.erb
  app/views/further_education_payments/providers/claims/verifications/role_and_experience.html.erb
  config/analytics.yml
  config/locales/en.yml
  db/migrate/20250630123756_add_provider_verification_attributes_to_fe_eligibility.rb
  db/schema.rb
  spec/features/further_education_payments/provider/provider_verifying_claims_spec.rb
  spec/forms/further_education_payments/providers/claims/role_and_experience_form_spec.rb
Due: standard

Share sign in code
  spec/features/further_education_payments/provider/provider_verifying_claims_spec.rb
Due: standard

Add contract type branching
  app/controllers/further_education_payments/providers/claims/verifications_controller.rb
  app/forms/further_education_payments/providers/claims/check_answers_form.rb
  app/forms/further_education_payments/providers/claims/contract_covers_full_academic_year_form.rb
  app/views/further_education_payments/providers/claims/verifications/check_answers.html.erb
  app/views/further_education_payments/providers/claims/verifications/contract_covers_full_academic_year.html.erb
  config/analytics.yml
  db/migrate/20250630154218_add_more_provider_verification_attributes_to_fe_eligibility.rb
  db/schema.rb
  spec/features/further_education_payments/provider/provider_verifying_claims_spec.rb
  spec/forms/further_education_payments/providers/claims/contract_covers_full_academic_year_form_spec.rb
Due: standard

Handle changing answers
  app/controllers/further_education_payments/providers/claims/verifications_controller.rb
  app/forms/further_education_payments/providers/claims/verification/base_form.rb
  app/models/further_education_payments/providers/claims/verification/wizard.rb
  app/views/further_education_payments/providers/claims/verifications/check_answers.html.erb
  app/views/further_education_payments/providers/claims/verifications/contract_covers_full_academic_year.html.erb
  app/views/further_education_payments/providers/claims/verifications/role_and_experience.html.erb
  app/views/further_education_payments/providers/claims/verifications/taught_at_least_one_academic_term.html.erb
  spec/features/further_education_payments/provider/provider_verifying_claims_spec.rb
Due: standard

Extract base form
  app/forms/further_education_payments/providers/claims/verification/base_form.rb
  app/forms/further_education_payments/providers/claims/verification/check_answers_form.rb
  app/forms/further_education_payments/providers/claims/verification/contract_covers_full_academic_year_form.rb
  app/forms/further_education_payments/providers/claims/verification/role_and_experience_form.rb
Due: standard

Extract wizard management
  app/controllers/further_education_payments/providers/claims/verifications_controller.rb
  app/forms/further_education_payments/providers/claims/contract_covers_full_academic_year_form.rb
  app/models/further_education_payments/providers/claims/verification/wizard.rb
Due: standard

Add variable hours screen
  app/forms/further_education_payments/providers/claims/verification/check_answers_form.rb
  app/forms/further_education_payments/providers/claims/verification/taught_at_least_one_academic_term_form.rb
  app/models/further_education_payments/providers/claims/verification/wizard.rb
  app/views/further_education_payments/providers/claims/verifications/check_answers.html.erb
  app/views/further_education_payments/providers/claims/verifications/taught_at_least_one_academic_term.html.erb
  config/analytics.yml
  db/migrate/20250701145144_add_provider_verification_taught_at_least_one_academic_term_to_fe_eligibility.rb
  db/schema.rb
  spec/features/further_education_payments/provider/provider_verifying_claims_spec.rb
  spec/forms/further_education_payments/providers/claims/verification/taught_at_least_one_academic_term_form_spec.rb
Due: standard

Move status tag
  app/views/further_education_payments/providers/claims/verifications/_claim_summary.html.erb
  app/views/further_education_payments/providers/claims/verifications/check_answers.html.erb
  spec/features/further_education_payments/provider/provider_verifying_claims_spec.rb
Due: standard

Fix form namespacing
  app/forms/further_education_payments/providers/claims/check_answers_form.rb
  app/forms/further_education_payments/providers/claims/contract_covers_full_academic_year_form.rb
  app/forms/further_education_payments/providers/claims/role_and_experience_form.rb
  app/forms/further_education_payments/providers/claims/verification/check_answers_form.rb
  app/forms/further_education_payments/providers/claims/verification/contract_covers_full_academic_year_form.rb
  app/forms/further_education_payments/providers/claims/verification/role_and_experience_form.rb
  spec/forms/further_education_payments/providers/claims/verification/contract_covers_full_academic_year_form_spec.rb
  spec/forms/further_education_payments/providers/claims/verification/role_and_experience_form_spec.rb
Due: standard

Clean up some test noise
  spec/features/further_education_payments/provider/provider_verifying_claims_spec.rb
Due: standard

Only return claims with non null ukprn
  app/controllers/further_education_payments/providers/base_controller.rb
Due: standard

move spec
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
Due: standard

Move new provider auth callback to own method
  app/controllers/omniauth_callbacks_controller.rb
Due: standard

use preprod env for review apps
  terraform/application/config/review_app_env.yml
Due: none

Add auth failure pages
  app/controllers/further_education_payments/providers/base_controller.rb
  app/controllers/further_education_payments/providers/claims/verifications_controller.rb
  app/controllers/omniauth_callbacks_controller.rb
  app/models/journeys/further_education_payments/provider.rb
  app/views/further_education_payments/providers/authorisation_failures/_generic.html.erb
  app/views/further_education_payments/providers/authorisation_failures/_incorrect_role.html.erb
  app/views/further_education_payments/providers/authorisation_failures/_no_service_access.html.erb
  app/views/further_education_payments/providers/authorisation_failures/_organisation_mismatch.html.erb
  app/views/further_education_payments/providers/authorisation_failures/show.html.erb
  spec/features/further_education_payments/providers/provider_verification_access_spec.rb
Due: standard

CAPT-2429 - DQT HE qualification data upload
  app/controllers/admin/dqt_higher_education_qualification_uploads_controller.rb
  app/forms/admin/dqt_higher_education_qualification_upload_form.rb
  app/jobs/import_dqt_higher_education_qualifications_job.rb
  app/models/dqt_higher_education_qualification.rb
  app/models/dqt_higher_education_qualification_data_importer.rb
  app/views/admin/claims/index.html.erb
  app/views/admin/dqt_higher_education_qualification_uploads/new.html.erb
  config/analytics_blocklist.yml
  config/routes.rb
  db/migrate/20250624180055_create_dqt_higher_education_qualifications.rb
  db/schema.rb
  spec/factories/dqt_higher_education_qualifications.rb
  spec/features/admin/admin_upload_dqt_higher_education_qualifications_spec.rb
  spec/fixtures/files/dqt_higher_education_qualifications_data.csv
  spec/fixtures/files/dqt_higher_education_qualifications_data_no_headers.csv
  spec/models/dqt_higher_education_qualification_data_importer_spec.rb
Due: standard

Handle deleted users
  app/controllers/omniauth_callbacks_controller.rb
  app/views/further_education_payments/providers/authorisation_failures/show.html.erb
  spec/features/further_education_payments/providers/provider_verification_access_spec.rb
Due: standard

chore: CAPT-2656 Update hint string text
  app/views/claims/_current_school_search.html.erb
  app/views/student_loans/claims/claim_school.html.erb
  spec/features/correct_school_spec.rb
  spec/features/dfe_identity_sign_in_journey_spec.rb
Due: standard

Rename spec
  spec/features/further_education_payments/provider/provider_verifying_claims_in_2024_ay_spec.rb
Due: standard
