Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

Switch to 6 year schedule, clean up specs
  app/models/policies/early_career_payments/data_retention/policy.rb
  app/models/policies/early_years_payments/data_retention/policy.rb
  app/models/policies/early_years_teachers_financial_incentive_payments/data_retention/policy.rb
  app/models/policies/further_education_payments/data_retention/policy.rb
  app/models/policies/international_relocation_payments/data_retention/policy.rb
  app/models/policies/student_loans/data_retention/policy.rb
  app/models/policies/targeted_retention_incentive_payments/data_retention/policy.rb
  spec/jobs/policies/data_retention/early_career_payments_spec.rb
  spec/jobs/policies/data_retention/early_years_payments_spec.rb
  spec/jobs/policies/data_retention/early_years_teachers_financial_incentive_payments_spec.rb
  spec/jobs/policies/data_retention/further_education_payments_spec.rb
  spec/jobs/policies/data_retention/international_relocation_payments_spec.rb
  spec/jobs/policies/data_retention/policies_job_spec.rb
  spec/jobs/policies/data_retention/student_loans_spec.rb
  spec/jobs/policies/data_retention/targeted_retention_incentive_payments_spec.rb
Due: standard

Add simple recovery mechanisim
  app/jobs/policies/data_retention/apply_policy_job.rb
  app/jobs/policies/data_retention/remove_recovery_records_job.rb
  app/models/policies/data_retention.rb
  app/models/policies/data_retention/change_set.rb
  app/models/policies/data_retention/recovery.rb
  config/analytics_blocklist.yml
  config/recurring.yml
  db/migrate/20260826133511_create_policies_data_retention_recoveries.rb
  db/schema.rb
  spec/jobs/policies/data_retention/remove_recovery_records_job_spec.rb
  spec/jobs/policies/data_retention/targeted_retention_incentive_payments_spec.rb
Due: standard

Remove the old PII scrubbing code
  app/jobs/delete_personal_data_from_old_claims_job.rb
  app/models/policies/claim_personal_data_scrubber.rb
  app/models/policies/early_career_payments/claim_personal_data_scrubber.rb
  app/models/policies/early_years_payments/claim_personal_data_scrubber.rb
  app/models/policies/further_education_payments/claim_personal_data_scrubber.rb
  app/models/policies/international_relocation_payments/claim_personal_data_scrubber.rb
  app/models/policies/student_loans/claim_personal_data_scrubber.rb
  app/models/policies/targeted_retention_incentive_payments/claim_personal_data_scrubber.rb
  config/recurring.yml
  spec/jobs/delete_personal_data_from_old_claims_job_spec.rb
  spec/models/policies/early_years_payments/claim_personal_data_scrubber_spec.rb
  spec/models/policies/further_education_payments/claim_personal_data_scrubber_spec.rb
  spec/models/policies/international_relocation_payments/claim_personal_data_scrubber_spec.rb
  spec/models/policies/student_loans/claim_personal_data_scrubber_spec.rb
  spec/models/policies/targeted_retention_incentive_payments/claim_personal_data_scrubber_spec.rb
  spec/support/claim_personal_data_scrubber_shared_examples.rb
Due: standard

STRI has verifiers based on Claim#academic_year
  app/models/policies/targeted_retention_incentive_payments.rb
  spec/features/admin/admin_fraud_prevention_spec.rb
  spec/models/policies/targeted_retention_incentive_payments_spec.rb
Due: standard

Create dependabot-auto-project.yml
  .github/workflows/dependabot-auto-project.yml
Due: none

Update dependabot-auto-project.yml
  .github/workflows/dependabot-auto-project.yml
Due: none

Change name space
  app/jobs/data_retention/apply_retention_schedule_job.rb
  app/jobs/data_retention/policies_job.rb
  app/jobs/data_retention/remove_recovery_records_job.rb
  app/jobs/policies/data_retention/apply_policy_job.rb
  app/jobs/policies/data_retention/policies_job.rb
  app/jobs/policies/data_retention/remove_recovery_records_job.rb
  app/models/data_retention.rb
  app/models/data_retention/base_schedule.rb
  app/models/data_retention/change_set.rb
  app/models/data_retention/evaluation_context.rb
  app/models/data_retention/recovery.rb
  app/models/policies/data_retention/base_policy.rb
  app/models/policies/data_retention/change_set.rb
  app/models/policies/data_retention/evaluation_context.rb
  app/models/policies/data_retention/recovery.rb
  app/models/policies/early_career_payments/data_retention/retention_schedule.rb
  app/models/policies/early_years_payments/data_retention/retention_schedule.rb
  app/models/policies/early_years_teachers_financial_incentive_payments/data_retention/retention_schedule.rb
  app/models/policies/further_education_payments/data_retention/retention_schedule.rb
  app/models/policies/international_relocation_payments/data_retention/retention_schedule.rb
  app/models/policies/student_loans/data_retention/retention_schedule.rb
  app/models/policies/targeted_retention_incentive_payments/data_retention/retention_schedule.rb
  config/recurring.yml
  spec/jobs/data_retention/early_career_payments_spec.rb
  spec/jobs/data_retention/early_years_payments_spec.rb
  spec/jobs/data_retention/early_years_teachers_financial_incentive_payments_spec.rb
  spec/jobs/data_retention/further_education_payments_spec.rb
  spec/jobs/data_retention/international_relocation_payments_spec.rb
  spec/jobs/data_retention/remove_recovery_records_job_spec.rb
  spec/jobs/data_retention/student_loans_spec.rb
  spec/jobs/data_retention/targeted_retention_incentive_payments_spec.rb
  spec/jobs/policies/data_retention/student_loans_spec.rb
  spec/models/data_retention/all_attributes_have_a_retention_schedule_spec.rb
  spec/models/data_retention/evaluation_context_spec.rb
  spec/models/policies/data_retention/all_attributes_have_a_data_retention_policy_spec.rb
  spec/models/policies/targeted_retention_incentive_payments/data_retention/retention_schedule_spec.rb
Due: standard

pin util-linux in Dockerfile
  Dockerfile
Due: none

spike to add toggle for new STRI journey
  app/controllers/admin/components_controller.rb
  app/controllers/base_public_controller.rb
  app/controllers/concerns/journey_concern.rb
  app/controllers/static_pages_controller.rb
  app/forms/journeys/school_targeted_retention_incentive_payments/check_eligibility_intro_form.rb
  app/forms/journeys/school_targeted_retention_incentive_payments/hello_form.rb
  app/forms/journeys/school_targeted_retention_incentive_payments/session_form.rb
  app/models/journeys.rb
  app/models/journeys/navigator.rb
  app/models/journeys/school_targeted_retention_incentive_payments.rb
  app/models/journeys/school_targeted_retention_incentive_payments/eligibility_checker.rb
  app/models/journeys/school_targeted_retention_incentive_payments/session.rb
  app/models/journeys/school_targeted_retention_incentive_payments/session_answers.rb
  app/models/journeys/school_targeted_retention_incentive_payments/session_answers_type.rb
  app/models/journeys/school_targeted_retention_incentive_payments/slug_sequence.rb
  app/models/journeys/targeted_retention_incentive_payments.rb
  app/views/school_targeted_retention_incentive_payments/claims/hello.html.erb
  app/views/school_targeted_retention_incentive_payments/landing_page.html.erb
  config/locales/school_targeted_retention_incentive_payments.yml
  config/routes.rb
  db/seeders/base.rb
  spec/models/journeys_spec.rb
  spec/requests/admin/admin_page_spec.rb
Due: standard

facade methods interface with VERIFIERS constant
  app/jobs/employment_check_job.rb
  app/models/automated_checks/claim_verifier.rb
  app/models/base_policy.rb
  app/models/claim.rb
  spec/models/automated_checks/claim_verifier_spec.rb
Due: standard

can complete STRI journey to create a claim
  app/controllers/concerns/form_submittable.rb
  app/forms/journeys/school_targeted_retention_incentive_payments/check_your_answers_form.rb
  app/forms/journeys/school_targeted_retention_incentive_payments/confirmation_form.rb
  app/forms/journeys/school_targeted_retention_incentive_payments/hello_form.rb
  app/models/claim.rb
  app/models/journeys/school_targeted_retention_incentive_payments.rb
  app/models/journeys/school_targeted_retention_incentive_payments/answers_presenter.rb
  app/models/journeys/school_targeted_retention_incentive_payments/slug_sequence.rb
  app/models/policies/targeted_retention_incentive_payments/claim_checking_tasks.rb
  app/views/school_targeted_retention_incentive_payments/claims/confirmation.html.erb
  app/views/school_targeted_retention_incentive_payments/claims/hello.html.erb
  app/views/school_targeted_retention_incentive_payments/landing_page.html.erb
  spec/features/admin/decisions_spec.rb
  spec/models/claim_checking_tasks_spec.rb
  spec/models/policies/targeted_retention_incentive_payments/claim_checking_tasks_spec.rb
  spec/support/admin_checks_feature_shared_examples.rb
  spec/support/admin_view_claim_feature_shared_examples.rb
Due: standard

trim copied STRI code
  app/models/journeys/school_targeted_retention_incentive_payments/session_answers.rb
  config/locales/school_targeted_retention_incentive_payments.yml
Due: standard

Enable DfE Analytics in review environments
  config/initializers/dfe_analytics.rb
Due: standard

Remove log only for review environments
  config/initializers/dfe_analytics.rb
Due: standard

add academic year to claim filtering
  app/controllers/admin/claims_controller.rb
  app/forms/admin/claims_filter_form.rb
  app/views/admin/claims/index.html.erb
  spec/forms/admin/claims_filter_form_spec.rb
Due: standard

fix filter select label
  app/views/admin/claims/index.html.erb
Due: none

search no longer defaults to current academic year
  app/models/claim/search.rb
Due: standard

use govuk button
  app/views/admin/claims/search.html.erb
Due: none

stop flash message leaking into next request
  app/controllers/admin/page_controller.rb
Due: standard

can select academic year for admin dashboard
  app/controllers/admin/page_controller.rb
  app/models/admin/dashboard.rb
  app/views/admin/page/index.html.erb
Due: standard

Create dependabot-auto-project.yml (#4922)
  .github/workflows/dependabot-auto-project.yml
Due: none

fix date for FE provider verification answer
  app/forms/further_education_payments/providers/claims/verification/check_answers_form.rb
  spec/forms/further_education_payments/providers/claims/verification/check_answers_form_spec.rb
Due: standard

add happy path spec for new STRI journey
  app/models/journeys/school_targeted_retention_incentive_payments.rb
  app/models/journeys/school_targeted_retention_incentive_payments/eligibility_checker.rb
  app/models/journeys/targeted_retention_incentive_payments.rb
  spec/features/school_targeted_retention_incentives/happy_path_spec.rb
Due: standard

Allow filtering tasks by academic year
  app/controllers/admin/task_lists_controller.rb
  app/models/admin/task_list_form.rb
  app/views/admin/task_lists/index.html.erb
  spec/features/admin/task_lists_spec.rb
Due: standard

Use form_key if the journey has it
  app/forms/form.rb
  app/models/journeys/base.rb
Due: standard

Duplicate recent_tps_school
  app/models/journeys/session_answers.rb
  app/models/journeys/targeted_retention_incentive_payments/session_answers.rb
  app/models/journeys/teacher_student_loan_reimbursement/session_answers.rb
Due: standard

Update loans journey to use teacher auth
  app/controllers/journeys/teacher_student_loan_reimbursement/bypass_auth_controller.rb
  app/forms/journeys/teacher_student_loan_reimbursement/debug/teacher_auth/sign_in_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/qualifications_check_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/sign_in_form.rb
  app/forms/select_email_form.rb
  app/jobs/journeys/teacher_student_loan_reimbursement/debug/teacher_auth/fetch_qualifications_job.rb
  app/models/journeys/targeted_retention_incentive_payments/session_answers.rb
  app/models/journeys/teacher_student_loan_reimbursement.rb
  app/models/journeys/teacher_student_loan_reimbursement/session_answers.rb
  app/models/journeys/teacher_student_loan_reimbursement/slug_sequence.rb
  app/views/claims/select_email.html.erb
  app/views/student_loans/claims/qualifications_check.html.erb
  app/views/student_loans/claims/sign_in.html.erb
  config/locales/student_loans.yml
  config/routes.rb
  spec/features/tslr/tslr_claim_journey_with_teacher_auth_by_pass_spec.rb
Due: standard

Set tauth details on submitted claims
  app/helpers/admin/claims_helper.rb
  db/migrate/20260909151033_add_trs_fields_to_student_loans_eligibilities.rb
  db/schema.rb
  spec/features/tslr/tslr_claim_journey_with_teacher_auth_by_pass_spec.rb
Due: standard

Add some more debug fields
  app/forms/journeys/teacher_student_loan_reimbursement/debug/teacher_auth/sign_in_form.rb
  app/views/student_loans/claims/sign_in.html.erb
Due: standard

Extract identity_confirmation_task
  app/models/policies/claim_checking_tasks.rb
Due: standard

Update analytics
  config/analytics.yml
  config/analytics_hidden_pii.yml
Due: none

Add teacher auth identity confirmation task
  app/models/automated_checks/claim_verifiers/teacher_auth_identity_confirmation.rb
  app/models/journeys/teacher_student_loan_reimbursement/session_answers.rb
  app/models/policies/student_loans.rb
  app/models/policies/student_loans/claim_checking_tasks.rb
  app/models/task.rb
  app/views/admin/tasks/teacher_auth_identity_confirmation.html.erb
  config/locales/admin.yml
  db/migrate/20260910103252_add_more_trs_fields_to_loans.rb
  db/schema.rb
  spec/features/tslr/tslr_claim_journey_with_teacher_auth_by_pass_spec.rb
  spec/models/automated_checks/claim_verifiers/teacher_auth_identity_confirmation_spec.rb
Due: standard

Fix spec
  spec/requests/claims_spec.rb
Due: standard

add placeholder start page for new STRI journey
  app/views/school_targeted_retention_incentive_payments/landing_page.html.erb
  spec/features/school_targeted_retention_incentives/happy_path_spec.rb
Due: standard

Fix specs
  spec/models/automated_checks/claim_verifier_spec.rb
  spec/models/student_loans_spec.rb
Due: standard

Add mermaid logic to admin demo area
  app/assets/javascripts/mermaid_journey_flow.js
  app/controllers/admin/components_controller.rb
  app/controllers/admin/journey_flows_controller.rb
  app/models/journey_flow_definition.rb
  app/models/journey_flow_definitions/early-years-payment-practitioner.yml
  app/models/journey_flow_definitions/early-years-payment-provider-alternative-idv.yml
  app/models/journey_flow_definitions/early-years-payment-provider.yml
  app/models/journey_flow_definitions/early-years-payment.yml
  app/models/journey_flow_definitions/early-years-teachers-recognition-payments.yml
  app/models/journey_flow_definitions/further-education-payments.yml
  app/models/journey_flow_definitions/get-a-teacher-relocation-payment.yml
  app/models/journey_flow_definitions/student-loans.yml
  app/models/journey_flow_definitions/targeted-retention-incentive-payments.yml
  app/models/policies/early_years_teachers_financial_incentive_payments/eligible_eytfi_provider.rb
  app/models/school.rb
  app/services/journey_component_preview_url_builder.rb
  app/views/admin/journey_flows/index.html.erb
  app/views/admin/journey_flows/show.html.erb
  app/views/components/home.html.erb
  config/initializers/content_security_policy.rb
  config/routes.rb
  spec/models/journey_flow_definition_spec.rb
  spec/requests/admin/admin_page_spec.rb
  spec/services/journey_component_preview_url_builder_spec.rb
Due: prettier, standard

only seed available journeys for journey configs
  db/seeders/base.rb
Due: standard

disable AKS element of validate workflow
  .github/workflows/validate-infrastructure.yml
Due: none

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
