Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{css,html,js,js.erb,json,md,scss}"
      run: rails prettier {staged_files}
      skip:
        - merge
        - rebase
    standard:
      glob: "*.rb"
      run: rails standard {staged_files}
      skip:
        - merge
        - rebase

Refactor more specs
  spec/factories/student_loans_data.rb
  spec/features/claim_with_mobile_sms_otp_spec.rb
  spec/features/early_career_payments_claim_lupp_ineligible_spec.rb
  spec/features/early_career_payments_claim_spec.rb
  spec/features/ineligible_early_career_payments_claims_spec.rb
  spec/features/one_time_password_spec.rb
  spec/lib/notify_sms_message_spec.rb
  spec/mailers/previews/claim_mailer_preview.rb
  spec/models/policy_configuration_spec.rb
Due: standard

Add spec for LevellingUpPremiumPayments::EligibilityAnswersPresenter
  spec/models/levelling_up_premium_payments/eligibility_answers_presenter_spec.rb
Due: standard

Refactor views for Policies::EarlyCareerPayments
  app/views/claims/_confirmation_form.html.erb
  app/views/claims/_school_search_results.html.erb
  app/views/claims/correct_school.html.erb
  app/views/claims/email_address.html.erb
  app/views/claims/mobile_number.html.erb
  app/views/claims/provide_mobile_number.html.erb
  app/views/claims/select_email.html.erb
  app/views/claims/select_mobile.html.erb
  app/views/claims/student_loan_how_many_courses.html.erb
  app/views/claims/teacher_reference_number.html.erb
  app/views/early_career_payments/claims/_ineligibility_trainee_in_last_policy_year.html.erb
  app/views/early_career_payments/claims/eligible_degree_subject.html.erb
  app/views/early_career_payments/claims/eligible_later.html.erb
  app/views/early_career_payments/claims/employed_directly.html.erb
  app/views/early_career_payments/claims/entire_term_contract.html.erb
  app/views/early_career_payments/claims/induction_completed.html.erb
  app/views/early_career_payments/claims/itt_year.html.erb
  app/views/early_career_payments/claims/nqt_in_academic_year_after_itt.html.erb
  app/views/early_career_payments/claims/qualification_details.html.erb
  app/views/early_career_payments/claims/supply_teacher.html.erb
  app/views/early_career_payments/claims/teaching_subject_now.html.erb
  app/views/early_career_payments/claims/undergraduate_itt_academic_year.html.erb
  app/views/reminder_mailer/reminder.text.erb
  app/views/student_loans/claims/qualification_details.html.erb
Due: none

Add Policies::EarlyCareerPayments::SchoolCheckEmailDataExportPresenter
  app/models/early_career_payments/school_check_email_data_export_presenter.rb
  app/models/policies/early_career_payments/school_check_email_data_export_presenter.rb
  spec/models/early_career_payments/school_check_email_data_export_presenter_spec.rb
Due: standard

Resolve Policies::EarlyCareerPayments dependencies
  app/helpers/claims/itt_subject_helper.rb
  app/jobs/qualifications_no_match_check_job.rb
  app/models/current_claim.rb
  app/models/policy_configuration.rb
  lib/ineligibility_reason_checker.rb
Due: standard

Refactor PartOfClaimJourney#claim_from_session
  app/controllers/concerns/part_of_claim_journey.rb
Due: standard

Add Policies::constantize
  app/helpers/admin/claims_helper.rb
  app/models/policies.rb
  app/models/policy_configuration.rb
  spec/models/policies_spec.rb
Due: standard

Add Policies::EarlyCareerPayments::EligibilityAnswersPresenter
  app/models/levelling_up_premium_payments/eligibility_answers_presenter.rb
Due: standard

Lint
  app/helpers/admin/claims_helper.rb
  app/models/policies/early_career_payments/award_amount_calculator.rb
  app/models/policies/early_career_payments/eligibility_answers_presenter.rb
  app/models/policies/early_career_payments/slug_sequence.rb
Due: standard

Refactor specs
  spec/features/admin_payroll_run_download_spec.rb
  spec/features/admin_payroll_runs_spec.rb
  spec/features/claim_with_mobile_sms_otp_spec.rb
  spec/features/switching_policies_spec.rb
  spec/mailers/payment_mailer_spec.rb
  spec/models/amendment_spec.rb
  spec/models/automated_checks/claim_verifiers/qualifications_spec.rb
  spec/models/payment_confirmation_upload_spec.rb
  spec/models/payment_spec.rb
  spec/models/payroll/payment_csv_row_spec.rb
  spec/models/payroll_run_spec.rb
  spec/models/policies_spec.rb
  spec/requests/admin_claims_spec.rb
  spec/requests/admin_decisions_spec.rb
  spec/requests/admin_payroll_run_payments_spec.rb
  spec/requests/claims_spec.rb
  spec/requests/policy_closed_spec.rb
Due: standard

Refactor ClaimMailer#unknown_policy_check
  app/mailers/claim_mailer.rb
Due: standard

CAPT-1421 leftover factories/helpers with maths_and_physics references
  lib/tasks/schools_data.rake
  spec/factories/local_authority_districts.rb
  spec/factories/schools.rb
  spec/features/claim_with_mobile_sms_otp_spec.rb
  spec/support/feature_helpers.rb
Due: standard

Refactor db/seeds.rb
  db/seeds.rb
Due: standard

Ensure migration backwards compatibility
  db/migrate/20220523175052_change_policy_configuration_policy_type.rb
Due: standard

Upgrade Rails to 7.0.8.1
  Gemfile.lock
Due: none

Refactor database_scripts db/data db/test_seeders
  db/data/20210827115900_update_ecp_claims_with_academic_year_2020_to_2021.rb
  db/data/20211122150703_update_award_amount_for_existing_ecp_eligibilities.rb
  db/test_seeders/base_csv_import_validator.rb
  db/test_seeders/base_importer.rb
  db/test_seeders/data_importer.rb
  db/test_seeders/eligibilities/early_career_payments.rb
  db/test_seeders/eligibilities/student_loans.rb
  db/test_seeders/record_builder.rb
  lib/tasks/test_data_seeder.rake
Due: standard

Upgrade Rails to 7.0.8.1 (#2616)
  Gemfile.lock
Due: none

Add Policies::EarlyCareerPayments::Eligibility
  app/models/policies/early_career_payments/eligibility.rb
Due: standard

Make Claim#eligibility_type compatible with Policies
  app/controllers/concerns/part_of_claim_journey.rb
  app/models/claim.rb
  app/models/current_claim.rb
  app/models/payroll_run.rb
  app/models/policies.rb
  lib/ineligibility_reason_checker.rb
  spec/factories/early_career_payments/eligibilities.rb
  spec/features/claim_with_mobile_sms_otp_spec.rb
  spec/models/claim_spec.rb
  spec/models/current_claim_spec.rb
  spec/models/early_career_payments/eligibility_spec.rb
  spec/requests/claims_spec.rb
Due: standard

Add TODO comment
  app/models/current_claim.rb
Due: standard

Add Policies::EarlyCareerPayments::Eligibility migration
  db/migrate/20240226104548_change_claims_eligibility_type_to_policies_early_career_payments_eligibility.rb
  db/schema.rb
Due: standard

Add rack-mini-profiler gem for performance monitoring and optimization while in development.
  Gemfile
  Gemfile.lock
Due: none

Upgrade design libraries
  Gemfile
  Gemfile.lock
  package.json
  yarn.lock
Due: prettier

Configuration changes to support new govuk-frontend and other libraries
  .gitignore
  app/assets/javascripts/application.js
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/components/a11y_dialog.scss
  app/assets/stylesheets/components/accessible_autocomplete_tweaks.scss
  app/assets/stylesheets/components/cookie_banner.scss
  app/assets/stylesheets/components/currency_input.scss
  app/assets/stylesheets/components/flash.scss
  app/assets/stylesheets/components/tag.scss
  app/views/layouts/admin.html.erb
  app/views/layouts/application.html.erb
  config/initializers/assets.rb
  public/404.html
  public/422.html
  public/500.html
  public/assets/fonts/bold-affa96571d-v2.woff
  public/assets/fonts/bold-b542beb274-v2.woff2
  public/assets/fonts/light-94a07e06a1-v2.woff2
  public/assets/fonts/light-f591b13f7d-v2.woff
  public/assets/images/favicon.ico
  public/assets/images/govuk-apple-touch-icon-152x152.png
  public/assets/images/govuk-apple-touch-icon-167x167.png
  public/assets/images/govuk-apple-touch-icon-180x180.png
  public/assets/images/govuk-apple-touch-icon.png
  public/assets/images/govuk-crest-2x.png
  public/assets/images/govuk-crest.png
  public/assets/images/govuk-logotype-crown.png
  public/assets/images/govuk-mask-icon.svg
  public/assets/images/govuk-opengraph-image.png
Due: prettier, standard

Replace uglifier with terser for compatibility
  Gemfile
  Gemfile.lock
  config/environments/production.rb
Due: standard

Upgrade govuk-frontend
  yarn.lock
Due: none
