Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{css,html,js,js.erb,json,md,scss}"
      run: rails prettier {staged_files}
      skip:
        - merge
        - rebase
    standard:
      glob: "*.rb"
      run: rails standard {staged_files}
      skip:
        - merge
        - rebase

remove unused error summary
  app/views/student_loans/claims/student_loan_amount.html.erb
Due: none

swap govuk error summaries with helper
  app/helpers/application_helper.rb
  app/views/admin/notes/index.html.erb
  app/views/admin/tasks/employment_history.html.erb
  app/views/admin/tasks/first_year_application.html.erb
  app/views/admin/topups/new.html.erb
  app/views/claims/sign_in.html.erb
  app/views/claims/sign_in_or_continue.html.erb
  app/views/targeted_retention_incentive_payments/claims/check_your_answers.html.erb
Due: standard

remove errors from SubmissionsController
  app/views/early_years_payment/practitioner/claims/check_your_answers.html.erb
  app/views/student_loans/claims/check_your_answers.html.erb
  app/views/targeted_retention_incentive_payments/claims/check_your_answers.html.erb
Due: none

swap shared error summary with govuk formbuilder
  app/views/admin/tasks/employment_history.html.erb
Due: none

support ticket uses govuk formbuilder
  app/views/admin/notes/index.html.erb
  app/views/admin/support_tickets/_widget.html.erb
Due: none

This method isn't called anywhere
  app/controllers/claims_controller.rb
Due: standard

Record steps on session
  app/controllers/claims_controller.rb
  app/controllers/concerns/form_submittable.rb
  config/analytics.yml
  db/migrate/20251021132108_add_steps_to_journeys_sessions.rb
  db/schema.rb
  spec/features/early_years_payment/provider/authenticated/happy_path_spec.rb
Due: standard

CAPT-2930 Remove current AY scope on awaiting payroll filters
  app/forms/admin/claims_filter_form.rb
  spec/forms/admin/claims_filter_form_spec.rb
Due: standard

Validate practitioner email format
  app/forms/journeys/early_years_payment/provider/authenticated/employee_email_form.rb
Due: standard

Strip white space from EY provider csv
  app/models/eligible_ey_providers_importer.rb
  spec/models/eligible_ey_providers_importer_spec.rb
Due: standard

touch
  README.md
Due: prettier

Address PR review feedback for provider verification notifications
  app/forms/further_education_payments/providers/claims/verification/check_answers_form.rb
  app/jobs/further_education_payments/provider_weekly_update_job.rb
  app/jobs/tasks/fe_provider_verification_v2_job.rb
  app/models/automated_checks/claim_verifiers/provider_verification_v2.rb
  spec/jobs/tasks/fe_provider_verification_v2_job_spec.rb
  spec/models/automated_checks/claim_verifiers/provider_verification_v2_spec.rb
Due: standard

Add Year 2 provider verification auto-pass logic
  app/forms/further_education_payments/providers/claims/verification/check_answers_form.rb
  app/jobs/tasks/provider_verification_job.rb
  app/models/automated_checks/claim_verifiers/provider_verification.rb
  app/models/policies/further_education_payments.rb
  app/models/policies/further_education_payments/admin_tasks_presenter.rb
  spec/models/automated_checks/claim_verifiers/provider_verification_spec.rb
Due: standard

Fix test failures for Year 2 provider verification
  app/models/automated_checks/claim_verifiers/provider_verification.rb
  spec/features/admin/admin_amend_claim_spec.rb
  spec/features/admin/tasks/further_education_payments/fe_provider_verification_v2_spec.rb
  spec/models/automated_checks/claim_verifiers/provider_verification_spec.rb
  spec/models/further_education_payments_spec.rb
Due: standard

Adding temporary seed data for easy review
  app/models/automated_checks/claim_verifiers/provider_verification_v2.rb
  app/models/policies/further_education_payments/admin_tasks_presenter.rb
  db/seeds.rb
  spec/models/automated_checks/claim_verifiers/provider_verification_v2_spec.rb
Due: standard

Refactor Year 2 provider verification to use eligibility columns
  app/forms/further_education_payments/providers/claims/verification/check_answers_form.rb
  app/jobs/tasks/fe_provider_verification_v2_job.rb
  app/jobs/tasks/provider_verification_job.rb
  app/models/automated_checks/claim_verifiers/provider_verification_v2.rb
  app/models/policies/further_education_payments.rb
  app/models/policies/further_education_payments/admin_tasks_presenter.rb
  spec/features/admin/tasks/further_education_payments/fe_provider_verification_v2_spec.rb
  spec/models/automated_checks/claim_verifiers/provider_verification_v2_spec.rb
  spec/models/further_education_payments_spec.rb
Due: standard

Fix test failures after rebase with master
  app/models/automated_checks/claim_verifiers/provider_verification_v2.rb
  app/models/policies/further_education_payments/admin_tasks_presenter.rb
  spec/jobs/tasks/fe_provider_verification_v2_job_spec.rb
  spec/models/policies/further_education_payments/admin_tasks_presenter_spec.rb
Due: standard

Copy update
  config/locales/en.yml
  spec/models/policies/further_education_payments/admin_tasks_presenter_spec.rb
Due: standard

Fail provider verification task if lacking hours
  app/models/automated_checks/claim_verifiers/fe_provider_verification_v2.rb
  app/models/policies/further_education_payments/eligibility.rb
  spec/models/automated_checks/claim_verifiers/fe_provider_verification_v2_spec.rb
Due: standard

Match provider and claimant answers in presenter
  app/models/policies/further_education_payments/admin_tasks_presenter.rb
  config/locales/en.yml
  spec/features/admin/tasks/further_education_payments/fe_provider_verification_v2_spec.rb
  spec/models/policies/further_education_payments/admin_tasks_presenter_spec.rb
Due: standard

Display provider entered teaching hours
  app/models/policies/further_education_payments/eligibility_admin_answers_presenter.rb
Due: standard

Fail on mismatched teaching hours
  app/models/automated_checks/claim_verifiers/fe_provider_verification_v2.rb
  app/models/policies/further_education_payments/eligibility.rb
  spec/models/automated_checks/claim_verifiers/fe_provider_verification_v2_spec.rb
Due: standard

refactor to use govuk warning components
  app/views/admin/decisions/_decision_form.html.erb
Due: none

use form object for admin decision
  app/controllers/admin/decisions_controller.rb
  app/forms/admin/decision_form.rb
  app/views/admin/decisions/_decision_form.html.erb
  app/views/admin/decisions/new.html.erb
  spec/features/admin/admin_fraud_prevention_spec.rb
  spec/features/admin/admin_hold_claim_spec.rb
  spec/features/admin/admin_reject_claim_spec.rb
  spec/features/admin/decisions_spec.rb
Due: standard

remove unused error summary
  app/views/admin/claims/show.html.erb
Due: none

Allow by pass tid in other test envs
  app/forms/sign_in_or_continue_form.rb
Due: standard

Adds form for setting DQT payload
  app/forms/sign_in_or_continue_form.rb
  app/forms/sign_in_or_continue_testing_form.rb
  app/models/journeys/base.rb
  app/views/claims/_confirmation_form.html.erb
  app/views/claims/_dqt_bypass.html.erb
  config/initializers/omniauth.rb
Due: standard

Move confirmation into deadend slugs
  app/models/journeys/early_years_payment/practitioner/slug_sequence.rb
  app/models/journeys/early_years_payment/provider/alternative_idv/slug_sequence.rb
  app/models/journeys/early_years_payment/provider/authenticated/slug_sequence.rb
  app/models/journeys/further_education_payments/slug_sequence.rb
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  app/models/journeys/navigator.rb
  app/models/journeys/reminders/slug_sequence.rb
  app/models/journeys/targeted_retention_incentive_payments/slug_sequence.rb
  app/models/journeys/teacher_student_loan_reimbursement/slug_sequence.rb
Due: standard

schools autocomplete now over 2 steps
  app/assets/javascripts/components/college_search.js.erb
  app/assets/javascripts/components/school_search.js.erb
  app/forms/current_school_form.rb
  app/forms/journeys/targeted_retention_incentive_payments/select_current_school_form.rb
  app/forms/select_current_school_form.rb
  app/models/journeys/base.rb
  app/models/journeys/further_education_payments/session_answers.rb
  app/models/journeys/get_a_teacher_relocation_payment/answers_presenter.rb
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  app/models/journeys/session_answers.rb
  app/models/journeys/targeted_retention_incentive_payments.rb
  app/models/journeys/targeted_retention_incentive_payments/answers_presenter.rb
  app/models/journeys/targeted_retention_incentive_payments/slug_sequence.rb
  app/models/journeys/teacher_student_loan_reimbursement/slug_sequence.rb
  app/views/claims/_current_school_search.html.erb
  app/views/claims/_current_school_search_results.html.erb
  app/views/claims/current_school.html.erb
  app/views/claims/select_current_school.html.erb
  app/views/get_a_teacher_relocation_payment/claims/_current_school_details.html.erb
  app/views/get_a_teacher_relocation_payment/claims/_current_school_search_results_question.html.erb
  app/views/student_loans/claims/_current_school_details.html.erb
  app/views/student_loans/claims/_current_school_search_results_question.html.erb
  app/views/targeted_retention_incentive_payments/claims/_current_school_details.html.erb
  app/views/targeted_retention_incentive_payments/claims/_current_school_search_results_question.html.erb
  config/locales/en.yml
  config/locales/targeted_retention_incentive_payments.yml
  spec/factories/journeys/targeted_retention_incentive_payments/session_answers.rb
  spec/features/admin/admin_fraud_prevention_spec.rb
  spec/features/current_school_with_closed_claim_school_spec.rb
  spec/features/school_search_spec.rb
  spec/features/student_loans_claim_spec.rb
  spec/forms/current_school_form_spec.rb
  spec/forms/journeys/targeted_retention_incentive_payments/select_current_school_form_spec.rb
  spec/models/journeys/get_a_teacher_relocation_payment/slug_sequence_spec.rb
  spec/models/journeys/targeted_retention_incentive_payments/slug_sequence_spec.rb
  spec/models/journeys/teacher_student_loan_reimbursement/answers_presenter_spec.rb
Due: prettier, standard

remove form_group_tag as no longer used
  app/helpers/govuk_form_helper.rb
  spec/helpers/govuk_form_helper_spec.rb
Due: standard

improve local variable name
  spec/features/targeted_retention_incentives/eligible_paths_spec.rb
Due: standard

use single pagination partial
  app/views/admin/claims/index.html.erb
  app/views/admin/payroll_runs/_complete.html.erb
  app/views/admin/payroll_runs/_pagination.html.erb
  app/views/admin/shared/_pagination.html.erb
Due: none

change class name for govuk upgrade
  app/views/admin/shared/_pagination.html.erb
Due: none

Remove redundant ECP-related eligibility check
  app/models/policies/targeted_retention_incentive_payments/policy_eligibility_checker.rb
  spec/models/policies/targeted_retention_incentive_payments/policy_eligibility_checker_spec.rb
Due: standard

Remove redundant ECP-related eligibility check (#4187)
  app/models/policies/targeted_retention_incentive_payments/policy_eligibility_checker.rb
  spec/models/policies/targeted_retention_incentive_payments/policy_eligibility_checker_spec.rb
Due: standard

better journey names when viewing journey configs
  app/models/journeys/base.rb
  app/views/admin/journey_configurations/edit.html.erb
  app/views/admin/journey_configurations/index.html.erb
  config/locales/en.yml
  spec/models/journeys/early_years_payment/practitioner_spec.rb
Due: standard
