Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{css,html,js,js.erb,json,md,scss}"
      run: rails prettier {staged_files}
      skip:
        - merge
        - rebase
    standard:
      glob: "*.rb"
      run: rails standard {staged_files}
      skip:
        - merge
        - rebase

Add initial eytfi provider prototype
  app/forms/journeys/early_years_teachers/provider/check_nursery_details_form.rb
  app/forms/journeys/early_years_teachers/provider/check_your_answers_form.rb
  app/forms/journeys/early_years_teachers/provider/check_your_email_form.rb
  app/forms/journeys/early_years_teachers/provider/confirmation_form.rb
  app/forms/journeys/early_years_teachers/provider/employer_paye_reference_form.rb
  app/forms/journeys/early_years_teachers/provider/favourite_colour_form.rb
  app/forms/journeys/early_years_teachers/provider/manage_teachers_form.rb
  app/forms/journeys/early_years_teachers/provider/organisation_email_address_form.rb
  app/forms/journeys/early_years_teachers/provider/provide_teacher_details_form.rb
  app/forms/journeys/early_years_teachers/provider/provider_email_form.rb
  app/forms/journeys/early_years_teachers/provider/update_nursery_details_form.rb
  app/models/journeys/early_years_teachers/provider.rb
  app/models/journeys/early_years_teachers/provider/answers_presenter.rb
  app/models/journeys/early_years_teachers/provider/session_answers.rb
  app/models/journeys/early_years_teachers/provider/slug_sequence.rb
  app/views/early_years_teachers/provider/claims/_remove_teacher.html.erb
  app/views/early_years_teachers/provider/claims/_teacher_card.html.erb
  app/views/early_years_teachers/provider/claims/check_nursery_details.html.erb
  app/views/early_years_teachers/provider/claims/check_your_answers.html.erb
  app/views/early_years_teachers/provider/claims/check_your_email.html.erb
  app/views/early_years_teachers/provider/claims/confirmation.html.erb
  app/views/early_years_teachers/provider/claims/employer_paye_reference.html.erb
  app/views/early_years_teachers/provider/claims/manage_teachers.html.erb
  app/views/early_years_teachers/provider/claims/organisation_email_address.html.erb
  app/views/early_years_teachers/provider/claims/provide_teacher_details.html.erb
  app/views/early_years_teachers/provider/claims/provider_email.html.erb
  app/views/early_years_teachers/provider/claims/update_nursery_details.html.erb
  app/views/early_years_teachers/provider/landing_page.html.erb
  config/locales/early_years_teachers_provider.yml
  spec/features/early_years_teachers/practitioner/prototype_test_spec.rb
  spec/features/early_years_teachers/provider/prototype_test_spec.rb
Due: standard

CAPT-3154: Add link to ZenDesk by claim ref.
  app/helpers/admin/claims_helper.rb
  app/views/admin/support_tickets/_widget.html.erb
  spec/features/admin/admin_claim_support_tickets_spec.rb
Due: standard

CAPT-3154: Add link to ZenDesk by claim ref. (#4302)
  app/helpers/admin/claims_helper.rb
  app/views/admin/support_tickets/_widget.html.erb
  spec/features/admin/admin_claim_support_tickets_spec.rb
Due: standard

CAPT-3156: Add anchors to URIs in notes
  app/helpers/admin/notes_helper.rb
  app/views/admin/notes/_note.html.erb
  spec/features/admin/admin_claim_notes_spec.rb
  spec/helpers/admin/notes_helper_spec.rb
Due: standard

CAPT-3154: Amend link name
  app/views/admin/support_tickets/_widget.html.erb
  spec/features/admin/admin_claim_support_tickets_spec.rb
Due: standard

CAPT-3156: Add anchors to URIs in notes (#4303)
  app/helpers/admin/notes_helper.rb
  app/views/admin/notes/_note.html.erb
  spec/features/admin/admin_claim_notes_spec.rb
  spec/helpers/admin/notes_helper_spec.rb
Due: standard

ADD initial eytfi practioner prototype
  app/forms/journeys/early_years_teachers/practitioner/check_your_answers_form.rb
  app/forms/journeys/early_years_teachers/practitioner/check_your_answers_part_one_form.rb
  app/forms/journeys/early_years_teachers/practitioner/confirm_details_form.rb
  app/forms/journeys/early_years_teachers/practitioner/confirmation_form.rb
  app/forms/journeys/early_years_teachers/practitioner/eligibility_confirmed_form.rb
  app/forms/journeys/early_years_teachers/practitioner/favourite_colour_form.rb
  app/forms/journeys/early_years_teachers/practitioner/payment_not_accepted_form.rb
  app/forms/journeys/early_years_teachers/practitioner/payment_options_form.rb
  app/forms/journeys/early_years_teachers/practitioner/sign_in_or_continue_form.rb
  app/models/journeys/early_years_teachers/practitioner.rb
  app/models/journeys/early_years_teachers/practitioner/answers_presenter.rb
  app/models/journeys/early_years_teachers/practitioner/session_answers.rb
  app/models/journeys/early_years_teachers/practitioner/slug_sequence.rb
  app/views/early_years_teachers/practitioner/claims/check_your_answers.html.erb
  app/views/early_years_teachers/practitioner/claims/check_your_answers_part_one.html.erb
  app/views/early_years_teachers/practitioner/claims/confirm_details.html.erb
  app/views/early_years_teachers/practitioner/claims/confirmation.html.erb
  app/views/early_years_teachers/practitioner/claims/date_of_birth.html.erb
  app/views/early_years_teachers/practitioner/claims/eligibility_confirmed.html.erb
  app/views/early_years_teachers/practitioner/claims/full_name.html.erb
  app/views/early_years_teachers/practitioner/claims/national_insurance_number.html.erb
  app/views/early_years_teachers/practitioner/claims/payment_not_accepted.html.erb
  app/views/early_years_teachers/practitioner/claims/payment_options.html.erb
  app/views/early_years_teachers/practitioner/claims/sign_in_or_continue.html.erb
  app/views/early_years_teachers/practitioner/claims/teacher_reference_number.html.erb
  app/views/early_years_teachers/practitioner/landing_page.html.erb
  config/locales/early_years_teachers_practitioner.yml
  config/locales/en.yml
Due: standard

CAPT-3154: Amend link name (#4304)
  app/views/admin/support_tickets/_widget.html.erb
  spec/features/admin/admin_claim_support_tickets_spec.rb
Due: standard

Eager load verified by
  app/models/admin/task_list_form.rb
Due: standard

Display number of claims returned
  app/models/admin/task_list_form.rb
  app/views/admin/task_lists/index.html.erb
Due: standard

Add ability to skip matching claims check
  app/models/policies/claim_checking_tasks.rb
Due: standard

Add ability to export page to CSV
  app/controllers/admin/task_lists_controller.rb
  app/models/admin/task_list_form.rb
  app/views/admin/task_lists/index.html.erb
Due: standard

Fix line width
  app/views/admin/task_lists/index.html.erb
Due: none

Treat no data as incomplete for filtering purposes
  app/models/admin/task_list_form.rb
Due: standard

Display held status
  app/models/admin/task_list_form.rb
  app/views/admin/task_lists/index.html.erb
Due: standard

Extract base class
  app/models/policies/claim_checking_tasks.rb
  app/models/policies/early_career_payments/claim_checking_tasks.rb
  app/models/policies/early_years_payments/claim_checking_tasks.rb
  app/models/policies/further_education_payments/claim_checking_tasks.rb
  app/models/policies/international_relocation_payments/claim_checking_tasks.rb
  app/models/policies/student_loans/claim_checking_tasks.rb
  app/models/policies/targeted_retention_incentive_payments/claim_checking_tasks.rb
Due: standard

Admin tasks list overview
  app/controllers/admin/task_lists_controller.rb
  app/models/admin/task_list_form.rb
  app/views/admin/task_lists/index.html.erb
  config/routes.rb
  spec/models/admin/task_list_form_spec.rb
Due: standard

Exclude matching details
  app/models/admin/task_list_form.rb
Due: standard

Use task_exists?
  app/models/policies/claim_checking_tasks.rb
  app/models/policies/early_career_payments/claim_checking_tasks.rb
  app/models/policies/early_years_payments/claim_checking_tasks.rb
  app/models/policies/further_education_payments/claim_checking_tasks.rb
  app/models/policies/international_relocation_payments/claim_checking_tasks.rb
  app/models/policies/student_loans/claim_checking_tasks.rb
  app/models/policies/targeted_retention_incentive_payments/claim_checking_tasks.rb
Due: standard

Move buttons
  app/views/admin/task_lists/index.html.erb
Due: none

Constrain table
  app/assets/stylesheets/components/container.scss
  app/views/admin/task_lists/index.html.erb
Due: prettier

Add link
  app/views/admin/claims/index.html.erb
Due: none

copy tweak
  app/views/admin/my_claims/show.html.erb
Due: none

my claims excludes processed claims
  app/models/admin/my_claims.rb
  app/views/admin/my_claims/show.html.erb
  spec/models/admin/my_claims_spec.rb
Due: standard

add visually hidden text to add context
  app/views/admin/my_claims/show.html.erb
Due: none

add basic feature spec for my claims
  spec/features/admin/my_claims_spec.rb
Due: standard

first iteration of my claims feature
  app/assets/stylesheets/components/train.scss
  app/controllers/admin/my_claims_controller.rb
  app/helpers/application_helper.rb
  app/models/admin/my_claims.rb
  app/models/base_policy.rb
  app/views/admin/my_claims/show.html.erb
  config/routes.rb
  spec/models/admin/my_claims_spec.rb
Due: prettier, standard

my claims now must specify admin id
  app/controllers/admin/my_claims_controller.rb
Due: standard

my claims deadline is now a date
  app/views/admin/my_claims/show.html.erb
Due: none

optimise query
  app/models/admin/my_claims.rb
Due: standard

fix comparision with nil date
  app/models/admin/my_claims.rb
  spec/models/admin/my_claims_spec.rb
Due: standard

can assign admin to a claim
  app/controllers/admin/assigns_controller.rb
  app/forms/admin/claims/assign_form.rb
  app/models/dfe_sign_in/user.rb
  app/views/admin/assigns/show.html.erb
  app/views/shared/_assignment_banner.html.erb
  config/routes.rb
  spec/factories/dfe_sign_in/users.rb
  spec/features/admin/admin_claim_allocation_and_deallocation_spec.rb
  spec/forms/admin/claims/assign_form_spec.rb
Due: standard

use govuk components for claim assignment
  app/views/shared/_assignment_banner.html.erb
  spec/features/admin/admin_claim_allocation_and_deallocation_spec.rb
Due: standard

add missing error summary for admin claim assign
  app/views/admin/assigns/show.html.erb
Due: none

remove random titleize call
  app/views/shared/_assignment_banner.html.erb
Due: none

add flash message for claim assignment
  app/controllers/admin/assigns_controller.rb
  app/forms/admin/claims/assign_form.rb
Due: standard

add guard for claim assignment
  app/forms/admin/claims/assign_form.rb
Due: standard

add validations for assign claim form
  app/forms/admin/claims/assign_form.rb
  spec/forms/admin/claims/assign_form_spec.rb
Due: standard

rename assign to assignment
  app/controllers/admin/assignments_controller.rb
  app/forms/admin/claims/assignment_form.rb
  app/views/admin/assignments/show.html.erb
  app/views/shared/_assignment_banner.html.erb
  config/routes.rb
  spec/forms/admin/claims/assignment_form_spec.rb
Due: standard

claim assignment creates notes
  app/forms/admin/claims/assign_form.rb
  spec/forms/admin/claims/assign_form_spec.rb
Due: standard
