Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

optimise includes of admin claims index
  app/forms/admin/claims_filter_form.rb
Due: standard

govuk formbuilder for SL qts year form
  app/forms/journeys/teacher_student_loan_reimbursement/qts_year_form.rb
  app/views/student_loans/claims/qts_year.html.erb
  config/locales/en.yml
  spec/features/changing_answers_spec.rb
  spec/support/feature_helpers.rb
Due: standard

govuk formbuilder for SL leadership question
  app/forms/journeys/teacher_student_loan_reimbursement/leadership_position_form.rb
  app/views/student_loans/claims/leadership_position.html.erb
Due: standard

govuk formbuilder for SL leadership duty question
  app/forms/journeys/teacher_student_loan_reimbursement/mostly_performed_leadership_duties_form.rb
  app/views/student_loans/claims/mostly_performed_leadership_duties.html.erb
Due: standard

add x86_64-linux-musl as plaform for gems
  Gemfile.lock
Due: none

Add option to hide dfe number
  app/models/admin/presenter_methods.rb
Due: standard

Updates to employment task
  app/models/policies/international_relocation_payments/admin_tasks_presenter.rb
  app/models/policies/international_relocation_payments/claim_checking_tasks.rb
  config/locales/en.yml
  spec/support/admin_view_claim_feature_shared_examples.rb
Due: standard

CAPT-2563 - copy change to error message
  config/locales/en.yml
  spec/forms/journeys/get_a_teacher_relocation_payment/changed_workplace_or_new_contract_form_spec.rb
Due: standard

Change question text
  config/locales/en.yml
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/models/journeys/get_a_teacher_relocation_payment/answers_presenter_spec.rb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

CAPT-2564 - copy change to visa question
  config/locales/en.yml
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/models/journeys/get_a_teacher_relocation_payment/answers_presenter_spec.rb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

Change error copy
  config/locales/en.yml
  spec/forms/journeys/get_a_teacher_relocation_payment/visa_form_spec.rb
Due: standard

Allow passing a specific NINO
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

Adds previous year check for IRP
  app/models/automated_checks/claim_verifiers/previous_year_claims.rb
  app/models/claims.rb
  app/models/claims/match.rb
  app/models/policies/international_relocation_payments.rb
  app/models/policies/international_relocation_payments/claim_checking_tasks.rb
  app/models/task.rb
  app/views/admin/tasks/first_year_payment.html.erb
  config/analytics_blocklist.yml
  config/locales/en.yml
  db/migrate/20250519154256_create_claims_matches.rb
  db/schema.rb
  spec/features/get_a_teacher_relocation_payment/admin_first_year_payment_task_spec.rb
  spec/models/automated_checks/claim_verifiers/previous_year_claims_spec.rb
Due: standard

Add `previous` convenience method
  app/models/academic_year.rb
Due: standard

Extract `task_status` spec helper
  spec/features/admin/admin_claim_further_education_payments_spec.rb
  spec/support/feature_helpers.rb
Due: standard

Don't show previous_payment task on new claims
  app/models/policies/international_relocation_payments/claim_checking_tasks.rb
  spec/features/admin/admin_checks_irp_claim_spec.rb
  spec/support/admin_view_claim_feature_shared_examples.rb
Due: standard

Validate matches are from previous year
  app/models/claims/match.rb
  spec/models/claims/match_spec.rb
Due: standard

Switch match model for array of ids
  app/models/automated_checks/claim_verifiers/previous_year_claims.rb
  app/models/claims.rb
  app/models/claims/match.rb
  app/views/admin/tasks/first_year_payment.html.erb
  config/analytics.yml
  config/analytics_blocklist.yml
  config/locales/en.yml
  db/migrate/20250519154256_create_claims_matches.rb
  db/migrate/20250528135658_add_pervious_year_claims_to_irp_eligibility.rb
  db/schema.rb
  spec/models/automated_checks/claim_verifiers/previous_year_claims_spec.rb
  spec/models/claims/match_spec.rb
Due: standard

Make admin presenter methods available in the view
  app/helpers/admin/tasks_helper.rb
Due: standard

Copy update
  config/locales/en.yml
Due: none

Add support for journey specific statements
  app/controllers/static_pages_controller.rb
Due: standard

Add EY accessibility statement
  app/views/early_years_payment/_accessibility_statement_shared.html.erb
  app/views/early_years_payment/practitioner/accessibility_statement.html.erb
  app/views/early_years_payment/provider/authenticated/accessibility_statement.html.erb
  app/views/early_years_payment/provider/start/accessibility_statement.html.erb
  app/views/layouts/application.html.erb
Due: none

CAPT-2572 - copy change on claim submission page
  app/views/get_a_teacher_relocation_payment/submissions/show.html.erb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

Add SLA
  app/views/get_a_teacher_relocation_payment/submissions/show.html.erb
Due: none

Change schools TRI journey name
  config/locales/targeted_retention_incentive_payments.yml
Due: none

IRP copy tweak placeholder hint
  config/locales/en.yml
Due: none

IRP stores breaks_in_employment on submission
  db/migrate/20250602154140_add_irp_breaks_in_employment.rb
  db/schema.rb
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

add IRP continuous employment task
  app/controllers/admin/tasks_controller.rb
  app/forms/admin/tasks/continuous_employment_form.rb
  app/forms/admin/tasks/form_factory.rb
  app/forms/admin/tasks/payroll_gender_form.rb
  app/helpers/admin/claims_helper.rb
  app/models/policies/international_relocation_payments/claim_checking_tasks.rb
  app/models/task.rb
  app/views/admin/tasks/_continuous_employment_form.html.erb
  app/views/admin/tasks/_task_outcome_continuous_employment.html.erb
  app/views/admin/tasks/continuous_employment.html.erb
  config/analytics.yml
  config/locales/en.yml
  db/migrate/20250603151832_add_data_to_tasks.rb
  db/schema.rb
  spec/features/admin/tasks/irp/continuous_employment_spec.rb
  spec/support/admin_view_claim_feature_shared_examples.rb
Due: standard

Remove ineligible? check from sequence
  app/models/journeys/teacher_student_loan_reimbursement/slug_sequence.rb
  spec/models/journeys/teacher_student_loan_reimbursement/slug_sequence_spec.rb
Due: standard

Invert slug sequence
  app/models/journeys/teacher_student_loan_reimbursement/session_answers.rb
  app/models/journeys/teacher_student_loan_reimbursement/slug_sequence.rb
  spec/models/journeys/teacher_student_loan_reimbursement/slug_sequence_spec.rb
Due: standard

CAPT-2564 - copy change to visa question (#3835)
  config/locales/en.yml
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/forms/journeys/get_a_teacher_relocation_payment/visa_form_spec.rb
  spec/models/journeys/get_a_teacher_relocation_payment/answers_presenter_spec.rb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

Add create employment history
  app/controllers/admin/claims/employment_histories_controller.rb
  app/forms/admin/claims/create_employment_history_form.rb
  app/models/policies/international_relocation_payments/claim_checking_tasks.rb
  app/models/policies/international_relocation_payments/eligibility.rb
  app/models/policies/international_relocation_payments/employment_histories_type.rb
  app/models/policies/international_relocation_payments/employment_history.rb
  app/models/task.rb
  app/views/admin/claims/employment_histories/new.html.erb
  app/views/admin/tasks/employment_history.html.erb
  config/analytics.yml
  config/locales/en.yml
  config/routes.rb
  db/migrate/20250528152757_add_employment_histories_to_irp_eligibilities.rb
  db/schema.rb
  spec/features/get_a_teacher_relocation_payment/admin_employment_history_task_spec.rb
  spec/forms/admin/claims/create_employment_history_form_spec.rb
Due: standard

Add autocomplete to school field
  app/assets/javascripts/components/school_search_field.js
  app/assets/stylesheets/components/school_search.scss
  app/views/admin/claims/employment_histories/new.html.erb
  spec/features/get_a_teacher_relocation_payment/admin_employment_history_task_spec.rb
Due: prettier, standard

Update namespacing
  app/controllers/admin/claims/employment_histories_controller.rb
  app/controllers/admin/claims/employment_history/employments_controller.rb
  app/forms/admin/claims/create_employment_history_form.rb
  app/forms/admin/claims/employment_history/create_employment_form.rb
  app/models/policies/international_relocation_payments/eligibility.rb
  app/models/policies/international_relocation_payments/employment_histories_type.rb
  app/models/policies/international_relocation_payments/employment_history.rb
  app/models/policies/international_relocation_payments/employment_history/employment.rb
  app/models/policies/international_relocation_payments/employment_history/type.rb
  app/views/admin/claims/employment_history/employments/new.html.erb
  app/views/admin/tasks/employment_history.html.erb
  config/analytics.yml
  config/locales/en.yml
  config/routes.rb
  db/migrate/20250528152757_add_employment_histories_to_irp_eligibilities.rb
  db/schema.rb
  spec/features/get_a_teacher_relocation_payment/admin_employment_history_task_spec.rb
  spec/forms/admin/claims/employment_history/create_employment_form_spec.rb
Due: standard

Prevent amending employment when task completed
  app/models/task.rb
  app/views/admin/tasks/employment_history.html.erb
  spec/features/get_a_teacher_relocation_payment/admin_employment_history_task_spec.rb
Due: standard

Add ability to remove employments
  app/controllers/admin/claims/employment_history/employments_controller.rb
  app/forms/admin/claims/employment_history/destroy_employment_form.rb
  app/models/policies/international_relocation_payments/employment_history/employment.rb
  app/views/admin/tasks/employment_history.html.erb
  config/routes.rb
  spec/features/get_a_teacher_relocation_payment/admin_employment_history_task_spec.rb
  spec/forms/admin/claims/employment_history/destroy_employment_form_spec.rb
Due: standard

Record who created the employment
  app/controllers/admin/claims/employment_history/employments_controller.rb
  app/forms/admin/claims/employment_history/create_employment_form.rb
  app/models/policies/international_relocation_payments/employment_history/employment.rb
  spec/features/get_a_teacher_relocation_payment/admin_employment_history_task_spec.rb
  spec/forms/admin/claims/employment_history/create_employment_form_spec.rb
Due: standard

Record deletions
  app/controllers/admin/claims/employment_history/employments_controller.rb
  app/forms/admin/claims/employment_history/create_employment_form.rb
  app/forms/admin/claims/employment_history/destroy_employment_form.rb
  app/models/policies/international_relocation_payments/employment_history/employment.rb
  app/views/admin/tasks/employment_history.html.erb
  spec/forms/admin/claims/employment_history/destroy_employment_form_spec.rb
Due: standard

Re add target
  app/views/admin/tasks/employment_history.html.erb
Due: none

Display claimants answers
  app/views/admin/tasks/employment_history.html.erb
Due: none

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
