Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

Adds the trainee details page
  app/forms/journeys/get_a_teacher_relocation_payment/trainee_details_form.rb
  app/models/journeys/get_a_teacher_relocation_payment.rb
  app/models/journeys/get_a_teacher_relocation_payment/answers_presenter.rb
  app/models/journeys/get_a_teacher_relocation_payment/session_answers.rb
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  app/views/get_a_teacher_relocation_payment/claims/trainee_details.html.erb
  config/locales/en.yml
  spec/factories/journeys/get_a_teacher_relocation_payment/get_a_teacher_relocation_payment_answers.rb
  spec/features/get_a_teacher_relocation_payment/ineligible_route_completing_the_form_spec.rb
  spec/features/get_a_teacher_relocation_payment/trainee_route_completing_the_form_spec.rb
  spec/forms/journeys/get_a_teacher_relocation_payment/trainee_details_form_spec.rb
  spec/models/journeys/get_a_teacher_relocation_payment/answers_presenter_spec.rb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

Add state_funded_secondary_school_form
  app/forms/journeys/get_a_teacher_relocation_payment/state_funded_secondary_school_form.rb
  app/models/journeys/get_a_teacher_relocation_payment.rb
  app/models/journeys/get_a_teacher_relocation_payment/answers_presenter.rb
  app/models/journeys/get_a_teacher_relocation_payment/session_answers.rb
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  app/models/policies/international_relocation_payments/policy_eligibility_checker.rb
  app/views/get_a_teacher_relocation_payment/claims/state_funded_secondary_school.html.erb
  config/analytics.yml
  config/locales/en.yml
  db/migrate/20240620085756_add_state_funded_secondary_school_to_international_relocation_payments_eligibilities.rb
  db/schema.rb
  spec/factories/journeys/get_a_teacher_relocation_payment/get_a_teacher_relocation_payment_answers.rb
  spec/features/get_a_teacher_relocation_payment/ineligible_route_completing_the_form_spec.rb
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/features/get_a_teacher_relocation_payment/trainee_route_completing_the_form_spec.rb
  spec/forms/journeys/get_a_teacher_relocation_payment/state_funded_secondary_school_form_spec.rb
  spec/models/journeys/get_a_teacher_relocation_payment/answers_presenter_spec.rb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

Reset depenent answers
  app/forms/journeys/get_a_teacher_relocation_payment/application_route_form.rb
  app/views/get_a_teacher_relocation_payment/claims/trainee_details.html.erb
  spec/forms/journeys/get_a_teacher_relocation_payment/application_route_form_spec.rb
Due: standard

Adds the contract details page
  app/forms/journeys/get_a_teacher_relocation_payment/application_route_form.rb
  app/forms/journeys/get_a_teacher_relocation_payment/contract_details_form.rb
  app/models/journeys/get_a_teacher_relocation_payment.rb
  app/models/journeys/get_a_teacher_relocation_payment/answers_presenter.rb
  app/models/journeys/get_a_teacher_relocation_payment/session_answers.rb
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  app/models/policies/international_relocation_payments/policy_eligibility_checker.rb
  app/views/get_a_teacher_relocation_payment/claims/contract_details.html.erb
  config/analytics.yml
  config/locales/en.yml
  db/migrate/20240620124504_add_one_year_to_international_relocation_payments_eligibilities.rb
  db/schema.rb
  spec/factories/journeys/get_a_teacher_relocation_payment/get_a_teacher_relocation_payment_answers.rb
  spec/features/get_a_teacher_relocation_payment/ineligible_route_completing_the_form_spec.rb
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/forms/journeys/get_a_teacher_relocation_payment/application_route_form_spec.rb
  spec/forms/journeys/get_a_teacher_relocation_payment/contract_details_form_spec.rb
  spec/models/journeys/get_a_teacher_relocation_payment/answers_presenter_spec.rb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

use GOVUK formbuilder for multiple eligibility
  app/forms/journeys/additional_payments_for_teaching/eligibility_confirmed_form.rb
  app/views/additional_payments/claims/_eligibility_confirmed_multiple.html.erb
  app/views/additional_payments/claims/eligibility_confirmed.html.erb
Due: standard

use GOVUK formbuilder for one time password form
  app/views/claims/_one_time_password.html.erb
  spec/features/changing_answers_spec.rb
  spec/features/claim_with_mobile_sms_otp_spec.rb
  spec/features/combined_teacher_claim_journey_spec.rb
  spec/features/combined_teacher_claim_journey_with_teacher_id_check_mobile_spec.rb
  spec/features/early_career_payments_claim_spec.rb
  spec/features/hmrc_bank_validation_spec.rb
  spec/features/levelling_up_premium_payments_spec.rb
  spec/features/one_time_password_spec.rb
  spec/features/student_loans_claim_spec.rb
  spec/features/tslr_claim_journey_with_teacher_id_check_mobile_spec.rb
Due: standard

Run DB migrations when deploying the test environment
  .github/workflows/build_and_deploy.yml
Due: none

Add startup commands and test_app_env.yml
  Makefile
  terraform/application/config/test.tfvars.json
  terraform/application/config/test_app_env.yml
Due: prettier

Rename app_replicas => web_replicas
  terraform/application/application.tf
  terraform/application/config/test.tfvars.json
  terraform/application/variables.tf
Due: prettier

Add 2 app replicas
  terraform/application/config/test.tfvars.json
Due: prettier

Update build_and_deploy workflow to run on push to master, not main
  .github/workflows/build_and_deploy.yml
Due: none

Update canonical_hostname and add postgres extensions
  terraform/application/config/test.tfvars.json
  terraform/application/database.tf
Due: prettier

CAPT-1702 Add slack notification on failure (#2864)
  .github/workflows/build_and_deploy.yml
  bin/slack-alert
Due: none

Configure SemanticLogger per tech guidance
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/semantic_logger.rb
Due: standard

Add test env variables
  terraform/application/config/test.tfvars.json
  terraform/application/config/test_Terrafile
Due: prettier

Add test deploy to workflow
  .github/workflows/build_and_deploy.yml
Due: none

Revert "Configure SemanticLogger per tech guidance"
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/semantic_logger.rb
Due: standard

Use app_replicas variable in web_application module
  terraform/application/application.tf
  terraform/application/variables.tf
Due: none

Update worker command
  terraform/application/config/test.tfvars.json
Due: prettier

CAPT-1702 Add smoke test (#2875)
  .github/workflows/build_and_deploy.yml
  Gemfile
  Gemfile.lock
  spec/rails_helper.rb
  spec/smoke/start_a_claim_spec.rb
  spec/support/capybara.rb
Due: standard

CAPT-1702 Migrate test environment to AKS (#2815)
  .github/workflows/build_and_deploy.yml
  Gemfile
  Gemfile.lock
  Makefile
  bin/slack-alert
  spec/rails_helper.rb
  spec/smoke/start_a_claim_spec.rb
  spec/support/capybara.rb
  terraform/application/application.tf
  terraform/application/config/test.tfvars.json
  terraform/application/config/test_Terrafile
  terraform/application/config/test_app_env.yml
  terraform/application/database.tf
  terraform/application/variables.tf
Due: prettier, standard

Dont specify the ruby version in the workflow
  .github/workflows/build_and_deploy.yml
Due: none

introduce further education payments journey
  .github/workflows/build_and_deploy.yml
  app/forms/journeys/further_education_payments/claim_submission_form.rb
  app/models/journeys.rb
  app/models/journeys/further_education_payments.rb
  app/models/journeys/further_education_payments/eligibility_checker.rb
  app/models/journeys/further_education_payments/session.rb
  app/models/journeys/further_education_payments/session_answers.rb
  app/models/journeys/further_education_payments/session_answers_type.rb
  app/models/journeys/further_education_payments/slug_sequence.rb
  app/models/policies/further_education_payments.rb
  app/models/policies/further_education_payments/eligibility.rb
  app/models/policies/further_education_payments/policy_eligibility_checker.rb
  app/views/further_education_payments/claims/academic_year_in_further_education.html.erb
  app/views/further_education_payments/claims/building_and_construction_courses.html.erb
  app/views/further_education_payments/claims/check_your_answers.html.erb
  app/views/further_education_payments/claims/contract_type.html.erb
  app/views/further_education_payments/claims/further_education_provision_search.html.erb
  app/views/further_education_payments/claims/half_teaching_hours.html.erb
  app/views/further_education_payments/claims/ineligible.html.erb
  app/views/further_education_payments/claims/poor_performance.html.erb
  app/views/further_education_payments/claims/qualification.html.erb
  app/views/further_education_payments/claims/subject_areas.html.erb
  app/views/further_education_payments/claims/teaching_courses.html.erb
  app/views/further_education_payments/claims/teaching_hours_per_week.html.erb
  app/views/further_education_payments/claims/teaching_responsibilities.html.erb
  app/views/further_education_payments/landing_page.html.erb
  config/analytics.yml
  config/locales/en.yml
  config/routes.rb
  db/migrate/20240620102034_create_further_education_payments_eligibilities.rb
  db/schema.rb
  db/seeds.rb
  spec/factories/journey_configurations.rb
  spec/features/further_education_payments/happy_claim_spec.rb
  spec/models/journeys_spec.rb
Due: standard

Add start date form
  app/forms/journeys/get_a_teacher_relocation_payment/application_route_form.rb
  app/forms/journeys/get_a_teacher_relocation_payment/start_date_form.rb
  app/models/journeys/get_a_teacher_relocation_payment.rb
  app/models/journeys/get_a_teacher_relocation_payment/answers_presenter.rb
  app/models/journeys/get_a_teacher_relocation_payment/session_answers.rb
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  app/models/policies/international_relocation_payments/eligibility.rb
  app/views/get_a_teacher_relocation_payment/claims/start_date.html.erb
  config/analytics.yml
  config/locales/en.yml
  db/migrate/20240621152642_add_start_date_to_international_relocation_payments_eligibilities.rb
  db/schema.rb
  spec/factories/journeys/get_a_teacher_relocation_payment/get_a_teacher_relocation_payment_answers.rb
  spec/features/get_a_teacher_relocation_payment/ineligible_route_completing_the_form_spec.rb
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/features/get_a_teacher_relocation_payment/trainee_route_completing_the_form_spec.rb
  spec/forms/journeys/get_a_teacher_relocation_payment/application_route_form_spec.rb
  spec/forms/journeys/get_a_teacher_relocation_payment/start_date_form_spec.rb
  spec/models/journeys/get_a_teacher_relocation_payment/answers_presenter_spec.rb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

Wait for test deployment before deploying to production
  .github/workflows/build_and_deploy.yml
Due: none

use GOVUK formbuilder for existing session
  app/views/claims/existing_session.html.erb
Due: none

use GOVUK formbuilder for provide mobile form
  app/forms/provide_mobile_number_form.rb
  app/views/claims/provide_mobile_number.html.erb
Due: standard

Update old documentation
  docs/connecting-to-azure.md
  docs/developer-onboarding.md
  docs/docker-hub-credentials.md
  docs/first-line-support-developer-runbook.md
  docs/infrastructure-deployment.md
  docs/privileged-identity-management-requests.md
  docs/release-process.md
  docs/secrets.md
Due: prettier

Add subject form
  app/forms/journeys/get_a_teacher_relocation_payment/application_route_form.rb
  app/forms/journeys/get_a_teacher_relocation_payment/subject_form.rb
  app/models/journeys/get_a_teacher_relocation_payment.rb
  app/models/journeys/get_a_teacher_relocation_payment/answers_presenter.rb
  app/models/journeys/get_a_teacher_relocation_payment/session_answers.rb
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  app/models/policies/international_relocation_payments/policy_eligibility_checker.rb
  app/views/get_a_teacher_relocation_payment/claims/subject.html.erb
  config/analytics.yml
  config/locales/en.yml
  db/migrate/20240621152837_add_subject_to_international_relocation_payments_eligibilities.rb
  db/schema.rb
  spec/factories/journeys/get_a_teacher_relocation_payment/get_a_teacher_relocation_payment_answers.rb
  spec/features/get_a_teacher_relocation_payment/ineligible_route_completing_the_form_spec.rb
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/features/get_a_teacher_relocation_payment/trainee_route_completing_the_form_spec.rb
  spec/forms/journeys/get_a_teacher_relocation_payment/application_route_form_spec.rb
  spec/forms/journeys/get_a_teacher_relocation_payment/subject_form_spec.rb
  spec/models/journeys/get_a_teacher_relocation_payment/answers_presenter_spec.rb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

add FE teaching responsibilities page
  app/forms/journeys/further_education_payments/teaching_responsibilities_form.rb
  app/models/journeys/further_education_payments.rb
  app/models/journeys/further_education_payments/session_answers.rb
  app/views/further_education_payments/claims/teaching_responsibilities.html.erb
  config/locales/en.yml
  spec/factories/journeys/further_education_payments/session.rb
  spec/features/further_education_payments/happy_claim_spec.rb
  spec/forms/journeys/further_education_payments/teaching_responsibilities_form_spec.rb
Due: standard

Remove old test app variables, makefile command and deploy-related code
  .prettierignore
  Makefile
  app.json
  azure-pipelines.yml
  azure/terraform/workspace_variables/test.tfvars.json
  bin/azure-console
  bin/azure-deploy
Due: prettier

Add HA and PG backups for production
  terraform/application/application.tf
  terraform/application/config/production.tfvars.json
  terraform/application/database.tf
  terraform/application/variables.tf
Due: prettier

use GOVUK formbuilder for gender form
  app/views/claims/gender.html.erb
Due: none

Add the visa select screen
  app/forms/journeys/get_a_teacher_relocation_payment/application_route_form.rb
  app/forms/journeys/get_a_teacher_relocation_payment/visa_form.rb
  app/models/journeys/get_a_teacher_relocation_payment.rb
  app/models/journeys/get_a_teacher_relocation_payment/answers_presenter.rb
  app/models/journeys/get_a_teacher_relocation_payment/session_answers.rb
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  app/models/policies/international_relocation_payments/policy_eligibility_checker.rb
  app/views/get_a_teacher_relocation_payment/claims/visa.html.erb
  config/analytics.yml
  config/locales/en.yml
  db/migrate/20240621153517_add_visa_type_to_international_relocation_payments_eligibilities.rb
  db/schema.rb
  spec/factories/journeys/get_a_teacher_relocation_payment/get_a_teacher_relocation_payment_answers.rb
  spec/features/get_a_teacher_relocation_payment/ineligible_route_completing_the_form_spec.rb
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/features/get_a_teacher_relocation_payment/trainee_route_completing_the_form_spec.rb
  spec/forms/journeys/get_a_teacher_relocation_payment/application_route_form_spec.rb
  spec/forms/journeys/get_a_teacher_relocation_payment/visa_form_spec.rb
  spec/models/journeys/get_a_teacher_relocation_payment/answers_presenter_spec.rb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

remove lefthook gem and config
  Gemfile
  Gemfile.lock
  README.md
  lefthook.yml
Due: prettier

Refactor running migrations into deployment action
  .github/actions/deploy-environment/action.yml
  .github/workflows/build_and_deploy.yml
Due: none

WIP: Run the action on this branch for testing
  .github/workflows/build_and_deploy.yml
Due: none

Provide PR_NUMBER when running migrations
  .github/actions/deploy-environment/action.yml
Due: none

Perform azure/login ahead of migrations
  .github/actions/deploy-environment/action.yml
  .github/workflows/build_and_deploy.yml
Due: none

WIP: Run the test/prod deploys on this branch for testing
  .github/workflows/build_and_deploy.yml
Due: none

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
