Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

Pass eligibility to dqt record
  app/models/automated_checks/claim_verifiers/qualifications.rb
  app/models/claim.rb
  app/models/policies/early_career_payments/dqt_record.rb
  app/models/policies/early_career_payments/eligibility.rb
  app/models/policies/levelling_up_premium_payments/dqt_record.rb
  app/models/policies/student_loans/dqt_record.rb
  lib/dqt/matchers/general.rb
  spec/lib/dqt/matchers/general_spec.rb
  spec/models/early_career_payments/dqt_record_spec.rb
  spec/models/levelling_up_premium_payments/dqt_record_spec.rb
  spec/models/student_loans/dqt_record_spec.rb
Due: standard

Move method from general matchers
  app/models/policies/early_career_payments/dqt_record.rb
  app/models/policies/levelling_up_premium_payments/dqt_record.rb
  lib/dqt/matchers/general.rb
  spec/lib/dqt/matchers/general_spec.rb
Due: standard

Share base class for session answers type
  app/models/journeys/additional_payments_for_teaching/session_answers_type.rb
  app/models/journeys/session_answers_type.rb
  app/models/journeys/teacher_student_loan_reimbursement/session_answers_type.rb
Due: standard

Don't use claim to get policy
  app/models/policies/early_career_payments/dqt_record.rb
  app/models/policies/levelling_up_premium_payments/dqt_record.rb
Due: standard

Move tid methods to concern
  app/models/concerns/journeys/sessions/teacher_id.rb
  app/models/journeys/session_answers.rb
Due: standard

Dont use acronyms
  app/forms/journeys/additional_payments_for_teaching/nqt_in_academic_year_after_itt_form.rb
  app/forms/journeys/additional_payments_for_teaching/qualification_details_form.rb
  app/models/journeys/additional_payments_for_teaching/answers_presenter.rb
  app/models/journeys/additional_payments_for_teaching/session_answers.rb
  app/models/journeys/additional_payments_for_teaching/slug_sequence.rb
  app/models/journeys/session_answers.rb
  spec/models/journeys/additional_payments_for_teaching/answers_presenter_spec.rb
  spec/models/journeys/additional_payments_for_teaching/slug_sequence_spec.rb
Due: standard

Rename method
  app/forms/journeys/additional_payments_for_teaching/qualification_details_form.rb
Due: standard

linting
  app/forms/journeys/additional_payments_for_teaching/eligible_itt_subject_form.rb
Due: standard

Use form to check for submitability
  app/forms/form.rb
  app/models/journeys/base.rb
  app/models/journeys/page_sequence.rb
  spec/models/journeys/page_sequence_spec.rb
Due: standard

Migrate personal detail form to write to answers
  app/controllers/claims_form_callbacks.rb
  app/forms/personal_details_form.rb
  app/forms/select_email_form.rb
  app/forms/select_mobile_form.rb
  app/forms/sign_in_or_continue_form.rb
  app/models/claim_journey_session_shim.rb
  app/models/concerns/journeys/sessions/teacher_id.rb
  app/models/journeys/additional_payments_for_teaching/slug_sequence.rb
  app/models/journeys/base_answers_presenter.rb
  app/models/journeys/session_answers.rb
  app/models/journeys/teacher_student_loan_reimbursement/slug_sequence.rb
  spec/features/changing_answers_spec.rb
  spec/features/combined_teacher_claim_journey_with_teacher_id_spec.rb
  spec/features/dfe_identity_sign_in_for_student_loans_journey_spec.rb
  spec/features/levelling_up_premium_payments_spec.rb
  spec/features/student_loans_claim_spec.rb
  spec/forms/personal_details_form_spec.rb
  spec/forms/select_email_form_spec.rb
  spec/forms/select_mobile_form_spec.rb
  spec/models/journeys/additional_payments_for_teaching/slug_sequence_spec.rb
  spec/requests/claims_spec.rb
  spec/requests/submissions_spec.rb
  spec/support/journey_answers_presenter_shared_examples.rb
Due: standard

Add have_received_email_matcher
  spec/support/have_received_email_matcher.rb
Due: standard

Add reminder specific email verificaiton form
  app/forms/journeys/additional_payments_for_teaching/reminders/email_verification_form.rb
  spec/forms/journeys/additional_payments_for_teaching/reminders/email_verification_form_spec.rb
Due: standard

Updates spec to test email is sent
  spec/forms/email_address_form_spec.rb
Due: standard

Migrate the email address form to write to answers
  app/forms/email_address_form.rb
  app/forms/email_verification_form.rb
  app/forms/select_email_form.rb
  app/models/claim_journey_session_shim.rb
  app/models/journeys/additional_payments_for_teaching/session_answers.rb
  app/models/journeys/session_answers.rb
  app/models/journeys/teacher_student_loan_reimbursement/session_answers.rb
  spec/factories/journeys/additional_payments_for_teaching/session_answers.rb
  spec/factories/journeys/teacher_student_loan_reimbursement/session_answers.rb
  spec/features/admin_claim_tasks_update_with_dqt_api_spec.rb
  spec/features/changing_answers_spec.rb
  spec/features/claim_journey_does_not_get_cached_spec.rb
  spec/features/early_career_payments_eligible_now_reminder_set_spec.rb
  spec/features/student_loans_claim_spec.rb
  spec/features/validating_user_contact_details_spec.rb
  spec/forms/email_address_form_spec.rb
  spec/forms/select_email_form_spec.rb
  spec/models/journeys/page_sequence_spec.rb
  spec/requests/submissions_spec.rb
Due: standard

Fix test
  spec/forms/journeys/additional_payments_for_teaching/reminders/email_verification_form_spec.rb
Due: standard

Update email verification form to write to session
  app/forms/email_address_form.rb
  app/forms/email_verification_form.rb
  app/forms/select_email_form.rb
  app/models/claim_journey_session_shim.rb
  app/models/journeys/additional_payments_for_teaching/slug_sequence.rb
  app/models/journeys/base_answers_presenter.rb
  app/models/journeys/session_answers.rb
  app/models/journeys/teacher_student_loan_reimbursement/slug_sequence.rb
  spec/features/combined_teacher_claim_journey_with_teacher_id_check_email_spec.rb
  spec/features/one_time_password_spec.rb
  spec/features/tslr_claim_journey_with_teacher_id_check_email_spec.rb
  spec/forms/email_address_form_spec.rb
  spec/forms/email_verification_form_spec.rb
  spec/forms/select_email_form_spec.rb
  spec/support/journey_answers_presenter_shared_examples.rb
Due: standard

Configure rails_semantic_logger for STDOUT
  config/environments/production.rb
Due: standard

style font for result number in search results
  app/assets/stylesheets/components/school_search.scss
Due: prettier

update zendesk slug
  app/helpers/admin/claims_helper.rb
  spec/features/admin_claim_support_tickets_spec.rb
Due: standard

Prepare database to seed/migrate it, and schedule jobs
  .github/workflows/build_and_deploy.yml
Due: none

Add worker
  terraform/application/application.tf
  terraform/application/config/review.tfvars.json
  terraform/application/variables.tf
Due: prettier

Run delayed_job in the foreground
  terraform/application/config/review.tfvars.json
Due: prettier

Migrate against the worker, set hostname as web
  .github/workflows/build_and_deploy.yml
  terraform/application/variables.tf
Due: none

Fix changes logic
  app/models/journeys/session.rb
Due: standard

Fix failing spec
  spec/jobs/employment_check_job_spec.rb
Due: standard

Remove duplicate attributes
  app/models/journeys/additional_payments_for_teaching/session_answers.rb
Due: standard

Remove unused domains Makefile targets
  Makefile
Due: none

Move to latest terraform version
  .github/actions/deploy-environment/action.yml
  .github/workflows/delete_review_app.yml
  .tool-versions
  terraform/application/terraform.tf
Due: none

Ensure kubectl is the correct version
  .github/workflows/build_and_deploy.yml
Due: none

Lint terraform and add tflint with the Azure plugin
  .github/workflows/ci.yaml
  .tflint.hcl
Due: none

fix flaky test
  spec/requests/claims_spec.rb
Due: standard

Update mobile forms to write to journey session
  app/forms/claim_submission_base_form.rb
  app/forms/mobile_number_form.rb
  app/forms/mobile_verification_form.rb
  app/forms/provide_mobile_number_form.rb
  app/forms/select_mobile_form.rb
  app/models/claim_journey_session_shim.rb
  app/models/concerns/journeys/sessions/teacher_id.rb
  app/models/journeys/additional_payments_for_teaching/slug_sequence.rb
  app/models/journeys/base_answers_presenter.rb
  app/models/journeys/session_answers.rb
  app/models/journeys/teacher_student_loan_reimbursement/slug_sequence.rb
  spec/factories/journeys/additional_payments_for_teaching/session_answers.rb
  spec/factories/journeys/teacher_student_loan_reimbursement/session_answers.rb
  spec/features/admin_claim_tasks_update_with_dqt_api_spec.rb
  spec/features/changing_answers_spec.rb
  spec/features/claim_journey_does_not_get_cached_spec.rb
  spec/features/claim_with_mobile_sms_otp_spec.rb
  spec/features/early_career_payments_eligible_now_reminder_set_spec.rb
  spec/features/eligible_later_early_career_payments_claim_spec.rb
  spec/features/student_loans_claim_spec.rb
  spec/forms/mobile_number_form_spec.rb
  spec/forms/mobile_verification_form_spec.rb
  spec/forms/provide_mobile_number_form_spec.rb
  spec/forms/select_mobile_form_spec.rb
  spec/models/journeys/additional_payments_for_teaching/slug_sequence_spec.rb
  spec/models/journeys/page_sequence_spec.rb
  spec/models/journeys/teacher_student_loan_reimbursement/slug_sequence_spec.rb
  spec/requests/submissions_spec.rb
  spec/support/eligible_later_shared_examples.rb
  spec/support/journey_answers_presenter_shared_examples.rb
Due: standard

Update form to write to session
  app/forms/bank_or_building_society_form.rb
  app/models/claim_journey_session_shim.rb
  app/models/journeys/additional_payments_for_teaching/slug_sequence.rb
  app/models/journeys/base_answers_presenter.rb
  app/models/journeys/session_answers.rb
  app/models/journeys/teacher_student_loan_reimbursement/slug_sequence.rb
  app/views/claims/building_society_account.html.erb
  app/views/claims/personal_bank_account.html.erb
  spec/factories/journeys/additional_payments_for_teaching/session_answers.rb
  spec/factories/journeys/teacher_student_loan_reimbursement/session_answers.rb
  spec/features/changing_answers_spec.rb
  spec/features/combined_teacher_claim_journey_spec.rb
  spec/features/levelling_up_premium_payments_spec.rb
  spec/features/student_loans_claim_spec.rb
  spec/forms/bank_or_building_society_form_spec.rb
  spec/models/journeys/additional_payments_for_teaching/slug_sequence_spec.rb
  spec/models/journeys/teacher_student_loan_reimbursement/slug_sequence_spec.rb
  spec/support/journey_answers_presenter_shared_examples.rb
Due: standard

Migrate bank account form to write to session
  app/forms/bank_details_form.rb
  app/forms/bank_or_building_society_form.rb
  app/models/claim_journey_session_shim.rb
  app/models/journeys/additional_payments_for_teaching/slug_sequence.rb
  app/models/journeys/base_answers_presenter.rb
  app/models/journeys/session_answers.rb
  app/models/journeys/teacher_student_loan_reimbursement/slug_sequence.rb
  spec/factories/journeys/additional_payments_for_teaching/session_answers.rb
  spec/factories/journeys/teacher_student_loan_reimbursement/session_answers.rb
  spec/features/admin_claim_tasks_update_with_dqt_api_spec.rb
  spec/features/changing_answers_spec.rb
  spec/features/claim_journey_does_not_get_cached_spec.rb
  spec/features/early_career_payments_eligible_now_reminder_set_spec.rb
  spec/features/hmrc_bank_validation_spec.rb
  spec/features/student_loans_claim_spec.rb
  spec/forms/bank_details_form_spec.rb
  spec/models/journeys/page_sequence_spec.rb
  spec/requests/submissions_spec.rb
  spec/support/eligible_later_shared_examples.rb
  spec/support/journey_answers_presenter_shared_examples.rb
Due: standard

Add test that dependent answers are reset
  spec/forms/bank_or_building_society_form_spec.rb
Due: standard

Upgrade terraform providers
  terraform/application/terraform.tf
Due: none

Eligibility checker
  app/models/concerns/policies/early_career_payments/eligible.rb
  app/models/concerns/policies/levelling_up_premium_payments/eligible.rb
  app/models/journeys/additional_payments_for_teaching/claim_journey_session_shim.rb
  app/models/journeys/additional_payments_for_teaching/eligibility_checker.rb
  app/models/journeys/additional_payments_for_teaching/session_answers.rb
  app/models/journeys/additional_payments_for_teaching/slug_sequence.rb
  app/models/journeys/teacher_student_loan_reimbursement/claim_journey_session_shim.rb
  app/models/policies/early_career_payments/eligibility.rb
  app/models/policies/early_career_payments/policy_eligibility_checker.rb
  app/models/policies/levelling_up_premium_payments/eligibility.rb
  app/models/policies/levelling_up_premium_payments/policy_eligibility_checker.rb
  spec/forms/journeys/additional_payments_for_teaching/eligibility_confirmed_form_spec.rb
  spec/helpers/claims/itt_subject_helper_spec.rb
  spec/helpers/early_career_payments_helper_spec.rb
  spec/lib/journey_subject_eligibility_checker_spec.rb
  spec/models/current_claim_spec.rb
  spec/models/early_career_payments/eligibility_spec.rb
  spec/models/journeys/additional_payments_for_teaching/eligiblity_checker_spec.rb
  spec/models/journeys/additional_payments_for_teaching/slug_sequence_spec.rb
  spec/models/journeys/additional_payments_for_teaching_spec.rb
  spec/support/eligibility_status_shared_examples.rb
Due: standard

Remove unused eligibility method
  app/models/concerns/policies/early_career_payments/eligible.rb
  spec/models/early_career_payments/eligibility_spec.rb
Due: standard

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
