Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

Change test to reflect upstream changes
  spec/features/early_years_payment/provider/start/happy_path_spec.rb
Due: standard

Implement EY provider guidance page
  Gemfile
  Gemfile.lock
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/components/box.scss
  app/controllers/journeys/early_years_payment/provider/start/static_pages_controller.rb
  app/views/early_years_payment/provider/start/guidance.html.erb
  app/views/early_years_payment/provider/start/landing_page.html.erb
  config/routes.rb
  spec/features/early_years_payment/provider/start/happy_path_spec.rb
Due: prettier, standard

Add env vars required for govuk_publishing_components
  terraform/application/config/production_app_env.yml
  terraform/application/config/review_app_env.yml
  terraform/application/config/test_app_env.yml
Due: none

Fix CI asset compilation
  Dockerfile
Due: none

Implement EY provider guidance page (#3422)
  Dockerfile
  Gemfile
  Gemfile.lock
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/components/box.scss
  app/controllers/journeys/early_years_payment/provider/start/static_pages_controller.rb
  app/views/early_years_payment/provider/start/guidance.html.erb
  app/views/early_years_payment/provider/start/landing_page.html.erb
  config/routes.rb
  spec/features/early_years_payment/provider/start/happy_path_spec.rb
  terraform/application/config/production_app_env.yml
  terraform/application/config/review_app_env.yml
  terraform/application/config/test_app_env.yml
Due: prettier, standard

Don't invert the provider outcome
  app/models/policies/further_education_payments/admin_provider_verification_task_presenter.rb
  config/locales/en.yml
Due: standard

CAPT-1991 - Move processing TPS CSV to a background job
  app/controllers/admin/tps_data_uploads_controller.rb
  app/jobs/import_teachers_pension_service_data_job.rb
  app/mailers/admin_mailer.rb
  app/mailers/application_mailer.rb
  config/brakeman.ignore
  spec/jobs/import_teachers_pension_service_data_job_spec.rb
Due: standard

Fix Dockerfile with postgresql16-16.6-r0
  Dockerfile
Due: none

upgrade rails 7.0.8.5 => 7.1.5
  Dockerfile
  Gemfile
  Gemfile.lock
  app/models/amendment.rb
  app/views/admin/tasks/_form.html.erb
  config/environments/test.rb
  config/locales/en.yml
  config/routes.rb
  lib/tasks/default.rake
  spec/features/combined_teacher_claim_journey_with_teacher_id_spec.rb
  spec/features/early_career_payments/early_career_payments_claim_spec.rb
  spec/forms/form_spec.rb
  spec/helpers/admin/journey_configurations_helper_spec.rb
  spec/helpers/admin/payroll_run_helper_spec.rb
  spec/jobs/early_years_progress_emails_job_spec.rb
  spec/models/academic_year_spec.rb
  spec/models/policies/early_years_payments/admin_claim_details_presenter_spec.rb
  spec/models/policies/early_years_payments/eligibility_spec.rb
  spec/models/policies/international_relocation_payments/claim_personal_data_scrubber_spec.rb
  spec/support/admin_view_claim_feature_shared_examples.rb
  spec/support/admin_view_claim_logged_in_with_tid_feature_shared_examples.rb
Due: standard

use SECRET_KEY_BASE_DUMMY in Docker for precompile
  Dockerfile
Due: none

copy tweak: add OL mandatory for FE
  app/views/claims/_sign_in_1_start.html.erb
  app/views/further_education_payments/landing_page.html.erb
Due: none

fix EY practitioner answer
  app/models/journeys/early_years_payment/practitioner/answers_presenter.rb
  spec/models/journeys/early_years_payment/practitioner/answers_presenter_spec.rb
Due: standard

use new reminders controller + remove old version
  app/controllers/journeys/additional_payments_for_teaching/reminders_controller.rb
  app/controllers/journeys/additional_payments_for_teaching/reminders_form_callbacks.rb
  app/controllers/reminders_controller.rb
  app/forms/journeys/additional_payments_for_teaching/reminders/email_verification_form.rb
  app/forms/journeys/additional_payments_for_teaching/reminders/personal_details_form.rb
  app/forms/reminders/confirmation_form.rb
  app/forms/reminders/email_verification_form.rb
  app/forms/reminders/personal_details_form.rb
  app/models/journeys/additional_payments_for_teaching.rb
  app/models/journeys/further_education_payments/session_answers.rb
  app/models/journeys/session_answers.rb
  app/models/policies/further_education_payments/eligibility.rb
  app/views/additional_payments/claims/eligible_later.html.erb
  app/views/additional_payments/claims/future_eligibility.html.erb
  app/views/additional_payments/reminders/_one_time_password.html.erb
  app/views/additional_payments/reminders/email_verification.html.erb
  app/views/additional_payments/reminders/personal_details.html.erb
  app/views/additional_payments/reminders/set.html.erb
  app/views/additional_payments/submissions/_reminder.html.erb
  config/locales/en.yml
  config/routes.rb
  spec/features/further_education_payments/happy_path_spec.rb
  spec/features/reminders_spec.rb
  spec/features/trainee_teacher_subjourney_for_lup_schools_spec.rb
  spec/forms/journeys/additional_payments_for_teaching/reminders/email_verification_form_spec.rb
  spec/forms/journeys/additional_payments_for_teaching/reminders/personal_details_form_spec.rb
  spec/requests/reminders_spec.rb
Due: standard

rename independent_reminder path to reminder path
  app/controllers/reminders_controller.rb
  app/views/additional_payments/claims/eligible_later.html.erb
  app/views/additional_payments/claims/future_eligibility.html.erb
  app/views/additional_payments/submissions/_reminder.html.erb
  app/views/further_education_payments/submissions/show.html.erb
  app/views/reminders/email_verification.html.erb
  app/views/reminders/personal_details.html.erb
  config/routes.rb
  spec/features/reminders_spec.rb
  spec/requests/reminders_spec.rb
Due: standard

fix rake task for rails 7.2
  db/schema.rb
  lib/tasks/default.rake
Due: standard

update factory_bot 6.2.1 => 6.5.0
  Gemfile.lock
Due: none

upgrade rails 7.1.5 => 7.2.2
  Gemfile
  Gemfile.lock
  app/models/claim.rb
  app/models/decision.rb
  app/models/policies/early_career_payments/eligibility.rb
  app/models/policies/levelling_up_premium_payments/eligibility.rb
  app/models/policies/student_loans/eligibility.rb
  app/models/risk_indicator.rb
  app/models/school.rb
  app/models/task.rb
Due: standard

Add link to guidance page
  app/views/early_years_payment/provider/authenticated/submissions/show.html.erb
Due: none

OTP email now personalises with journey name
  app/forms/email_address_form.rb
  app/forms/reminders/personal_details_form.rb
  app/mailers/claim_mailer.rb
  app/mailers/reminder_mailer.rb
  app/models/journeys/base.rb
  app/models/journeys/session.rb
  spec/forms/email_address_form_spec.rb
  spec/mailers/claim_mailer_spec.rb
Due: standard

Move error handling
  app/jobs/student_loan_amount_check_job.rb
  app/jobs/student_loan_plan_check_job.rb
  app/models/claim_student_loan_details_updater.rb
  spec/jobs/student_loan_amount_check_job_spec.rb
  spec/jobs/student_loan_plan_check_job_spec.rb
  spec/models/claim_student_loan_details_updater_spec.rb
Due: standard

CAPT-2023 Check for claim email address for zendesk link
  app/views/admin/support_tickets/_widget.html.erb
Due: none

Use govuk_link_to
  app/views/admin/support_tickets/_widget.html.erb
Due: none

CAPT-1411 add success/error emails for SLC CSV uploads
  app/jobs/import_student_loans_data_job.rb
  app/mailers/admin_mailer.rb
  app/mailers/application_mailer.rb
  spec/jobs/import_student_loans_data_job_spec.rb
Due: standard

Set the missing plan types
  db/data/20241127134254_set_missing_plan_type_on_approved_claims.rb
Due: standard

upgrade govuk frontend 5.6.0 => 5.7.1
  Gemfile
  Gemfile.lock
  package.json
  yarn.lock
Due: prettier

Add manual env deployment option
  .github/workflows/build_and_deploy.yml
Due: none

fix EY started_at timestamp
  app/forms/claim_submission_base_form.rb
  app/forms/journeys/early_years_payment/practitioner/claim_submission_form.rb
  spec/forms/journeys/early_years_payment/practitioner/claim_submission_form_spec.rb
Due: standard

fix flakey test
  spec/factories/reminders.rb
  spec/features/admin/admin_configure_services_spec.rb
Due: standard

swallow stdout during spec of rake task
  spec/lib/tasks/fix_student_loan_repayment_amounts_spec.rb
Due: standard

store journey class when reminder created
  app/forms/reminders/confirmation_form.rb
  app/forms/reminders/email_verification_form.rb
  app/forms/reminders/personal_details_form.rb
  spec/factories/reminders.rb
  spec/features/further_education_payments/happy_path_spec.rb
  spec/features/reminders_spec.rb
  spec/models/reminder_spec.rb
Due: standard

migration to store reminder journey class
  config/analytics.yml
  db/migrate/20241126105650_add_journey_class_to_reminders.rb
  db/schema.rb
Due: standard

opening service reminder emails consider journey
  app/controllers/admin/journey_configurations_controller.rb
  app/forms/reminders/personal_details_form.rb
  app/jobs/send_reminder_email_job.rb
  app/jobs/send_reminder_emails_job.rb
  app/mailers/reminder_mailer.rb
  app/models/reminder.rb
  app/views/admin/journey_configurations/_ecp_reminder_warning.html.erb
  spec/features/admin/admin_configure_services_spec.rb
  spec/jobs/send_reminder_emails_job_spec.rb
Due: standard

rename #name to #journey_name
  app/forms/email_address_form.rb
  app/forms/reminders/personal_details_form.rb
  app/models/journeys/base.rb
  spec/forms/email_address_form_spec.rb
Due: standard

wip generates report, split this commit up
  app/models/admin/duplicate_claims_report.rb
  app/models/claim.rb
  app/models/policies/further_education_payments/eligibility.rb
  db/migrate/20241129103823_add_indexes_to_claims_for_duplicate_detection.rb
  db/schema.rb
Due: standard

if one eligible_itt_subject show better error msg
  app/forms/journeys/additional_payments_for_teaching/eligible_itt_subject_form.rb
  spec/forms/journeys/additional_payments_for_teaching/eligible_itt_subject_form_spec.rb
Due: standard

rails 8 upgrade: fix SLC importer data casting
  app/models/student_loans_data_importer.rb
Due: standard

upgrade to rails 8
  Gemfile
  Gemfile.lock
Due: none

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
