Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

Add mermaid logic to admin demo area
  app/assets/javascripts/mermaid.min.js
  app/assets/javascripts/mermaid_journey_flow.js
  app/controllers/admin/components_controller.rb
  app/controllers/admin/journey_flows_controller.rb
  app/models/journey_flow_definition.rb
  app/models/journey_flow_definitions/early-years-payment-practitioner.yml
  app/models/journey_flow_definitions/early-years-payment-provider-alternative-idv.yml
  app/models/journey_flow_definitions/early-years-payment-provider.yml
  app/models/journey_flow_definitions/early-years-payment.yml
  app/models/journey_flow_definitions/early-years-teachers-recognition-payments.yml
  app/models/journey_flow_definitions/further-education-payments.yml
  app/models/journey_flow_definitions/get-a-teacher-relocation-payment.yml
  app/models/journey_flow_definitions/student-loans.yml
  app/models/journey_flow_definitions/targeted-retention-incentive-payments.yml
  app/models/policies/early_years_teachers_financial_incentive_payments/eligible_eytfi_provider.rb
  app/models/school.rb
  app/services/journey_component_preview_url_builder.rb
  app/views/admin/journey_flows/index.html.erb
  app/views/admin/journey_flows/show.html.erb
  app/views/components/home.html.erb
  config/initializers/content_security_policy.rb
  config/routes.rb
  package.json
  spec/models/journey_flow_definition_spec.rb
  spec/requests/admin/admin_page_spec.rb
  spec/services/journey_component_preview_url_builder_spec.rb
  yarn.lock
Due: prettier, standard

add new STRI school search
  app/controllers/claims_controller.rb
  app/forms/current_school_form.rb
  app/forms/journeys/school_targeted_retention_incentive_payments/check_eligibility_intro_form.rb
  app/forms/journeys/school_targeted_retention_incentive_payments/ineligible_form.rb
  app/models/journeys/school_targeted_retention_incentive_payments.rb
  app/models/journeys/school_targeted_retention_incentive_payments/eligibility_checker.rb
  app/models/journeys/school_targeted_retention_incentive_payments/slug_sequence.rb
  app/views/school_targeted_retention_incentive_payments/claims/_ineligible_current_school.html.erb
  app/views/school_targeted_retention_incentive_payments/claims/current_school.html.erb
  app/views/school_targeted_retention_incentive_payments/claims/ineligible.html.erb
  config/locales/school_targeted_retention_incentive_payments.yml
  spec/factories/journeys/targeted_retention_incentive_payments/session_answers.rb
  spec/features/school_targeted_retention_incentives/ineligible_school_spec.rb
Due: standard

seed eligible STRI school
  db/seeders/base.rb
Due: standard

wip
  app/models/journeys/school_targeted_retention_incentive_payments.rb
Due: standard

SVG flowchart of journeys
  app/assets/stylesheets/application.scss
  app/controllers/admin/journey_flows_controller.rb
  app/models/journey_flow_definition.rb
  app/models/journey_flow_definitions/early-years-payment-practitioner.yml
  app/models/journey_flow_definitions/early-years-payment-provider-alternative-idv.yml
  app/models/journey_flow_definitions/early-years-payment-provider.yml
  app/models/journey_flow_definitions/early-years-payment.yml
  app/models/journey_flow_definitions/early-years-teachers-recognition-payments.yml
  app/models/journey_flow_definitions/further-education-payments.yml
  app/models/journey_flow_definitions/get-a-teacher-relocation-payment.yml
  app/models/journey_flow_definitions/student-loans.yml
  app/models/journey_flow_definitions/targeted-retention-incentive-payments.yml
  app/views/admin/journey_flows/index.html.erb
  app/views/admin/journey_flows/show.html.erb
  config/initializers/content_security_policy.rb
  config/routes.rb
  spec/models/journey_flow_definition_spec.rb
Due: prettier, standard

SVG flowchart of journeys
  app/assets/javascripts/journey_flow.js
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/components/journey_components.scss
  app/controllers/admin/journey_flows_controller.rb
  app/models/journey_flow_definition.rb
  app/models/journey_flow_definitions/early-years-payment-practitioner.yml
  app/models/journey_flow_definitions/early-years-payment-provider-alternative-idv.yml
  app/models/journey_flow_definitions/early-years-payment-provider.yml
  app/models/journey_flow_definitions/early-years-payment.yml
  app/models/journey_flow_definitions/early-years-teachers-recognition-payments.yml
  app/models/journey_flow_definitions/further-education-payments.yml
  app/models/journey_flow_definitions/get-a-teacher-relocation-payment.yml
  app/models/journey_flow_definitions/student-loans.yml
  app/models/journey_flow_definitions/targeted-retention-incentive-payments.yml
  app/views/admin/journey_flows/index.html.erb
  app/views/admin/journey_flows/show.html.erb
  app/views/components/home.html.erb
  config/routes.rb
  spec/models/journey_flow_definition_spec.rb
Due: prettier, standard

new STRI add half contracted hours page
  app/forms/journeys/school_targeted_retention_incentive_payments/half_contracted_hours_form.rb
  app/forms/journeys/school_targeted_retention_incentive_payments/ineligible_form.rb
  app/models/journeys/school_targeted_retention_incentive_payments.rb
  app/models/journeys/school_targeted_retention_incentive_payments/eligibility_checker.rb
  app/models/journeys/school_targeted_retention_incentive_payments/session_answers.rb
  app/models/journeys/school_targeted_retention_incentive_payments/slug_sequence.rb
  app/views/school_targeted_retention_incentive_payments/claims/_ineligible_at_least_half_contracted_hours.html.erb
  app/views/school_targeted_retention_incentive_payments/claims/_ineligible_school_ineligible.html.erb
  app/views/school_targeted_retention_incentive_payments/claims/half_contracted_hours.html.erb
  app/views/school_targeted_retention_incentive_payments/claims/ineligible.html.erb
  config/locales/school_targeted_retention_incentive_payments.yml
  spec/features/school_targeted_retention_incentives/ineligible_half_contracted_hours_spec.rb
Due: standard

Update gemfile 4.0.7
  .ruby-version
  Gemfile
  Gemfile.lock
Due: none

2929 - Amends WAF policy settings
  terraform/domains/environment_domains/config/staging.tfvars.json
  terraform/domains/environment_domains/config/test.tfvars.json
  terraform/domains/environment_domains/main.tf
  terraform/domains/environment_domains/variables.tf
Due: prettier

Add new national insurance number journey
  app/forms/journeys/early_years_teachers_financial_incentive_payments/confirm_national_insurance_number_form.rb
  app/jobs/early_years_teachers_financial_incentive_payments/fetch_qualifications_job.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/session_answers.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/slug_sequence.rb
  app/views/early_years_teachers_financial_incentive_payments/claims/confirm_national_insurance_number.html.erb
  config/locales/early_years_teachers_financial_incentive_payments.yml
  spec/features/early_years_teachers_financial_incentive_payments/happy_path_spec.rb
  spec/forms/journeys/early_years_teachers_financial_incentive_payments/confirm_national_insurance_number_form_spec.rb
Due: standard

Add ability to set NINO to bypass auth page
  app/controllers/journeys/early_years_teachers_financial_incentive_payments/bypass_auth_controller.rb
  app/forms/debug/teacher_auth/sign_in_form.rb
  app/views/early_years_teachers_financial_incentive_payments/claims/sign_in.html.erb
Due: standard

handle teacher auth within new STRI journey
  app/controllers/journeys/school_targeted_retention_incentive_payments/auth_controller.rb
  app/controllers/journeys/school_targeted_retention_incentive_payments/bypass_auth_controller.rb
  app/forms/debug/teacher_auth/school/sign_in_form.rb
  app/forms/journeys/school_targeted_retention_incentive_payments/sign_in_form.rb
  app/jobs/debug/fetch_nino_bypass_job.rb
  app/models/journeys/school_targeted_retention_incentive_payments.rb
  app/models/journeys/school_targeted_retention_incentive_payments/session_answers.rb
  app/models/journeys/school_targeted_retention_incentive_payments/slug_sequence.rb
  app/models/teacher_auth/school_config.rb
  app/views/school_targeted_retention_incentive_payments/claims/sign_in.html.erb
  config/initializers/omniauth.rb
  config/routes.rb
  spec/factories/journeys/school_targeted_retention_incentive_payments/session.rb
  spec/factories/journeys/school_targeted_retention_incentive_payments/session_answers.rb
  spec/features/school_targeted_retention_incentives/happy_path_spec.rb
  spec/jobs/debug/fetch_nino_bypass_job_spec.rb
Due: standard

Fix: adding infrastructure encryption required to module call
  .github/workflows/validate-infrastructure.yml
  terraform/application/storage.tf
  terraform/application/variables.tf
Due: none

Test: testing against module branch
  global_config/production.sh
  global_config/staging.sh
  global_config/test.sh
Due: none

Change run date to monday morning
  config/recurring.yml
Due: none

Add initial HMRC job wiring
  app/assets/images/loading-spinner.gif
  app/forms/journeys/early_years_teachers_financial_incentive_payments/confirm_national_insurance_number_form.rb
  app/forms/journeys/early_years_teachers_financial_incentive_payments/hmrc_loading_screen_form.rb
  app/forms/journeys/early_years_teachers_financial_incentive_payments/national_insurance_number_form.rb
  app/jobs/early_years_teachers_financial_incentive_payments/hmrc_employment_check_job.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/session_answers.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/slug_sequence.rb
  app/views/early_years_teachers_financial_incentive_payments/claims/hmrc_loading_screen.html.erb
  app/views/early_years_teachers_financial_incentive_payments/claims/upload_employment_proof.html.erb
  spec/features/early_years_teachers_financial_incentive_payments/happy_path_spec.rb
Due: standard

Add new national insurance number journey
  app/forms/journeys/early_years_teachers_financial_incentive_payments/confirm_national_insurance_number_form.rb
  app/jobs/early_years_teachers_financial_incentive_payments/fetch_qualifications_job.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/session_answers.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/slug_sequence.rb
  app/views/early_years_teachers_financial_incentive_payments/claims/confirm_national_insurance_number.html.erb
  config/locales/early_years_teachers_financial_incentive_payments.yml
  spec/features/early_years_teachers_financial_incentive_payments/claim_cancelled_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/happy_path_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/upload_employment_proof_validation_spec.rb
  spec/features/postcode_journey_changes_spec.rb
  spec/forms/journeys/early_years_teachers_financial_incentive_payments/confirm_national_insurance_number_form_spec.rb
  spec/support/teacher_auth_helpers.rb
Due: standard

able to fake fetch NI number
  app/controllers/journeys/school_targeted_retention_incentive_payments/auth_controller.rb
  app/controllers/journeys/school_targeted_retention_incentive_payments/bypass_auth_controller.rb
  app/forms/journeys/school_targeted_retention_incentive_payments/query_national_insurance_number_form.rb
  app/forms/journeys/school_targeted_retention_incentive_payments/teacher_details_form.rb
  app/forms/journeys/school_targeted_retention_incentive_payments/verify_national_insurance_number_form.rb
  app/helpers/application_helper.rb
  app/models/journeys/school_targeted_retention_incentive_payments.rb
  app/models/journeys/school_targeted_retention_incentive_payments/session_answers.rb
  app/models/journeys/school_targeted_retention_incentive_payments/slug_sequence.rb
  app/views/school_targeted_retention_incentive_payments/claims/query_national_insurance_number.html.erb
  app/views/school_targeted_retention_incentive_payments/claims/teacher_details.html.erb
  app/views/school_targeted_retention_incentive_payments/claims/verify_national_insurance_number.html.erb
  config/locales/school_targeted_retention_incentive_payments.yml
  spec/features/school_targeted_retention_incentives/happy_path_spec.rb
Due: standard

rebrand NI check to teacher details
  app/controllers/journeys/school_targeted_retention_incentive_payments/auth_controller.rb
  app/controllers/journeys/school_targeted_retention_incentive_payments/bypass_auth_controller.rb
  app/forms/journeys/school_targeted_retention_incentive_payments/query_teacher_details_form.rb
  app/models/journeys/school_targeted_retention_incentive_payments.rb
  app/models/journeys/school_targeted_retention_incentive_payments/slug_sequence.rb
  app/views/school_targeted_retention_incentive_payments/claims/query_teacher_details.html.erb
  config/locales/school_targeted_retention_incentive_payments.yml
Due: standard

Show correct change answer link for nino
  app/models/journeys/early_years_teachers_financial_incentive_payments/answers_presenter.rb
Due: standard

Retry hmrc api call when nino changed
  app/forms/journeys/early_years_teachers_financial_incentive_payments/confirm_national_insurance_number_form.rb
  app/forms/journeys/early_years_teachers_financial_incentive_payments/national_insurance_number_form.rb
  spec/features/early_years_teachers_financial_incentive_payments/happy_path_spec.rb
Due: standard

Rearrange pages
  app/models/journeys/early_years_teachers_financial_incentive_payments/slug_sequence.rb
  spec/features/early_years_teachers_financial_incentive_payments/happy_path_spec.rb
Due: standard

EYTFI provider search ignores non-word characters
  app/models/policies/early_years_teachers_financial_incentive_payments/eligible_eytfi_provider.rb
  db/migrate/20260923120658_add_sanitise_name_for_eytfi_provider.rb
  db/schema.rb
  spec/models/policies/early_years_teachers_financial_incentive_payments/eligible_eytfi_provider_spec.rb
Due: standard

Add HMRC job
  app/forms/journeys/early_years_teachers_financial_incentive_payments/hmrc_bypass_form.rb
  app/jobs/early_years_teachers_financial_incentive_payments/hmrc_employment_check_job.rb
  app/models/hmrc/employment_history.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/employment_check.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/session_answers.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/slug_sequence.rb
  app/views/early_years_teachers_financial_incentive_payments/claims/hmrc_bypass.html.erb
  config/initializers/hmrc.rb
  spec/features/early_years_teachers_financial_incentive_payments/happy_path_spec.rb
Due: standard

data migration for EYTFI sanitised_name
  db/data/20260923135457_populate_eytfi_provider_sanitised_name.rb
Due: standard

school search handles special characters
  app/models/policies/early_years_teachers_financial_incentive_payments/eligible_eytfi_provider.rb
  app/models/school.rb
  db/data/20260923144829_populate_school_sanitised_name.rb
  db/migrate/20260923144715_add_sanitised_name_for_school.rb
  db/schema.rb
  spec/models/school_spec.rb
Due: standard

update analytics manifest for search fields
  config/analytics.yml
Due: none

Rename hmrc_employment_check_status
  app/forms/journeys/early_years_teachers_financial_incentive_payments/confirm_national_insurance_number_form.rb
  app/forms/journeys/early_years_teachers_financial_incentive_payments/hmrc_bypass_form.rb
  app/forms/journeys/early_years_teachers_financial_incentive_payments/national_insurance_number_form.rb
  app/jobs/early_years_teachers_financial_incentive_payments/hmrc_employment_check_job.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/session_answers.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/slug_sequence.rb
Due: standard

script for FE provider emails
  script/fe-provider-email.rb
Due: standard

Reset employment check when details change
  app/forms/journeys/early_years_teachers_financial_incentive_payments/nursery_search_form.rb
  app/forms/journeys/early_years_teachers_financial_incentive_payments/nursery_select_form.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/employment_check.rb
  spec/features/early_years_teachers_financial_incentive_payments/changing_schools_rechecks_employment_spec.rb
Due: standard

Improve journey links
  app/views/admin/components/landing_page_journeys.html.erb
Due: none

Improve journey links (#4957)
  app/views/admin/components/landing_page_journeys.html.erb
Due: none

Remove ability to change TRS answers
  app/forms/journeys/teacher_student_loan_reimbursement/national_insurance_number_form.rb
  app/models/automated_checks/claim_verifiers/teacher_auth_identity_confirmation.rb
  app/models/journeys/teacher_student_loan_reimbursement.rb
  app/models/journeys/teacher_student_loan_reimbursement/answers_presenter.rb
  app/models/journeys/teacher_student_loan_reimbursement/slug_sequence.rb
  spec/features/tslr/tslr_claim_journey_with_teacher_auth_by_pass_spec.rb
  spec/forms/journeys/teacher_student_loan_reimbursement/national_insurance_number_form_spec.rb
  spec/models/automated_checks/claim_verifiers/teacher_auth_identity_confirmation_spec.rb
  spec/models/journeys/teacher_student_loan_reimbursement/slug_sequence_spec.rb
Due: standard

handle async bypass for STRI TRS calls
  app/controllers/journeys/school_targeted_retention_incentive_payments/auth_controller.rb
  app/controllers/journeys/school_targeted_retention_incentive_payments/bypass_auth_controller.rb
  app/forms/journeys/school_targeted_retention_incentive_payments/query_teacher_details_form.rb
  app/jobs/debug/fetch_nino_bypass_job.rb
  app/jobs/debug/stri_bypass_job.rb
  app/jobs/school_targeted_retention_incentive_payments/fetch_trs_data_job.rb
  app/models/journeys/school_targeted_retention_incentive_payments/session_answers.rb
  app/models/journeys/school_targeted_retention_incentive_payments/slug_sequence.rb
  app/views/school_targeted_retention_incentive_payments/claims/teacher_details.html.erb
  app/views/school_targeted_retention_incentive_payments/claims/verify_national_insurance_number.html.erb
  spec/features/school_targeted_retention_incentives/happy_missing_ni_spec.rb
  spec/jobs/debug/fetch_nino_bypass_job_spec.rb
  spec/jobs/debug/stri_bypass_job_spec.rb
Due: standard

exclude view from herb
  .github/workflows/ci.yaml
  .herb.yml
Due: none

touch readme
  README.md
Due: prettier

Use form_key if the journey has it
  app/forms/form.rb
  app/models/journeys/base.rb
Due: standard

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
