Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

Fix reminder job scope
  app/jobs/early_years_payments/provider_six_month_employment_reminder_job.rb
  spec/jobs/early_years_payments/provider_six_month_employment_reminder_job_spec.rb
Due: standard

Fix multiple issues in Early Years practitioner reminder emails
  app/jobs/early_years_payments/practitioner_reminder_email_job.rb
  spec/jobs/early_years_payments/practitioner_reminder_email_job_spec.rb
Due: standard

migrate analytics fields to blocklist
  config/analytics.yml
  config/analytics_blocklist.yml
Due: none

Don't automatically pass the ey idv task
  app/jobs/tasks/ey_alternative_verification_job.rb
  app/models/automated_checks/claim_verifiers/ey_alternative_verification.rb
  app/models/policies/early_years_payments.rb
  spec/features/admin/early_years/alternative_verification_spec.rb
Due: standard

Update EY alternative verification task
  app/forms/admin/tasks/ey_alternative_verification_form.rb
  app/jobs/tasks/ey_alternative_verification_job.rb
  app/models/automated_checks/claim_verifiers/ey_alternative_verification.rb
  app/models/claim.rb
  app/views/admin/tasks/ey_alternative_verification.html.erb
  spec/features/admin/early_years/alternative_verification_spec.rb
  spec/forms/admin/tasks/ey_alternative_verification_form_spec.rb
  spec/models/claim_spec.rb
Due: standard

CAPT-2812 Remove provider verification subject and courses pages
  app/forms/further_education_payments/providers/claims/verification/actual_subjects_taught_form.rb
  app/forms/further_education_payments/providers/claims/verification/building_construction_courses_form.rb
  app/forms/further_education_payments/providers/claims/verification/check_answers_form.rb
  app/forms/further_education_payments/providers/claims/verification/chemistry_courses_form.rb
  app/forms/further_education_payments/providers/claims/verification/computing_courses_form.rb
  app/forms/further_education_payments/providers/claims/verification/early_years_courses_form.rb
  app/forms/further_education_payments/providers/claims/verification/engineering_manufacturing_courses_form.rb
  app/forms/further_education_payments/providers/claims/verification/half_timetabled_teaching_time_form.rb
  app/forms/further_education_payments/providers/claims/verification/maths_courses_form.rb
  app/forms/further_education_payments/providers/claims/verification/physics_courses_form.rb
  app/forms/further_education_payments/providers/claims/verification/subjects_taught_form.rb
  app/models/further_education_payments/providers/claims/answers_presenter.rb
  app/models/further_education_payments/providers/claims/verification/wizard.rb
  app/views/further_education_payments/providers/claims/verifications/_summary.html.erb
  app/views/further_education_payments/providers/claims/verifications/actual_subjects_taught.html.erb
  app/views/further_education_payments/providers/claims/verifications/building_construction_courses.html.erb
  app/views/further_education_payments/providers/claims/verifications/chemistry_courses.html.erb
  app/views/further_education_payments/providers/claims/verifications/computing_courses.html.erb
  app/views/further_education_payments/providers/claims/verifications/early_years_courses.html.erb
  app/views/further_education_payments/providers/claims/verifications/engineering_manufacturing_courses.html.erb
  app/views/further_education_payments/providers/claims/verifications/maths_courses.html.erb
  app/views/further_education_payments/providers/claims/verifications/physics_courses.html.erb
  app/views/further_education_payments/providers/claims/verifications/subjects_taught.html.erb
  config/analytics.yml
  db/migrate/20250901184118_remove_provider_verification_fields.rb
  db/schema.rb
  spec/factories/policies/further_education_payments/eligibilities.rb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
  spec/features/further_education_payments/providers/provider_verifying_with_claimant_courses_spec.rb
  spec/features/further_education_payments/providers/provider_verifying_with_custom_subjects_spec.rb
  spec/features/further_education_payments/providers/provider_verifying_with_no_eligible_courses_spec.rb
  spec/features/further_education_payments/providers/verified_claim_spec.rb
  spec/forms/further_education_payments/providers/claims/verification/subjects_taught_form_spec.rb
Due: standard

Fix reminder job cutoff date to be evaluated at
  app/jobs/early_years_payments/practitioner_reminder_email_job.rb
Due: standard

CAPT-2831 Add missing sentence
  app/views/early_years_payment/provider/start/landing_page.html.erb
Due: none

CAPT-2835 EY guidance updates
  app/views/early_years_payment/provider/start/guidance.html.erb
  spec/features/early_years_payment/provider/start/documents_spec.rb
  spec/features/early_years_payment/provider/start/happy_path_spec.rb
Due: standard

update EY survey links
  app/views/early_years_payment/practitioner/claims/confirmation.html.erb
  app/views/early_years_payment/provider/authenticated/claims/confirmation.html.erb
Due: none

update email hint text formatting
  config/locales/en.yml
Due: none

update access code support email address
  app/views/claims/_help_with_access_codes.html.erb
Due: none

Simplify name matching
  app/models/automated_checks/claim_verifiers/ey_alternative_verification.rb
  spec/features/admin/early_years/alternative_verification_spec.rb
  spec/models/automated_checks/claim_verifiers/ey_alternative_verification_spec.rb
Due: standard

Make comparison case insensitive
  app/models/claim.rb
Due: standard

Fail the task if bank details not recognised
  app/forms/admin/tasks/ey_alternative_verification_form.rb
  app/models/automated_checks/claim_verifiers/ey_alternative_verification.rb
  app/views/admin/tasks/ey_alternative_verification.html.erb
  spec/features/admin/early_years/alternative_verification_spec.rb
  spec/models/automated_checks/claim_verifiers/ey_alternative_verification_spec.rb
Due: standard

Add bbank detail sub task automated passing
  app/forms/admin/tasks/ey_alternative_verification_form.rb
  app/models/automated_checks/claim_verifiers/ey_alternative_verification.rb
  app/models/claim.rb
  app/views/admin/tasks/ey_alternative_verification.html.erb
  spec/features/admin/early_years/alternative_verification_spec.rb
  spec/models/automated_checks/claim_verifiers/ey_alternative_verification_spec.rb
Due: standard

Auto pass the personal details sub task
  app/forms/admin/tasks/ey_alternative_verification_form.rb
  app/jobs/tasks/ey_alternative_verification_job.rb
  app/models/automated_checks/claim_verifiers/ey_alternative_verification.rb
  app/models/policies/early_years_payments.rb
  app/models/tasks.rb
  app/views/admin/tasks/ey_alternative_verification.html.erb
  spec/features/admin/early_years/alternative_verification_spec.rb
Due: standard

Replace decision warning with submitted date
  app/helpers/admin/claims_helper.rb
  app/views/admin/claims/index.html.erb
  spec/factories/policies/early_years_payments/eligibilities.rb
Due: standard

Allow setting hint on task form
  app/views/admin/tasks/_form_body.html.erb
Due: none

CAPT-2840 - update guidance link to EY practitioner how-we-use-your-information page
  app/views/early_years_payment/practitioner/claims/how_we_use_your_information.html.erb
  app/views/early_years_payment/practitioner/landing_page.html.erb
  app/views/early_years_payment/provider/authenticated/claims/confirmation.html.erb
Due: none

Add eoi cross reference
  app/models/policies/early_years_payments/claim_checking_tasks.rb
  app/models/task.rb
  app/views/admin/tasks/ey_eoi_cross_reference.html.erb
  config/locales/en.yml
  spec/support/admin_view_claim_feature_shared_examples.rb
Due: standard

Add additional questions for fixed term
  app/models/journeys/further_education_payments/slug_sequence.rb
  app/models/policies/further_education_payments/policy_eligibility_checker.rb
  spec/features/further_education_payments/ineligible_paths_spec.rb
  spec/features/further_education_payments/variable_contract_spec.rb
Due: standard

CAPT-2810 - Provider verificaton - change success banner
  app/controllers/further_education_payments/providers/claims/verifications_controller.rb
  app/models/further_education_payments/providers/claims/verification/wizard.rb
  app/views/layouts/application.html.erb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
  spec/features/further_education_payments/providers/provider_verifying_with_claimant_courses_spec.rb
Due: standard

FE can resume previous journey session
  app/forms/form.rb
  app/forms/journeys/further_education_payments/existing_progress_form.rb
  app/models/journeys/further_education_payments.rb
  app/models/journeys/further_education_payments/journey_session_migrator.rb
  app/models/journeys/further_education_payments/slug_sequence.rb
  app/models/journeys/navigator.rb
  app/models/journeys/session_answers.rb
  app/models/one_login_account.rb
  app/models/policies/further_education_payments.rb
  app/views/further_education_payments/claims/existing_progress.html.erb
  config/locales/en.yml
  spec/features/further_education_payments/claimed_last_year_spec.rb
  spec/features/further_education_payments/existing_one_login_spec.rb
  spec/features/further_education_payments/one_login_contiue_spec.rb
  spec/features/further_education_payments/previously_claimed_spec.rb
  spec/models/journeys/navigator_spec.rb
Due: standard

FE resuming ignores ineligible sessions
  app/forms/journeys/further_education_payments/existing_progress_form.rb
  app/models/one_login_account.rb
  app/models/policies/further_education_payments.rb
  spec/features/further_education_payments/one_login_contiue_spec.rb
Due: standard

Display the ey_alt verification task if it exists
  app/models/policies/early_years_payments/claim_checking_tasks.rb
  spec/models/policies/early_years_payments/claim_checking_tasks_spec.rb
Due: standard

update admin decision due field
  app/models/claim.rb
  app/models/policies/early_years_payments.rb
  spec/features/admin/admin_view_full_claim_early_years_payments_spec.rb
  spec/features/admin/admin_view_full_claim_further_education_payments_spec.rb
  spec/helpers/admin/claims_helper_spec.rb
  spec/models/base_policy_spec.rb
  spec/models/policies/early_years_payments_spec.rb
  spec/models/policies/further_education_payments_spec.rb
Due: standard

fix tests
  spec/features/further_education_payments/one_login_contiue_spec.rb
Due: standard

Fix viewing held claims errors
  app/helpers/admin/claims_helper.rb
  spec/helpers/admin/claims_helper_spec.rb
Due: standard

FE journey sessions last a year
  app/jobs/purge_unsubmitted_claims_job.rb
  app/models/journeys/further_education_payments/session.rb
  app/models/journeys/session.rb
  spec/jobs/purge_unsubmitted_claims_job_spec.rb
Due: standard

Rename column
  app/forms/further_education_payments/providers/claims/verification/check_answers_form.rb
  app/forms/further_education_payments/providers/claims/verification/in_first_five_years_form.rb
  app/models/further_education_payments/providers/claims/answers_presenter.rb
  app/views/further_education_payments/providers/claims/verifications/in_first_five_years.html.erb
  config/analytics.yml
  db/migrate/20250909153231_rename_fe_provider_verification_in_first_five_years.rb
  db/schema.rb
  spec/factories/policies/further_education_payments/eligibilities.rb
  spec/forms/further_education_payments/providers/claims/verification/in_first_five_years_form_spec.rb
Due: standard

Update question and hint text
  app/forms/further_education_payments/providers/claims/verification/base_form.rb
  app/views/further_education_payments/providers/claims/verifications/in_first_five_years.html.erb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
  spec/features/further_education_payments/providers/provider_verifying_with_claimant_courses_spec.rb
Due: standard

Remove copy about post office alt idv route.
  app/views/early_years_payment/practitioner/landing_page.html.erb
Due: none

Fix typo
  app/views/admin/support_tickets/_widget.html.erb
  spec/features/admin/admin_claim_support_tickets_spec.rb
Due: standard

Create EY alt idv journey in seeds
  db/seeds.rb
Due: standard

Use previous date in question
  app/views/early_years_payment/provider/authenticated/claims/returner.html.erb
Due: none

CAPT-2793 implement Year 2 enhancements for FE provider verification
  app/forms/further_education_payments/providers/claims/verification/continue_verification_form.rb
  app/forms/further_education_payments/providers/claims/verification/contract_covers_full_academic_year_form.rb
  app/forms/further_education_payments/providers/claims/verification/contract_type_form.rb
  app/forms/further_education_payments/providers/claims/verification/half_teaching_hours_form.rb
  app/forms/further_education_payments/providers/claims/verification/half_timetabled_teaching_time_form.rb
  app/forms/further_education_payments/providers/claims/verification/in_first_five_years_form.rb
  app/forms/further_education_payments/providers/claims/verification/performance_and_discipline_form.rb
  app/forms/further_education_payments/providers/claims/verification/taught_at_least_one_academic_term_form.rb
  app/forms/further_education_payments/providers/claims/verification/teaching_hours_per_week_form.rb
  app/forms/further_education_payments/providers/claims/verification/teaching_hours_per_week_next_term_form.rb
  app/forms/further_education_payments/providers/claims/verification/teaching_qualification_form.rb
  app/forms/further_education_payments/providers/claims/verification/teaching_responsibilities_form.rb
  app/forms/further_education_payments/providers/claims/verification/timetabled_teaching_hours_form.rb
  app/models/automated_checks/claim_verifiers/provider_verification.rb
  app/models/policies/further_education_payments/admin_provider_verification_task_presenter.rb
  app/models/policies/further_education_payments/eligibility_admin_answers_presenter.rb
  config/locales/en.yml
  db/migrate/20250910083628_update_further_education_payments_eligibility_for_year2.rb
  db/schema.rb
  spec/forms/further_education_payments/providers/claims/verification/contract_type_form_spec.rb
  spec/forms/further_education_payments/providers/claims/verification/teaching_hours_per_week_form_spec.rb
  spec/forms/further_education_payments/providers/claims/verification/teaching_qualification_form_spec.rb
  spec/models/automated_checks/claim_verifiers/provider_verification_spec.rb
Due: standard

touch
  README.md
Due: prettier

expire journey sessions
  app/controllers/concerns/journey_concern.rb
  app/jobs/expire_journey_sessions_job.rb
  app/models/journeys/session.rb
  config/analytics.yml
  config/recurring.yml
  db/migrate/20250911092038_add_expired_to_journeys_sessions.rb
  db/schema.rb
  spec/features/journey_session_expiry_spec.rb
  spec/jobs/expire_journey_sessions_job_spec.rb
Due: standard

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
