Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

use back link in layout for view
  app/views/claims/sign_in_or_continue.html.erb
Due: none

use govuk formbuilder for personal details form
  app/views/claims/personal_details.html.erb
  spec/features/combined_teacher_claim_journey_spec.rb
  spec/features/early_career_payments_claim_spec.rb
  spec/features/hmrc_bank_validation_spec.rb
  spec/features/ineligible_student_loans_claims_spec.rb
  spec/features/levelling_up_premium_payments_spec.rb
  spec/features/student_loans_claim_spec.rb
Due: standard

use GOVUK formbuilder for postcode seach form
  app/views/claims/postcode_search.html.erb
Due: none

use GOVUK formbuilder for address form
  app/helpers/claims/show_helper.rb
  app/views/claims/address.html.erb
  spec/features/auto_populating_home_address_from_postcode_search_spec.rb
  spec/features/combined_teacher_claim_journey_spec.rb
  spec/features/combined_teacher_claim_journey_with_teacher_id_spec.rb
  spec/features/early_career_payments_claim_spec.rb
  spec/features/hmrc_bank_validation_spec.rb
  spec/features/levelling_up_premium_payments_spec.rb
  spec/helpers/claims/show_helper_spec.rb
  spec/support/feature_helpers.rb
Due: standard

Remove award calculation in Eligibility
  app/forms/journeys/additional_payments_for_teaching/claim_submission_form.rb
  app/models/concerns/policies/levelling_up_premium_payments/eligible.rb
  app/models/policies/early_career_payments/eligibility.rb
  app/models/policies/levelling_up_premium_payments/eligibility.rb
  spec/factories/early_career_payments/eligibilities.rb
  spec/factories/levelling_up_premium_payments/eligibilities.rb
  spec/mailers/payment_mailer_spec.rb
  spec/models/amendment_spec.rb
  spec/models/claim_spec.rb
  spec/models/payroll_run_spec.rb
Due: standard

Remove first_eligible_itt_academic_year from ECP eligible, only used in tests
  app/models/concerns/policies/early_career_payments/eligible.rb
  lib/journey_subject_eligibility_checker.rb
  spec/features/admin_claim_tasks_update_with_dqt_api_spec.rb
  spec/models/early_career_payments/eligibility_spec.rb
Due: standard

Revert "Configure SemanticLogger per tech guidance"
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/semantic_logger.rb
Due: standard

Configure SemanticLogger per tech guidance
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/semantic_logger.rb
Due: standard

Don't add the STDOUT logger in test
  config/initializers/semantic_logger.rb
Due: standard

Fix linting issues
  config/environments/production.rb
  config/initializers/semantic_logger.rb
Due: standard

use GOVUK formbuilder for email address form
  app/views/claims/email_address.html.erb
  spec/features/validating_user_contact_details_spec.rb
Due: standard

mark test as flaky
  spec/features/school_search_spec.rb
Due: standard

use GOVUK formbuilder for mobile number form
  app/views/claims/mobile_number.html.erb
  spec/features/changing_answers_spec.rb
  spec/features/claim_with_mobile_sms_otp_spec.rb
  spec/features/combined_teacher_claim_journey_with_teacher_id_check_mobile_spec.rb
  spec/features/tslr_claim_journey_with_teacher_id_check_mobile_spec.rb
Due: standard

Set slack message colour
  .github/workflows/build_and_deploy.yml
Due: none

Use app_replicas variable in web_application module
  terraform/application/application.tf
  terraform/application/variables.tf
Due: none

Test by adding intentional failure and updating branch condition - to be reverted
  .github/workflows/build_and_deploy.yml
Due: none

Revert "Test by adding intentional failure and updating branch condition - to be reverted"
  .github/workflows/build_and_deploy.yml
Due: none

use GOVUK formbuilder for payment details
  app/views/claims/_account_details.html.erb
  app/views/claims/building_society_account.html.erb
  app/views/claims/personal_bank_account.html.erb
Due: none

CAPT-1702 Add slack notification on failure (#2864)
  .github/workflows/build_and_deploy.yml
  bin/slack-alert
Due: none

Add smoke test
  .github/workflows/build_and_deploy.yml
  bin/smoke
  spec/rails_helper.rb
  spec/smoke/start_a_claim_spec.rb
  spec/support/capybara.rb
Due: standard

use GOVUK formbuilder for TRN form
  app/views/claims/teacher_reference_number.html.erb
  spec/features/combined_teacher_claim_journey_spec.rb
  spec/features/early_career_payments_claim_spec.rb
  spec/features/levelling_up_premium_payments_spec.rb
  spec/features/student_loans_claim_spec.rb
Due: standard

Remove unused method reset_dependent_answers
  app/forms/personal_details_form.rb
  app/models/claim.rb
  app/models/policies/early_career_payments/eligibility.rb
  app/models/policies/levelling_up_premium_payments/eligibility.rb
  app/models/policies/student_loans/eligibility.rb
  spec/models/claim_spec.rb
  spec/models/early_career_payments/eligibility_spec.rb
  spec/models/student_loans/eligibility_spec.rb
Due: standard

Show the correct name for the previous journey
  app/controllers/claims_controller.rb
  app/views/claims/existing_session.html.erb
Due: standard

To be reverted - update branch conditions to test workflow
  .github/workflows/build_and_deploy.yml
Due: none

Update rspec command
  .github/workflows/build_and_deploy.yml
  bin/smoke
Due: none

To be reverted - disable slack notifications for now
  .github/workflows/build_and_deploy.yml
Due: none

Move eligibility calculations from Eligibility model to Checkers
  app/forms/claim_submission_base_form.rb
  app/forms/journeys/additional_payments_for_teaching/claim_submission_form.rb
  app/models/concerns/policies/levelling_up_premium_payments/eligible.rb
  app/models/journeys/eligibility_checker.rb
  app/models/policies/early_career_payments/eligibility.rb
  app/models/policies/levelling_up_premium_payments/eligibility.rb
  spec/factories/journeys/additional_payments_for_teaching/session_answers.rb
  spec/models/early_career_payments/eligibility_spec.rb
  spec/models/levelling_up_premium_payments/eligibility_spec.rb
  spec/models/policies/early_career_payments/policy_eligibility_checker_spec.rb
  spec/models/policies/levelling_up_premium_payments/policy_eligibility_checker_spec.rb
  spec/support/eligibility_status_shared_examples.rb
Due: standard

Install ruby
  .github/workflows/build_and_deploy.yml
Due: none

POC form level callbacks
  app/controllers/claims_form_callbacks.rb
  app/controllers/concerns/form_submittable.rb
  app/forms/form.rb
  app/forms/journeys/additional_payments_for_teaching/teaching_subject_now_form.rb
Due: standard

mock db connection
  Gemfile
  Gemfile.lock
  spec/rails_helper.rb
Due: standard

Production deployment workflow
  .github/workflows/build_and_deploy.yml
  terraform/application/application.tf
  terraform/application/config/production.tfvars.json
  terraform/application/config/production_Terrafile
  terraform/application/config/production_app_env.yml
  terraform/application/config/review.tfvars.json
  terraform/application/variables.tf
Due: prettier

Trailing newline
  terraform/application/config/production.tfvars.json
Due: prettier

Remove adding anything to the database
  spec/smoke/start_a_claim_spec.rb
Due: standard

fix url_with_basic_auth method
  spec/rails_helper.rb
  spec/smoke/start_a_claim_spec.rb
Due: standard

Revert "To be reverted - disable slack notifications for now"
  .github/workflows/build_and_deploy.yml
Due: none

Revert "To be reverted - update branch conditions to test workflow"
  .github/workflows/build_and_deploy.yml
Due: none

Use a datatype that exists
  terraform/application/variables.tf
Due: none

Initial IRP journey wire up
  app/forms/journeys/get_a_teacher_relocation_payment/claim_submission_form.rb
  app/models/journeys.rb
  app/models/journeys/get_a_teacher_relocation_payment.rb
  app/models/journeys/get_a_teacher_relocation_payment/eligibility_checker.rb
  app/models/journeys/get_a_teacher_relocation_payment/session.rb
  app/models/journeys/get_a_teacher_relocation_payment/session_answers.rb
  app/models/journeys/get_a_teacher_relocation_payment/session_answers_type.rb
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  app/models/policies/international_relocation_payments.rb
  app/models/policies/international_relocation_payments/eligibility.rb
  app/models/policies/international_relocation_payments/policy_eligibility_checker.rb
  app/views/get_a_teacher_relocation_payment/claims/check_your_answers.html.erb
  app/views/get_a_teacher_relocation_payment/landing_page.html.erb
  app/views/get_a_teacher_relocation_payment/submissions/show.html.erb
  config/analytics.yml
  config/locales/en.yml
  config/routes.rb
  db/migrate/20240618143941_create_policies_relocation_payments_eligibilities.rb
  db/schema.rb
  db/seeds.rb
  spec/factories/journey_configurations.rb
  spec/factories/journeys/get_a_teacher_relocation_payment/get_a_teacher_relocation_payment_answers.rb
  spec/factories/policies/international_relocation_payments/eligibilities.rb
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/features/switching_policies_spec.rb
  spec/models/journeys_spec.rb
Due: standard

Add application route
  app/forms/journeys/get_a_teacher_relocation_payment/application_route_form.rb
  app/models/journeys/get_a_teacher_relocation_payment.rb
  app/models/journeys/get_a_teacher_relocation_payment/answers_presenter.rb
  app/models/journeys/get_a_teacher_relocation_payment/session_answers.rb
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  app/views/get_a_teacher_relocation_payment/claims/application_route.html.erb
  app/views/get_a_teacher_relocation_payment/claims/check_your_answers_part_one.html.erb
  config/analytics.yml
  config/locales/en.yml
  db/migrate/20240620084630_add_application_route_to_international_relocation_payments_eligibilities.rb
  db/schema.rb
  spec/factories/journeys/get_a_teacher_relocation_payment/get_a_teacher_relocation_payment_answers.rb
  spec/factories/journeys/get_a_teacher_relocation_payment/session.rb
  spec/features/get_a_teacher_relocation_payment/trainee_route_completing_the_form_spec.rb
  spec/features/switching_policies_spec.rb
  spec/forms/journeys/get_a_teacher_relocation_payment/application_route_form_spec.rb
  spec/models/journeys/get_a_teacher_relocation_payment/answers_presenter_spec.rb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

Handle ineligible option
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  app/models/policies/international_relocation_payments/policy_eligibility_checker.rb
  app/views/get_a_teacher_relocation_payment/claims/ineligible.html.erb
  spec/features/get_a_teacher_relocation_payment/ineligible_route_completing_the_form_spec.rb
  spec/models/policies/international_relocation_payments/policy_eligibility_checker_spec.rb
Due: standard

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
