Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

Copy change
  config/locales/en.yml
Due: none

Remove hint text
  app/views/further_education_payments/claims/select_provision.html.erb
  config/locales/en.yml
Due: none

fix resend passcode functionality
  app/controllers/claims_form_callbacks.rb
  app/forms/email_address_form.rb
  app/forms/mobile_number_form.rb
  app/views/claims/_mobile_number.html.erb
  app/views/claims/_one_time_password.html.erb
  app/views/claims/email_address.html.erb
  app/views/early_years_payment/practitioner/claims/email_address.html.erb
  spec/features/changing_answers_spec.rb
  spec/features/early_years_payment/practitioner/email_address_spec.rb
  spec/features/early_years_payment/practitioner/mobile_number_spec.rb
  spec/forms/email_address_form_spec.rb
  spec/forms/mobile_number_form_spec.rb
  spec/support/steps/early_years_practitioner_journey.rb
Due: standard

Fix early years qualifications link.
  app/models/journeys/further_education_payments/courses_helper.rb
Due: standard

update URLs
  app/models/journeys/further_education_payments/courses_helper.rb
  config/locales/en.yml
  spec/models/journeys/further_education_payments/answers_presenter_spec.rb
  spec/models/policies/further_education_payments/eligibility_admin_answers_presenter_spec.rb
Due: standard

use govuk component for pagination
  app/views/admin/_task_pagination.html.erb
Due: none

decisions can now be paginated tasks
  app/controllers/admin/decisions_controller.rb
  app/models/admin/task_pagination.rb
  app/models/claim_checking_tasks.rb
  app/views/admin/_task_pagination.html.erb
  app/views/admin/decisions/index.html.erb
  app/views/admin/tasks/index.html.erb
  config/routes.rb
  spec/features/admin/tasks/pagination_spec.rb
  spec/support/admin_checks_feature_shared_examples.rb
Due: standard

display all decisions
  app/views/admin/claims/policies/early_career_payments/_claim.html.erb
  app/views/admin/claims/policies/early_years_payments/_claim.html.erb
  app/views/admin/claims/policies/further_education_payments/_claim.html.erb
  app/views/admin/claims/policies/international_relocation_payments/_claim.html.erb
  app/views/admin/claims/policies/levelling_up_premium_payments/_claim.html.erb
  app/views/admin/claims/policies/student_loans/_claim.html.erb
Due: none

back office: add missing FE employment answer
  app/models/policies/further_education_payments/admin_tasks_presenter.rb
  spec/models/policies/further_education_payments/admin_tasks_presenter_spec.rb
Due: standard

add missing back office translation
  config/locales/en.yml
Due: none

more updates
  app/models/journeys/further_education_payments/courses_helper.rb
  config/locales/en.yml
  spec/models/journeys/further_education_payments/answers_presenter_spec.rb
  spec/models/policies/further_education_payments/eligibility_admin_answers_presenter_spec.rb
Due: standard

back office can filter for auto approved claims
  app/forms/admin/claims_filter_form.rb
  spec/factories/claims.rb
  spec/forms/admin/claims_filter_form_spec.rb
Due: standard

CAPT-1840 Update payment breakdown template
  app/helpers/payment_mailer_helper.rb
  app/mailers/payment_mailer.rb
  app/views/payment_mailer/confirmation_for_multiple_claims.text.erb
  app/views/payment_mailer/confirmation_for_single_claim.text.erb
  app/views/payment_mailer/payment_breakdown_confirmation.text.erb
  spec/mailers/payment_mailer_spec.rb
Due: standard

Add an ineligibility page for when the claim has already been submitted (#3296)
  app/forms/journeys/early_years_payment/practitioner/find_reference_form.rb
  app/models/journeys/early_years_payment/practitioner/session_answers.rb
  app/models/policies/early_years_payments/policy_eligibility_checker.rb
  app/views/early_years_payment/practitioner/claims/_ineligibility_claim_already_submitted.html.erb
  spec/factories/journeys/early_years_payment/provider/authenticated/early_years_practitioner_answers.rb
  spec/features/early_years_payment/practitioner/find_reference_spec.rb
  spec/forms/journeys/early_years_payment/practitioner/find_reference_form_spec.rb
  spec/models/policies/early_years_payments/policy_eligibility_checker_spec.rb
Due: standard

Show email as fallback
  app/models/policies/further_education_payments/admin_tasks_presenter.rb
Due: standard

update URL again
  app/models/journeys/further_education_payments/courses_helper.rb
Due: standard

[CAPT-1843] FE qualifications URLs update (#3272)
  app/models/journeys/further_education_payments/courses_helper.rb
  config/locales/en.yml
  spec/models/journeys/further_education_payments/answers_presenter_spec.rb
  spec/models/policies/further_education_payments/eligibility_admin_answers_presenter_spec.rb
Due: standard

CAPT-1850 show Start button only when the jounrney is open on the landing page
  app/views/early_years_payment/provider/start/landing_page.html.erb
  app/views/get_a_teacher_relocation_payment/landing_page.html.erb
  app/views/student_loans/landing_page.html.erb
  config/locales/en.yml
  spec/features/backlink_spec.rb
Due: standard

Add the personal-bank-account slug
  app/models/journeys/early_years_payment/practitioner/slug_sequence.rb
  spec/features/early_years_payment/practitioner/happy_path_spec.rb
Due: standard

Handle missing info details
  app/forms/journeys/further_education_payments/provider/omniauth_callback_form.rb
  spec/features/further_education_payments/provider/provider_verifying_claims_spec.rb
  spec/forms/journeys/further_education_payments/provider/omniauth_callback_form_spec.rb
Due: standard

Scale the production service to 4 web/workers
  terraform/application/config/production.tfvars.json
Due: prettier

Scale the production service to 4 web/workers (#3307)
  terraform/application/config/production.tfvars.json
Due: prettier

Rewrite query with active record
  app/models/claim.rb
  app/models/payroll_run.rb
  config/brakeman.ignore
Due: standard

Fixes missing reference for claim
  app/forms/claim_submission_base_form.rb
  app/forms/journeys/further_education_payments/claim_submission_form.rb
  spec/forms/journeys/further_education_payments/claim_submission_form_spec.rb
Due: standard

use govuk formbuilder for submissions
  app/views/additional_payments/claims/check_your_answers.html.erb
  app/views/early_years_payment/provider/authenticated/claims/check_your_answers.html.erb
  app/views/further_education_payments/claims/check_your_answers.html.erb
  app/views/student_loans/claims/check_your_answers.html.erb
Due: none

Loop through and test all policy types for multiple claim payment breakdown email
  app/mailers/payment_mailer.rb
  app/views/payment_mailer/payment_breakdown_confirmation.text.erb
  spec/mailers/payment_mailer_spec.rb
Due: standard

CAPT-1468 Add a no match when only the NiNo matches from the SLC data
  app/models/automated_checks/claim_verifiers/student_loan_plan.rb
  spec/models/automated_checks/claim_verifiers/student_loan_plan_spec.rb
Due: standard

CAPT-1860 check submitted claim is a policy for current journey
  app/controllers/concerns/part_of_claim_journey.rb
  app/controllers/journeys/additional_payments_for_teaching/reminders_controller.rb
  spec/features/further_education_payments/provider/provider_verifying_claims_spec.rb
  spec/requests/submissions_spec.rb
Due: standard

Add a by_policies_for_journey scope to claim
  app/controllers/concerns/part_of_claim_journey.rb
  app/models/claim.rb
Due: standard

Create backup storage account for test env
  terraform/application/config/test.tfvars.json
Due: prettier

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
