Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

Split subject symbols by policy
  app/models/academic_year.rb
  app/models/policies/early_career_payments.rb
  app/models/policies/levelling_up_premium_payments.rb
  lib/journey_subject_eligibility_checker.rb
Due: standard

Inline trainee_teacher? method
  app/forms/journeys/additional_payments_for_teaching/nqt_in_academic_year_after_itt_form.rb
Due: standard

Rename some methods
  app/models/journeys/additional_payments_for_teaching/slug_sequence.rb
  app/models/journeys/page_sequence.rb
Due: standard

Use LUP policy date range for lup claims
  app/models/journeys/additional_payments_for_teaching.rb
  app/models/policies/levelling_up_premium_payments.rb
Due: standard

ECP is ineligible if policy is closed
  app/models/concerns/eligibility_checkable.rb
  app/models/policies/early_career_payments.rb
  app/models/policies/early_career_payments/eligibility.rb
  app/models/policies/levelling_up_premium_payments.rb
  app/views/additional_payments/claims/_ineligibility_ecp_only_ecp_closed.html.erb
  lib/ineligibility_reason_checker.rb
  spec/factories/policies/early_career_payments/eligibilities.rb
  spec/features/combined_teacher_claim_journey_spec.rb
  spec/models/policies/early_career_payments/eligibility_spec.rb
Due: standard

Remove method
  lib/journey_subject_eligibility_checker.rb
  spec/features/admin/admin_claim_tasks_update_with_dqt_api_spec.rb
  spec/lib/journey_subject_eligibility_checker_spec.rb
Due: standard

Remove JourneySubjectEligibilityChecker
  app/helpers/claims/itt_subject_helper.rb
  app/models/policies/levelling_up_premium_payments/dqt_record.rb
  app/models/policies/levelling_up_premium_payments/policy_eligibility_checker.rb
  lib/journey_subject_eligibility_checker.rb
  spec/features/admin/admin_claim_tasks_update_with_dqt_api_spec.rb
  spec/forms/journeys/additional_payments_for_teaching/eligible_itt_subject_form_spec.rb
  spec/lib/journey_subject_eligibility_checker_spec.rb
  spec/models/policies/early_career_payments/dqt_record_spec.rb
Due: standard

Remove trainee_teacher from common_ineligible_attributes
  app/models/concerns/eligibility_checkable.rb
Due: standard

Remove AP specifc logic from page sequence
  app/models/journeys/additional_payments_for_teaching/slug_sequence.rb
  app/models/journeys/page_sequence.rb
Due: standard

Inline concerns
  app/models/concerns/policies/early_career_payments/eligible.rb
  app/models/concerns/policies/levelling_up_premium_payments/eligible.rb
  app/models/policies/early_career_payments/policy_eligibility_checker.rb
  app/models/policies/levelling_up_premium_payments/policy_eligibility_checker.rb
Due: standard

Use POLICY_END_YEAR
  app/models/concerns/eligibility_checkable.rb
  app/models/journeys/additional_payments_for_teaching.rb
  app/models/policies/levelling_up_premium_payments.rb
  spec/lib/ineligibility_reason_checker_spec.rb
Due: standard

Remove this conditional branch
  app/models/journeys/page_sequence.rb
Due: standard

Move fixed_subject_symbols
  app/helpers/claims/itt_subject_helper.rb
  app/models/policies/levelling_up_premium_payments.rb
  app/models/policies/levelling_up_premium_payments/policy_eligibility_checker.rb
  app/views/additional_payments/claims/eligible_degree_subject.html.erb
  lib/journey_subject_eligibility_checker.rb
  spec/helpers/early_career_payments_helper_spec.rb
  spec/lib/journey_subject_eligibility_checker_spec.rb
  spec/models/policies/levelling_up_premium_payments/dqt_record_spec.rb
Due: standard

Fix hint text
  app/helpers/claims/itt_subject_helper.rb
  spec/helpers/claims/itt_subject_helper_spec.rb
Due: standard

Move selectable_itt_years_for_claim_year from lib
  app/forms/journeys/additional_payments_for_teaching/itt_academic_year_form.rb
  app/models/concerns/eligibility_checkable.rb
  app/models/journeys/additional_payments_for_teaching.rb
  app/models/policies/early_career_payments.rb
  app/models/policies/early_career_payments/dqt_record.rb
  app/models/policies/levelling_up_premium_payments.rb
  app/models/policies/levelling_up_premium_payments/dqt_record.rb
  lib/journey_subject_eligibility_checker.rb
  spec/features/admin/admin_claim_tasks_update_with_dqt_api_spec.rb
  spec/features/combined_teacher_claim_journey_with_teacher_id_check_mobile_spec.rb
  spec/features/combined_teacher_claim_journey_with_teacher_id_spec.rb
  spec/features/ineligible_student_loans_claims_spec.rb
  spec/features/tslr/tslr_claim_journey_with_teacher_id_spec.rb
  spec/lib/journey_subject_eligibility_checker_spec.rb
  spec/models/early_career_payments_spec.rb
  spec/models/journeys/additional_payments_for_teaching_spec.rb
  spec/models/levelling_up_premium_payments_spec.rb
  spec/models/policies/early_career_payments/dqt_record_spec.rb
  spec/models/policies/levelling_up_premium_payments/dqt_record_spec.rb
Due: standard

Remove more branches from trainee journey
  app/models/journeys/page_sequence.rb
  app/models/policies/levelling_up_premium_payments/policy_eligibility_checker.rb
Due: standard

Move selectable_subject_symbols into the journey.
  app/forms/journeys/additional_payments_for_teaching/eligible_itt_subject_form.rb
  app/models/academic_year.rb
  app/models/concerns/eligibility_checkable.rb
  app/models/journeys/additional_payments_for_teaching.rb
  app/models/journeys/additional_payments_for_teaching/answers_presenter.rb
  app/models/journeys/eligibility_checker.rb
  app/models/journeys/page_sequence.rb
  app/models/policies/early_career_payments.rb
  app/models/policies/early_career_payments/dqt_record.rb
  app/models/policies/early_career_payments/policy_eligibility_checker.rb
  app/models/policies/levelling_up_premium_payments.rb
  app/models/policies/levelling_up_premium_payments/policy_eligibility_checker.rb
  lib/ineligibility_reason_checker.rb
  lib/journey_subject_eligibility_checker.rb
  spec/forms/journeys/additional_payments_for_teaching/eligible_itt_subject_form_spec.rb
  spec/lib/journey_subject_eligibility_checker_spec.rb
  spec/models/early_career_payments_spec.rb
  spec/models/journeys/additional_payments_for_teaching_spec.rb
  spec/models/levelling_up_premium_payments_spec.rb
  spec/models/policies/early_career_payments/dqt_record_spec.rb
Due: standard

Remove selectable_subject_symbols
  app/forms/journeys/additional_payments_for_teaching/eligible_itt_subject_form.rb
  app/models/journeys/additional_payments_for_teaching.rb
  spec/forms/journeys/additional_payments_for_teaching/eligible_itt_subject_form_spec.rb
  spec/helpers/early_career_payments_helper_spec.rb
  spec/models/journeys/additional_payments_for_teaching_spec.rb
Due: standard

Send traffic to maintenance page
  terraform/application/application.tf
  terraform/application/config/test.tfvars.json
Due: prettier

Fix dfe sign in bypass form
  app/views/further_education_payments/provider/claims/_dfe_sign_in_bypass_form.html.erb
Due: none

CAPT-1953 - Initial attempt to silence repeated unwanted requests
  app/controllers/application_controller.rb
  config/routes.rb
  spec/routes/routes_spec.rb
Due: standard

Add stricter address validations
  app/forms/address_form.rb
  spec/forms/address_form_spec.rb
Due: standard

Add csv extension
  app/models/admin/reports/approved_claims_failing_qualification_task.rb
  app/models/admin/reports/duplicate_approved_claims.rb
Due: standard

Adds duplicate claims report
  app/controllers/admin/reports_controller.rb
  app/models/admin/reports/duplicate_approved_claims.rb
  app/views/admin/reports/index.html.erb
  db/migrate/20241213142806_add_indexes_for_ops_report.rb
  db/schema.rb
  spec/factories/claims.rb
  spec/features/admin/reports_spec.rb
  spec/models/admin/reports/duplicate_approved_claims_spec.rb
Due: standard

Update brakeman config
  app/models/admin/reports/duplicate_approved_claims.rb
  config/brakeman.ignore
Due: standard

Add reports controller
  app/controllers/admin/reports_controller.rb
  app/views/admin/claims/index.html.erb
  app/views/admin/reports/index.html.erb
  config/routes.rb
  spec/features/admin/reports_spec.rb
Due: standard

Return duplicate ids
  app/models/admin/reports/duplicate_approved_claims.rb
Due: standard

Adds approved claims failing qualification tasks
  app/controllers/admin/reports_controller.rb
  app/models/admin/reports/approved_claims_failing_qualification_task.rb
  app/views/admin/reports/index.html.erb
  spec/features/admin/reports_spec.rb
  spec/models/admin/reports/approved_claims_failing_qualification_task_spec.rb
Due: standard

Add fe approved failing pv task report
  app/models/admin/reports/fe_approved_claims_with_failing_provider_verification.rb
  app/models/policies/further_education_payments/eligibility.rb
  spec/models/admin/reports/fe_approved_claims_with_failing_provider_verification_spec.rb
Due: standard

Migrate gcp wif
  .github/actions/deploy-environment/action.yml
  .github/workflows/build_and_deploy.yml
  .github/workflows/delete_review_app.yml
  config/initializers/dfe_analytics.rb
  terraform/application/application.tf
  terraform/application/config/production.tfvars.json
  terraform/application/config/review.tfvars.json
  terraform/application/config/test.tfvars.json
  terraform/application/dfe_analytics.tf
  terraform/application/variables.tf
Due: prettier, standard

Migrate gcp wif
  .github/actions/deploy-environment/action.yml
  .github/workflows/delete_review_app.yml
Due: none

Remove policies_claimable
  app/models/base_policy.rb
  app/models/claim/matching_attribute_finder.rb
  app/models/policies/early_career_payments.rb
  app/models/policies/early_years_payments.rb
  app/models/policies/further_education_payments.rb
  app/models/policies/international_relocation_payments.rb
  app/models/policies/levelling_up_premium_payments.rb
  app/models/policies/student_loans.rb
  spec/models/base_policy_spec.rb
  spec/models/claim/matching_attribute_finder_spec.rb
Due: standard

Fix deadline warning tag
  app/views/admin/tasks/_claim_summary_international_relocation_payments.html.erb
Due: none

need something to diff
  README.md
Due: prettier

Check name contains at least one letter
  app/models/name_format_validator.rb
  spec/forms/personal_details_form_spec.rb
Due: standard

Add csv extension
  app/models/admin/reports/approved_claims_failing_qualification_task.rb
Due: standard

enable srtl for gcp wif
  terraform/application/config/review.tfvars.json
Due: prettier

Add duplicate claims check
  app/models/automated_checks/claim_verifiers/duplicate_claims_check.rb
  app/models/claim.rb
  app/models/claims.rb
  app/models/claims/claim_duplicate.rb
  app/models/policies/early_career_payments.rb
  app/models/policies/early_years_payments.rb
  app/models/policies/further_education_payments.rb
  app/models/policies/international_relocation_payments.rb
  app/models/policies/levelling_up_premium_payments.rb
  app/models/policies/student_loans.rb
  db/migrate/20241219115223_create_claims_claim_duplicates.rb
  db/schema.rb
  spec/models/automated_checks/claim_verifiers/duplicate_claims_check_spec.rb
  spec/models/claims/claim_duplicate_spec.rb
Due: standard

Update CI job
  .github/actions/deploy-environment/action.yml
  .github/workflows/build_and_deploy.yml
Due: none

Update CI job
  .github/workflows/delete_review_app.yml
Due: none

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
