Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

wip
  app/views/targeted_retention_incentive_payments/claims/_insufficient_teaching.html.erb
  app/views/targeted_retention_incentive_payments/claims/ineligible.html.erb
  spec/features/targeted_retention_incentives/ineligible_paths_spec.rb
Due: standard

Force build
  README.md
Due: prettier

CAPT-1475 - add schools enum string columns
  app/models/school.rb
  config/analytics.yml
  db/data/20250414171434_backfill_school_enums.rb
  db/migrate/20250412125328_add_enum_strings_to_schools.rb
  db/schema.rb
  spec/models/school_data_importer_spec.rb
  spec/models/school_spec.rb
Due: standard

CAPT-1475 - Rename the string enum column to the original column
  app/models/school.rb
  app/models/school_data_importer.rb
  config/analytics.yml
  db/migrate/20250415153908_rename_schools_enum_columns.rb
  db/schema.rb
  spec/factories/schools.rb
  spec/models/school_data_importer_spec.rb
  spec/models/school_spec.rb
Due: standard

IRP journey uses navigator
  app/forms/journeys/get_a_teacher_relocation_payment/check_your_answers_part_one_form.rb
  app/forms/journeys/get_a_teacher_relocation_payment/ineligible_form.rb
  app/models/journeys/get_a_teacher_relocation_payment.rb
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  app/views/get_a_teacher_relocation_payment/claims/application_route.html.erb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

remove unused methods
  spec/support/feature_helpers.rb
Due: standard

update bypass dfe sign in copy
  app/views/admin/auth/sign_in.html.erb
Due: none

only service admin can upload payroll confirmation
  app/controllers/admin/payment_confirmation_report_uploads_controller.rb
  spec/features/admin/admin_payroll_runs_spec.rb
  spec/requests/admin/admin_payment_confirmation_report_upload_spec.rb
  spec/support/request_helpers.rb
Due: standard

must be service admin to download payroll CSV
  app/controllers/admin/base_admin_controller.rb
  app/controllers/admin/payroll_run_downloads_controller.rb
  spec/factories/dfe_sign_in/users.rb
  spec/features/admin/admin_payroll_run_download_spec.rb
  spec/requests/admin/admin_payroll_run_downloads_spec.rb
  spec/support/feature_helpers.rb
  spec/support/request_helpers.rb
Due: standard

copy tweak IRP landing and closing dates
  app/views/get_a_teacher_relocation_payment/landing_page.html.erb
Due: none

IRP landing page uses two thirds
  app/views/get_a_teacher_relocation_payment/landing_page.html.erb
Due: none

Move tri award upload to tri journey config
  app/controllers/admin/journey_configurations_controller.rb
  app/models/journeys/configuration.rb
  app/views/admin/journey_configurations/_edit_targeted_retention_incentive_payments.html.erb
  app/views/admin/journey_configurations/edit.html.erb
  spec/features/admin/admin_manage_lupp_school_awards_spec.rb
Due: standard

delete finished solid queue jobs older than 5 days
  app/jobs/purge_old_jobs_job.rb
  config/environments/production.rb
  config/recurring.yml
Due: standard

Increase test postgres server to B2s
  terraform/application/config/test.tfvars.json
Due: prettier

Setup TRI journey for review apps
  .github/workflows/build_and_deploy.yml
  db/seeds.rb
Due: standard

remove delayed job code
  Gemfile
  Gemfile.lock
  bin/delayed_job
  config/initializers/delayed_job.rb
  db/test_seeders/base_importer.rb
Due: standard

remove delayed jobs table
  db/migrate/20250424111947_remove_delayed_jobs.rb
  db/schema.rb
Due: standard

CAPT-2414 - Add remove payment link to payment page
  app/views/admin/payments/show.html.erb
  spec/features/admin/admin_payroll_runs_spec.rb
Due: standard

Remove spec helper
  spec/rails_helper.rb
  spec/support/is_expected_with_block.rb
Due: standard

Only show the commit subject
  .github/workflows/notify-schema-change.yml
Due: none

use govuk components for buttons
  app/views/claims/_confirm_detail.html.erb
  app/views/claims/_sign_in_or_continue.html.erb
Due: none

add form to bypass TID in development env
  app/forms/sign_in_or_continue_form.rb
  app/views/claims/_sign_in_or_continue.html.erb
  app/views/claims/_tid_bypass.html.erb
Due: standard

Fix postcode search
  app/models/journeys/targeted_retention_incentive_payments/slug_sequence.rb
  spec/factories/journeys/targeted_retention_incentive_payments/session_answers.rb
  spec/features/early_career_payments/early_career_payments_claim_spec.rb
  spec/features/targeted_retention_incentives/address_spec.rb
  spec/models/journeys/targeted_retention_incentive_payments/slug_sequence_spec.rb
Due: standard

Handle confirming dqt qualifications
  app/models/journeys/targeted_retention_incentive_payments/answers_presenter.rb
  app/models/journeys/targeted_retention_incentive_payments/session_answers.rb
  app/models/journeys/targeted_retention_incentive_payments/slug_sequence.rb
  spec/models/journeys/targeted_retention_incentive_payments/slug_sequence_spec.rb
Due: standard

TSLR ues 2 pages for school search
  app/controllers/claims_controller.rb
  app/forms/journeys/teacher_student_loan_reimbursement/claim_school_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/claim_school_results_form.rb
  app/models/journeys/teacher_student_loan_reimbursement.rb
  app/models/journeys/teacher_student_loan_reimbursement/session_answers.rb
  app/models/journeys/teacher_student_loan_reimbursement/slug_sequence.rb
  app/views/student_loans/claims/_claim_school_search.html.erb
  app/views/student_loans/claims/_claim_school_search_results.html.erb
  app/views/student_loans/claims/claim_school.html.erb
  app/views/student_loans/claims/claim_school_results.html.erb
  config/locales/en.yml
  spec/features/backlink_spec.rb
  spec/features/school_search_spec.rb
  spec/forms/journeys/teacher_student_loan_reimbursement/claim_school_form_spec.rb
  spec/requests/claims_spec.rb
  spec/support/feature_helpers.rb
Due: standard

refactor TSLR subjects taught page
  app/forms/journeys/teacher_student_loan_reimbursement/subjects_taught_form.rb
  app/views/student_loans/claims/subjects_taught.html.erb
  spec/features/changing_answers_spec.rb
  spec/features/subjects_taught_spec.rb
  spec/forms/journeys/teacher_student_loan_reimbursement/subjects_taught_form_spec.rb
Due: standard

CAPT-2254 send EY provider data to BigQuery
  config/analytics.yml
  config/analytics_blocklist.yml
Due: none

CAPT-2254 send EY provider data to BigQuery (#3758)
  config/analytics.yml
  config/analytics_blocklist.yml
Due: none

Delete action workflow
  .github/workflows/delete_review_app.yml
Due: none

changes TSLR journey to use navigator
  app/controllers/claims_controller.rb
  app/forms/journeys/teacher_student_loan_reimbursement/eligibility_confirmed_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/ineligible_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/student_loan_amount_form.rb
  app/forms/mobile_verification_form.rb
  app/forms/personal_details_form.rb
  app/models/journeys/navigator.rb
  app/models/journeys/teacher_student_loan_reimbursement.rb
  app/models/journeys/teacher_student_loan_reimbursement/session_answers.rb
  app/models/journeys/teacher_student_loan_reimbursement/slug_sequence.rb
  app/views/student_loans/claims/claim_school.html.erb
  app/views/student_loans/claims/claim_school_results.html.erb
  app/views/student_loans/claims/eligibility_confirmed.html.erb
  app/views/student_loans/claims/leadership_position.html.erb
  app/views/student_loans/claims/mostly_performed_leadership_duties.html.erb
  app/views/student_loans/claims/qts_year.html.erb
  app/views/student_loans/claims/qualification_details.html.erb
  app/views/student_loans/claims/select_claim_school.html.erb
  app/views/student_loans/claims/still_teaching.html.erb
  app/views/student_loans/claims/student_loan_amount.html.erb
  app/views/student_loans/claims/subjects_taught.html.erb
  spec/factories/journeys/teacher_student_loan_reimbursement/session_answers.rb
  spec/features/changing_answers_spec.rb
  spec/features/claim_with_mobile_sms_otp_spec.rb
  spec/features/student_loans_claim_spec.rb
  spec/features/tslr/tslr_claim_journey_with_teacher_id_check_email_spec.rb
  spec/features/tslr/tslr_claim_journey_with_teacher_id_check_mobile_spec.rb
  spec/features/tslr/tslr_claim_journey_with_teacher_id_trn_spec.rb
  spec/requests/claims_spec.rb
Due: standard

Migrate the database before app starts
  .github/actions/deploy-environment/action.yml
  .github/workflows/build_and_deploy.yml
  Dockerfile
  bin/prepare-database
  lib/tasks/default.rake
  lib/tasks/migrations.rake
  terraform/application/config/production.tfvars.json
  terraform/application/config/review.tfvars.json
  terraform/application/config/test.tfvars.json
Due: prettier

Add mising locales for reminders form errors
  config/locales/targeted_retention_incentive_payments.yml
Due: none

Review app - DONT MERGE!
  README.md
Due: prettier

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
