Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

use GOVUK formbuilder for account choice form
  app/forms/bank_or_building_society_form.rb
  app/views/claims/bank_or_building_society.html.erb
Due: standard

update FE journey name
  config/locales/en.yml
Due: none

FE search handles no results
  app/forms/journeys/further_education_payments/further_education_provision_search_form.rb
  app/views/further_education_payments/claims/further_education_provision_search.html.erb
  spec/features/further_education_payments/college_not_found_spec.rb
  spec/forms/journeys/further_education_payments/further_education_provision_search_form_spec.rb
Due: standard

refactor out superfluous openstructs
  app/forms/journeys/further_education_payments/select_provision_form.rb
Due: standard

fix linting
  app/forms/journeys/further_education_payments/further_education_provision_search_form.rb
  app/forms/journeys/further_education_payments/select_provision_form.rb
Due: standard

fix tests for rebase
  spec/features/further_education_payments/college_not_found_spec.rb
  spec/features/further_education_payments/happy_js_path_spec.rb
Due: standard

handle FE search term too short
  app/forms/journeys/further_education_payments/further_education_provision_search_form.rb
  config/locales/en.yml
  spec/forms/journeys/further_education_payments/further_education_provision_search_form_spec.rb
Due: standard

JS backed FE college search
  app/assets/javascripts/components/college_search.js.erb
  app/forms/journeys/further_education_payments/further_education_provision_search_form.rb
  app/forms/journeys/further_education_payments/select_provision_form.rb
  app/views/further_education_payments/claims/further_education_provision_search.html.erb
  spec/features/further_education_payments/college_not_found_spec.rb
  spec/features/further_education_payments/happy_js_path_spec.rb
  spec/features/further_education_payments/happy_path_spec.rb
  spec/forms/journeys/further_education_payments/further_education_provision_search_form_spec.rb
Due: prettier, standard

add FE provision search for happy non-js path
  app/forms/journeys/further_education_payments/further_education_provision_search_form.rb
  app/forms/journeys/further_education_payments/select_provision_form.rb
  app/models/journeys/further_education_payments.rb
  app/models/journeys/further_education_payments/session_answers.rb
  app/models/journeys/further_education_payments/slug_sequence.rb
  app/views/further_education_payments/claims/further_education_provision_search.html.erb
  app/views/further_education_payments/claims/select_provision.html.erb
  config/locales/en.yml
  spec/features/further_education_payments/happy_claim_spec.rb
  spec/forms/journeys/further_education_payments/further_education_provision_search_form_spec.rb
  spec/forms/journeys/further_education_payments/select_provision_form_spec.rb
Due: standard

Stop sending obfuscated PII and ephemeral third party data to BigQuery
  config/analytics.yml
  config/analytics_blocklist.yml
  config/analytics_pii.yml
Due: none

Stop sending obfuscated PII and ephemeral third party data to BigQuery (#2915)
  config/analytics.yml
  config/analytics_blocklist.yml
  config/analytics_pii.yml
Due: none

Turn off HA initially to allow the SKU to change
  terraform/application/config/production.tfvars.json
Due: prettier

Revert "Turn off HA initially to allow the SKU to change"
  terraform/application/config/production.tfvars.json
Due: prettier

LUPEYALPHA-543 - First pass of FE landing-page
  app/views/further_education_payments/landing_page.html.erb
  config/environments/development.rb
  config/locales/en.yml
Due: standard

Fix production deploys being skipped
  azure-pipelines.yml
Due: none

Remove trainee pages
  app/forms/journeys/get_a_teacher_relocation_payment/application_route_form.rb
  app/forms/journeys/get_a_teacher_relocation_payment/subject_form.rb
  app/forms/journeys/get_a_teacher_relocation_payment/trainee_details_form.rb
  app/models/journeys/get_a_teacher_relocation_payment.rb
  app/models/journeys/get_a_teacher_relocation_payment/answers_presenter.rb
  app/models/journeys/get_a_teacher_relocation_payment/session_answers.rb
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  app/models/policies/international_relocation_payments/policy_eligibility_checker.rb
  app/views/get_a_teacher_relocation_payment/claims/subject.html.erb
  app/views/get_a_teacher_relocation_payment/claims/trainee_details.html.erb
  config/locales/en.yml
  spec/features/get_a_teacher_relocation_payment/ineligible_route_completing_the_form_spec.rb
  spec/features/get_a_teacher_relocation_payment/trainee_route_completing_the_form_spec.rb
  spec/forms/journeys/get_a_teacher_relocation_payment/application_route_form_spec.rb
  spec/forms/journeys/get_a_teacher_relocation_payment/subject_form_spec.rb
  spec/forms/journeys/get_a_teacher_relocation_payment/trainee_details_form_spec.rb
  spec/models/journeys/get_a_teacher_relocation_payment/answers_presenter_spec.rb
  spec/models/policies/international_relocation_payments/policy_eligibility_checker_spec.rb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

Adds the entry date form
  app/forms/journeys/get_a_teacher_relocation_payment/entry_date_form.rb
  app/models/journeys/get_a_teacher_relocation_payment.rb
  app/models/journeys/get_a_teacher_relocation_payment/answers_presenter.rb
  app/models/journeys/get_a_teacher_relocation_payment/session_answers.rb
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  app/models/policies/international_relocation_payments/policy_eligibility_checker.rb
  app/views/get_a_teacher_relocation_payment/claims/entry_date.html.erb
  config/analytics.yml
  config/locales/en.yml
  db/migrate/20240621200501_add_date_of_entry_to_international_relocation_payments_eligibilities.rb
  db/schema.rb
  spec/factories/journeys/get_a_teacher_relocation_payment/get_a_teacher_relocation_payment_answers.rb
  spec/features/get_a_teacher_relocation_payment/ineligible_route_completing_the_form_spec.rb
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/forms/journeys/get_a_teacher_relocation_payment/entry_date_form_spec.rb
  spec/forms/journeys/get_a_teacher_relocation_payment/start_date_form_spec.rb
  spec/models/journeys/get_a_teacher_relocation_payment/answers_presenter_spec.rb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

Add nationality screen
  app/forms/journeys/get_a_teacher_relocation_payment/nationality_form.rb
  app/models/journeys/get_a_teacher_relocation_payment.rb
  app/models/journeys/get_a_teacher_relocation_payment/answers_presenter.rb
  app/models/journeys/get_a_teacher_relocation_payment/session_answers.rb
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  app/views/get_a_teacher_relocation_payment/claims/check_your_answers.html.erb
  app/views/get_a_teacher_relocation_payment/claims/nationality.html.erb
  config/analytics.yml
  config/initializers/nationalities.rb
  config/locales/en.yml
  db/migrate/20240624102011_add_nationality_to_international_relocation_payments_eligibilities.rb
  db/schema.rb
  scratch
  spec/factories/journeys/get_a_teacher_relocation_payment/get_a_teacher_relocation_payment_answers.rb
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/forms/journeys/get_a_teacher_relocation_payment/nationality_form_spec.rb
  spec/models/journeys/get_a_teacher_relocation_payment/answers_presenter_spec.rb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

Add the passport number screen
  app/forms/journeys/get_a_teacher_relocation_payment/passport_number_form.rb
  app/models/journeys/get_a_teacher_relocation_payment.rb
  app/models/journeys/get_a_teacher_relocation_payment/answers_presenter.rb
  app/models/journeys/get_a_teacher_relocation_payment/session_answers.rb
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  app/views/get_a_teacher_relocation_payment/claims/passport_number.html.erb
  config/analytics_blocklist.yml
  config/locales/en.yml
  db/migrate/20240624105924_add_passport_number_to_international_relocation_payments_eligibilities.rb
  db/schema.rb
  spec/factories/journeys/get_a_teacher_relocation_payment/get_a_teacher_relocation_payment_answers.rb
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/forms/journeys/get_a_teacher_relocation_payment/passport_number_form_spec.rb
  spec/models/journeys/get_a_teacher_relocation_payment/answers_presenter_spec.rb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

Adds bank and building society details
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  app/views/get_a_teacher_relocation_payment/claims/check_your_answers.html.erb
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

Remove stubbed email
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

Add personal details screen
  app/controllers/claims_form_callbacks.rb
  app/models/journeys/get_a_teacher_relocation_payment/answers_student_loans_details_updater.rb
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

Adds the postcode search form to irp
  app/models/journeys/additional_payments_for_teaching.rb
  app/models/journeys/base.rb
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  app/models/journeys/teacher_student_loan_reimbursement.rb
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

Adds provide mobile number screen
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

Adds the email verification step to IRP
  app/mailers/claim_mailer.rb
  app/models/journeys/get_a_teacher_relocation_payment/session_answers.rb
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  app/models/policies/international_relocation_payments.rb
  config/locales/en.yml
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

Adds the payroll gender step
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

Adds the mobile verification page
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

Move eligibility questions to shared setup
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
Due: standard

Add teacher reference number screen
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

Fix /address slug being considered incomplete
  app/models/journeys/page_sequence.rb
Due: standard

Search - use Policy level config
  app/helpers/admin/claims_helper.rb
  app/models/base_policy.rb
  app/models/claim/search.rb
  app/models/policies/early_career_payments.rb
  app/models/policies/levelling_up_premium_payments.rb
  app/models/policies/student_loans.rb
  spec/models/base_policy_spec.rb
Due: standard

MatchingAttributeFinder - config moved to Policy level
  app/models/base_policy.rb
  app/models/claim/matching_attribute_finder.rb
  app/models/policies/early_career_payments.rb
  app/models/policies/levelling_up_premium_payments.rb
  app/models/policies/student_loans.rb
  spec/models/base_policy_spec.rb
Due: standard

ClaimsPreventingPaymentFinder - move config to Policy level
  app/models/base_policy.rb
  app/models/claim/claims_preventing_payment_finder.rb
  app/models/policies/early_career_payments.rb
  app/models/policies/levelling_up_premium_payments.rb
  app/models/policies/student_loans.rb
Due: standard

Block TRN from DfE-analytics
  config/analytics.yml
  config/analytics_blocklist.yml
Due: none

Add employment details form
  app/forms/journeys/get_a_teacher_relocation_payment/employment_details_form.rb
  app/models/journeys/get_a_teacher_relocation_payment.rb
  app/models/journeys/get_a_teacher_relocation_payment/answers_presenter.rb
  app/models/journeys/get_a_teacher_relocation_payment/session_answers.rb
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  app/views/get_a_teacher_relocation_payment/claims/check_your_answers.html.erb
  app/views/get_a_teacher_relocation_payment/claims/employment_details.html.erb
  config/analytics_blocklist.yml
  config/locales/en.yml
  db/migrate/20240625135618_add_employment_details_to_international_relocation_payments_eligibilities.rb
  db/schema.rb
  spec/factories/journeys/get_a_teacher_relocation_payment/get_a_teacher_relocation_payment_answers.rb
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/forms/journeys/get_a_teacher_relocation_payment/employment_details_form_spec.rb
  spec/models/journeys/get_a_teacher_relocation_payment/answers_presenter_spec.rb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

Remove TRN step
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

Add smoke test
  spec/forms/journeys/get_a_teacher_relocation_payment/claim_submission_form_spec.rb
Due: standard

Fix production deploys being skipped (#2923)
  azure-pipelines.yml
Due: none

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
