Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{css,html,js,js.erb,json,md,scss}"
      run: rails prettier {staged_files}
      skip:
        - merge
        - rebase
    standard:
      glob: "*.rb"
      run: rails standard {staged_files}
      skip:
        - merge
        - rebase

tweak worked command
  terraform/application/config/production.tfvars.json
  terraform/application/config/review.tfvars.json
  terraform/application/config/test.tfvars.json
Due: prettier

solid queue worker waits for needed tables
  bin/jobs
Due: none

better a11y for address related forms
  app/forms/postcode_search_form.rb
  config/locales/en.yml
  spec/forms/postcode_search_form_spec.rb
Due: standard

allow empty rows in payment confirmation CSV
  app/models/payment_confirmation_upload.rb
  spec/models/payment_confirmation_upload_spec.rb
Due: standard

CAPT-2308 add autocomplete to fields
  app/views/claims/_address_fields.html.erb
  app/views/claims/personal_bank_account.html.erb
  app/views/claims/postcode_search.html.erb
  app/views/early_years_payment/provider/authenticated/claims/check_your_answers.html.erb
  app/views/early_years_payment/provider/authenticated/claims/claimant_name.html.erb
Due: none

Add Journey.policies method
  app/forms/claim_submission_base_form.rb
  app/models/claim.rb
  app/models/journeys.rb
  app/models/journeys/additional_payments_for_teaching.rb
  app/models/journeys/base.rb
  app/models/journeys/eligibility_checker.rb
Due: standard

Allow setting more attributes from options
  spec/support/omniauth_mock_helper.rb
Due: standard

Pass reference to a session to answers
  app/models/journeys/additional_payments_for_teaching/session.rb
  app/models/journeys/early_years_payment/practitioner/session.rb
  app/models/journeys/early_years_payment/provider/authenticated/session.rb
  app/models/journeys/early_years_payment/provider/start/session.rb
  app/models/journeys/further_education_payments/provider/session.rb
  app/models/journeys/further_education_payments/session.rb
  app/models/journeys/get_a_teacher_relocation_payment/session.rb
  app/models/journeys/session_answers.rb
  app/models/journeys/teacher_student_loan_reimbursement/session.rb
Due: standard

Move methods off sessions
  app/forms/journeys/additional_payments_for_teaching/correct_school_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/select_claim_school_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/still_teaching_form.rb
  app/models/journeys/additional_payments_for_teaching/slug_sequence.rb
  app/models/journeys/session.rb
  app/models/journeys/session_answers.rb
  app/models/journeys/teacher_student_loan_reimbursement/session_answers.rb
  app/models/journeys/teacher_student_loan_reimbursement/slug_sequence.rb
Due: standard

Move setting answers attribute into the base class
  app/models/journeys/additional_payments_for_teaching/session.rb
  app/models/journeys/early_years_payment/practitioner/session.rb
  app/models/journeys/early_years_payment/provider/authenticated/session.rb
  app/models/journeys/early_years_payment/provider/start/session.rb
  app/models/journeys/further_education_payments/provider/session.rb
  app/models/journeys/further_education_payments/session.rb
  app/models/journeys/get_a_teacher_relocation_payment/session.rb
  app/models/journeys/session.rb
  app/models/journeys/teacher_student_loan_reimbursement/session.rb
Due: standard

Upgrade dfe-analytics
  Gemfile
  Gemfile.lock
Due: none

wip
  app/models/journeys/targeted_retention_incentive_payments/answers_presenter.rb
Due: standard

Upgrade dfe-analytics (#3724)
  Gemfile
  Gemfile.lock
Due: none

Just want to see what tests cover this
  app/models/policies/targeted_retention_incentive_payments/policy_eligibility_checker.rb
Due: standard

remove delayed job scheduling
  bin/prepare-database
Due: none

run solid queue worker not DJ worker
  bin/start-worker
  docker-compose.production.yml
  terraform/application/config/production.tfvars.json
  terraform/application/config/review.tfvars.json
  terraform/application/config/test.tfvars.json
Due: prettier

update analytics with solid queue fields
  config/analytics_blocklist.yml
Due: none

add solid queue
  Gemfile
  Gemfile.lock
  bin/jobs
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/queue.yml
  config/recurring.yml
  db/migrate/20250107110155_solid_queue_migration.rb
  db/schema.rb
Due: standard

solid queue migration considers mail jobs
  db/migrate/20250107154328_solid_queue_jobs.rb
Due: standard

remove custom background cron job scheduling
  README.md
  app/jobs/auto_approve_claims_job.rb
  app/jobs/cron_job.rb
  app/jobs/daily_entity_table_check_job.rb
  app/jobs/delete_file_uploads_and_downloads_job.rb
  app/jobs/delete_personal_data_from_old_claims_job.rb
  app/jobs/dfe_sign_in/user_data_importer_job.rb
  app/jobs/early_years_progress_emails_job.rb
  app/jobs/further_education_payments/provider_verification_chase_email_job.rb
  app/jobs/heartbeat_job.rb
  app/jobs/purge_unsubmitted_claims_job.rb
  app/jobs/reports_job.rb
  app/jobs/school_data_importer_job.rb
  app/jobs/send_emails_after_three_weeks_job.rb
  app/models/cron_job_scheduler.rb
  config/recurring.yml
  lib/tasks/jobs.rake
  spec/jobs/auto_approve_claims_job_spec.rb
  spec/jobs/cron_job_spec.rb
  spec/models/cron_job_scheduler_spec.rb
  spec/support/delayed_job.rb
Due: prettier, standard

add mission_control for solid queue monitoring
  Gemfile
  Gemfile.lock
  app/controllers/admin/mission_control_controller.rb
  config/application.rb
  config/routes.rb
Due: standard

migrate delayed jobs to solid queue
  db/migrate/20250107154328_solid_queue_jobs.rb
Due: standard

wip
  app/models/journeys/targeted_retention_incentive_payments/slug_sequence.rb
  app/models/policies/targeted_retention_incentive_payments/policy_eligibility_checker.rb
Due: standard

remove delayed job code
  Gemfile
  Gemfile.lock
  bin/delayed_job
  config/initializers/delayed_job.rb
  db/test_seeders/base_importer.rb
Due: standard

remove payroll operator role as no longer used
  app/controllers/admin/base_admin_controller.rb
  app/controllers/admin/payroll_run_downloads_controller.rb
  app/models/dfe_sign_in/user.rb
  app/models/journeys/further_education_payments/provider/authorisation.rb
  db/test_seeders/base_importer.rb
  spec/factories/dfe_sign_in/users.rb
  spec/features/admin/admin_claim_allocation_spec.rb
  spec/features/admin/admin_claim_check_spec.rb
  spec/features/admin/admin_claims_filtering_spec.rb
  spec/features/admin/admin_payroll_run_download_spec.rb
  spec/models/dfe_sign_in/user_spec.rb
  spec/requests/admin/admin_amendments_spec.rb
  spec/requests/admin/admin_claims_spec.rb
  spec/requests/admin/admin_configure_services_spec.rb
  spec/requests/admin/admin_decisions_spec.rb
  spec/requests/admin/admin_notes_spec.rb
  spec/requests/admin/admin_page_spec.rb
  spec/requests/admin/admin_payment_confirmation_report_upload_spec.rb
  spec/requests/admin/admin_payroll_gender_tasks_spec.rb
  spec/requests/admin/admin_payroll_run_downloads_spec.rb
  spec/requests/admin/admin_payroll_runs_spec.rb
  spec/requests/admin/admin_school_workforce_data_upload_spec.rb
  spec/requests/admin/admin_student_loans_data_upload_spec.rb
  spec/requests/admin/admin_support_tickets_spec.rb
  spec/requests/admin/admin_tasks_spec.rb
  spec/requests/admin/admin_tps_data_upload_spec.rb
  spec/support/request_helpers.rb
Due: standard

Use offical slack action
  .github/workflows/notify-schema-change.yml
Due: none

must be service admin to download payroll CSV
  app/controllers/admin/base_admin_controller.rb
  app/controllers/admin/payroll_run_downloads_controller.rb
  spec/factories/dfe_sign_in/users.rb
  spec/features/admin/admin_payroll_run_download_spec.rb
  spec/requests/admin/admin_payroll_run_downloads_spec.rb
  spec/support/feature_helpers.rb
  spec/support/request_helpers.rb
Due: standard

remove unused methods
  spec/support/feature_helpers.rb
Due: standard

CAPT-1475 - add schools enum string columns
  app/models/school.rb
  config/analytics.yml
  db/data/20250414171434_backfill_school_enums.rb
  db/migrate/20250412125328_add_enum_strings_to_schools.rb
  db/schema.rb
  spec/models/school_data_importer_spec.rb
  spec/models/school_spec.rb
Due: standard

CAPT-1475 - Rename the string enum column to the original column
  app/models/school.rb
  app/models/school_data_importer.rb
  config/analytics.yml
  db/migrate/20250415153908_rename_schools_enum_columns.rb
  db/schema.rb
  spec/factories/schools.rb
  spec/models/school_data_importer_spec.rb
  spec/models/school_spec.rb
Due: standard

Update payment breakdown email
  app/views/payment_mailer/confirmation.text.erb
Due: none

only service admin can upload payroll confirmation
  app/controllers/admin/payment_confirmation_report_uploads_controller.rb
  spec/features/admin/admin_payroll_runs_spec.rb
  spec/requests/admin/admin_payment_confirmation_report_upload_spec.rb
  spec/support/request_helpers.rb
Due: standard

Upgrade Ruby version
  .ruby-version
  .tool-versions
  Gemfile
  Gemfile.lock
  README.md
Due: prettier

Remove attempting to enable plpgsql extension
  terraform/application/database.tf
Due: none

IRP journey uses navigator
  app/forms/journeys/get_a_teacher_relocation_payment/check_your_answers_part_one_form.rb
  app/forms/journeys/get_a_teacher_relocation_payment/ineligible_form.rb
  app/models/journeys/get_a_teacher_relocation_payment.rb
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  app/views/get_a_teacher_relocation_payment/claims/application_route.html.erb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

disable RSpec monkey patching
  spec/features/get_a_teacher_relocation_payment/ineligible_route_completing_the_form_spec.rb
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/helpers/admin/claim_summary_helper_spec.rb
  spec/helpers/admin/claims_helper_spec.rb
  spec/helpers/admin/timeline_helper_spec.rb
  spec/helpers/application_helper_spec.rb
  spec/helpers/claim_mailer_helper_spec.rb
  spec/helpers/early_career_payments_helper_spec.rb
  spec/helpers/govuk_form_helper_spec.rb
  spec/helpers/student_loans_helper_spec.rb
  spec/lib/ordnance_survey/api/v1/search_places_spec.rb
  spec/lib/ordnance_survey/api/v1_spec.rb
  spec/lib/ordnance_survey/api_spec.rb
  spec/lib/ordnance_survey/client/response_spec.rb
  spec/lib/ordnance_survey/client_spec.rb
  spec/lib/ordnance_survey/configuration_spec.rb
  spec/lib/tasks/fix_student_loan_repayment_amounts_spec.rb
  spec/models/automated_checks/claim_verifiers/qualifications_spec.rb
  spec/models/eligible_ey_provider_spec.rb
  spec/models/journeys/early_years_payment/provider/authenticated/slug_sequence_spec.rb
  spec/models/journeys/session_spec.rb
  spec/models/policies/early_career_payments/award_amount_calculator_spec.rb
  spec/models/policies/early_years_payments/policy_eligibility_checker_spec.rb
  spec/models/policies/further_education_payments/policy_eligibility_checker_spec.rb
  spec/models/policies/further_education_payments/provider_verfication_emails_spec.rb
  spec/models/policies/international_relocation_payments/policy_eligibility_checker_spec.rb
  spec/routes/routes_spec.rb
  spec/spec_helper.rb
Due: standard

update bypass dfe sign in copy
  app/views/admin/auth/sign_in.html.erb
Due: none
