Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

migrate delayed jobs to solid queue
  db/migrate/20250107154328_solid_queue_jobs.rb
  db/schema.rb
Due: standard

attempt migration logging
  bin/prepare-database
Due: none

remove delayed job scheduling
  bin/prepare-database
Due: none

tweak worked command
  terraform/application/config/production.tfvars.json
  terraform/application/config/review.tfvars.json
  terraform/application/config/test.tfvars.json
Due: prettier

skip recurring tasks on review apps
  terraform/application/config/review.tfvars.json
Due: prettier

disable solid queue worker
  bin/jobs
Due: none

Revert "disable solid queue worker"
  bin/jobs
Due: none

Update nginx base image
  maintenance_page/Dockerfile
Due: none

unsubscribe soft deletes reminder
  app/controllers/unsubscribe_controller.rb
  app/forms/unsubscribe/confirmation_form.rb
  app/models/reminder.rb
  db/migrate/20241206105631_add_deleted_at_to_reminders.rb
  db/schema.rb
  spec/factories/reminders.rb
  spec/features/unsubscribe_spec.rb
  spec/requests/unsubscribe_spec.rb
Due: standard

update analytics config with reminders#deleted_at
  config/analytics.yml
Due: none

add unsubscribe functionality
  app/controllers/unsubscribe_controller.rb
  app/forms/unsubscribe/confirmation_form.rb
  app/mailers/reminder_mailer.rb
  app/views/unsubscribe/create.html.erb
  app/views/unsubscribe/show.html.erb
  app/views/unsubscribe/subscription_not_found.html.erb
  config/environments/development.rb
  config/environments/test.rb
  config/routes.rb
  spec/features/unsubscribe_spec.rb
  spec/forms/current_school_form_spec.rb
  spec/forms/employed_directly_form_spec.rb
  spec/forms/form_spec.rb
  spec/forms/gender_form_spec.rb
  spec/forms/journeys/additional_payments_for_teaching/entire_term_contract_form_spec.rb
  spec/forms/journeys/additional_payments_for_teaching/induction_completed_form_spec.rb
  spec/forms/journeys/additional_payments_for_teaching/itt_academic_year_form_spec.rb
  spec/forms/journeys/teacher_student_loan_reimbursement/claim_school_form_spec.rb
  spec/forms/personal_details_form_spec.rb
  spec/forms/poor_performance_form_spec.rb
  spec/forms/provide_mobile_number_form_spec.rb
  spec/forms/supply_teacher_form_spec.rb
  spec/forms/unsubscribe/confirmation_form_spec.rb
  spec/mailers/reminder_mailer_spec.rb
  spec/requests/admin/admin_amendments_spec.rb
  spec/requests/unsubscribe_spec.rb
Due: standard

reminders now supports reverse soft delete
  app/forms/reminders/email_verification_form.rb
  app/forms/reminders/personal_details_form.rb
  spec/forms/reminders/email_verification_form_spec.rb
  spec/forms/reminders/personal_details_form_spec.rb
Due: standard

reminders now uses Deletable module
  app/controllers/unsubscribe_controller.rb
  app/forms/reminders/email_verification_form.rb
  app/models/concerns/deletable.rb
  app/models/reminder.rb
  db/migrate/20241206105631_add_deleted_at_to_reminders.rb
Due: standard

tweak unsubscribe copy
  app/views/unsubscribe/show.html.erb
Due: none

unsubscribe copy tweaks
  app/forms/unsubscribe/confirmation_form.rb
  app/views/unsubscribe/show.html.erb
Due: standard

refactor to use named method
  app/forms/reminders/personal_details_form.rb
Due: standard

tweak reminder confirmation copy
  app/views/reminders/confirmation.html.erb
Due: none

update global support email address
  config/locales/en.yml
Due: none

Allow searching by payment id
  app/models/claim/search.rb
  app/views/admin/claims/search.html.erb
  spec/models/claim/search_spec.rb
Due: standard

CAPT-2104 Redirect to start page if no reminder in session
  app/controllers/reminders_controller.rb
  app/forms/reminders/confirmation_form.rb
  spec/requests/reminders_spec.rb
Due: standard

CAPT-2132 Generic continue or start a new eligibility check error message
  app/controllers/claims_controller.rb
  config/locales/en.yml
  spec/features/switching_policies_spec.rb
Due: standard

Allow searching for claims by ey details
  app/models/claim/search.rb
  spec/models/claim/search_spec.rb
Due: standard

move callback to form
  app/controllers/claims_form_callbacks.rb
  app/forms/personal_details_form.rb
  app/models/journeys/answers_student_loans_details_updater.rb
  spec/forms/personal_details_form_spec.rb
Due: standard

remove unused EY callback
  app/controllers/claims_form_callbacks.rb
Due: standard

move HMRC validation count to form
  app/controllers/claims_form_callbacks.rb
  app/forms/bank_details_form.rb
  app/models/journeys/session_answers.rb
  spec/features/hmrc_bank_validation_spec.rb
  spec/forms/bank_details_form_spec.rb
Due: standard

remove callback as already default behaviour
  app/controllers/claims_form_callbacks.rb
Due: standard

remove unused method
  app/controllers/claims_form_callbacks.rb
Due: standard

remove no dqt data callback
  app/controllers/claims_form_callbacks.rb
Due: standard

remove school controller callbacks
  app/controllers/claims_form_callbacks.rb
  app/views/claims/current_school.html.erb
  app/views/student_loans/claims/claim_school.html.erb
Due: standard

fix linting
  spec/forms/bank_details_form_spec.rb
Due: standard

move callback into form
  app/controllers/claims_form_callbacks.rb
  app/forms/information_provided_form.rb
  app/models/journeys/base.rb
Due: standard

move callack to view
  app/controllers/claims_form_callbacks.rb
  app/views/claims/address.html.erb
Due: standard

hmrc_validation_attempt_count zero if nil
  app/forms/bank_details_form.rb
Due: standard

Create audit trail when SLC upload runs
  app/jobs/file_importer_job.rb
  app/jobs/import_student_loans_data_job.rb
  app/jobs/student_loan_amount_check_job.rb
  app/jobs/student_loan_plan_check_job.rb
  app/models/claim.rb
  app/models/claim_student_loan_details_updater.rb
  app/models/policies/student_loans/eligibility.rb
  app/views/admin/amendments/index.html.erb
  spec/jobs/student_loan_amount_check_job_spec.rb
  spec/jobs/student_loan_plan_check_job_spec.rb
  spec/models/claim_student_loan_details_updater_spec-old.rb
  spec/models/claim_student_loan_details_updater_spec.rb
Due: standard

Update specs
  spec/models/claim_student_loan_details_updater_spec.rb
Due: standard

Block all head requests
  app/controllers/application_controller.rb
  config/routes.rb
  spec/routes/routes_spec.rb
Due: standard

Move fields to the hidden pii config
  config/analytics.yml
  config/analytics_blocklist.yml
  config/analytics_hidden_pii.yml
  spec/lib/analytics_importer_spec.rb
Due: standard

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
