Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

Remove AY 22 urn to award mapping
  app/models/policies/targeted_retention_incentive_payments/award.rb
Due: standard

CAPT-3865 - Fix flaky LogoutToken expiry spec by checking exp claim early
  app/models/one_login/logout_token.rb
  spec/models/one_login/logout_token_spec.rb
Due: standard

Split up postcode_has_address concerns
  app/forms/postcode_search_form.rb
  app/models/postcode_search.rb
  app/views/claims/address.html.erb
  spec/features/auto_populating_home_address_from_postcode_search_spec.rb
  spec/features/postcode_journey_changes_spec.rb
  spec/forms/postcode_search_form_spec.rb
Due: standard

Don't revalidate form
  app/forms/postcode_search_form.rb
Due: standard

Don't run validations when skipping search
  app/forms/postcode_search_form.rb
  spec/forms/postcode_search_form_spec.rb
Due: standard

Don't validate if skipping postcode search
  app/forms/select_home_address_form.rb
Due: standard

Don't validate session answers
  app/forms/select_home_address_form.rb
  app/models/journeys/session_answers.rb
  app/views/claims/select_home_address.html.erb
  spec/forms/select_home_address_form_spec.rb
  spec/support/ordnance_survey_helpers.rb
Due: standard

Lose valid check on completed
  app/forms/select_home_address_form.rb
Due: standard

Use PostcodeSearch
  app/forms/select_home_address_form.rb
Due: standard

Safe titleize
  app/forms/select_home_address_form.rb
Due: standard

Simplify slug sequence
  app/models/journeys/base_answers_presenter.rb
  app/models/journeys/early_years_payment/practitioner/answers_presenter.rb
  app/models/journeys/early_years_payment/practitioner/slug_sequence.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/answers_presenter.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/slug_sequence.rb
  app/models/journeys/further_education_payments/answers_presenter.rb
  app/models/journeys/further_education_payments/slug_sequence.rb
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  app/models/journeys/session_answers.rb
  app/models/journeys/targeted_retention_incentive_payments/slug_sequence.rb
  app/models/journeys/teacher_student_loan_reimbursement/slug_sequence.rb
  spec/models/journeys/early_years_payment/practitioner/answers_presenter_spec.rb
  spec/models/journeys/get_a_teacher_relocation_payment/slug_sequence_spec.rb
  spec/models/journeys/targeted_retention_incentive_payments/slug_sequence_spec.rb
  spec/support/journey_answers_presenter_shared_examples.rb
Due: standard

Add test cases
  spec/features/early_years_payment/practitioner/address_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/address_spec.rb
  spec/features/further_education_payments/address_spec.rb
  spec/features/get_a_teacher_relocation_payment/address_spec.rb
  spec/features/targeted_retention_incentives/address_spec.rb
  spec/features/tslr/address_spec.rb
  spec/support/address_journey_shared_examples.rb
Due: standard

Persist claim match data
  app/controllers/admin/claims_controller.rb
  app/controllers/admin/decisions_controller.rb
  app/controllers/admin/tasks_controller.rb
  app/forms/admin/amendment_form.rb
  app/forms/journeys/early_years_payment/practitioner/check_your_answers_form.rb
  app/forms/journeys/early_years_payment/provider/authenticated/check_your_answers_form.rb
  app/forms/journeys/further_education_payments/check_your_answers_form.rb
  app/forms/journeys/get_a_teacher_relocation_payment/check_your_answers_form.rb
  app/forms/journeys/targeted_retention_incentive_payments/check_your_answers_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/check_your_answers_form.rb
  app/models/amendment.rb
  app/models/claim/scrubber.rb
  app/models/claims/match.rb
  app/models/policies/claim_checking_tasks.rb
  app/models/policies/further_education_payments.rb
  app/models/reports/duplicate_claims.rb
  app/views/admin/claims/_claims_with_matching_details.html.erb
  app/views/admin/claims/policies/early_career_payments/_claim.html.erb
  app/views/admin/claims/policies/early_years_payments/_claim.html.erb
  app/views/admin/claims/policies/further_education_payments/_claim.html.erb
  app/views/admin/claims/policies/international_relocation_payments/_claim.html.erb
  app/views/admin/claims/policies/student_loans/_claim.html.erb
  app/views/admin/claims/policies/targeted_retention_incentive_payments/_claim.html.erb
  app/views/admin/tasks/matching_details.html.erb
  config/analytics.yml
  db/migrate/20260105151259_create_claims_match.rb
  db/migrate/20260105160335_add_matching_attributes_last_checked_at_to_claims.rb
  db/migrate/20260105160823_add_resolved_at_to_claims_matches.rb
  db/schema.rb
  spec/factories/payments.rb
  spec/features/admin/admin_claim_check_spec.rb
  spec/features/admin/admin_ey_tasks_spec.rb
  spec/models/claims/match_spec.rb
  spec/models/policies/further_education_payments/claim_checking_tasks_spec.rb
  spec/models/reports/duplicate_claims_spec.rb
  spec/models/reports/failed_qualification_claims_spec.rb
Due: standard

Decision and task controller
  app/controllers/admin/claims_controller.rb
  app/controllers/admin/decisions_controller.rb
  app/controllers/admin/tasks_controller.rb
  app/models/claim/matching_attribute_finder.rb
  app/views/admin/claims/_claims_with_matching_details.html.erb
Due: standard

upgrade to govuk 6
  Gemfile
  Gemfile.lock
  package.json
  yarn.lock
Due: prettier

500 page uses govuk 6
  public/500.html
Due: prettier

update headers for govuk 6
  app/views/further_education_payments/providers/_header.html.erb
  app/views/layouts/application.html.erb
  app/views/shared/_header.html.erb
  app/views/shared/_one_login_header.html.erb
  app/views/shared/_phase_banner.html.erb
  app/views/shared/phase_banner/_early_years_teachers_recognition_payments.html.erb
Due: none

422 page uses govuk 6
  public/422.html
Due: prettier

use skip links from govuk components
  app/views/layouts/admin.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/bare.html.erb
  app/views/layouts/test_data.html.erb
Due: none

add aarch64-linux-musl to bundler platforms
  Gemfile.lock
Due: none

404 page uses govuk 6
  public/404.html
  public/govuk-frontend-5.11.0.min.css
  public/govuk-frontend-6.0.0.min.css
Due: prettier

remove pinned docker packages
  Dockerfile
Due: none

Allow indexing some pages
  app/helpers/application_helper.rb
  app/views/layouts/application.html.erb
  spec/features/robots_spec.rb
  spec/views/layouts/application.html.erb_spec.rb
Due: standard

Allow approval if fe_repeat_applicant_check
  app/models/task.rb
Due: standard

Persist claim match data
  app/controllers/admin/claims_controller.rb
  app/controllers/admin/decisions_controller.rb
  app/controllers/admin/tasks_controller.rb
  app/forms/admin/amendment_form.rb
  app/forms/journeys/early_years_payment/practitioner/check_your_answers_form.rb
  app/forms/journeys/early_years_payment/provider/authenticated/check_your_answers_form.rb
  app/forms/journeys/early_years_teachers_financial_incentive_payments/check_your_answers_form.rb
  app/forms/journeys/further_education_payments/check_your_answers_form.rb
  app/forms/journeys/get_a_teacher_relocation_payment/check_your_answers_form.rb
  app/forms/journeys/targeted_retention_incentive_payments/check_your_answers_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/check_your_answers_form.rb
  app/models/amendment.rb
  app/models/claim/scrubber.rb
  app/models/claims/match.rb
  app/models/policies/claim_checking_tasks.rb
  app/models/policies/further_education_payments.rb
  app/models/reports/duplicate_claims.rb
  app/views/admin/claims/_claims_with_matching_details.html.erb
  app/views/admin/claims/policies/early_career_payments/_claim.html.erb
  app/views/admin/claims/policies/early_years_payments/_claim.html.erb
  app/views/admin/claims/policies/early_years_teachers_financial_incentive_payments/_claim.html.erb
  app/views/admin/claims/policies/further_education_payments/_claim.html.erb
  app/views/admin/claims/policies/international_relocation_payments/_claim.html.erb
  app/views/admin/claims/policies/student_loans/_claim.html.erb
  app/views/admin/claims/policies/targeted_retention_incentive_payments/_claim.html.erb
  app/views/admin/tasks/matching_details.html.erb
  config/analytics.yml
  db/migrate/20260105151259_create_claims_match.rb
  db/migrate/20260105160335_add_matching_attributes_last_checked_at_to_claims.rb
  db/migrate/20260105160823_add_resolved_at_to_claims_matches.rb
  db/schema.rb
  spec/factories/payments.rb
  spec/features/admin/admin_claim_check_spec.rb
  spec/features/admin/admin_ey_tasks_spec.rb
  spec/models/claims/match_spec.rb
  spec/models/policies/further_education_payments/claim_checking_tasks_spec.rb
  spec/models/reports/duplicate_claims_spec.rb
  spec/models/reports/failed_qualification_claims_spec.rb
Due: standard

CAPT-3865 - Fix flaky PaymentCsvRow specs by pinning first_name and surname
  spec/models/payroll/payment_csv_row_spec.rb
Due: standard

CAPT-3872 - staging and test env changes proposal
  docs/CAPT-3872-infra-staging-test-change.md
Due: prettier

CAPT-3920 - Add EYTRP serializer to data report request CSV
  app/models/claim/data_report_request.rb
  spec/models/claim/data_report_request_spec.rb
Due: standard

change for testing
  terraform/domains/environment_domains/config/production.tfvars.json
Due: prettier

Remove resolved_at
  app/models/claims/match.rb
  config/analytics.yml
  db/migrate/20260615140306_remove_resolved_at_from_claims_matches.rb
  db/schema.rb
Due: standard

WIP - improvements
  docs/CAPT-3872-infra-staging-test-change.md
Due: prettier

2683 - New GitHub action validate infra workflow
  .github/workflows/validate-infrastructure.yml
  Makefile
  README.md
Due: prettier

Remove ClaimSubmissionBaseForm
  app/forms/claim_submission_base_form.rb
Due: standard

Use claim verifier
  app/forms/admin/amendment_form.rb
  app/forms/journeys/early_years_payment/practitioner/check_your_answers_form.rb
  app/forms/journeys/early_years_payment/provider/authenticated/check_your_answers_form.rb
  app/forms/journeys/early_years_teachers_financial_incentive_payments/check_your_answers_form.rb
  app/forms/journeys/further_education_payments/check_your_answers_form.rb
  app/forms/journeys/get_a_teacher_relocation_payment/check_your_answers_form.rb
  app/forms/journeys/targeted_retention_incentive_payments/check_your_answers_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/check_your_answers_form.rb
  app/models/amendment.rb
  app/models/automated_checks/claim_verifiers/matching_claims.rb
  app/models/claim/scrubber.rb
  app/models/claims/match.rb
  app/models/policies/early_career_payments.rb
  app/models/policies/early_years_payments.rb
  app/models/policies/early_years_teachers_financial_incentive_payments.rb
  app/models/policies/further_education_payments.rb
  app/models/policies/international_relocation_payments.rb
  app/models/policies/student_loans.rb
  app/models/policies/targeted_retention_incentive_payments.rb
  spec/models/automated_checks/claim_verifier_spec.rb
  spec/models/early_career_payments_spec.rb
  spec/models/further_education_payments_spec.rb
  spec/models/policies/early_years_teachers_financial_incentive_payments_spec.rb
  spec/models/student_loans_spec.rb
  spec/models/targeted_retention_incentive_payments_spec.rb
Due: standard

Create component journey
  app/controllers/admin/components_controller.rb
  app/controllers/claims_controller.rb
  app/controllers/concerns/journey_components_page.rb
  app/controllers/static_pages_controller.rb
  app/views/static_pages/home.html.erb
  app/views/static_pages/journey_components.html.erb
  config/locales/further_education_payments.yml
  config/routes.rb
  spec/requests/admin/admin_page_spec.rb
Due: standard

Only run employment verifier if used by policy
  app/jobs/employment_check_job.rb
  app/models/base_policy.rb
  app/models/claim.rb
  spec/jobs/employment_check_job_spec.rb
Due: standard

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
