Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{css,html,js,js.erb,json,md,scss}"
      run: rails prettier {staged_files}
      skip:
        - merge
        - rebase
    standard:
      glob: "*.rb"
      run: rails standard {staged_files}
      skip:
        - merge
        - rebase

Update _ineligible_must_at_least_half_hours_teaching_fe.html.erb
  app/models/journeys/further_education_payments/courses_helper.rb
  app/views/further_education_payments/claims/_ineligible_must_at_least_half_hours_teaching_fe.html.erb
  app/views/further_education_payments/claims/further_education_provision_search.html.erb
  spec/features/further_education_payments/ineligible_paths_spec.rb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
  spec/models/journeys/further_education_payments/answers_presenter_spec.rb
Due: standard

Previous claimant clawback
  config/locales/admin.yml
  spec/features/admin/tasks/claimant_flagged_task_spec.rb
Due: standard

Update further_education_provision_search.html.erb
  app/views/further_education_payments/claims/further_education_provision_search.html.erb
Due: none

Update _ineligible_must_at_least_half_hours_teaching_fe.html.erb
  app/views/further_education_payments/claims/_ineligible_must_at_least_half_hours_teaching_fe.html.erb
Due: none

Update admin panel text
  app/views/admin/tasks/claimant_check.html.erb
  config/locales/admin.yml
  spec/features/admin/tasks/claimant_flagged_task_spec.rb
  spec/support/admin_checks_feature_shared_examples.rb
  spec/support/admin_view_claim_feature_shared_examples.rb
Due: standard

CAPT-3359
  app/views/further_education_payments/claims/confirmation.html.erb
Due: none

touch
  README.md
Due: prettier

add missing payroll task translation
  config/locales/targeted_retention_incentive_payments.yml
Due: none

double prod web instances 4 => 8
  terraform/application/config/production.tfvars.json
Due: prettier

Increase production postgres sku
  terraform/application/config/production.tfvars.json
Due: prettier

Change code to status
  app/forms/personal_bank_account_form.rb
  spec/features/hmrc_bank_validation_spec.rb
  spec/support/hmrc.rb
Due: standard

Hack
  app/forms/personal_bank_account_form.rb
Due: standard

Handle generic notification error
  app/forms/mobile_number_form.rb
  spec/forms/mobile_number_form_spec.rb
Due: standard

Add next to academic year
  app/models/academic_year.rb
Due: standard

map persona headers 1-to-1
  app/models/policies/targeted_retention_incentive_payments/test/user_persona.rb
  spec/fixtures/files/targeted_retention_incentive_payments_personas.csv
  spec/models/policies/targeted_retention_incentive_payments/test/user_persona_spec.rb
  spec/personas/targeted_retention_incentive_payments.csv
Due: standard

Add most_recent_scheduled_payment_date
  app/models/claim.rb
  spec/models/claim_spec.rb
Due: standard

Add redacted_attributes
  db/migrate/20260301120237_add_redacted_attributes_to_claims.rb
  db/migrate/20260301120350_add_redacted_attributes_to_targeted_retention_incentive_payments_eligibilities.rb
  db/schema.rb
Due: standard

Add spec to test all attributes have DR policy
  app/models/policies/targeted_retention_incentive_payments/data_retention/policy.rb
  spec/jobs/policies/targeted_retention_incentive_payments/data_retention/policy_job_spec.rb
  spec/models/policies/data_retention/all_attributes_have_a_data_retention_policy_spec.rb
Due: standard

Data retention policy refactor
  app/jobs/policies/data_retention/apply_policy_job.rb
  app/jobs/policies/targeted_retention_incentive_payments/data_retention/policy_job.rb
  app/models/policies/data_retention/base_policy.rb
  app/models/policies/data_retention/change_set.rb
  app/models/policies/data_retention/evaluation_context.rb
  app/models/policies/targeted_retention_incentive_payments/data_retention/policy.rb
  spec/jobs/policies/targeted_retention_incentive_payments/data_retention/policy_job_spec.rb
  spec/models/policies/data_retention/evaluation_context_spec.rb
Due: standard

fix Report Request CSV
  app/models/claim/data_report_request.rb
  spec/models/claim/data_report_request_spec.rb
Due: standard

missing indexes for existing OL journeys
  db/migrate/20260305125855_index_journey_session_updated_at.rb
  db/migrate/20260305130500_index_journey_session_multi_ol.rb
  db/schema.rb
Due: standard

index expired journey sessions
  db/migrate/20260305161503_index_session_expiry.rb
  db/schema.rb
Due: standard

CAPT-3375 - Move sentry context higher and add journey session id
  app/controllers/claims_controller.rb
Due: standard

dqt_teacher_status contains pii
  app/models/journeys/session_answers.rb
Due: standard

Show generic failure
  app/views/targeted_retention_incentive_payments/claims/ineligible.html.erb
Due: none

upgrade zlib
  Dockerfile
Due: none

personas handles TRS data
  app/models/policies/targeted_retention_incentive_payments/test/user_persona.rb
  spec/fixtures/files/targeted_retention_incentive_payments_personas.csv
  spec/models/policies/targeted_retention_incentive_payments/test/user_persona_spec.rb
  spec/personas/targeted_retention_incentive_payments.csv
Due: standard

update persona CSV with TRS data
  app/models/policies/targeted_retention_incentive_payments/test/trs_importer.rb
  lib/dqt/objects/teacher.rb
  spec/models/policies/targeted_retention_incentive_payments/test/trs_importer_spec.rb
  spec/personas/targeted_retention_incentive_payments_new.csv
Due: standard

implement #to_csv for persona
  app/models/policies/targeted_retention_incentive_payments/test/user_persona.rb
  spec/models/policies/targeted_retention_incentive_payments/test/user_persona_spec.rb
Due: standard

change api to return array rather than string
  app/models/policies/targeted_retention_incentive_payments/test/user_persona.rb
  spec/models/policies/targeted_retention_incentive_payments/test/user_persona_spec.rb
Due: standard

add rake task to import TRS data
  lib/tasks/trs_test_data.rake
Due: none

Add journey_session_id to logs
  app/controllers/claims_controller.rb
Due: standard

Add job to retry bank validation
  app/jobs/claims/retry_failed_personal_bank_account_verification_job.rb
  app/jobs/claims/verify_personal_bank_account_job.rb
  spec/jobs/claims/retry_failed_personal_bank_account_verification_job_spec.rb
  spec/jobs/claims/verify_personal_bank_account_job_spec.rb
Due: standard

CAPT-3374 - Exclude routes without a holdsFrom date
  lib/dqt/objects/teacher.rb
  spec/lib/dqt/objects/teacher_spec.rb
Due: standard

CAPT-3292 - Assignment, exclude deleted users
  app/forms/admin/claims/assignment_form.rb
  spec/forms/admin/claims/assignment_form_spec.rb
Due: standard
