Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{css,html,js,js.erb,json,md,scss}"
      run: rails prettier {staged_files}
      skip:
        - merge
        - rebase
    standard:
      glob: "*.rb"
      run: rails standard {staged_files}
      skip:
        - merge
        - rebase

Echo correct URL in makefile
  Makefile
Due: none

remove RAILS_ENV
  terraform/application/config/review_app_env.yml
Due: none

Remove env variables moved to keyvault (copied from existing review env)
  terraform/application/config/review_app_env.yml
Due: none

Call terraform-apply-aks
  .github/actions/deploy-environment/action.yml
Due: none

Output APP_URL from build and use in PR comment
  .github/actions/deploy-environment/action.yml
  .github/workflows/build_and_deploy.yml
Due: none

update seed file
  db/seeds.rb
Due: standard

Tidy up generated files
  terraform/application/config/development.tfvars.json
  terraform/application/config/production.tfvars.json
  terraform/application/config/test.tfvars.json
  terraform/application/config/test_Terrafile
  terraform/application/database.tf
  terraform/domains/environment_domains/config/development.tfvars.json
  terraform/domains/environment_domains/config/test.tfvars.json
  terraform/domains/environment_domains/config/test_Terrafile
  terraform/domains/infrastructure/config/zones.tfvars.json
Due: prettier

Set the right subscription
  .github/workflows/build_and_deploy.yml
  Makefile
Due: none

set review rails_env to be production
  .github/workflows/delete_review_app.yml
  config/environments/review.rb
  terraform/application/config/review_app_env.yml
Due: standard

Add startup command
  terraform/application/application.tf
  terraform/application/config/review.tfvars.json
  terraform/application/variables.tf
Due: prettier

Update .github/workflows/build_and_deploy.yml
  .github/workflows/build_and_deploy.yml
Due: none

Fix indentation
  .github/workflows/ci.yaml
Due: none

Update README
  README.md
Due: prettier

Pull image from docker hub
  Makefile
  config/environments/review.rb
Due: standard

WIP: Use the PR tagged image for now
  Makefile
Due: none

Correct comment URLs
  .github/workflows/build_and_deploy.yml
Due: none

Require deploy tag to build, remove master branch condition
  .github/workflows/build_and_deploy.yml
Due: none

linting;
  db/seeds.rb
Due: standard

Add back required option startup_command
  .dockerignore
  terraform/application/config/review.tfvars.json
Due: prettier

Go back to master now the upstream PR is merged
  .github/workflows/build_and_deploy.yml
Due: none

Bypass DfE sign in for review apps
  terraform/application/config/review_app_env.yml
Due: none

Try new build target action
  .github/workflows/build_and_deploy.yml
  Dockerfile.aks
Due: none

Missed the Dockerfile base ruby version in the master merge
  Dockerfile.aks
Due: none

Remove target to check action works without it
  .github/workflows/build_and_deploy.yml
Due: none

Build the web target
  .github/workflows/build_and_deploy.yml
Due: none

Use the Rails binstubs to launch Rails
  .github/workflows/build_and_deploy.yml
  terraform/application/config/review.tfvars.json
Due: prettier

Exclude healthcheck from SSL
  config/environments/production.rb
Due: standard

Build the web image for deployment to AKS
  .github/workflows/build_and_deploy.yml
  Dockerfile.aks
  terraform/application/config/review.tfvars.json
Due: prettier

Reference regular Dockerfile
  .github/workflows/build_and_deploy.yml
Due: none

Disable DB env check as review apps run in production
  .github/workflows/build_and_deploy.yml
Due: none

Store answers on the journey session
  app/forms/journeys/additional_payments_for_teaching/poor_performance_form.rb
Due: standard

standardrb --fix
  config/environments/production.rb
Due: standard

Run Prettier to fix style lint issues
  public/404.html
  public/422.html
  public/500.html
Due: prettier

Remove production and test config
  global_config/domains.sh
  global_config/production.sh
  global_config/test.sh
  terraform/application/config/production.tfvars.json
  terraform/application/config/production_Terrafile
  terraform/application/config/test.tfvars.json
  terraform/application/config/test_Terrafile
  terraform/domains/environment_domains/config/production.tfvars.json
  terraform/domains/environment_domains/config/production_Terrafile
  terraform/domains/environment_domains/config/test.tfvars.json
  terraform/domains/environment_domains/config/test_Terrafile
  terraform/domains/environment_domains/main.tf
  terraform/domains/environment_domains/terraform.tf
  terraform/domains/environment_domains/variables.tf
  terraform/domains/infrastructure/config/zones.tfvars.json
  terraform/domains/infrastructure/config/zones_Terrafile
  terraform/domains/infrastructure/main.tf
  terraform/domains/infrastructure/terraform.tf
  terraform/domains/infrastructure/variables.tf
Due: prettier

Bypass DfE sign in for review apps (#2753)
  .dockerignore
  .github/workflows/build_and_deploy.yml
  config/environments/production.rb
  terraform/application/config/review.tfvars.json
  terraform/application/config/review_app_env.yml
Due: prettier, standard
