Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

Add cancel button
  app/views/admin/claims/employment_history/employments/new.html.erb
Due: none

Add subject options
  app/forms/admin/claims/employment_history/create_employment_form.rb
Due: standard

Validate employment dates are in the past
  app/forms/admin/claims/employment_history/create_employment_form.rb
  spec/forms/admin/claims/employment_history/create_employment_form_spec.rb
Due: standard

Allow admins to complete the task
  app/views/admin/tasks/employment_history.html.erb
  config/locales/en.yml
  spec/features/get_a_teacher_relocation_payment/admin_employment_history_task_spec.rb
Due: standard

Retry menu selection
  spec/features/get_a_teacher_relocation_payment/admin_employment_history_task_spec.rb
Due: standard

Move form body into a partial
  app/views/admin/tasks/_form.html.erb
  app/views/admin/tasks/_form_body.html.erb
Due: none

Copy tweak
  app/views/admin/tasks/employment_history.html.erb
Due: none

View clean up
  app/views/admin/tasks/employment_history.html.erb
  spec/features/get_a_teacher_relocation_payment/admin_employment_history_task_spec.rb
Due: standard

CAPT-2563 - copy change to error message (#3834)
  config/locales/en.yml
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/forms/journeys/get_a_teacher_relocation_payment/changed_workplace_or_new_contract_form_spec.rb
  spec/models/journeys/get_a_teacher_relocation_payment/answers_presenter_spec.rb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

CAPT-2572 - copy change on claim submission page
  app/views/get_a_teacher_relocation_payment/submissions/show.html.erb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

Add SLA
  app/views/get_a_teacher_relocation_payment/submissions/show.html.erb
Due: none

Use govuk-components helpers
  app/views/get_a_teacher_relocation_payment/submissions/show.html.erb
Due: none

CAPT-2572 - copy change on claim submission page (#3836)
  app/views/get_a_teacher_relocation_payment/submissions/show.html.erb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

Change schools TRI journey name
  config/locales/targeted_retention_incentive_payments.yml
Due: none

Update journey access documentation
  .github/workflows/build_and_deploy.yml
  README.md
Due: prettier

Remove remaining references to additional payments journey
  app/controllers/omniauth_callbacks_controller.rb
  app/forms/journeys/early_years_payment/practitioner/claim_submission_form.rb
  app/forms/journeys/early_years_payment/provider/start/claim_submission_form.rb
  app/forms/journeys/further_education_payments/claim_submission_form.rb
  app/forms/journeys/targeted_retention_incentive_payments/claim_submission_form.rb
  app/forms/journeys/targeted_retention_incentive_payments/itt_academic_year_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/claim_submission_form.rb
  app/mailers/payment_mailer.rb
  config/routes.rb
  public/404.html
  public/422.html
  public/500.html
  spec/helpers/application_helper_spec.rb
  spec/mailers/payment_mailer_spec.rb
  spec/requests/claims_spec.rb
  terraform/application/config/production_app_env.yml
  terraform/application/config/review_app_env.yml
  terraform/application/config/test_app_env.yml
Due: prettier, standard

Removing remaining additional payments journey references (#3846)
  .github/workflows/build_and_deploy.yml
  README.md
  app/controllers/omniauth_callbacks_controller.rb
  app/forms/journeys/early_years_payment/practitioner/claim_submission_form.rb
  app/forms/journeys/early_years_payment/provider/start/claim_submission_form.rb
  app/forms/journeys/further_education_payments/claim_submission_form.rb
  app/forms/journeys/targeted_retention_incentive_payments/claim_submission_form.rb
  app/forms/journeys/targeted_retention_incentive_payments/itt_academic_year_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/claim_submission_form.rb
  app/mailers/payment_mailer.rb
  config/locales/targeted_retention_incentive_payments.yml
  config/routes.rb
  public/404.html
  public/422.html
  public/500.html
  spec/helpers/application_helper_spec.rb
  spec/mailers/payment_mailer_spec.rb
  spec/requests/claims_spec.rb
  terraform/application/config/production_app_env.yml
  terraform/application/config/review_app_env.yml
  terraform/application/config/test_app_env.yml
Due: prettier, standard

use positive slug sequence for FE
  app/forms/form.rb
  app/forms/journeys/further_education_payments/further_education_teaching_start_year_form.rb
  app/forms/journeys/further_education_payments/teacher_reference_number_form.rb
  app/models/journeys/further_education_payments/session_answers.rb
  app/models/journeys/further_education_payments/slug_sequence.rb
  app/models/journeys/navigator.rb
  spec/factories/journeys/further_education_payments/further_education_payments_answers.rb
  spec/forms/journeys/further_education_payments/teacher_reference_number_form_spec.rb
Due: standard

simply FE slug sequence
  app/forms/journeys/further_education_payments/further_education_teaching_start_year_form.rb
  app/models/journeys/further_education_payments/session_answers.rb
  app/models/journeys/further_education_payments/slug_sequence.rb
  spec/factories/journeys/further_education_payments/further_education_payments_answers.rb
Due: standard

optimise includes of admin claims index
  app/forms/admin/claims_filter_form.rb
Due: standard

Invert slug sequence
  app/models/journeys/teacher_student_loan_reimbursement/session_answers.rb
  app/models/journeys/teacher_student_loan_reimbursement/slug_sequence.rb
  spec/models/journeys/teacher_student_loan_reimbursement/slug_sequence_spec.rb
Due: standard

Remove ineligible? check from sequence
  app/models/journeys/teacher_student_loan_reimbursement/slug_sequence.rb
  spec/models/journeys/teacher_student_loan_reimbursement/slug_sequence_spec.rb
Due: standard

Update Ruby version
  .ruby-version
  .tool-versions
  Gemfile
  Gemfile.lock
  README.md
Due: prettier

Invert ey practitioner slug sequence logic
  app/models/journeys/early_years_payment/practitioner/slug_sequence.rb
Due: standard

Invert IRP slug sequence
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  spec/models/journeys/get_a_teacher_relocation_payment/slug_sequence_spec.rb
Due: standard

Record deletions
  app/controllers/admin/claims/employment_history/employments_controller.rb
  app/forms/admin/claims/employment_history/create_employment_form.rb
  app/forms/admin/claims/employment_history/destroy_employment_form.rb
  app/models/policies/international_relocation_payments/employment_history/employment.rb
  app/views/admin/tasks/employment_history.html.erb
  spec/forms/admin/claims/employment_history/destroy_employment_form_spec.rb
Due: standard

Update namespacing
  app/controllers/admin/claims/employment_histories_controller.rb
  app/controllers/admin/claims/employment_history/employments_controller.rb
  app/forms/admin/claims/create_employment_history_form.rb
  app/forms/admin/claims/employment_history/create_employment_form.rb
  app/models/policies/international_relocation_payments/eligibility.rb
  app/models/policies/international_relocation_payments/employment_histories_type.rb
  app/models/policies/international_relocation_payments/employment_history.rb
  app/models/policies/international_relocation_payments/employment_history/employment.rb
  app/models/policies/international_relocation_payments/employment_history/type.rb
  app/views/admin/claims/employment_history/employments/new.html.erb
  app/views/admin/tasks/employment_history.html.erb
  config/analytics.yml
  config/locales/en.yml
  config/routes.rb
  db/migrate/20250528152757_add_employment_histories_to_irp_eligibilities.rb
  db/schema.rb
  spec/features/get_a_teacher_relocation_payment/admin_employment_history_task_spec.rb
  spec/forms/admin/claims/employment_history/create_employment_form_spec.rb
Due: standard

Add autocomplete to school field
  app/assets/javascripts/components/school_search_field.js
  app/assets/stylesheets/components/school_search.scss
  app/views/admin/claims/employment_histories/new.html.erb
  spec/features/get_a_teacher_relocation_payment/admin_employment_history_task_spec.rb
Due: prettier, standard

Record who created the employment
  app/controllers/admin/claims/employment_history/employments_controller.rb
  app/forms/admin/claims/employment_history/create_employment_form.rb
  app/models/policies/international_relocation_payments/employment_history/employment.rb
  spec/features/get_a_teacher_relocation_payment/admin_employment_history_task_spec.rb
  spec/forms/admin/claims/employment_history/create_employment_form_spec.rb
Due: standard

Add create employment history
  app/controllers/admin/claims/employment_histories_controller.rb
  app/forms/admin/claims/create_employment_history_form.rb
  app/models/policies/international_relocation_payments/claim_checking_tasks.rb
  app/models/policies/international_relocation_payments/eligibility.rb
  app/models/policies/international_relocation_payments/employment_histories_type.rb
  app/models/policies/international_relocation_payments/employment_history.rb
  app/models/task.rb
  app/views/admin/claims/employment_histories/new.html.erb
  app/views/admin/tasks/employment_history.html.erb
  config/analytics.yml
  config/locales/en.yml
  config/routes.rb
  db/migrate/20250528152757_add_employment_histories_to_irp_eligibilities.rb
  db/schema.rb
  spec/features/get_a_teacher_relocation_payment/admin_employment_history_task_spec.rb
  spec/forms/admin/claims/create_employment_history_form_spec.rb
Due: standard

Prevent amending employment when task completed
  app/models/task.rb
  app/views/admin/tasks/employment_history.html.erb
  spec/features/get_a_teacher_relocation_payment/admin_employment_history_task_spec.rb
Due: standard

Add ability to remove employments
  app/controllers/admin/claims/employment_history/employments_controller.rb
  app/forms/admin/claims/employment_history/destroy_employment_form.rb
  app/models/policies/international_relocation_payments/employment_history/employment.rb
  app/views/admin/tasks/employment_history.html.erb
  config/routes.rb
  spec/features/get_a_teacher_relocation_payment/admin_employment_history_task_spec.rb
  spec/forms/admin/claims/employment_history/destroy_employment_form_spec.rb
Due: standard

Display claimants answers
  app/views/admin/tasks/employment_history.html.erb
Due: none

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
