Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{css,html,js,js.erb,json,md,scss}"
      run: rails prettier {staged_files}
      skip:
        - merge
        - rebase
    standard:
      glob: "*.rb"
      run: rails standard {staged_files}
      skip:
        - merge
        - rebase

Configuration changes to support new govuk-frontend and other libraries
  .gitignore
  app/assets/javascripts/application.js
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/components/a11y_dialog.scss
  app/assets/stylesheets/components/accessible_autocomplete_tweaks.scss
  app/assets/stylesheets/components/cookie_banner.scss
  app/assets/stylesheets/components/currency_input.scss
  app/assets/stylesheets/components/flash.scss
  app/assets/stylesheets/components/tag.scss
  app/views/layouts/admin.html.erb
  app/views/layouts/application.html.erb
  config/initializers/assets.rb
  public/404.html
  public/422.html
  public/500.html
  public/assets/fonts/bold-affa96571d-v2.woff
  public/assets/fonts/bold-b542beb274-v2.woff2
  public/assets/fonts/light-94a07e06a1-v2.woff2
  public/assets/fonts/light-f591b13f7d-v2.woff
  public/assets/images/favicon.ico
  public/assets/images/govuk-apple-touch-icon-152x152.png
  public/assets/images/govuk-apple-touch-icon-167x167.png
  public/assets/images/govuk-apple-touch-icon-180x180.png
  public/assets/images/govuk-apple-touch-icon.png
  public/assets/images/govuk-crest-2x.png
  public/assets/images/govuk-crest.png
  public/assets/images/govuk-logotype-crown.png
  public/assets/images/govuk-mask-icon.svg
  public/assets/images/govuk-opengraph-image.png
Due: prettier, standard

Upgrade design libraries
  Gemfile
  Gemfile.lock
  package.json
  yarn.lock
Due: prettier

Replace uglifier with terser for compatibility
  Gemfile
  Gemfile.lock
  config/environments/production.rb
Due: standard

Upgrade govuk-frontend
  package.json
  yarn.lock
Due: prettier

Fix JS style/lint issues
  app/assets/javascripts/js_check.js
Due: prettier

Upgrade govuk-frontend
  yarn.lock
Due: none

Upgrade govuk_design_system_formbuilder
  Gemfile.lock
Due: none

Bump accessible-autocomplete
  package.json
  yarn.lock
Due: prettier

Extract a form for claim submission
  app/controllers/submissions_controller.rb
  app/forms/claim_submission_form.rb
  app/models/claim.rb
  app/models/current_claim.rb
  app/models/journeys/base.rb
  app/views/additional_payments/claims/check_your_answers.html.erb
  app/views/student_loans/claims/check_your_answers.html.erb
  spec/forms/claim_submission_form_spec.rb
Due: standard

Extracts job for submitting form
  app/controllers/submissions_controller.rb
  app/forms/claim_submission_form.rb
  app/jobs/claim_submission_job.rb
  app/models/claim.rb
  app/models/current_claim.rb
  app/models/policies/early_career_payments/eligibility.rb
  app/models/policies/levelling_up_premium_payments/eligibility.rb
  spec/forms/claim_submission_form_spec.rb
  spec/jobs/claim_submission_job_spec.rb
  spec/models/claim_spec.rb
  spec/models/current_claim_spec.rb
Due: standard

Switch job to service object
  app/forms/claim_submission_form.rb
  app/models/claim_submission_service.rb
  spec/forms/claim_submission_form_spec.rb
  spec/models/claim_submission_service_spec.rb
Due: standard

Add a form object for selecting a claim school
  app/controllers/claims_controller.rb
  app/forms/journeys/teacher_student_loan_reimbursement/select_claim_school_form.rb
  app/forms/select_claim_school_form.rb
  app/models/journeys/teacher_student_loan_reimbursement.rb
  app/views/student_loans/claims/_ineligibility_reason_ineligible_claim_school.html.erb
  app/views/student_loans/claims/select_claim_school.html.erb
  spec/features/tslr_claim_journey_with_teacher_id_select_claim_school_spec.rb
  spec/features/tslr_claim_journey_with_teacher_id_still_teaching_spec.rb
  spec/forms/journeys/teacher_student_loan_reimbursement/select_claim_school_form_spec.rb
  spec/forms/select_claim_school_form_spec.rb
Due: standard

Fix a11y dialog overlay bg style
  app/views/application/_timeout_dialog.html.erb
Due: none

Upgrade error pages to govuk-frontend 5.3.1
  app/views/omniauth_callbacks/failure.html.erb
  public/404.html
  public/422.html
  public/500.html
  public/govuk-frontend-3.0.0.min.css
  public/govuk-frontend-5.3.1.min.css
Due: prettier

CAPT-1584 Address form object
  app/forms/address_form.rb
  app/helpers/claims/show_helper.rb
  app/models/claim.rb
  app/models/journeys/base.rb
  app/models/journeys/base_answers_presenter.rb
  app/views/additional_payments/claims/address.html.erb
  app/views/claims/address.html.erb
  app/views/student_loans/claims/address.html.erb
  config/locales/en.yml
  spec/features/auto_populating_home_address_from_postcode_search_spec.rb
  spec/features/changing_answers_spec.rb
  spec/features/combined_teacher_claim_journey_spec.rb
  spec/features/combined_teacher_claim_journey_with_teacher_id_spec.rb
  spec/features/early_career_payments_claim_spec.rb
  spec/features/levelling_up_premium_payments_spec.rb
  spec/features/student_loans_claim_spec.rb
  spec/forms/address_form_spec.rb
  spec/helpers/claims/show_helper_spec.rb
  spec/models/claim_spec.rb
  spec/support/journey_answers_presenter_shared_examples.rb
Due: standard

Extracts form object for email
  app/controllers/claims_controller.rb
  app/forms/email_address_form.rb
  app/models/claim.rb
  app/models/journeys/base.rb
  app/views/claims/email_address.html.erb
  spec/forms/email_address_form_spec.rb
  spec/models/claim_spec.rb
  spec/models/current_claim_spec.rb
Due: standard

Extract form for email verification
  app/controllers/claims_controller.rb
  app/forms/email_verification_form.rb
  app/models/claim.rb
  app/models/journeys/base.rb
  app/views/claims/email_verification.html.erb
  spec/forms/email_verification_form_spec.rb
  spec/models/claim_spec.rb
Due: standard

Remove OneTimePasswordCheckable
  app/controllers/journeys/additional_payments_for_teaching/reminders_controller.rb
  app/models/concerns/one_time_password_checkable.rb
  app/models/reminder.rb
  lib/one_time_password/validator.rb
Due: standard

Move errors into locales file
  app/forms/email_address_form.rb
  config/locales/en.yml
Due: standard

Add a form object for postcode search
  app/controllers/claims_controller.rb
  app/controllers/concerns/address_details.rb
  app/forms/postcode_search_form.rb
  app/models/journeys/additional_payments_for_teaching.rb
  app/models/journeys/additional_payments_for_teaching/slug_sequence.rb
  app/models/journeys/page_sequence.rb
  app/models/journeys/teacher_student_loan_reimbursement.rb
  app/models/journeys/teacher_student_loan_reimbursement/slug_sequence.rb
  app/views/claims/postcode_search.html.erb
  app/views/claims/select_home_address.html.erb
  spec/features/auto_populating_home_address_from_postcode_search_spec.rb
  spec/features/tslr_claim_journey_with_teacher_id_check_email_spec.rb
  spec/features/tslr_claim_journey_with_teacher_id_trn_spec.rb
  spec/forms/postcode_search_form_spec.rb
  spec/support/claims_controller_helper.rb
Due: standard

DfE analytics
  config/analytics.yml
  config/analytics_blocklist.yml
Due: none

Tidy up generated files
  terraform/application/config/development.tfvars.json
  terraform/application/config/production.tfvars.json
  terraform/application/config/test.tfvars.json
  terraform/application/config/test_Terrafile
  terraform/application/database.tf
  terraform/domains/environment_domains/config/development.tfvars.json
  terraform/domains/environment_domains/config/test.tfvars.json
  terraform/domains/environment_domains/config/test_Terrafile
  terraform/domains/infrastructure/config/zones.tfvars.json
Due: prettier

Repurpose StillTeachingForm, remove logic from claims controller, remove validations from eligibility, rewrite spec
  app/controllers/claims_controller.rb
  app/forms/journeys/teacher_student_loan_reimbursement/still_teaching_form.rb
  app/forms/still_teaching_form.rb
  app/models/journeys/teacher_student_loan_reimbursement.rb
  app/models/policies/student_loans/eligibility.rb
  app/views/student_loans/claims/_still_teaching_with_claim_school.html.erb
  app/views/student_loans/claims/_still_teaching_with_tps_school.html.erb
  app/views/student_loans/claims/still_teaching.html.erb
  spec/forms/journeys/teacher_student_loan_reimbursement/still_teaching_form_spec.rb
  spec/forms/still_teaching_form_spec.rb
  spec/models/student_loans/eligibility_spec.rb
Due: standard

tidy up question in locales
  app/forms/journeys/teacher_student_loan_reimbursement/still_teaching_form.rb
  app/models/journeys/teacher_student_loan_reimbursement/answers_presenter.rb
  app/views/student_loans/claims/still_teaching.html.erb
  config/locales/en.yml
  spec/features/dfe_identity_sign_in_for_student_loans_journey_spec.rb
  spec/features/student_loans_claim_spec.rb
  spec/features/tslr_claim_journey_with_teacher_id_check_email_spec.rb
  spec/features/tslr_claim_journey_with_teacher_id_trn_spec.rb
Due: standard

Move error message into locales ;
  app/forms/form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/still_teaching_form.rb
  config/locales/en.yml
  spec/forms/form_spec.rb
Due: standard

CAPT-1601 Form object for /still-teaching (#2728)
  app/controllers/claims_controller.rb
  app/forms/form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/still_teaching_form.rb
  app/forms/still_teaching_form.rb
  app/models/journeys/teacher_student_loan_reimbursement.rb
  app/models/journeys/teacher_student_loan_reimbursement/answers_presenter.rb
  app/models/policies/student_loans/eligibility.rb
  app/views/student_loans/claims/_still_teaching_with_claim_school.html.erb
  app/views/student_loans/claims/_still_teaching_with_tps_school.html.erb
  app/views/student_loans/claims/still_teaching.html.erb
  config/locales/en.yml
  spec/features/dfe_identity_sign_in_for_student_loans_journey_spec.rb
  spec/features/student_loans_claim_spec.rb
  spec/features/tslr_claim_journey_with_teacher_id_check_email_spec.rb
  spec/features/tslr_claim_journey_with_teacher_id_still_teaching_spec.rb
  spec/features/tslr_claim_journey_with_teacher_id_trn_spec.rb
  spec/forms/form_spec.rb
  spec/forms/journeys/teacher_student_loan_reimbursement/still_teaching_form_spec.rb
  spec/forms/still_teaching_form_spec.rb
  spec/models/student_loans/eligibility_spec.rb
Due: standard

Introduces journey session model
  app/controllers/claims_controller.rb
  app/controllers/concerns/journey_concern.rb
  app/models/journeys.rb
  app/models/journeys/session.rb
  config/analytics.yml
  db/migrate/20240508081918_create_journeys_sessions.rb
  db/schema.rb
  spec/factories/journeys/sessions.rb
  spec/models/journeys/session_spec.rb
Due: standard

Comment out statuscake
  Makefile
  terraform/application/statuscake.tf
Due: none

Add startup command
  terraform/application/application.tf
  terraform/application/config/review.tfvars.json
  terraform/application/variables.tf
Due: prettier

Pull image from docker hub
  Makefile
  config/environments/review.rb
Due: standard

App config for review environment
  terraform/application/application.tf
  terraform/application/config/review.tfvars.json
  terraform/application/config/review_app_env.yml
  terraform/application/variables.tf
Due: prettier

Load values from journey session
  app/forms/form.rb
  spec/forms/form_spec.rb
Due: standard

update seed file
  db/seeds.rb
Due: standard

linting;
  db/seeds.rb
Due: standard

WIP: Use the PR tagged image for now
  Makefile
Due: none

Add a form object for selecting an address
  app/controllers/claims_controller.rb
  app/controllers/concerns/address_details.rb
  app/forms/address_form.rb
  app/forms/select_home_address_form.rb
  app/models/journeys/additional_payments_for_teaching.rb
  app/models/journeys/base.rb
  app/models/journeys/teacher_student_loan_reimbursement.rb
  app/views/claims/select_home_address.html.erb
  spec/forms/select_home_address_form_spec.rb
Due: standard

Add a build action to build and push the container to GHCR
  .github/actions/deploy-environment/action.yml
  .github/workflows/build_and_deploy.yml
  Makefile
  terraform/application/config/review.tfvars.json
Due: prettier

Set the right subscription
  .github/workflows/build_and_deploy.yml
  Makefile
Due: none

Call review-aks rather than review
  .github/workflows/build_and_deploy.yml
Due: none
