Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{css,html,js,js.erb,json,md,scss}"
      run: rails prettier {staged_files}
      skip:
        - merge
        - rebase
    standard:
      glob: "*.rb"
      run: rails standard {staged_files}
      skip:
        - merge
        - rebase

data migration to persist claim deadline date
  db/data/20260204102427_persist_decision_deadline.rb
Due: standard

update DfE analytics whitelist
  config/analytics.yml
Due: none

add column for decision_deadline
  db/migrate/20260202123308_add_decision_deadline_to_claim.rb
  db/schema.rb
Due: standard

Fix bug showing incorrect reminders count
  app/views/admin/journey_configurations/_reminder_warning.html.erb
  app/views/admin/journey_configurations/edit.html.erb
  spec/features/admin/configure_services_spec.rb
Due: standard

Fix bug showing incorrect reminders count (#4356)
  app/views/admin/journey_configurations/_reminder_warning.html.erb
  app/views/admin/journey_configurations/edit.html.erb
  spec/features/admin/configure_services_spec.rb
Due: standard

FE landing page links off to guidance
  app/views/further_education_payments/landing_page.html.erb
Due: none

update hint text FE screen
  app/views/further_education_payments/claims/hours_teaching_eligible_subjects.html.erb
Due: none

update copy FE eligible screen
  app/views/further_education_payments/claims/eligible.html.erb
Due: none

update copy FE info page
  app/views/further_education_payments/claims/information_provided.html.erb
Due: none

Enable real DQT calls for Review Apps
  app/forms/debug/sign_in_or_continue_form.rb
  app/forms/sign_in_or_continue_form.rb
  app/views/claims/_confirmation_form.html.erb
Due: standard

Add initial eytfi provider prototype
  app/forms/journeys/early_years_teachers/provider/check_nursery_details_form.rb
  app/forms/journeys/early_years_teachers/provider/check_your_answers_form.rb
  app/forms/journeys/early_years_teachers/provider/check_your_email_form.rb
  app/forms/journeys/early_years_teachers/provider/confirmation_form.rb
  app/forms/journeys/early_years_teachers/provider/employer_paye_reference_form.rb
  app/forms/journeys/early_years_teachers/provider/favourite_colour_form.rb
  app/forms/journeys/early_years_teachers/provider/manage_teachers_form.rb
  app/forms/journeys/early_years_teachers/provider/organisation_email_address_form.rb
  app/forms/journeys/early_years_teachers/provider/provide_teacher_details_form.rb
  app/forms/journeys/early_years_teachers/provider/provider_email_form.rb
  app/forms/journeys/early_years_teachers/provider/update_nursery_details_form.rb
  app/models/journeys/early_years_teachers/provider.rb
  app/models/journeys/early_years_teachers/provider/answers_presenter.rb
  app/models/journeys/early_years_teachers/provider/session_answers.rb
  app/models/journeys/early_years_teachers/provider/slug_sequence.rb
  app/views/early_years_teachers/provider/claims/_remove_teacher.html.erb
  app/views/early_years_teachers/provider/claims/_teacher_card.html.erb
  app/views/early_years_teachers/provider/claims/check_nursery_details.html.erb
  app/views/early_years_teachers/provider/claims/check_your_answers.html.erb
  app/views/early_years_teachers/provider/claims/check_your_email.html.erb
  app/views/early_years_teachers/provider/claims/confirmation.html.erb
  app/views/early_years_teachers/provider/claims/employer_paye_reference.html.erb
  app/views/early_years_teachers/provider/claims/manage_teachers.html.erb
  app/views/early_years_teachers/provider/claims/organisation_email_address.html.erb
  app/views/early_years_teachers/provider/claims/provide_teacher_details.html.erb
  app/views/early_years_teachers/provider/claims/provider_email.html.erb
  app/views/early_years_teachers/provider/claims/update_nursery_details.html.erb
  app/views/early_years_teachers/provider/landing_page.html.erb
  config/locales/early_years_teachers_provider.yml
  spec/features/early_years_teachers/practitioner/prototype_test_spec.rb
  spec/features/early_years_teachers/provider/prototype_test_spec.rb
Due: standard

Bypass validations for UR
  app/forms/journeys/early_years_teachers/practitioner/national_insurance_number_form.rb
  app/forms/journeys/early_years_teachers/practitioner/personal_bank_account_form.rb
  app/models/journeys/early_years_teachers/practitioner.rb
Due: standard

Allow setting the phase form views
  app/views/layouts/application.html.erb
Due: none

Add teacher_reference_number
  app/forms/journeys/early_years_teachers/practitioner/gender_form.rb
  app/forms/journeys/early_years_teachers/provider/provide_teacher_details_form.rb
  app/models/journeys/early_years_teachers/provider/session_answers.rb
  app/views/early_years_teachers/provider/claims/_teacher_card.html.erb
  app/views/early_years_teachers/provider/claims/provide_teacher_details.html.erb
  config/locales/early_years_teachers_provider.yml
Due: standard

Fix link to lost trn
  app/views/early_years_teachers/practitioner/claims/teacher_reference_number.html.erb
Due: none

ADD initial eytfi practioner prototype
  app/forms/journeys/early_years_teachers/practitioner/check_your_answers_form.rb
  app/forms/journeys/early_years_teachers/practitioner/check_your_answers_part_one_form.rb
  app/forms/journeys/early_years_teachers/practitioner/confirm_details_form.rb
  app/forms/journeys/early_years_teachers/practitioner/confirmation_form.rb
  app/forms/journeys/early_years_teachers/practitioner/eligibility_confirmed_form.rb
  app/forms/journeys/early_years_teachers/practitioner/favourite_colour_form.rb
  app/forms/journeys/early_years_teachers/practitioner/payment_not_accepted_form.rb
  app/forms/journeys/early_years_teachers/practitioner/payment_options_form.rb
  app/forms/journeys/early_years_teachers/practitioner/sign_in_or_continue_form.rb
  app/models/journeys/early_years_teachers/practitioner.rb
  app/models/journeys/early_years_teachers/practitioner/answers_presenter.rb
  app/models/journeys/early_years_teachers/practitioner/session_answers.rb
  app/models/journeys/early_years_teachers/practitioner/slug_sequence.rb
  app/views/early_years_teachers/practitioner/claims/check_your_answers.html.erb
  app/views/early_years_teachers/practitioner/claims/check_your_answers_part_one.html.erb
  app/views/early_years_teachers/practitioner/claims/confirm_details.html.erb
  app/views/early_years_teachers/practitioner/claims/confirmation.html.erb
  app/views/early_years_teachers/practitioner/claims/date_of_birth.html.erb
  app/views/early_years_teachers/practitioner/claims/eligibility_confirmed.html.erb
  app/views/early_years_teachers/practitioner/claims/full_name.html.erb
  app/views/early_years_teachers/practitioner/claims/national_insurance_number.html.erb
  app/views/early_years_teachers/practitioner/claims/payment_not_accepted.html.erb
  app/views/early_years_teachers/practitioner/claims/payment_options.html.erb
  app/views/early_years_teachers/practitioner/claims/sign_in_or_continue.html.erb
  app/views/early_years_teachers/practitioner/claims/teacher_reference_number.html.erb
  app/views/early_years_teachers/practitioner/landing_page.html.erb
  config/locales/early_years_teachers_practitioner.yml
  config/locales/en.yml
Due: standard

Update copy
  app/views/early_years_teachers/practitioner/claims/check_your_answers.html.erb
Due: none

Add gender changes
  app/forms/journeys/early_years_teachers/practitioner/gender_form.rb
  app/models/journeys/early_years_teachers/practitioner.rb
  app/models/journeys/early_years_teachers/practitioner/answers_presenter.rb
  app/models/journeys/early_years_teachers/practitioner/session_answers.rb
  app/views/early_years_teachers/practitioner/claims/gender.html.erb
  config/locales/early_years_teachers_practitioner.yml
Due: standard

Add feature flag to bypass basic auth
  app/controllers/concerns/http_auth_concern.rb
Due: standard

Fix provider check answers links
  app/models/journeys/early_years_teachers/provider/answers_presenter.rb
Due: standard

Update teacher journey
  app/forms/journeys/early_years_teachers/practitioner/check_your_answers_part_one_form.rb
  app/forms/journeys/early_years_teachers/practitioner/confirm_details_form.rb
  app/forms/journeys/early_years_teachers/practitioner/how_we_use_your_information_form.rb
  app/forms/journeys/early_years_teachers/practitioner/national_insurance_number_form.rb
  app/forms/journeys/early_years_teachers/practitioner/one_login_callback_success_form.rb
  app/forms/journeys/early_years_teachers/practitioner/sign_in_form.rb
  app/forms/journeys/early_years_teachers/practitioner/sign_in_or_continue_form.rb
  app/models/journeys/early_years_teachers/practitioner.rb
  app/models/journeys/early_years_teachers/practitioner/session_answers.rb
  app/models/journeys/early_years_teachers/practitioner/slug_sequence.rb
  app/views/early_years_teachers/practitioner/claims/check_your_answers_part_one.html.erb
  app/views/early_years_teachers/practitioner/claims/confirm_details.html.erb
  app/views/early_years_teachers/practitioner/claims/confirmation.html.erb
  app/views/early_years_teachers/practitioner/claims/date_of_birth.html.erb
  app/views/early_years_teachers/practitioner/claims/full_name.html.erb
  app/views/early_years_teachers/practitioner/claims/how_we_use_your_information.html.erb
  app/views/early_years_teachers/practitioner/claims/national_insurance_number.html.erb
  app/views/early_years_teachers/practitioner/claims/one_login_callback_success.html.erb
  app/views/early_years_teachers/practitioner/claims/sign_in.html.erb
  app/views/early_years_teachers/practitioner/claims/sign_in_or_continue.html.erb
  app/views/early_years_teachers/practitioner/claims/teacher_reference_number.html.erb
  config/locales/early_years_teachers_practitioner.yml
Due: standard

Update copy
  app/views/early_years_teachers/practitioner/claims/how_we_use_your_information.html.erb
  app/views/early_years_teachers/practitioner/landing_page.html.erb
Due: none

add performance and discipline
  app/assets/stylesheets/components/button_to.scss
  app/forms/journeys/early_years_teachers/provider/manage_teachers_form.rb
  app/forms/journeys/early_years_teachers/provider/performance_and_discipline_form.rb
  app/forms/journeys/early_years_teachers/provider/provide_teacher_details_form.rb
  app/forms/journeys/early_years_teachers/provider/teacher_not_eligible_form.rb
  app/models/journeys/early_years_teachers/provider.rb
  app/models/journeys/early_years_teachers/provider/session_answers.rb
  app/models/journeys/early_years_teachers/provider/slug_sequence.rb
  app/views/early_years_teachers/provider/claims/_teacher_card.html.erb
  app/views/early_years_teachers/provider/claims/performance_and_discipline.html.erb
  app/views/early_years_teachers/provider/claims/provide_teacher_details.html.erb
  app/views/early_years_teachers/provider/claims/signed_out.html.erb
  app/views/early_years_teachers/provider/claims/teacher_not_eligible.html.erb
  config/locales/early_years_teachers_provider.yml
Due: prettier, standard

bump ruby version
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
Due: none

Don't count rejected claims against limit
  app/models/claim.rb
  app/models/journeys/early_years_payment/provider/authenticated/eligibility_checker.rb
  spec/models/journeys/early_years_payment/provider/authenticated/eligibility_checker_spec.rb
Due: standard

update copy for FE contract type
  app/forms/journeys/further_education_payments/contract_type_form.rb
Due: standard

CAPT-2502 Update route to teaching mappings
  lib/dqt/matchers/general.rb
  spec/factories/reports.rb
  spec/features/admin/admin_claim_tasks_update_with_dqt_api_spec.rb
  spec/features/combined_teacher_claim_journey_with_teacher_id_spec.rb
  spec/features/targeted_retention_incentives/eligible_paths_spec.rb
  spec/features/targeted_retention_incentives/ineligible_paths_spec.rb
  spec/forms/journeys/targeted_retention_incentive_payments/qualification_details_form_spec.rb
  spec/lib/dqt/matchers/general_spec.rb
  spec/lib/dqt/objects/teacher_spec.rb
  spec/models/automated_checks/claim_verifiers/qualifications_spec.rb
  spec/models/journeys/targeted_retention_incentive_payments/answers_presenter_spec.rb
  spec/models/journeys/targeted_retention_incentive_payments/slug_sequence_spec.rb
  spec/models/policies/targeted_retention_incentive_payments/dqt_record_spec.rb
  spec/models/reports/failed_qualification_claims_spec.rb
  spec/support/dqt_helpers.rb
Due: standard

Remove repeat applicant check column
  app/forms/admin/tasks/fe_repeat_applicant_check_form.rb
  app/models/automated_checks/claim_verifiers/fe_repeat_applicant_check.rb
  app/models/policies/further_education_payments/eligibility.rb
  app/models/policies/further_education_payments/eligible_fe_provider.rb
  config/analytics.yml
  db/migrate/20260209104655_drop_repeat_applicant_check_column.rb
  db/schema.rb
  spec/factories/policies/further_education_payments/eligibilities.rb
  spec/features/further_education_payments/providers/unverified_dashboard_spec.rb
  spec/forms/admin/claims_filter_form_spec.rb
  spec/forms/admin/tasks/fe_repeat_applicant_check_form_spec.rb
  spec/models/automated_checks/claim_verifiers/fe_repeat_applicant_check_spec.rb
  spec/models/claim_spec.rb
  spec/models/policies/further_education_payments/eligibility_spec.rb
  spec/models/policies/further_education_payments/eligible_fe_provider_spec.rb
Due: standard

only print decision agent name if present
  app/models/reports/failed_fe_provider_verification_v2.rb
Due: standard

format boolean in CSV
  app/models/reports/failed_fe_provider_verification_v2.rb
Due: standard

add FE year 2 failed provider check report
  app/jobs/reports_job.rb
  app/models/reports/failed_fe_provider_verification_v2.rb
  app/models/task.rb
  spec/factories/policies/further_education_payments/eligibilities.rb
  spec/models/reports/failed_fe_provider_verification_v2_spec.rb
Due: standard

make private methods private
  app/models/reports/failed_fe_provider_verification_v2.rb
Due: standard

redirect before setting form
  app/controllers/further_education_payments/providers/claims/verifications_controller.rb
Due: standard

QA report only selects approved claims
  app/models/reports/failed_fe_provider_verification_v2.rb
  spec/models/reports/failed_fe_provider_verification_v2_spec.rb
Due: standard

tweak QA failed provider verification report
  app/models/reports/failed_fe_provider_verification_v2.rb
  spec/models/reports/failed_fe_provider_verification_v2_spec.rb
Due: standard

upgrade postgresql16 package
  Dockerfile
Due: none

update copy STRI landing page
  app/views/targeted_retention_incentive_payments/landing_page.html.erb
Due: none

FE copy tweaks
  app/models/journeys/further_education_payments/courses_helper.rb
  app/views/further_education_payments/claims/eligible.html.erb
  app/views/further_education_payments/claims/select_provision.html.erb
  config/locales/further_education_payments.yml
  spec/features/admin/admin_view_full_claim_further_education_payments_spec.rb
  spec/features/further_education_payments/bypass_one_login_spec.rb
  spec/features/further_education_payments/change_answers_spec.rb
  spec/features/further_education_payments/claimed_last_year_spec.rb
  spec/features/further_education_payments/existing_one_login_spec.rb
  spec/features/further_education_payments/happy_js_path_spec.rb
  spec/features/further_education_payments/happy_path_spec.rb
  spec/features/further_education_payments/ineligible_paths_spec.rb
  spec/features/further_education_payments/jump_around_spec.rb
  spec/features/further_education_payments/one_login_resume_spec.rb
  spec/features/further_education_payments/one_login_without_idv_spec.rb
  spec/features/further_education_payments/previously_claimed_spec.rb
  spec/features/further_education_payments/variable_contract_spec.rb
  spec/forms/journeys/further_education_payments/teaching_hours_per_week_form_spec.rb
  spec/models/journeys/further_education_payments/answers_presenter_spec.rb
  spec/models/policies/further_education_payments/eligibility_admin_answers_presenter_spec.rb
Due: standard

CAPT-3267 - provider journey copy changes
  app/forms/further_education_payments/providers/claims/verification/continued_employment_form.rb
  app/views/further_education_payments/providers/claims/verifications/teaching_hours_per_week.html.erb
  config/locales/further_education_payments.yml
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
  spec/features/further_education_payments/providers/provider_verifying_with_claimant_courses_spec.rb
  spec/models/policies/further_education_payments/eligibility_admin_provider_answers_presenter_spec.rb
Due: standard

CAPT-3297 - claim without TRN skip DQT call
  app/jobs/claim_verifier_job.rb
  spec/jobs/claim_verifier_job_spec.rb
Due: standard
