Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{css,html,js,js.erb,json,md,scss}"
      run: rails prettier {staged_files}
      skip:
        - merge
        - rebase
    standard:
      glob: "*.rb"
      run: rails standard {staged_files}
      skip:
        - merge
        - rebase

Don't run bullet in CI
  config/environments/test.rb
Due: standard

CI tweaks
  .github/workflows/ci.yaml
  .rspec_parallel
  bin/test_splitter
Due: none

Cache classes
  config/environments/test.rb
Due: standard

Bump ruby
  .ruby-version
  Gemfile
  Gemfile.lock
Due: none

Fix HERB linter issues
  app/views/admin/claims/_allocations_form.html.erb
  app/views/admin/claims/index.html.erb
  app/views/admin/notes/_note.html.erb
  app/views/claims/_dqt_bypass.html.erb
  app/views/further_education_payments/claims/select_provision.html.erb
Due: none

Persist DQT data
  app/jobs/claim_verifier_job.rb
  app/models/automated_checks/claim_verifiers/identity.rb
  app/models/automated_checks/dqt_report_csv_to_records.rb
  lib/dqt/objects/teacher.rb
  spec/features/admin/admin_fraud_prevention_spec.rb
  spec/jobs/claim_verifier_job_spec.rb
  spec/lib/dqt/objects/teacher_spec.rb
  spec/models/automated_checks/claim_verifiers/identity_spec.rb
Due: standard

Remove compose files
  docker-compose.production.yml
  docker-compose.test.yml
Due: none

remove spring config
  config/spring.rb
Due: standard

upgrade to govuk 6.4.0
  Gemfile
  Gemfile.lock
  package.json
  yarn.lock
Due: prettier

refactor SQL query
  app/models/automated_checks/claim_verifiers/ey_qualification_check.rb
Due: standard

Remove before worker boot callback
  config/puma.rb
Due: standard

Bump omniauth rails
  Gemfile.lock
Due: none

Added write permissions to workflow
  .github/workflows/build-nocache.yml
Due: none

Merge pull request #4895 from DFE-Digital/2968-build-no-cache-permissions
  .github/workflows/build-nocache.yml
Due: none

EYTRP qual check stores results as note
  app/models/automated_checks/claim_verifiers/ey_qualification_check.rb
  lib/dqt/objects/teacher.rb
  spec/models/automated_checks/claim_verifiers/ey_qualification_check_spec.rb
Due: standard

Drop jbuilder
  Gemfile
  Gemfile.lock
  app/controllers/school_search_controller.rb
  app/views/school_search/create.json.jbuilder
Due: standard

Write award_amount to claims, mirroring down to eligibility
  app/forms/admin/amendment_form.rb
  app/forms/journeys/early_years_payment/provider/authenticated/check_your_answers_form.rb
  app/forms/journeys/early_years_teachers_financial_incentive_payments/check_your_answers_form.rb
  app/forms/journeys/get_a_teacher_relocation_payment/check_your_answers_form.rb
  app/models/amendment.rb
  app/models/base_policy.rb
  app/models/claim.rb
  app/models/claim_student_loan_details_updater.rb
  app/models/policies.rb
  app/models/policies/further_education_payments.rb
  app/models/policies/further_education_payments/eligibility.rb
  app/models/policies/student_loans.rb
  app/models/policies/student_loans/eligibility.rb
  app/models/policies/targeted_retention_incentive_payments.rb
  app/models/policies/targeted_retention_incentive_payments/eligibility.rb
  lib/tasks/fix_student_loan_repayment_amounts.rake
  spec/factories/claims.rb
  spec/features/admin/admin_amend_award_amount_limits_spec.rb
  spec/models/amendment_spec.rb
  spec/models/claim_award_amount_mirror_spec.rb
  spec/models/claim_spec.rb
  spec/models/claim_student_loan_details_updater_spec.rb
  spec/models/policies/further_education_payments/eligibility_admin_answers_presenter_spec.rb
  spec/models/policies_spec.rb
Due: standard

Read award_amount from the claims column
  app/controllers/admin/payroll_runs_controller.rb
  app/models/claim.rb
  spec/models/claim_award_amount_mirror_spec.rb
  spec/models/claim_spec.rb
Due: standard

WIP specs
  spec/factories/claims.rb
  spec/factories/policies/early_career_payments/eligibilities.rb
  spec/factories/policies/further_education_payments/eligibilities.rb
  spec/factories/policies/international_relocation_payments/eligibilities.rb
  spec/factories/policies/targeted_retention_incentive_payments/eligibilities.rb
  spec/factories/student_loans/eligibilities.rb
  spec/features/admin/admin_amend_award_amount_limits_spec.rb
  spec/features/admin/admin_amend_claim_spec.rb
  spec/features/admin/admin_payroll_runs_spec.rb
  spec/features/admin/admin_topup_claim_spec.rb
  spec/features/admin/admin_view_full_claim_early_years_payments_spec.rb
  spec/features/admin/admin_view_full_claim_further_education_payments_spec.rb
  spec/features/admin/admin_views_payment_spec.rb
  spec/features/admin/early_years_teachers_financial_incentive_payments/claim_tasks_index_spec.rb
  spec/features/admin/upload_slc_data_spec.rb
  spec/forms/admin/amendment_form_spec.rb
  spec/forms/form_spec.rb
  spec/helpers/admin/claims_helper_spec.rb
  spec/lib/tasks/fix_student_loan_repayment_amounts_spec.rb
  spec/mailers/payment_mailer_spec.rb
  spec/models/amendment_spec.rb
  spec/models/automated_checks/claim_verifiers/student_loan_amount_spec.rb
  spec/models/claim/claims_preventing_payment_finder_spec.rb
  spec/models/claim_award_amount_mirror_spec.rb
  spec/models/claim_student_loan_details_updater_spec.rb
  spec/models/further_education_payments/providers/claims/stats_spec.rb
  spec/models/payroll/projection_spec.rb
  spec/models/payroll_run_spec.rb
  spec/models/policies/early_years_payments/admin_claim_details_presenter_spec.rb
  spec/models/policies/student_loans/admin_tasks_presenter_spec.rb
  spec/models/policies/targeted_retention_incentive_payments/claim_personal_data_scrubber_spec.rb
  spec/models/reports/failed_fe_provider_verification_v2_spec.rb
  spec/models/reports/failed_provider_check_claims_spec.rb
  spec/requests/admin/admin_payroll_runs_spec.rb
  spec/support/claim_personal_data_scrubber_shared_examples.rb
Due: standard

use award delegate on claim
  app/forms/admin/amendment_form.rb
  app/helpers/admin/claims_helper.rb
  app/models/claim_student_loan_details_updater.rb
  app/models/policies/early_years_payments/admin_claim_details_presenter.rb
  lib/tasks/fix_student_loan_repayment_amounts.rake
  spec/features/admin/admin_amend_claim_spec.rb
  spec/features/admin/upload_slc_data_spec.rb
  spec/features/early_years_payment/provider/authenticated/happy_path_spec.rb
  spec/jobs/student_loan_amount_check_job_spec.rb
  spec/models/claim_student_loan_details_updater_spec-old.rb
  spec/models/claim_student_loan_details_updater_spec.rb
  spec/requests/admin/admin_amendments_spec.rb
Due: standard

2936 - Tests extra DB deployment from postgres module
  terraform/application/config/review.tfvars.json
  terraform/application/database.tf
  terraform/application/variables.tf
Due: prettier

handle addition of Claim#award_amount column
  app/models/claim.rb
  app/models/payroll/projection.rb
Due: standard

ignore false positive brakeman issue
  config/brakeman.ignore
Due: none

Migration add award_amount to claims table
  config/analytics_blocklist.yml
  db/migrate/20260804101500_add_award_amount_to_claims.rb
  db/schema.rb
Due: standard

amendment form also persists Claim#award_amount
  app/forms/admin/amendment_form.rb
  spec/forms/admin/amendment_form_spec.rb
Due: standard

Claim#award_amount reader proxies iff nil
  app/models/claim.rb
  spec/models/claim_spec.rb
Due: standard

claim submission also persists Claim#award_amount
  app/forms/journeys/early_years_payment/provider/authenticated/check_your_answers_form.rb
  app/forms/journeys/early_years_teachers_financial_incentive_payments/check_your_answers_form.rb
  app/forms/journeys/get_a_teacher_relocation_payment/check_your_answers_form.rb
  app/forms/journeys/targeted_retention_incentive_payments/check_your_answers_form.rb
  spec/forms/journeys/early_years_payment/provider/authenticated/check_your_answers_form_spec.rb
  spec/forms/journeys/early_years_teachers_financial_incentive_payments/check_your_answers_form_spec.rb
  spec/forms/journeys/further_education_payments/check_your_answers_form_spec.rb
  spec/forms/journeys/get_a_teacher_relocation_payment/check_your_answers_form_spec.rb
  spec/forms/journeys/targeted_retention_incentive_payments/check_your_answers_form_spec.rb
  spec/forms/journeys/teacher_student_loan_reimbursement/check_your_answers_form_spec.rb
Due: standard

use Claim#award_amount
  app/models/policies/early_years_teachers_financial_incentive_payments/eligibility_admin_answers_presenter.rb
  app/models/policies/further_education_payments/eligibility_admin_answers_presenter.rb
  app/models/policies/student_loans/admin_tasks_presenter.rb
Due: standard

use setter rather than write_attribute on Claim
  app/forms/journeys/early_years_teachers_financial_incentive_payments/check_your_answers_form.rb
Due: standard

Drop fix tslr claims rake task
  lib/tasks/fix_student_loan_repayment_amounts.rake
  spec/lib/tasks/fix_student_loan_repayment_amounts_spec.rb
Due: standard

Fix test suite for new AY
  app/models/policies/targeted_retention_incentive_payments.rb
  spec/features/admin/admin_claim_further_education_payments_spec.rb
  spec/features/admin/admin_fraud_prevention_spec.rb
  spec/features/backlink_spec.rb
  spec/features/combined_teacher_claim_journey_dependent_answers_spec.rb
  spec/features/combined_teacher_claim_journey_with_teacher_id_check_email_spec.rb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
  spec/features/hmrc_bank_validation_spec.rb
  spec/features/ineligible_student_loans_claims_spec.rb
  spec/features/tslr/tslr_claim_journey_with_teacher_id_spec.rb
  spec/models/automated_checks/claim_verifiers/employment_spec.rb
  spec/models/policies/targeted_retention_incentive_payments/test/teachers_pensions_service_generator_spec.rb
  spec/support/feature_helpers.rb
Due: standard

Validate bank changes with HMRC
  app/controllers/admin/amendments_controller.rb
  app/controllers/admin/tasks_controller.rb
  app/forms/admin/amendment_form.rb
  app/jobs/admin/claims/hmrc_validation_job.rb
  app/models/admin/hmrc_bank_verification_presenter.rb
  app/models/amendment.rb
  app/views/admin/tasks/_banner.html.erb
  spec/features/admin/admin_amend_claim_bank_details_spec.rb
  spec/features/admin/admin_amend_claim_spec.rb
  spec/features/admin/admin_claim_with_inconsistent_payroll_information_spec.rb
  spec/jobs/admin/claims/hmrc_validation_job_spec.rb
  spec/models/admin/hmrc_bank_verification_presenter_spec.rb
  spec/requests/admin/admin_amendments_spec.rb
Due: standard

Add time out to HMRC validation job
  app/jobs/admin/claims/hmrc_validation_job.rb
  lib/hmrc/client.rb
  spec/jobs/admin/claims/hmrc_validation_job_spec.rb
  spec/lib/hmrc/client_spec.rb
Due: standard

Extract an object for banner messages
  app/controllers/admin/tasks_controller.rb
  app/views/admin/tasks/_banner.html.erb
  app/views/admin/tasks/index.html.erb
  spec/views/admin/tasks/index.html.erb_spec.rb
Due: standard
