Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{css,html,js,js.erb,json,md,scss}"
      run: rails prettier {staged_files}
      skip:
        - merge
        - rebase
    standard:
      glob: "*.rb"
      run: rails standard {staged_files}
      skip:
        - merge
        - rebase

Block approval until claimant check passed
  app/models/claim.rb
  app/models/task.rb
  app/views/admin/decisions/_decision_form.html.erb
  spec/features/admin/tasks/claimant_flagged_task_spec.rb
  spec/models/claim_spec.rb
Due: standard

increase prod web instances 2 => 4
  terraform/application/config/production.tfvars.json
Due: prettier

rename admin tab Reports => QA Reports
  app/helpers/application_helper.rb
  app/views/admin/reports/index.html.erb
Due: standard

Update _ineligible_employed_by_another_organisation.html.erb
  app/views/further_education_payments/claims/_ineligible_employed_by_another_organisation.html.erb
  spec/features/further_education_payments/ineligible_paths_spec.rb
Due: standard

Update azurerm and terraform versions
  .github/actions/deploy-environment/action.yml
  .github/workflows/ci.yaml
  .tool-versions
  global_config/domains.sh
  global_config/production.sh
  global_config/review.sh
  global_config/test.sh
  terraform/application/terraform.tf
  terraform/domains/environment_domains/terraform.tf
  terraform/domains/infrastructure/terraform.tf
Due: none

fix domains steps in build-and-deploy wf
  .github/workflows/build_and_deploy.yml
Due: none

Update _ineligible_teaching_less_than_2_5.html.erb
  app/views/further_education_payments/claims/_ineligible_teaching_less_than_2_5.html.erb
Due: none

Courses page text change
  app/forms/journeys/further_education_payments/chemistry_courses_form.rb
  config/locales/further_education_payments.yml
Due: standard

Remove "for your work"
  config/locales/further_education_payments.yml
  spec/features/further_education_payments/ineligible_paths_spec.rb
Due: standard

temporarily disable data deletion
  .standard.yml
  app/jobs/delete_personal_data_from_old_claims_job.rb
  spec/jobs/delete_personal_data_from_old_claims_job_spec.rb
Due: standard

increase worker count 2 => 4
  terraform/application/config/production.tfvars.json
Due: prettier

Update information_provided.html.erb
  app/views/claims/information_provided.html.erb
Due: none

Update Which early years do you teach content
  app/models/journeys/further_education_payments/courses_helper.rb
  spec/models/journeys/further_education_payments/answers_presenter_spec.rb
Due: standard

copy tweak TSLR landing page
  app/views/student_loans/landing_page.html.erb
Due: none

Forward service access code
  app/views/targeted_retention_incentive_payments/landing_page.html.erb
Due: none

Update admin panel text
  app/views/admin/tasks/claimant_check.html.erb
  config/locales/admin.yml
  spec/features/admin/tasks/claimant_flagged_task_spec.rb
  spec/support/admin_checks_feature_shared_examples.rb
  spec/support/admin_view_claim_feature_shared_examples.rb
Due: standard

Handle provider check task not being persisted
  app/models/claim.rb
  app/models/policies/claim_checking_tasks.rb
  app/models/task.rb
  app/views/admin/decisions/_decision_form.html.erb
  spec/features/admin/tasks/further_education_payments/flagged_provider_spec.rb
  spec/models/claim_spec.rb
Due: standard

Adds provider flagging
  app/controllers/admin/further_education_payments/flagged_providers_csvs_controller.rb
  app/controllers/admin/journey_configurations_controller.rb
  app/forms/admin/further_education_payments/flagged_providers_csv_form.rb
  app/models/policies/further_education_payments/claim_checking_tasks.rb
  app/models/policies/further_education_payments/eligible_fe_provider.rb
  app/models/policies/further_education_payments/provider_flag.rb
  app/models/task.rb
  app/views/admin/journey_configurations/_edit_further_education_payments.html.erb
  app/views/admin/tasks/fe_provider_check.html.erb
  config/analytics.yml
  config/locales/admin.yml
  config/routes.rb
  db/migrate/20260210120236_create_policies_further_education_payments_provider_flags.rb
  db/schema.rb
  spec/factories/policies/further_education_payments/eligible_fe_providers.rb
  spec/factories/policies/further_education_payments/provider_flags.rb
  spec/features/admin/tasks/further_education_payments/flagged_provider_spec.rb
  spec/fixtures/files/provider_flags.csv
  spec/forms/admin/further_education_payments/flagged_providers_csv_form_spec.rb
  spec/models/policies/further_education_payments/claim_checking_tasks_spec.rb
Due: standard

Remove academic year from flags
  app/forms/admin/further_education_payments/flagged_providers_csv_form.rb
  app/models/policies/further_education_payments/provider_flag.rb
  config/analytics.yml
  db/migrate/20260226153053_remove_academic_year_from_fe_provider_flags.rb
  db/schema.rb
  spec/factories/policies/further_education_payments/provider_flags.rb
Due: standard

Store flag on task
  app/models/automated_checks/claim_verifiers/provider_check.rb
  app/models/policies/further_education_payments.rb
  app/models/policies/further_education_payments/claim_checking_tasks.rb
  app/models/policies/further_education_payments/eligible_fe_provider.rb
  spec/forms/admin/further_education_payments/flagged_providers_csv_form_spec.rb
  spec/models/automated_checks/claim_verifier_spec.rb
  spec/models/further_education_payments_spec.rb
  spec/models/policies/further_education_payments/claim_checking_tasks_spec.rb
Due: standard

Fix error messages
  app/controllers/admin/further_education_payments/flagged_providers_csvs_controller.rb
  app/models/policies/further_education_payments/provider_flag.rb
Due: standard

Update _ineligible_must_at_least_half_hours_teaching_fe.html.erb
  app/views/further_education_payments/claims/_ineligible_must_at_least_half_hours_teaching_fe.html.erb
Due: none

Update provider flagging copy
  app/views/admin/tasks/fe_provider_check.html.erb
  config/locales/admin.yml
  spec/features/admin/tasks/further_education_payments/flagged_provider_spec.rb
Due: standard

Update _ineligible_must_at_least_half_hours_teaching_fe.html.erb
  app/models/journeys/further_education_payments/courses_helper.rb
  app/views/further_education_payments/claims/_ineligible_must_at_least_half_hours_teaching_fe.html.erb
  app/views/further_education_payments/claims/further_education_provision_search.html.erb
  spec/features/further_education_payments/ineligible_paths_spec.rb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
  spec/models/journeys/further_education_payments/answers_presenter_spec.rb
Due: standard

CAPT-3295 - Update FE rejection reasons and emails
  app/forms/admin/decision_form.rb
  app/mailers/application_mailer.rb
  app/mailers/claim_mailer.rb
  app/models/policies/further_education_payments.rb
  config/locales/admin.yml
  spec/features/admin/admin_reject_claim_spec.rb
  spec/mailers/claim_mailer_spec.rb
Due: standard

touch
  README.md
Due: prettier

Don't allow approving fe/tri/loans claims
  app/models/policies/further_education_payments.rb
  app/models/policies/student_loans.rb
  app/models/policies/targeted_retention_incentive_payments.rb
Due: standard

CAPT-3359
  app/views/further_education_payments/claims/confirmation.html.erb
Due: none

copy tweak FE remove link from eligible page
  app/views/further_education_payments/claims/eligible.html.erb
Due: none

Remove dropdown on FE page
  app/views/further_education_payments/claims/further_education_provision_search.html.erb
Due: none

Update further_education_provision_search.html.erb
  app/views/further_education_payments/claims/further_education_provision_search.html.erb
Due: none
