Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{css,html,js,js.erb,json,md,scss}"
      run: rails prettier {staged_files}
      skip:
        - merge
        - rebase
    standard:
      glob: "*.rb"
      run: rails standard {staged_files}
      skip:
        - merge
        - rebase

track new OL header package rather than git
  app/assets/javascripts/application.js
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/components/overrides.scss
  package.json
  yarn.lock
Due: prettier

Don't count rejected claims against limit
  app/models/claim.rb
  app/models/journeys/early_years_payment/provider/authenticated/eligibility_checker.rb
  spec/models/journeys/early_years_payment/provider/authenticated/eligibility_checker_spec.rb
Due: standard

Update copy
  app/views/early_years_teachers/practitioner/claims/how_we_use_your_information.html.erb
  app/views/early_years_teachers/practitioner/landing_page.html.erb
Due: none

update copy FE contract type hint
  app/forms/journeys/further_education_payments/contract_type_form.rb
Due: standard

CAPT-3155: Remove support tickets functionality (#4331)
  app/controllers/admin/support_tickets_controller.rb
  app/models/claim.rb
  app/models/support_ticket.rb
  app/views/admin/notes/index.html.erb
  app/views/admin/support_tickets/_widget.html.erb
  config/analytics.yml
  config/routes.rb
  db/migrate/20260129172243_migrate_support_tickets_to_notes.rb
  db/schema.rb
  db/test_seeders/base_importer.rb
  spec/factories/claims.rb
  spec/factories/support_tickets.rb
  spec/features/admin/admin_claim_support_tickets_spec.rb
  spec/models/claim_spec.rb
  spec/models/support_ticket_spec.rb
  spec/requests/admin/admin_support_tickets_spec.rb
Due: standard

Reinstate Zendesk search links
  app/views/admin/notes/index.html.erb
Due: none

CAPT-3155: Reinstate Zendesk search links (#4334)
  app/views/admin/notes/index.html.erb
Due: none

enable fe_provider_dashboard feature flag in seeds
  db/seeds.rb
Due: standard

feature flag to toggle fe provider dashboard
  app/controllers/admin/feature_flags_controller.rb
  app/controllers/admin/journey_configurations_controller.rb
  app/forms/admin/feature_flags_form.rb
  app/views/admin/journey_configurations/_edit_further_education_payments.html.erb
  config/routes.rb
  spec/features/admin/configure_services_spec.rb
Due: standard

plumb fe_provider_dashboard feature flag
  app/controllers/further_education_payments/providers/base_controller.rb
  app/views/further_education_payments/providers/closed.html.erb
  spec/features/further_education_payments/providers/provider_verification_access_spec.rb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
  spec/features/further_education_payments/providers/provider_verifying_with_claimant_courses_spec.rb
  spec/features/further_education_payments/providers/sessions_spec.rb
  spec/features/further_education_payments/providers/status_and_processed_by_spec.rb
  spec/features/further_education_payments/providers/unverified_dashboard_spec.rb
  spec/features/further_education_payments/providers/verified_claim_spec.rb
  spec/features/further_education_payments/providers/verified_dashboard_spec.rb
Due: standard

STRI awards generator returns unique schools
  app/models/policies/targeted_retention_incentive_payments/test/stri_awards_generator.rb
  spec/models/policies/targeted_retention_incentive_payments/test/stri_awards_generator_spec.rb
Due: standard

seed persona data in review apps
  app/models/policies/targeted_retention_incentive_payments/test/school_workforce_census_generator.rb
  app/models/policies/targeted_retention_incentive_payments/test/stri_awards_generator.rb
  app/models/policies/targeted_retention_incentive_payments/test/teachers_pensions_service_generator.rb
  app/models/policies/targeted_retention_incentive_payments/test/user_persona.rb
  db/seeds.rb
  spec/models/policies/targeted_retention_incentive_payments/test/school_workforce_census_generator_spec.rb
  spec/models/policies/targeted_retention_incentive_payments/test/stri_awards_generator_spec.rb
  spec/models/policies/targeted_retention_incentive_payments/test/teachers_pensions_service_generator_spec.rb
  spec/models/policies/targeted_retention_incentive_payments/test/user_persona_spec.rb
Due: standard

school importer now idempotent
  app/models/policies/targeted_retention_incentive_payments/test/school_importer.rb
  spec/models/policies/targeted_retention_incentive_payments/test/school_importer_spec.rb
Due: standard

persona award data for current academic year
  app/models/policies/targeted_retention_incentive_payments/test/stri_awards_generator.rb
Due: standard

seed student loans test personas
  app/models/policies/student_loans/test/school_importer.rb
  app/models/policies/student_loans/test/user_persona.rb
  db/seeds.rb
  spec/models/policies/student_loans/test/school_importer_spec.rb
  spec/models/policies/student_loans/test/user_persona_spec.rb
  spec/personas/student_loans.csv
Due: standard

Remove TRN from FE journey
  app/forms/journeys/further_education_payments/teacher_reference_number_form.rb
  app/models/journeys/further_education_payments/answers_presenter.rb
  app/models/journeys/further_education_payments/slug_sequence.rb
  app/views/further_education_payments/providers/claims/verifications/_claim_summary.html.erb
  app/views/further_education_payments/providers/claims/verifications/_collapsible_claim_details.html.erb
  app/views/further_education_payments/providers/verified_claims/_employment_check_failed.html.erb
  app/views/further_education_payments/providers/verified_claims/_verified.html.erb
  config/locales/further_education_payments.yml
  spec/features/accessing_closed_service_spec.rb
  spec/features/further_education_payments/change_answers_spec.rb
  spec/features/further_education_payments/claimed_last_year_spec.rb
  spec/features/further_education_payments/existing_one_login_spec.rb
  spec/features/further_education_payments/happy_js_path_spec.rb
  spec/features/further_education_payments/happy_path_spec.rb
  spec/features/further_education_payments/one_login_without_idv_spec.rb
  spec/features/further_education_payments/previously_claimed_spec.rb
  spec/features/further_education_payments/providers/provider_verification_access_spec.rb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
  spec/features/further_education_payments/providers/provider_verifying_with_claimant_courses_spec.rb
  spec/features/further_education_payments/variable_contract_spec.rb
  spec/features/journey_session_expiry_spec.rb
  spec/forms/journeys/further_education_payments/teacher_reference_number_form_spec.rb
  spec/support/steps/further_education_journey.rb
Due: standard

Update decision and payment copy for schools
  app/forms/journeys/confirmation_form.rb
  app/views/student_loans/claims/confirmation.html.erb
  app/views/submissions/_confirmation.html.erb
  app/views/targeted_retention_incentive_payments/claims/confirmation.html.erb
Due: standard

Add interface methods
  app/models/base_policy.rb
  app/models/policies/early_years_payments.rb
  app/models/policies/further_education_payments.rb
Due: standard

increase TSLR claim window 11 => 12 years
  app/models/policies/student_loans.rb
  spec/features/ineligible_student_loans_claims_spec.rb
  spec/models/journeys/teacher_student_loan_reimbursement/answers_presenter_spec.rb
  spec/models/policies/student_loans/admin_tasks_presenter_spec.rb
  spec/models/policies/student_loans/dqt_record_spec.rb
  spec/models/policies/student_loans/eligibility_admin_answers_presenter_spec.rb
  spec/models/policies/student_loans/presenter_methods_spec.rb
  spec/models/student_loans_spec.rb
Due: standard

Copy update
  config/locales/further_education_payments.yml
  spec/features/admin/admin_view_full_claim_further_education_payments_spec.rb
  spec/features/further_education_payments/bypass_one_login_spec.rb
  spec/features/further_education_payments/change_answers_spec.rb
  spec/features/further_education_payments/claimed_last_year_spec.rb
  spec/features/further_education_payments/existing_one_login_spec.rb
  spec/features/further_education_payments/happy_js_path_spec.rb
  spec/features/further_education_payments/happy_path_spec.rb
  spec/features/further_education_payments/ineligible_paths_spec.rb
  spec/features/further_education_payments/jump_around_spec.rb
  spec/features/further_education_payments/one_login_resume_spec.rb
  spec/features/further_education_payments/one_login_without_idv_spec.rb
  spec/features/further_education_payments/previously_claimed_spec.rb
  spec/features/further_education_payments/variable_contract_spec.rb
  spec/features/journey_session_expiry_spec.rb
  spec/models/journeys/further_education_payments/answers_presenter_spec.rb
  spec/models/policies/further_education_payments/eligibility_admin_answers_presenter_spec.rb
Due: standard

Block approval until claimant check passed
  app/models/claim.rb
  app/models/task.rb
  app/views/admin/decisions/_decision_form.html.erb
  spec/features/admin/tasks/claimant_flagged_task_spec.rb
  spec/models/claim_spec.rb
Due: standard

Add some instructions to the CSV upload page
  app/views/admin/claimant_flags_csv_uploads/new.html.erb
Due: none

Add ability to download flags csv
  app/controllers/admin/claimant_flags_csv_downloads_controller.rb
  app/views/admin/claimant_flags_csv_uploads/new.html.erb
  config/routes.rb
  spec/features/admin/tasks/claimant_flagged_task_spec.rb
Due: standard

Add claimant flagging mechanisim
  app/controllers/admin/claimant_flags_csv_uploads_controller.rb
  app/forms/admin/claimant_flags_csv_upload_form.rb
  app/models/automated_checks/claim_verifiers/claimant_check.rb
  app/models/claimant_flag.rb
  app/models/policies/further_education_payments.rb
  app/models/policies/further_education_payments/claim_checking_tasks.rb
  app/models/task.rb
  app/models/tasks.rb
  app/views/admin/claimant_flags_csv_uploads/new.html.erb
  app/views/admin/claims/index.html.erb
  app/views/admin/tasks/claimant_check.html.erb
  config/analytics.yml
  config/analytics_blocklist.yml
  config/locales/admin.yml
  config/routes.rb
  db/migrate/20260203152342_create_claimant_flags.rb
  db/schema.rb
  spec/factories/claimant_flags.rb
  spec/features/admin/tasks/claimant_flagged_task_spec.rb
  spec/fixtures/files/claimant_flagging.csv
  spec/forms/admin/claimant_flags_csv_upload_form_spec.rb
  spec/models/automated_checks/claim_verifiers/claimant_check_spec.rb
  spec/models/further_education_payments_spec.rb
  spec/models/tasks_spec.rb
Due: standard

decrease FE SLA 25 => 19 weeks
  app/models/policies/further_education_payments.rb
  spec/features/admin/admin_view_full_claim_further_education_payments_spec.rb
  spec/models/policies/further_education_payments_spec.rb
Due: standard

update reminder confirmation copy
  app/views/reminders/confirmation.html.erb
Due: none

copy for year is now dynamic
  app/views/targeted_retention_incentive_payments/claims/check_eligibility_intro.html.erb
Due: none

Add /testdata page for downloading test persona and generated CSV files
  app/controllers/test_data_controller.rb
  app/views/layouts/test_data.html.erb
  app/views/test_data/index.html.erb
  config/routes.rb
  spec/requests/test_data_spec.rb
Due: standard

Update brakeman config
  config/brakeman.ignore
Due: none

copy update FE select provision criteria
  app/views/further_education_payments/claims/select_provision.html.erb
Due: none

CAPT-3036: Web page to download test data (#4350)
  app/controllers/test_data_controller.rb
  app/views/layouts/test_data.html.erb
  app/views/test_data/index.html.erb
  config/brakeman.ignore
  config/routes.rb
  spec/requests/test_data_spec.rb
Due: standard

persist decision deadline on submission
  app/forms/journeys/early_years_payment/practitioner/check_your_answers_form.rb
  app/forms/journeys/further_education_payments/check_your_answers_form.rb
  app/forms/journeys/get_a_teacher_relocation_payment/check_your_answers_form.rb
  app/forms/journeys/targeted_retention_incentive_payments/check_your_answers_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/check_your_answers_form.rb
Due: standard

Claim#decision_deadline uses db value if present
  app/models/claim.rb
  spec/models/claim_spec.rb
Due: standard

point to Claim#decision_deadline shim
  app/helpers/admin/claims_helper.rb
  app/models/admin/my_claims.rb
  app/models/admin/task_list_form.rb
  app/models/policies/early_years_payments/admin_claim_details_presenter.rb
  app/views/admin/claims/index.html.erb
  app/views/admin/my_claims/show.html.erb
  app/views/admin/task_lists/index.html.erb
  app/views/admin/tasks/_claim_summary.html.erb
  app/views/admin/tasks/_claim_summary_early_years_payments.html.erb
  app/views/admin/tasks/_claim_summary_further_education_payments.html.erb
  app/views/admin/tasks/_claim_summary_international_relocation_payments.html.erb
Due: standard

call super instead or read_attribute
  app/models/claim.rb
Due: standard
