Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{css,html,js,js.erb,json,md,scss}"
      run: rails prettier {staged_files}
      skip:
        - merge
        - rebase
    standard:
      glob: "*.rb"
      run: rails standard {staged_files}
      skip:
        - merge
        - rebase

data migration persists FE repeat applicant check
  db/data/20260722095905_persist_task_fe_repeat_applicant.rb
Due: standard

Add payroll projection
  app/controllers/admin/payroll_projections_controller.rb
  app/models/payroll/projection.rb
  app/views/admin/payroll_projections/show.html.erb
  app/views/admin/payroll_runs/index.html.erb
  config/routes.rb
  spec/models/payroll/projection_spec.rb
Due: standard

128 - Give staging its own session cookie key
  config/initializers/session_store.rb
Due: standard

2855 - Adds review app deletion workflow
  .github/workflows/review-app-reconcile.yml
Due: none

Use parallel tests
  .github/workflows/ci.yaml
  spec/features/student_loans_claim_spec.rb
Due: standard

Test increasing number of ci runners
  .github/workflows/ci.yaml
Due: none

Split FE specs
  bin/test_splitter
  spec/features/further_education_payments/change_answers/after_eligibility_check_with_side_effects_answers_new_questions_then_redirects_back_to_check_answers_spec.rb
  spec/features/further_education_payments/change_answers/for_eligibility_check_with_side_effects_answers_new_questions_then_redirects_back_to_check_answers_spec.rb
  spec/features/further_education_payments/change_answers/without_side_effects_redirects_back_to_check_answers_spec.rb
  spec/features/further_education_payments/change_answers_spec.rb
  spec/features/further_education_payments/ineligible_paths/when_closed_fe_provider_selected_spec.rb
  spec/features/further_education_payments/ineligible_paths/when_contract_type_is_employed_by_another_organisation_spec.rb
  spec/features/further_education_payments/ineligible_paths/when_fixed_term_contract_and_has_not_taught_one_term_spec.rb
  spec/features/further_education_payments/ineligible_paths/when_fixed_term_contract_and_has_not_teaching_2_5_hours_spec.rb
  spec/features/further_education_payments/ineligible_paths/when_fixed_term_contract_and_not_enough_hours_spec.rb
  spec/features/further_education_payments/ineligible_paths/when_ineligible_fe_provider_is_selected_spec.rb
  spec/features/further_education_payments/ineligible_paths/when_ineligible_fe_provider_is_selected_with_js_spec.rb
  spec/features/further_education_payments/ineligible_paths/when_lacking_subjects_spec.rb
  spec/features/further_education_payments/ineligible_paths/when_lacks_teaching_qualification_and_no_enrol_plan_spec.rb
  spec/features/further_education_payments/ineligible_paths/when_less_that_50_teaching_hours_to_fe_spec.rb
  spec/features/further_education_payments/ineligible_paths/when_no_teaching_responsibilities_spec.rb
  spec/features/further_education_payments/ineligible_paths/when_not_a_recent_fe_teacher_spec.rb
  spec/features/further_education_payments/ineligible_paths/when_permanent_contract_and_not_enough_hours_spec.rb
  spec/features/further_education_payments/ineligible_paths/when_teacher_is_subject_to_disciplinary_action_spec.rb
  spec/features/further_education_payments/ineligible_paths/when_teacher_is_subject_to_performance_measures_spec.rb
  spec/features/further_education_payments/ineligible_paths/when_teacher_spends_less_than_half_hours_teaching_eligible_courses_spec.rb
  spec/features/further_education_payments/ineligible_paths/when_teaches_non_eligible_course_in_applicable_subject_area_spec.rb
  spec/features/further_education_payments/ineligible_paths/when_the_claimant_has_already_submitted_a_claim_spec.rb
  spec/features/further_education_payments/ineligible_paths/when_variable_contract_and_just_one_academic_term_taught_spec.rb
  spec/features/further_education_payments/ineligible_paths/when_variable_contract_and_not_enough_hours_spec.rb
  spec/features/further_education_payments/ineligible_paths_spec.rb
  spec/features/further_education_payments/jump_around/changing_answer_on_a_previous_page_that_maintains_pathway_spec.rb
  spec/features/further_education_payments/jump_around/changing_subjects_spec.rb
  spec/features/further_education_payments/jump_around/postcode_search_address_and_selects_a_result_spec.rb
  spec/features/further_education_payments/jump_around/postcode_search_address_but_result_not_in_list_spec.rb
  spec/features/further_education_payments/jump_around/visiting_impermissible_slug_redirects_back_to_last_permissible_slug_spec.rb
  spec/features/further_education_payments/jump_around_spec.rb
Due: standard

Trigger dry run on push
  .github/workflows/review-app-reconcile.yml
Due: none

Corrected branch reference
  .github/workflows/review-app-reconcile.yml
Due: none

Persist claim match data
  app/controllers/admin/claims_controller.rb
  app/controllers/admin/decisions_controller.rb
  app/controllers/admin/tasks_controller.rb
  app/forms/admin/amendment_form.rb
  app/forms/journeys/early_years_payment/practitioner/check_your_answers_form.rb
  app/forms/journeys/early_years_payment/provider/authenticated/check_your_answers_form.rb
  app/forms/journeys/early_years_teachers_financial_incentive_payments/check_your_answers_form.rb
  app/forms/journeys/further_education_payments/check_your_answers_form.rb
  app/forms/journeys/get_a_teacher_relocation_payment/check_your_answers_form.rb
  app/forms/journeys/targeted_retention_incentive_payments/check_your_answers_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/check_your_answers_form.rb
  app/models/amendment.rb
  app/models/claim/scrubber.rb
  app/models/claims/match.rb
  app/models/policies/claim_checking_tasks.rb
  app/models/policies/further_education_payments.rb
  app/models/reports/duplicate_claims.rb
  app/views/admin/claims/_claims_with_matching_details.html.erb
  app/views/admin/claims/policies/early_career_payments/_claim.html.erb
  app/views/admin/claims/policies/early_years_payments/_claim.html.erb
  app/views/admin/claims/policies/early_years_teachers_financial_incentive_payments/_claim.html.erb
  app/views/admin/claims/policies/further_education_payments/_claim.html.erb
  app/views/admin/claims/policies/international_relocation_payments/_claim.html.erb
  app/views/admin/claims/policies/student_loans/_claim.html.erb
  app/views/admin/claims/policies/targeted_retention_incentive_payments/_claim.html.erb
  app/views/admin/tasks/matching_details.html.erb
  config/analytics.yml
  db/migrate/20260105151259_create_claims_match.rb
  db/migrate/20260105160335_add_matching_attributes_last_checked_at_to_claims.rb
  db/migrate/20260105160823_add_resolved_at_to_claims_matches.rb
  db/schema.rb
  spec/factories/payments.rb
  spec/features/admin/admin_claim_check_spec.rb
  spec/features/admin/admin_ey_tasks_spec.rb
  spec/models/claims/match_spec.rb
  spec/models/policies/further_education_payments/claim_checking_tasks_spec.rb
  spec/models/reports/duplicate_claims_spec.rb
  spec/models/reports/failed_qualification_claims_spec.rb
Due: standard

Remove resolved_at
  app/models/claims/match.rb
  config/analytics.yml
  db/migrate/20260615140306_remove_resolved_at_from_claims_matches.rb
  db/schema.rb
Due: standard

Use claim verifier
  app/forms/admin/amendment_form.rb
  app/forms/journeys/early_years_payment/practitioner/check_your_answers_form.rb
  app/forms/journeys/early_years_payment/provider/authenticated/check_your_answers_form.rb
  app/forms/journeys/early_years_teachers_financial_incentive_payments/check_your_answers_form.rb
  app/forms/journeys/further_education_payments/check_your_answers_form.rb
  app/forms/journeys/get_a_teacher_relocation_payment/check_your_answers_form.rb
  app/forms/journeys/targeted_retention_incentive_payments/check_your_answers_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/check_your_answers_form.rb
  app/models/amendment.rb
  app/models/automated_checks/claim_verifiers/matching_claims.rb
  app/models/claim/scrubber.rb
  app/models/claims/match.rb
  app/models/policies/early_career_payments.rb
  app/models/policies/early_years_payments.rb
  app/models/policies/early_years_teachers_financial_incentive_payments.rb
  app/models/policies/further_education_payments.rb
  app/models/policies/international_relocation_payments.rb
  app/models/policies/student_loans.rb
  app/models/policies/targeted_retention_incentive_payments.rb
  spec/models/automated_checks/claim_verifier_spec.rb
  spec/models/early_career_payments_spec.rb
  spec/models/further_education_payments_spec.rb
  spec/models/policies/early_years_teachers_financial_incentive_payments_spec.rb
  spec/models/student_loans_spec.rb
  spec/models/targeted_retention_incentive_payments_spec.rb
Due: standard

Fix some specs
  spec/factories/payments.rb
  spec/features/admin/admin_views_payment_spec.rb
  spec/models/payroll/payment_csv_row_spec.rb
Due: standard

Flag completed
  app/models/task.rb
Due: standard

Add spec for edge case scenario
  spec/features/admin/admin_duplicate_claims_task_spec.rb
Due: standard

Handle reopening claim edge case
  app/forms/admin/undo_decision_form.rb
  spec/features/admin/admin_duplicate_claims_task_spec.rb
Due: standard

Persist matching details tasks
  app/models/automated_checks/claim_verifiers/matching_claims.rb
  app/models/claims/match.rb
  app/models/policies/early_career_payments/claim_checking_tasks.rb
  app/models/policies/early_years_payments/claim_checking_tasks.rb
  app/models/policies/early_years_teachers_financial_incentive_payments/claim_checking_tasks.rb
  app/models/policies/further_education_payments/claim_checking_tasks.rb
  app/models/policies/international_relocation_payments/claim_checking_tasks.rb
  app/models/policies/student_loans/claim_checking_tasks.rb
  app/models/policies/targeted_retention_incentive_payments/claim_checking_tasks.rb
  app/models/task.rb
  app/views/admin/tasks/matching_details.html.erb
  spec/features/admin/admin_claim_with_matching_details_spec.rb
  spec/features/admin/admin_duplicate_claims_task_spec.rb
  spec/models/automated_checks/claim_verifiers/matching_claims_spec.rb
Due: standard

Back fill matches and persist tasks
  app/jobs/backfill_matching_details_task.rb
Due: standard

Add shim
  app/models/policies/claim_checking_tasks.rb
  app/models/policies/early_career_payments/claim_checking_tasks.rb
  app/models/policies/early_years_payments/claim_checking_tasks.rb
  app/models/policies/early_years_teachers_financial_incentive_payments/claim_checking_tasks.rb
  app/models/policies/further_education_payments/claim_checking_tasks.rb
  app/models/policies/international_relocation_payments/claim_checking_tasks.rb
  app/models/policies/student_loans/claim_checking_tasks.rb
  app/models/policies/targeted_retention_incentive_payments/claim_checking_tasks.rb
  spec/factories/claims.rb
  spec/models/automated_checks/claim_verifiers/matching_claims_spec.rb
Due: standard

Refactor task matching
  app/models/automated_checks/claim_verifiers/matching_claims.rb
  spec/models/automated_checks/claim_verifiers/matching_claims_spec.rb
  spec/models/payment_confirmation_upload_spec.rb
Due: standard

FeatureFlag persisting tasks
  app/models/automated_checks/claim_verifiers/matching_claims.rb
Due: standard

Feature flag using persisted matching claims
  app/models/policies/early_career_payments/claim_checking_tasks.rb
  app/models/policies/early_years_payments/claim_checking_tasks.rb
  app/models/policies/early_years_teachers_financial_incentive_payments/claim_checking_tasks.rb
  app/models/policies/further_education_payments/claim_checking_tasks.rb
  app/models/policies/international_relocation_payments/claim_checking_tasks.rb
  app/models/policies/student_loans/claim_checking_tasks.rb
  app/models/policies/targeted_retention_incentive_payments/claim_checking_tasks.rb
  spec/features/admin/admin_duplicate_claims_task_spec.rb
Due: standard

Skip shim if on task list page
  app/models/policies/claim_checking_tasks.rb
Due: standard

Fix non deterministic spec.
  spec/features/admin/approvals_spec.rb
Due: standard

Enable the feature for the whole suite
  spec/rails_helper.rb
Due: standard

wip
  app/controllers/admin/claims_controller.rb
  app/controllers/admin/decisions_controller.rb
  app/controllers/admin/tasks_controller.rb
  app/models/automated_checks/claim_verifiers/matching_claims.rb
  app/models/claims/match.rb
  app/views/admin/claims/_claims_with_matching_details.html.erb
  app/views/admin/claims/policies/early_career_payments/_claim.html.erb
  app/views/admin/claims/policies/early_years_payments/_claim.html.erb
  app/views/admin/claims/policies/early_years_teachers_financial_incentive_payments/_claim.html.erb
  app/views/admin/claims/policies/further_education_payments/_claim.html.erb
  app/views/admin/claims/policies/international_relocation_payments/_claim.html.erb
  app/views/admin/claims/policies/student_loans/_claim.html.erb
  app/views/admin/claims/policies/targeted_retention_incentive_payments/_claim.html.erb
  app/views/admin/tasks/matching_details.html.erb
  spec/features/admin/admin_duplicate_claims_task_spec.rb
  spec/models/automated_checks/claim_verifiers/matching_claims_spec.rb
Due: standard

2855 - Removes unused tf-file variable
  .github/workflows/review-app-reconcile.yml
Due: none

Upgrades review and test postgres to v17
  Makefile
  terraform/application/config/review.tfvars.json
  terraform/application/config/test.tfvars.json
  terraform/application/database.tf
  terraform/application/variables.tf
Due: prettier

close date time
  app/controllers/admin/journey_configurations_controller.rb
  app/views/admin/journey_configurations/_reminder_warning.html.erb
  app/views/admin/journey_configurations/edit.html.erb
Due: standard

Upgrades staging database to postgres v17
  terraform/application/config/staging.tfvars.json
Due: prettier

Add validations to test the path
  app/controllers/admin/journey_configurations_controller.rb
  app/models/journeys/configuration.rb
  app/views/admin/journey_configurations/edit.html.erb
  spec/features/admin/configure_services_spec.rb
  spec/models/journeys/configuration_spec.rb
  spec/requests/admin/admin_configure_services_spec.rb
Due: standard

data migration to persist employment task
  db/data/20260715142946_persist_employment_task.rb
Due: standard

add logging to data migration
  db/data/20260715142946_persist_employment_task.rb
Due: standard

employment check job now updates not delete tasks
  app/jobs/employment_check_job.rb
  app/models/automated_checks/claim_verifiers/employment.rb
  app/models/task.rb
  spec/jobs/employment_check_job_spec.rb
  spec/requests/admin/admin_tps_data_upload_spec.rb
Due: standard

refactor: inline private methods
  app/models/automated_checks/claim_verifiers/employment.rb
Due: standard

TOUCH
  README.md
Due: prettier

Move closed conditional to open section
  app/models/journeys/configuration.rb
  app/views/admin/journey_configurations/_reminder_warning.html.erb
  app/views/admin/journey_configurations/edit.html.erb
  spec/factories/journey_configurations.rb
  spec/features/admin/configure_services_spec.rb
  spec/requests/admin/admin_configure_services_spec.rb
Due: standard

add fields to database model
  app/models/journeys/configuration.rb
  app/views/admin/journey_configurations/edit.html.erb
  db/migrate/20260729120000_add_close_date_and_time_to_journey_configurations.rb
  spec/features/admin/configure_services_spec.rb
  spec/requests/admin/admin_configure_services_spec.rb
Due: standard
