Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{css,html,js,js.erb,json,md,scss}"
      run: rails prettier {staged_files}
      skip:
        - merge
        - rebase
    standard:
      glob: "*.rb"
      run: rails standard {staged_files}
      skip:
        - merge
        - rebase

Extract base class
  app/models/policies/claim_checking_tasks.rb
  app/models/policies/early_career_payments/claim_checking_tasks.rb
  app/models/policies/early_years_payments/claim_checking_tasks.rb
  app/models/policies/further_education_payments/claim_checking_tasks.rb
  app/models/policies/international_relocation_payments/claim_checking_tasks.rb
  app/models/policies/student_loans/claim_checking_tasks.rb
  app/models/policies/targeted_retention_incentive_payments/claim_checking_tasks.rb
Due: standard

Add ability to skip matching claims check
  app/models/policies/claim_checking_tasks.rb
Due: standard

Admin tasks list overview
  app/controllers/admin/task_lists_controller.rb
  app/models/admin/task_list_form.rb
  app/views/admin/task_lists/index.html.erb
  config/routes.rb
  spec/models/admin/task_list_form_spec.rb
Due: standard

Constrain table
  app/assets/stylesheets/components/container.scss
  app/views/admin/task_lists/index.html.erb
Due: prettier

Fix line width
  app/views/admin/task_lists/index.html.erb
Due: none

Move buttons
  app/views/admin/task_lists/index.html.erb
Due: none

Exclude matching details
  app/models/admin/task_list_form.rb
Due: standard

Treat no data as incomplete for filtering purposes
  app/models/admin/task_list_form.rb
Due: standard

Use task_exists?
  app/models/policies/claim_checking_tasks.rb
  app/models/policies/early_career_payments/claim_checking_tasks.rb
  app/models/policies/early_years_payments/claim_checking_tasks.rb
  app/models/policies/further_education_payments/claim_checking_tasks.rb
  app/models/policies/international_relocation_payments/claim_checking_tasks.rb
  app/models/policies/student_loans/claim_checking_tasks.rb
  app/models/policies/targeted_retention_incentive_payments/claim_checking_tasks.rb
Due: standard

Add ability to export page to CSV
  app/controllers/admin/task_lists_controller.rb
  app/models/admin/task_list_form.rb
  app/views/admin/task_lists/index.html.erb
Due: standard

Add link
  app/views/admin/claims/index.html.erb
Due: none

Display number of claims returned
  app/models/admin/task_list_form.rb
  app/views/admin/task_lists/index.html.erb
Due: standard

generate TPS CSVs from personas
  app/models/policies/targeted_retention_incentive_payments/test/teachers_pensions_service_generator.rb
  app/models/policies/targeted_retention_incentive_payments/test/user_persona.rb
  spec/models/policies/targeted_retention_incentive_payments/test/teachers_pensions_service_generator_spec.rb
Due: standard

Display held status
  app/models/admin/task_list_form.rb
  app/views/admin/task_lists/index.html.erb
Due: standard

touch
  README.md
Due: prettier

Eager load verified by
  app/models/admin/task_list_form.rb
Due: standard

generate school workfoce census data from personas
  app/models/policies/targeted_retention_incentive_payments/test/school_workforce_census_generator.rb
  app/models/policies/targeted_retention_incentive_payments/test/user_persona.rb
  lib/tasks/test_data_seeder.rake
  spec/models/policies/targeted_retention_incentive_payments/test/school_workforce_census_generator_spec.rb
Due: standard

raise error if school not found
  app/models/policies/targeted_retention_incentive_payments/test/user_persona.rb
Due: standard

ensure specs are against file fixture
  spec/fixtures/files/targeted_retention_incentive_payments_personas.csv
  spec/models/policies/targeted_retention_incentive_payments/test/school_workforce_census_generator_spec.rb
  spec/models/policies/targeted_retention_incentive_payments/test/stri_awards_generator_spec.rb
Due: standard

Persist claim match data
  app/controllers/admin/claims_controller.rb
  app/controllers/admin/decisions_controller.rb
  app/controllers/admin/tasks_controller.rb
  app/forms/admin/amendment_form.rb
  app/forms/journeys/early_years_payment/practitioner/check_your_answers_form.rb
  app/forms/journeys/early_years_payment/provider/authenticated/check_your_answers_form.rb
  app/forms/journeys/further_education_payments/check_your_answers_form.rb
  app/forms/journeys/get_a_teacher_relocation_payment/check_your_answers_form.rb
  app/forms/journeys/targeted_retention_incentive_payments/check_your_answers_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/check_your_answers_form.rb
  app/models/amendment.rb
  app/models/claim/scrubber.rb
  app/models/claims/match.rb
  app/models/policies/early_career_payments/claim_checking_tasks.rb
  app/models/policies/early_years_payments/claim_checking_tasks.rb
  app/models/policies/further_education_payments.rb
  app/models/policies/further_education_payments/claim_checking_tasks.rb
  app/models/policies/international_relocation_payments/claim_checking_tasks.rb
  app/models/policies/student_loans/claim_checking_tasks.rb
  app/models/policies/targeted_retention_incentive_payments/claim_checking_tasks.rb
  app/models/reports/duplicate_claims.rb
  app/views/admin/claims/_claims_with_matching_details.html.erb
  app/views/admin/claims/policies/early_career_payments/_claim.html.erb
  app/views/admin/claims/policies/early_years_payments/_claim.html.erb
  app/views/admin/claims/policies/further_education_payments/_claim.html.erb
  app/views/admin/claims/policies/international_relocation_payments/_claim.html.erb
  app/views/admin/claims/policies/student_loans/_claim.html.erb
  app/views/admin/claims/policies/targeted_retention_incentive_payments/_claim.html.erb
  app/views/admin/tasks/matching_details.html.erb
  config/analytics.yml
  db/migrate/20260105151259_create_claims_match.rb
  db/migrate/20260105160335_add_matching_attributes_last_checked_at_to_claims.rb
  db/migrate/20260105160823_add_resolved_at_to_claims_matches.rb
  db/schema.rb
  spec/features/admin/admin_claim_check_spec.rb
  spec/features/admin/admin_ey_tasks_spec.rb
  spec/models/claims/match_spec.rb
  spec/models/policies/further_education_payments/claim_checking_tasks_spec.rb
  spec/models/reports/failed_qualification_claims_spec.rb
Due: standard

OL config now a singleton
  app/controllers/omniauth_callbacks_controller.rb
  app/helpers/application_helper.rb
  app/models/one_login/config.rb
  app/views/early_years_payment/practitioner/claims/_sign_in_2_authed.html.erb
  app/views/further_education_payments/claims/_one_login_idv_1_prepare.html.erb
  config/initializers/omniauth.rb
  config/routes.rb
  spec/requests/omniauth_callbacks_controller_spec.rb
Due: standard

move dfe sign in #bypass? method to Config
  app/controllers/admin/auth_controller.rb
  app/controllers/omniauth_callbacks_controller.rb
  app/models/dfe_sign_in/config.rb
  app/views/admin/auth/sign_in.html.erb
  app/views/further_education_payments/providers/sessions/new.html.erb
  config/initializers/omniauth.rb
  config/routes.rb
  spec/features/further_education_payments/providers/sessions_spec.rb
  spec/features/further_education_payments/providers/status_and_processed_by_spec.rb
  spec/features/further_education_payments/providers/unverified_dashboard_spec.rb
  spec/features/further_education_payments/providers/verified_claim_spec.rb
  spec/features/further_education_payments/providers/verified_dashboard_spec.rb
Due: standard

TeacherId::bypass? now lives in config singleton
  app/models/journeys/base.rb
  app/models/teacher_id/config.rb
  config/initializers/omniauth.rb
Due: standard

dfe sign in issuer_uri now part of config
  app/models/dfe_sign_in/config.rb
  config/initializers/omniauth.rb
Due: standard

move TeacherId variables to TeacherId::Config
  app/models/teacher_id/config.rb
  config/initializers/omniauth.rb
Due: standard

move DSI variables into DfeSignIn::Config
  app/models/dfe_sign_in/config.rb
  config/initializers/omniauth.rb
Due: standard

Adds early years practitioner prototype journey
  app/forms/journeys/early_years_teachers/practitioner/favourite_colour_form.rb
  app/forms/journeys/early_years_teachers/practitioner/session_form.rb
  app/models/journeys.rb
  app/models/journeys/early_years_teachers/practitioner.rb
  app/models/journeys/early_years_teachers/practitioner/answers_presenter.rb
  app/models/journeys/early_years_teachers/practitioner/eligibility_checker.rb
  app/models/journeys/early_years_teachers/practitioner/session.rb
  app/models/journeys/early_years_teachers/practitioner/session_answers.rb
  app/models/journeys/early_years_teachers/practitioner/session_answers_type.rb
  app/models/journeys/early_years_teachers/practitioner/slug_sequence.rb
  app/views/early_years_teachers/practitioner/claims/check_your_answers.html.erb
  app/views/early_years_teachers/practitioner/claims/favourite_colour.html.erb
  app/views/early_years_teachers/practitioner/landing_page.html.erb
  config/locales/en.yml
  db/seeds.rb
  spec/factories/journey_configurations.rb
  spec/features/early_years_teachers/practitioner/prototype_test_spec.rb
  spec/models/journeys_spec.rb
Due: standard

Adds early years teachers provider
  app/forms/journeys/early_years_teachers/provider/favourite_colour_form.rb
  app/forms/journeys/early_years_teachers/provider/session_form.rb
  app/models/journeys.rb
  app/models/journeys/early_years_teachers/provider.rb
  app/models/journeys/early_years_teachers/provider/answers_presenter.rb
  app/models/journeys/early_years_teachers/provider/eligibility_checker.rb
  app/models/journeys/early_years_teachers/provider/session.rb
  app/models/journeys/early_years_teachers/provider/session_answers.rb
  app/models/journeys/early_years_teachers/provider/session_answers_type.rb
  app/models/journeys/early_years_teachers/provider/slug_sequence.rb
  app/views/early_years_teachers/provider/claims/check_your_answers.html.erb
  app/views/early_years_teachers/provider/claims/favourite_colour.html.erb
  app/views/early_years_teachers/provider/landing_page.html.erb
  config/locales/en.yml
  db/seeds.rb
  spec/factories/journey_configurations.rb
  spec/features/early_years_teachers/provider/prototype_test_spec.rb
  spec/models/journeys_spec.rb
Due: standard

move OL variables to OneLogin::Config
  app/models/one_login/config.rb
  config/initializers/omniauth.rb
Due: standard

CAPT-3088 - Initial architecture for events to support timeline
  app/controllers/admin/events_controller.rb
  app/forms/admin/decision_form.rb
  app/forms/admin/tasks/generic_form.rb
  app/forms/journeys/early_years_payment/provider/authenticated/check_your_answers_form.rb
  app/forms/journeys/further_education_payments/check_your_answers_form.rb
  app/forms/journeys/get_a_teacher_relocation_payment/check_your_answers_form.rb
  app/forms/journeys/targeted_retention_incentive_payments/check_your_answers_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/check_your_answers_form.rb
  app/jobs/payroll_run_job.rb
  app/models/claim.rb
  app/models/event.rb
  app/models/note.rb
  app/views/admin/claims/_tabs.html.erb
  app/views/admin/events/index.html.erb
  config/analytics_blocklist.yml
  config/locales/en.yml
  config/routes.rb
  db/migrate/20251218195943_create_events.rb
  db/schema.rb
  db/seeds.rb
Due: standard

remove rollbar as superseded by sentry
  Gemfile
  Gemfile.lock
  app/controllers/claims_controller.rb
  app/controllers/deauth_controller.rb
  app/forms/postcode_search_form.rb
  app/jobs/application_job.rb
  app/jobs/file_importer_job.rb
  app/jobs/student_loan_amount_check_job.rb
  app/jobs/student_loan_plan_check_job.rb
  app/models/dqt/retrieve_claim_qualifications_data.rb
  app/models/journeys/answers_student_loans_details_updater.rb
  app/models/one_login/logout_token.rb
  config/initializers/rollbar.rb
  config/routes.rb
  docs/developer-onboarding.md
  docs/first-line-support-developer-runbook.md
  lib/dqt/object.rb
  spec/jobs/file_importer_job_spec.rb
  spec/jobs/import_census_job_spec.rb
  spec/jobs/import_teachers_pension_service_data_job_spec.rb
  spec/jobs/student_loan_amount_check_job_spec.rb
  spec/jobs/student_loan_plan_check_job_spec.rb
  spec/lib/dqt/objects/teacher_spec.rb
  spec/requests/application_spec.rb
  spec/requests/reminders_spec.rb
  spec/routes/routes_spec.rb
Due: prettier, standard

split admin locales
  config/locales/admin.yml
  config/locales/en.yml
Due: none

split student loans locales
  config/locales/en.yml
  config/locales/student_loans.yml
Due: none

split ECP locales
  config/locales/early_career_payments.yml
  config/locales/en.yml
Due: none

split out FE locales
  config/locales/en.yml
  config/locales/further_education_payments.yml
Due: none

split out IRP locales
  config/locales/en.yml
  config/locales/international_relocation_payments.yml
Due: none

split EY locales
  config/locales/early_years_payment.yml
  config/locales/en.yml
Due: none

Add student loan plan 5 and relevant combinations
  lib/student_loan.rb
Due: standard

Allow setting the phase form views
  app/views/layouts/application.html.erb
Due: none

Add student loan plan 5 and relevant combinations (#4296)
  lib/student_loan.rb
Due: standard
