Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

Remove Student loan policy automatic employment check
  app/jobs/remove_approved_student_loan_employments_job.rb
  app/models/automated_checks/claim_verifiers/employment.rb
  spec/models/automated_checks/claim_verifiers/employment_spec.rb
  spec/requests/admin/admin_tps_data_upload_spec.rb
Due: standard

Fix other tests
  spec/requests/admin/admin_tps_data_upload_spec.rb
Due: standard

Fix test
  spec/requests/admin/admin_tps_data_upload_spec.rb
Due: standard

Fix employment check
  app/models/automated_checks/claim_verifiers/employment.rb
  app/models/teachers_pensions_service.rb
  spec/models/automated_checks/claim_verifiers/employment_spec.rb
  spec/models/teachers_pensions_service_spec.rb
Due: standard

Replace conditionals with guards
  app/models/automated_checks/claim_verifiers/employment.rb
Due: standard

Boundary date testing
  spec/models/automated_checks/claim_verifiers/employment_spec.rb
Due: standard

Update README.md
  README.md
Due: prettier

tweak FE provider post auth redirect
  config/routes.rb
  spec/features/further_education_payments/providers/sessions_spec.rb
Due: standard

Persist claim match data
  app/controllers/admin/claims_controller.rb
  app/controllers/admin/decisions_controller.rb
  app/controllers/admin/tasks_controller.rb
  app/forms/admin/amendment_form.rb
  app/forms/journeys/early_years_payment/practitioner/check_your_answers_form.rb
  app/forms/journeys/early_years_payment/provider/authenticated/check_your_answers_form.rb
  app/forms/journeys/further_education_payments/check_your_answers_form.rb
  app/forms/journeys/get_a_teacher_relocation_payment/check_your_answers_form.rb
  app/forms/journeys/targeted_retention_incentive_payments/check_your_answers_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/check_your_answers_form.rb
  app/models/amendment.rb
  app/models/claim/scrubber.rb
  app/models/claims/match.rb
  app/models/policies/claim_checking_tasks.rb
  app/models/policies/further_education_payments.rb
  app/models/reports/duplicate_claims.rb
  app/views/admin/claims/_claims_with_matching_details.html.erb
  app/views/admin/claims/policies/early_career_payments/_claim.html.erb
  app/views/admin/claims/policies/early_years_payments/_claim.html.erb
  app/views/admin/claims/policies/further_education_payments/_claim.html.erb
  app/views/admin/claims/policies/international_relocation_payments/_claim.html.erb
  app/views/admin/claims/policies/student_loans/_claim.html.erb
  app/views/admin/claims/policies/targeted_retention_incentive_payments/_claim.html.erb
  app/views/admin/tasks/matching_details.html.erb
  config/analytics.yml
  db/migrate/20260105151259_create_claims_match.rb
  db/migrate/20260105160335_add_matching_attributes_last_checked_at_to_claims.rb
  db/migrate/20260105160823_add_resolved_at_to_claims_matches.rb
  db/schema.rb
  spec/factories/payments.rb
  spec/features/admin/admin_claim_check_spec.rb
  spec/features/admin/admin_ey_tasks_spec.rb
  spec/models/claims/match_spec.rb
  spec/models/policies/further_education_payments/claim_checking_tasks_spec.rb
  spec/models/reports/duplicate_claims_spec.rb
  spec/models/reports/failed_qualification_claims_spec.rb
Due: standard

Stop chaser email
  app/jobs/further_education_payments/providers/overdue_chaser_email_job.rb
  spec/jobs/further_education_payments/providers/overdue_chaser_email_job_spec.rb
Due: standard

user_type required for DfE sigin in
  app/controllers/admin/auth_controller.rb
  app/controllers/omniauth_callbacks_controller.rb
  app/models/dfe_sign_in/user.rb
  spec/features/further_education_payments/providers/provider_verification_access_spec.rb
  spec/models/dfe_sign_in/user_spec.rb
Due: standard

Fix filtering for employment tasks
  app/models/admin/task_list_form.rb
  spec/features/admin/task_lists_spec.rb
  spec/models/admin/task_list_form_spec.rb
Due: standard

Revert "Don't allow approving fe/tri/loans claims"
  app/models/policies/further_education_payments.rb
  app/models/policies/student_loans.rb
  app/models/policies/targeted_retention_incentive_payments.rb
  app/views/admin/decisions/_decision_form.html.erb
  spec/models/claim_auto_approval_spec.rb
  spec/rails_helper.rb
Due: standard

Remove reject duplicates script
  app/jobs/claims/reject_duplicates_job.rb
  spec/jobs/claims/reject_duplicates_job_spec.rb
Due: standard

add eytfi scaffold
  app/controllers/static_pages_controller.rb
  app/forms/journeys/early_years_teachers_financial_incentive_payments/session_form.rb
  app/forms/journeys/early_years_teachers_financial_incentive_payments/sign_in_form.rb
  app/models/journeys.rb
  app/models/journeys/base.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/eligibility_checker.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/session.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/session_answers.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/session_answers_type.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/slug_sequence.rb
  app/models/policies/early_years_teachers_financial_incentive_payments.rb
  app/models/policies/early_years_teachers_financial_incentive_payments/policy_eligibility_checker.rb
  app/views/early_years_teachers_financial_incentive_payments/claims/sign_in.html.erb
  app/views/early_years_teachers_financial_incentive_payments/landing_page.html.erb
  config/locales/early_years_teachers_financial_incentive_payments.yml
  db/seeds.rb
  spec/factories/journey_configurations.rb
  spec/features/early_years_teachers_financial_incentive_payments/closed_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/happy_path_spec.rb
  spec/models/journeys_spec.rb
Due: standard

add docs for adding new journey
  docs/new-journey.md
Due: prettier

add teacher auth
  .env.development
  app/controllers/journeys/early_years_teachers_financial_incentive_payments/auth_controller.rb
  app/forms/journeys/early_years_teachers_financial_incentive_payments/trn_found_form.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/session_answers.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/slug_sequence.rb
  app/models/teacher_auth/config.rb
  app/views/early_years_teachers_financial_incentive_payments/claims/sign_in.html.erb
  app/views/early_years_teachers_financial_incentive_payments/claims/trn_found.html.erb
  config/initializers/omniauth.rb
  config/routes.rb
  spec/features/early_years_teachers_financial_incentive_payments/happy_path_spec.rb
  terraform/application/config/review_app_env.yml
Due: standard

add test ENV vars
  .env.development
  .env.test
Due: none

fix docker build with new env vars
  Dockerfile
Due: none

temporary TEST and PROD teacher auth vars
  terraform/application/config/production_app_env.yml
  terraform/application/config/test_app_env.yml
Due: none

fix teacher auth callback path
  app/models/teacher_auth/config.rb
Due: standard

CAPT-3564 - On admin errors log the user
  app/controllers/admin/base_admin_controller.rb
  spec/requests/admin/admin_sentry_context_spec.rb
Due: standard

fix FE weekly email job
  app/jobs/further_education_payments/providers/weekly_update_email_job.rb
  spec/jobs/further_education_payments/providers/weekly_update_email_job_spec.rb
Due: standard

add script to resolve dupe FE user pointers
  db/data/20260415142329_resolve_dupe_fe_provider_users.rb
Due: standard

Allow assigning claims by status
  app/controllers/admin/allocations_controller.rb
  app/views/admin/claims/_allocations_form.html.erb
  app/views/admin/claims/index.html.erb
  spec/features/admin/admin_claim_allocation_spec.rb
Due: standard

Swap order of elements
  app/views/admin/claims/_allocations_form.html.erb
Due: none

Reuse ClaimsFilterForm for allocation filtering
  app/controllers/admin/allocations_controller.rb
Due: standard

Update allocation warning
  app/controllers/admin/allocations_controller.rb
  app/forms/admin/claims_filter_form.rb
  app/views/admin/claims/index.html.erb
  config/locales/admin.yml
  spec/features/admin/admin_claim_allocation_spec.rb
  spec/support/admin_view_claim_logged_in_with_tid_feature_shared_examples.rb
Due: standard

Improve the ability to delete claims and add missing logic into specs
  app/jobs/destroy_claim_job.rb
  spec/jobs/destroy_claim_job_spec.rb
  spec/models/claim_spec.rb
  spec/models/journeys/session_spec.rb
Due: standard

remove superfluous task controller
  app/controllers/admin/payroll_gender_tasks_controller.rb
  app/views/admin/tasks/payroll_gender.html.erb
  config/routes.rb
  spec/features/admin/admin_ey_tasks_spec.rb
Due: standard

feat(2705): capt - add private storage account
  terraform/application/application.tf
  terraform/application/config/production.tfvars.json
  terraform/application/config/review.tfvars.json
  terraform/application/config/test.tfvars.json
  terraform/application/storage.tf
  terraform/application/variables.tf
Due: prettier

add teacher auth bypass
  .env.development
  app/controllers/journeys/early_years_teachers_financial_incentive_payments/auth_controller.rb
  app/forms/debug/teacher_auth/sign_in_form.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments.rb
  app/views/early_years_teachers_financial_incentive_payments/claims/sign_in.html.erb
  config/initializers/omniauth.rb
  config/routes.rb
  spec/features/early_years_teachers_financial_incentive_payments/teacher_auth_bypass_spec.rb
  terraform/application/config/review_app_env.yml
Due: standard

add teacher auth sign in page
  app/models/journeys/early_years_teachers_financial_incentive_payments.rb
  app/views/early_years_teachers_financial_incentive_payments/claims/sign_in.html.erb
  spec/features/early_years_teachers_financial_incentive_payments/happy_path_spec.rb
Due: standard

pin 3rd party github actions
  .github/workflows/build-nocache.yml
  .github/workflows/build_and_deploy.yml
Due: none

Fix string comparison
  app/models/policies/further_education_payments/eligibility.rb
  spec/models/automated_checks/claim_verifiers/fe_provider_verification_v2_spec.rb
Due: standard

CAPT-3484 - Setup Azure Blob Storage
  Gemfile
  Gemfile.lock
  config/analytics.yml
  config/analytics_hidden_pii.yml
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/storage.yml
  db/migrate/20260330175812_create_active_storage_tables.active_storage.rb
  db/schema.rb
Due: standard

CAPT-3484 - file upload forms and journey
  app/forms/journeys/teacher_student_loan_reimbursement/check_your_answers_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/delete_employment_proof_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/review_employment_proof_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/upload_employment_proof_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/upload_employment_proof_success_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/uploaded_employment_proof_form.rb
  app/models/journeys/teacher_student_loan_reimbursement.rb
  app/models/journeys/teacher_student_loan_reimbursement/answers_presenter.rb
  app/models/journeys/teacher_student_loan_reimbursement/session.rb
  app/models/journeys/teacher_student_loan_reimbursement/session_answers.rb
  app/models/journeys/teacher_student_loan_reimbursement/slug_sequence.rb
  app/models/policies/student_loans/eligibility.rb
  app/views/student_loans/claims/delete_employment_proof.html.erb
  app/views/student_loans/claims/review_employment_proof.html.erb
  app/views/student_loans/claims/upload_employment_proof.html.erb
  app/views/student_loans/claims/upload_employment_proof_success.html.erb
  app/views/student_loans/claims/uploaded_employment_proof.html.erb
  spec/factories/active_storage_blobs.rb
  spec/factories/journeys/teacher_student_loan_reimbursement/session.rb
  spec/forms/journeys/teacher_student_loan_reimbursement/check_your_answers_form_spec.rb
  spec/forms/journeys/teacher_student_loan_reimbursement/delete_employment_proof_form_spec.rb
  spec/forms/journeys/teacher_student_loan_reimbursement/review_employment_proof_form_spec.rb
  spec/forms/journeys/teacher_student_loan_reimbursement/upload_employment_proof_form_spec.rb
  spec/forms/journeys/teacher_student_loan_reimbursement/upload_employment_proof_success_form_spec.rb
  spec/forms/journeys/teacher_student_loan_reimbursement/uploaded_employment_proof_form_spec.rb
Due: standard

CAPT-3484 - file upload feature specs
  spec/features/backlink_spec.rb
  spec/features/changing_answers_spec.rb
  spec/features/claim_journey_does_not_get_cached_spec.rb
  spec/features/dfe_identity_sign_in_for_student_loans_journey_spec.rb
  spec/features/ineligible_student_loans_claims_spec.rb
  spec/features/student_loans_claim_spec.rb
  spec/features/tslr/tslr_claim_journey_with_teacher_id_change_school_spec.rb
  spec/features/tslr/tslr_claim_journey_with_teacher_id_check_email_spec.rb
  spec/features/tslr/tslr_claim_journey_with_teacher_id_check_mobile_spec.rb
  spec/features/tslr/tslr_claim_journey_with_teacher_id_select_claim_school_spec.rb
  spec/features/tslr/tslr_claim_journey_with_teacher_id_spec.rb
  spec/features/tslr/tslr_claim_journey_with_teacher_id_still_teaching_spec.rb
  spec/features/tslr/tslr_claim_journey_with_teacher_id_trn_spec.rb
  spec/features/tslr/upload_employment_proof_spec.rb
  spec/fixtures/files/employment_proof.pdf
  spec/fixtures/files/employment_proof2.pdf
  spec/fixtures/files/employment_proof3.pdf
  spec/requests/claims_spec.rb
  spec/support/feature_helpers.rb
Due: standard

Add job to fail incorrectly passing FE claims
  app/jobs/fail_incorrectly_passing_fe_provider_task_job.rb
Due: standard

Stagger wait time of payment confirmation emails
  app/models/payment_confirmation_upload.rb
  spec/models/payment_confirmation_upload_spec.rb
Due: standard

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
