Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

Update claimant name hint text
  config/locales/en.yml
Due: none

Update current nursery title
  config/locales/en.yml
Due: none

Update find reference to match designs
  app/views/early_years_payment/practitioner/claims/find_reference.html.erb
  config/locales/en.yml
  spec/features/admin/admin_ey_tasks_spec.rb
  spec/features/early_years_payment/practitioner/find_reference_spec.rb
  spec/features/early_years_payment/practitioner/happy_path_spec.rb
  spec/support/steps/early_years_practitioner_journey.rb
Due: standard

fix task tag for OL task
  app/helpers/admin/claims_helper.rb
  spec/helpers/admin/claims_helper_spec.rb
Due: standard

Send emails to both contacts
  app/forms/journeys/early_years_payment/provider/authenticated/claim_submission_form.rb
  app/mailers/early_years_payments_mailer.rb
  app/models/eligible_ey_provider.rb
  spec/forms/journeys/early_years_payment/provider/authenticated/claim_submission_form_spec.rb
Due: standard

Send claim approved email to both addresses
  app/mailers/early_years_payments_mailer.rb
Due: standard

touch
  README.md
Due: prettier

Add convenience method
  app/models/claim.rb
  app/models/policies/further_education_payments.rb
Due: standard

Move task status logic
  app/helpers/admin/claims_helper.rb
  app/models/tasks.rb
  spec/models/tasks_spec.rb
Due: standard

Don't create task unless IDV is a pass
  app/models/automated_checks/claim_verifiers/alternative_identity_verification.rb
  app/models/policies/further_education_payments/admin_alternative_identity_verification_task_presenter.rb
  app/models/tasks.rb
  spec/factories/policies/further_education_payments/eligibilities.rb
  spec/models/automated_checks/claim_verifiers/alternative_identity_verification_spec.rb
  spec/models/tasks_spec.rb
Due: standard

Add alternative identity verification task
  app/models/automated_checks/claim_verifiers/alternative_identity_verification.rb
  app/models/policies/further_education_payments.rb
  app/models/policies/further_education_payments/admin_alternative_identity_verification_task_presenter.rb
  app/models/policies/further_education_payments/admin_tasks_presenter.rb
  app/models/policies/further_education_payments/claim_checking_tasks.rb
  app/models/task.rb
  app/views/admin/tasks/_alternative_identity_verification_submitted.html.erb
  app/views/admin/tasks/alternative_identity_verification.html.erb
  config/locales/en.yml
  spec/features/admin/admin_claim_further_education_payments_spec.rb
  spec/models/automated_checks/claim_verifiers/alternative_identity_verification_spec.rb
  spec/models/further_education_payments_spec.rb
  spec/models/policies/further_education_payments/claim_checking_tasks_spec.rb
Due: standard

Fix page title
  app/views/admin/tasks/provider_verification.html.erb
Due: none

Move alt idv decision
  app/models/journeys/further_education_payments/provider/session_answers.rb
  app/models/policies/further_education_payments.rb
Due: standard

Block decision if alt idv is pending
  app/models/base_policy.rb
  app/models/claim.rb
  app/models/policies/further_education_payments.rb
  app/models/policies/further_education_payments/claim_checking_tasks.rb
  spec/features/admin/admin_claim_further_education_payments_spec.rb
Due: standard

fix signing out of OL when OL bypassed
  app/controllers/deauth_controller.rb
  app/models/journeys/early_years_payment/practitioner/slug_sequence.rb
  spec/features/early_years_payment/practitioner/signing_out_spec.rb
  spec/requests/deauth_spec.rb
Due: standard

partially move form to use govuk form builder
  app/views/admin/decisions/_decision_form.html.erb
Due: none

prevent decisions if high risk OL return code
  app/controllers/admin/base_admin_controller.rb
  app/models/claim.rb
  app/models/one_login/return_code.rb
  app/views/admin/decisions/_decision_form.html.erb
  spec/factories/dfe_sign_in/users.rb
  spec/models/claim_spec.rb
Due: standard

copy tweak when undo decision
  app/views/admin/decisions_undo/new.html.erb
  spec/features/admin/admin_amend_decision_spec.rb
Due: standard

use form object for undo decision
  app/controllers/admin/decisions_undo_controller.rb
  app/forms/admin/undo_decision_form.rb
  app/views/admin/decisions_undo/new.html.erb
  spec/features/admin/admin_amend_decision_spec.rb
Due: standard

cannot undo decisions for high risk claims
  app/forms/admin/undo_decision_form.rb
  app/views/admin/decisions_undo/new.html.erb
  spec/factories/claims.rb
  spec/features/admin/admin_amend_decision_spec.rb
  spec/features/admin/admin_reverse_claim_decision_spec.rb
  spec/forms/admin/undo_decision_form_spec.rb
Due: standard

fix rspec warning
  spec/models/file_upload_spec.rb
Due: standard

add back links to admin pages
  app/views/admin/amendments/new.html.erb
  app/views/admin/decisions_undo/new.html.erb
Due: none

push guard clause further down the stack
  app/controllers/admin/decisions_undo_controller.rb
  app/forms/admin/undo_decision_form.rb
Due: standard

update OL task name heading
  app/views/admin/tasks/one_login_identity.html.erb
Due: none

fix linting
  app/forms/admin/undo_decision_form.rb
  spec/factories/claims.rb
  spec/features/admin/admin_amend_decision_spec.rb
Due: standard

display OL return codes to service admins
  app/models/claim.rb
  app/views/admin/tasks/_one_login_idv.html.erb
  app/views/admin/tasks/_task_outcome_one_login_identity.html.erb
  app/views/admin/tasks/one_login_identity.html.erb
  spec/features/admin/tasks/identity_confirmation_spec.rb
  spec/features/admin/tasks/one_login_identity_spec.rb
  spec/views/admin/tasks/one_login_identity.html.erb_spec.rb
Due: standard

convert undo decision to use govuk form builder
  app/views/admin/decisions_undo/new.html.erb
Due: none

link to alt idv task from OL task
  app/views/admin/tasks/_task_outcome_one_login_identity.html.erb
Due: none

Move rejection reasons to method
  app/controllers/admin/decisions_controller.rb
  app/models/base_policy.rb
  app/models/decision.rb
  app/views/admin/decisions/_decision_form.html.erb
  spec/models/decision_spec.rb
Due: standard

Rename reason
  config/locales/en.yml
  spec/features/admin/admin_reject_claim_spec.rb
Due: standard

Add atl idv rejection reason
  app/models/policies/further_education_payments.rb
  config/locales/en.yml
  spec/features/admin/admin_claim_further_education_payments_spec.rb
  spec/models/policies/further_education_payments_spec.rb
Due: standard

Don't allow approving if alt idv failed
  app/models/policies/further_education_payments.rb
  spec/features/admin/admin_claim_further_education_payments_spec.rb
Due: standard

Add convenience methods
  app/models/feature_flag.rb
Due: standard

Add form for test users to set return codes
  app/controllers/omniauth_callbacks_controller.rb
  app/views/claims/_sign_in_2_authed.html.erb
  app/views/claims/_sign_in_2_bypass.html.erb
  spec/features/admin/admin_ey_tasks_spec.rb
Due: standard

CAPT-2268 - add postcode search and address select pages to EY
  app/models/journeys/early_years_payment/practitioner.rb
  app/models/journeys/early_years_payment/practitioner/answers_presenter.rb
  app/models/journeys/early_years_payment/practitioner/slug_sequence.rb
  spec/features/admin/admin_ey_tasks_spec.rb
  spec/features/early_years_payment/practitioner/happy_path_spec.rb
  spec/models/journeys/early_years_payment/practitioner/answers_presenter_spec.rb
  spec/support/steps/early_years_practitioner_journey.rb
Due: standard

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
