Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

fix linting violation
  lib/hmrc/response_error.rb
Due: standard

inline email helper
  app/helpers/claims/email_address_helper.rb
  app/views/claims/email_address.html.erb
  spec/helpers/claims/email_address_helper_spec.rb
Due: standard

remove someones personal notes
  notes
Due: none

fix deprecation warnings
  spec/lib/hmrc/client_spec.rb
Due: standard

Remove claim from slug sequence
  app/controllers/claims_controller.rb
  app/models/journeys/additional_payments_for_teaching/slug_sequence.rb
  app/models/journeys/base.rb
  app/models/journeys/teacher_student_loan_reimbursement/slug_sequence.rb
  spec/features/admin_claim_tasks_update_with_dqt_api_spec.rb
  spec/features/auto_populating_home_address_from_postcode_search_spec.rb
  spec/features/changing_answers_spec.rb
  spec/features/claim_journey_does_not_get_cached_spec.rb
  spec/features/claim_with_mobile_sms_otp_spec.rb
  spec/features/early_career_payments_claim_spec.rb
  spec/features/early_career_payments_eligible_now_reminder_set_spec.rb
  spec/features/ineligible_early_career_payments_in_2022_and_future_years_spec.rb
  spec/features/levelling_up_premium_payments_content_change_logic_spec.rb
  spec/features/one_time_password_spec.rb
  spec/features/reminders_spec.rb
  spec/features/subject_teaching_question_spec.rb
  spec/features/validating_user_contact_details_spec.rb
  spec/forms/form_spec.rb
  spec/models/journeys/additional_payments_for_teaching/slug_sequence_spec.rb
  spec/models/journeys/additional_payments_for_teaching_spec.rb
  spec/models/journeys/teacher_student_loan_reimbursement/slug_sequence_spec.rb
  spec/models/journeys/teacher_student_loan_reimbursement_spec.rb
  spec/requests/claims_spec.rb
  spec/requests/timeout_spec.rb
  spec/support/eligible_later_shared_examples.rb
  spec/support/feature_helpers.rb
  spec/support/request_helpers.rb
Due: standard

Remove claim from page sequence
  app/models/journeys/base.rb
  app/models/journeys/page_sequence.rb
  spec/models/journeys/additional_payments_for_teaching_spec.rb
  spec/models/journeys/page_sequence_spec.rb
  spec/models/journeys/teacher_student_loan_reimbursement_spec.rb
Due: standard

Remove unused methods
  app/forms/form.rb
  app/forms/journeys/additional_payments_for_teaching/nqt_in_academic_year_after_itt_form.rb
Due: standard

Run DB migrations when deploying the test environment
  .github/workflows/build_and_deploy.yml
Due: none

move backlink out of main
  app/views/layouts/application.html.erb
Due: none

use govuk_link_to
  app/views/additional_payments/landing_page.html.erb
Due: none

install and configure govuk components
  Gemfile
  Gemfile.lock
  config/application.rb
Due: standard

use govuk details
  app/views/additional_payments/landing_page.html.erb
Due: none

Rename remidners form arg reminder
  app/controllers/journeys/additional_payments_for_teaching/reminders_controller.rb
  app/forms/journeys/additional_payments_for_teaching/reminders/email_verification_form.rb
  app/forms/journeys/additional_payments_for_teaching/reminders/personal_details_form.rb
  spec/forms/journeys/additional_payments_for_teaching/reminders/email_verification_form_spec.rb
  spec/forms/journeys/additional_payments_for_teaching/reminders/personal_details_form_spec.rb
Due: standard

Add 2 app replicas
  terraform/application/config/test.tfvars.json
Due: prettier

Only support a single claim at a time
  app/controllers/claims_controller.rb
  app/controllers/concerns/claim_session_timeout.rb
  app/controllers/concerns/journey_concern.rb
  app/controllers/concerns/part_of_claim_journey.rb
Due: standard

Remove claim_in_progress? view helper
  app/controllers/claims_controller.rb
  app/controllers/concerns/journey_concern.rb
  app/helpers/application_helper.rb
Due: standard

Move clearing journey session
  app/controllers/concerns/claim_session_timeout.rb
  app/controllers/concerns/journey_concern.rb
Due: standard

Move journey session methods to concern
  app/controllers/claims_controller.rb
  app/controllers/concerns/journey_concern.rb
Due: standard

Configure SemanticLogger per tech guidance
  config/environments/development.rb
  config/environments/production.rb
  config/initializers/semantic_logger.rb
Due: standard

Add slack notifcation on failure step to build_and_deploy workflow
  .github/workflows/build_and_deploy.yml
Due: none

Remove old slack-alert
  bin/slack-alert
Due: none

Create aks prod env base resources
  Makefile
  global_config/production.sh
Due: none

WIP initial page of wizard renders
  app/forms/journeys/get_a_teacher_relocation_payment/application_route_form.rb
  app/models/journeys.rb
  app/models/journeys/get_a_teacher_relocation_payment.rb
  app/models/journeys/get_a_teacher_relocation_payment/eligibility_checker.rb
  app/models/journeys/get_a_teacher_relocation_payment/session.rb
  app/models/journeys/get_a_teacher_relocation_payment/session_answers.rb
  app/models/journeys/get_a_teacher_relocation_payment/session_answers_type.rb
  app/models/journeys/get_a_teacher_relocation_payment/slug_sequence.rb
  app/views/get_a_teacher_relocation_payment/claims/application_route.html.erb
  app/views/get_a_teacher_relocation_payment/landing_page.html.erb
  config/locales/en.yml
  config/routes.rb
  db/seeds.rb
  spec/factories/journey_configurations.rb
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/features/get_a_teacher_relocation_payment/trainee_route_completing_the_form_spec.rb
Due: standard

fix back link
  app/controllers/claims_controller.rb
  spec/features/backlink_spec.rb
Due: standard

use govuk formbuilder for reminder form
  app/views/additional_payments/reminders/personal_details.html.erb
Due: none

remove unused form method
  app/helpers/govuk_form_helper.rb
  spec/helpers/govuk_form_helper_spec.rb
Due: standard

refactor to use govuk details component
  app/views/additional_payments/reminders/personal_details.html.erb
Due: none

use govuk formbuilder for reminders OTP form
  app/views/additional_payments/reminders/_one_time_password.html.erb
Due: none

fix tests
  spec/features/reminders_spec.rb
  spec/features/trainee_teacher_subjourney_for_lup_schools_spec.rb
Due: standard

Bump Ruby and Bundler
  .ruby-version
  .tool-versions
  Gemfile
  Gemfile.lock
  README.md
Due: prettier

use GOVUK back link for back link
  app/views/shared/_backlink.html.erb
Due: none

remove duplicate main tag on sign in page
  app/views/claims/sign_in_or_continue.html.erb
Due: none

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
