Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

Introduce a form concern to handle form submissions
  app/controllers/concerns/form_submittable.rb
  spec/requests/form_submittable_spec.rb
Due: standard

Remove validations from the `Reminder` model
  app/models/reminder.rb
  spec/models/reminder_spec.rb
Due: standard

Validate OTP code generation timestamp
  app/forms/email_verification_form.rb
  config/locales/en.yml
  spec/forms/email_verification_form_spec.rb
Due: standard

Refactor reminders controller to use form objects and filters (ECP/LUPP)
  app/controllers/journeys/additional_payments_for_teaching/reminders_controller.rb
  app/controllers/journeys/additional_payments_for_teaching/reminders_form_callbacks.rb
  app/views/additional_payments/reminders/_one_time_password.html.erb
  app/views/additional_payments/reminders/email_verification.html.erb
  app/views/additional_payments/reminders/personal_details.html.erb
  spec/features/reminders_spec.rb
  spec/features/trainee_teacher_subjourney_for_lup_schools_spec.rb
  spec/forms/journeys/additional_payments_for_teaching/reminders/email_verification_form_spec.rb
  spec/forms/journeys/additional_payments_for_teaching/reminders/personal_details_form_spec.rb
  spec/requests/reminders_spec.rb
Due: standard

Always return `true` when calling `Form#persisted?`
  app/forms/form.rb
  spec/forms/form_spec.rb
Due: standard

Add canonical hostname variable
  terraform/application/application.tf
  terraform/application/config/production.tfvars.json
  terraform/application/config/test.tfvars.json
  terraform/application/variables.tf
Due: prettier

Check that environment_name starts with review rather than == review
  config/initializers/dfe_analytics.rb
  config/initializers/omniauth.rb
  config/initializers/session_store.rb
Due: standard

Adds check your answers form
  app/controllers/submissions_controller.rb
  app/forms/check_your_answers_form.rb
  app/models/journeys/base.rb
  app/models/journeys/base_answers_presenter.rb
  app/views/additional_payments/claims/check_your_answers.html.erb
  app/views/student_loans/claims/check_your_answers.html.erb
Due: standard

Fix detecting answered questions
  app/models/journeys/session.rb
  app/models/journeys/session_answers.rb
  spec/forms/form_spec.rb
Due: standard

Create a claim from journey session
  app/controllers/submissions_controller.rb
  app/forms/claim_submission_form.rb
  app/models/claim.rb
  app/models/claim_journey_session_shim.rb
  app/models/current_claim.rb
  app/models/journeys/session.rb
  app/models/policies/early_career_payments/eligibility.rb
  app/models/policies/levelling_up_premium_payments/eligibility.rb
  config/analytics.yml
  db/migrate/20240510144004_reference_journey_session_from_claim.rb
  db/schema.rb
  spec/features/admin_claim_tasks_update_with_dqt_api_spec.rb
  spec/features/combined_teacher_claim_journey_spec.rb
  spec/features/early_career_payments_claim_spec.rb
  spec/features/early_career_payments_eligible_now_reminder_set_spec.rb
  spec/features/levelling_up_premium_payments_spec.rb
  spec/features/student_loans_claim_spec.rb
  spec/forms/claim_submission_form_spec.rb
  spec/models/claim_spec.rb
  spec/models/current_claim_spec.rb
  spec/requests/submissions_spec.rb
Due: standard

PR feedback
  app/forms/claim_submission_base_form.rb
  app/forms/journeys/additional_payments_for_teaching/claim_submission_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/claim_submission_form.rb
  app/models/journeys/additional_payments_for_teaching/session.rb
  app/models/journeys/teacher_student_loan_reimbursement/session.rb
Due: standard

Use attributes with journey session
  app/forms/claim_submission_base_form.rb
  app/forms/form.rb
  app/forms/journeys/additional_payments_for_teaching/claim_submission_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/claim_submission_form.rb
  app/models/claim_journey_session_shim.rb
  app/models/journeys/additional_payments_for_teaching/claim_journey_session_shim.rb
  app/models/journeys/additional_payments_for_teaching/session.rb
  app/models/journeys/additional_payments_for_teaching/session_answers.rb
  app/models/journeys/additional_payments_for_teaching/session_answers_type.rb
  app/models/journeys/session.rb
  app/models/journeys/session_answers.rb
  app/models/journeys/teacher_student_loan_reimbursement/claim_journey_session_shim.rb
  app/models/journeys/teacher_student_loan_reimbursement/session.rb
  app/models/journeys/teacher_student_loan_reimbursement/session_answers.rb
  app/models/journeys/teacher_student_loan_reimbursement/session_answers_type.rb
  spec/models/journeys/session_spec.rb
Due: standard

Refactor form to take advantage of attributes
  app/forms/claim_submission_base_form.rb
  app/forms/journeys/additional_payments_for_teaching/claim_submission_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/claim_submission_form.rb
  app/models/journeys/additional_payments_for_teaching/claim_journey_session_shim.rb
  app/models/journeys/teacher_student_loan_reimbursement/claim_journey_session_shim.rb
  spec/forms/journeys/additional_payments_for_teaching/claim_submission_form_spec.rb
  spec/forms/journeys/teacher_student_loan_reimbursement/claim_submission_form_spec.rb
Due: standard

Split the claim submission form per journey
  app/controllers/submissions_controller.rb
  app/forms/claim_submission_base_form.rb
  app/forms/claim_submission_form.rb
  app/forms/journeys/additional_payments_for_teaching/claim_submission_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/claim_submission_form.rb
  config/locales/en.yml
  spec/forms/journeys/additional_payments_for_teaching/claim_submission_form_spec.rb
  spec/forms/journeys/teacher_student_loan_reimbursement/claim_submission_form_spec.rb
Due: standard

PR feedback
  app/forms/claim_submission_base_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/claim_submission_form.rb
  app/models/claim.rb
  app/models/journeys/session.rb
  spec/forms/journeys/additional_payments_for_teaching/claim_submission_form_spec.rb
  spec/forms/journeys/teacher_student_loan_reimbursement/claim_submission_form_spec.rb
Due: standard

Remove unused locals and helper method
  app/controllers/claims_controller.rb
  app/views/additional_payments/claims/reminder_email_verification.html.erb
Due: standard

Implement callbacks for claims#show
  app/controllers/claims_controller.rb
  app/controllers/claims_form_callbacks.rb
  app/forms/address_form.rb
  app/forms/claim_school_form.rb
  app/forms/current_school_form.rb
  spec/features/auto_populating_home_address_from_postcode_search_spec.rb
  spec/features/school_search_spec.rb
  spec/forms/claim_school_form_spec.rb
  spec/forms/current_school_form_spec.rb
  spec/forms/journeys/additional_payments_for_teaching/induction_completed_form_spec.rb
  spec/forms/journeys/additional_payments_for_teaching/itt_academic_year_form_spec.rb
  spec/forms/journeys/additional_payments_for_teaching/nqt_in_academic_year_after_itt_form_spec.rb
  spec/forms/journeys/additional_payments_for_teaching/qualification_form_spec.rb
Due: standard

Tidy up claims controller
  app/controllers/claims_controller.rb
  app/controllers/concerns/form_submittable.rb
  spec/requests/form_submittable_spec.rb
Due: standard

Remove redundant component filtering permitted params
  app/models/claim.rb
  app/models/claim/permitted_parameters.rb
  app/models/current_claim.rb
  app/models/policies/early_career_payments/eligibility.rb
  app/models/policies/levelling_up_premium_payments/eligibility.rb
  app/models/policies/student_loans/eligibility.rb
  spec/models/claim/permitted_parameters_spec.rb
  spec/models/current_claim_spec.rb
Due: standard

Implement callbacks for claims#update
  app/controllers/claims_controller.rb
  app/controllers/claims_form_callbacks.rb
  app/forms/postcode_search_form.rb
  app/forms/select_home_address_form.rb
  app/views/claims/postcode_search.html.erb
  app/views/claims/select_home_address.html.erb
  spec/forms/postcode_search_form_spec.rb
Due: standard

Remove Form#backlink_path
  app/forms/form.rb
  spec/forms/form_spec.rb
Due: standard

Allow `ORDNANCE_SURVEY_CLIENT_PARAMS` env to be not present
  lib/ordnance_survey/client.rb
  spec/lib/ordnance_survey/client_spec.rb
Due: standard

Running new_service command and copying in config files
  .gitignore
  .tool-versions
  Makefile
  bin/.gitkeep
  global_config/domains.sh
  global_config/production.sh
  global_config/test.sh
  terraform/application/application.tf
  terraform/application/cluster_data.tf
  terraform/application/config/development.tfvars.json
  terraform/application/config/development_Terrafile
  terraform/application/config/production.tfvars.json
  terraform/application/config/production_Terrafile
  terraform/application/config/review.tfvars.json
  terraform/application/config/review_Terrafile
  terraform/application/database.tf
  terraform/application/output.tf
  terraform/application/secrets.tf
  terraform/application/statuscake.tf
  terraform/application/terraform.tf
  terraform/application/variables.tf
  terraform/domains/environment_domains/config/development.tfvars.json
  terraform/domains/environment_domains/config/development_Terrafile
  terraform/domains/environment_domains/config/production.tfvars.json
  terraform/domains/environment_domains/config/production_Terrafile
  terraform/domains/environment_domains/main.tf
  terraform/domains/environment_domains/terraform.tf
  terraform/domains/environment_domains/variables.tf
  terraform/domains/infrastructure/config/zones.tfvars.json
  terraform/domains/infrastructure/config/zones_Terrafile
  terraform/domains/infrastructure/main.tf
  terraform/domains/infrastructure/terraform.tf
  terraform/domains/infrastructure/variables.tf
Due: prettier

dont suppress dfe analytics in review apps
  terraform/application/config/review_app_env.yml
Due: none

Add dfe:analytics:check lint step to the CI workflow
  .github/workflows/ci.yaml
Due: none

output raw url not json
  .github/actions/deploy-environment/action.yml
Due: none

Try to pull the APP_ULR from env again
  .github/workflows/build_and_deploy.yml
Due: none

Use PR number and not event number
  .github/actions/deploy-environment/action.yml
  .github/workflows/build_and_deploy.yml
Due: none

App config for review environment
  terraform/application/application.tf
  terraform/application/config/review.tfvars.json
  terraform/application/config/review_app_env.yml
  terraform/application/variables.tf
Due: prettier

Add a build action to build and push the container to GHCR
  .github/actions/deploy-environment/action.yml
  .github/workflows/build_and_deploy.yml
  Makefile
  terraform/application/config/review.tfvars.json
Due: prettier

Comment out statuscake
  Makefile
  terraform/application/statuscake.tf
Due: none

Align table header
  .github/workflows/build_and_deploy.yml
Due: none

Change PR message, fix deployment name
  .github/workflows/build_and_deploy.yml
Due: none

Update config for test env
  global_config/test.sh
  terraform/application/config/test.tfvars.json
Due: prettier

Call review-aks rather than review
  .github/workflows/build_and_deploy.yml
Due: none

Add delete-review-app workflow
  .github/workflows/build_and_deploy.yml
  .github/workflows/delete_review_app.yml
Due: none

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
