Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{css,html,js,js.erb,json,md,scss}"
      run: rails prettier {staged_files}
      skip:
        - merge
        - rebase
    standard:
      glob: "*.rb"
      run: rails standard {staged_files}
      skip:
        - merge
        - rebase

make TSLR has_student_loan and student_loan_plan the same as other journeys
  app/models/claim_student_loan_details_updater.rb
  app/models/journeys/teacher_student_loan_reimbursement/answers_student_loans_details_updater.rb
  app/models/policies/student_loans/policy_eligibility_checker.rb
  app/models/student_loans_data_presenter.rb
  spec/factories/student_loans_data.rb
  spec/features/admin/upload_slc_data_spec.rb
  spec/features/student_loans_claim_spec.rb
  spec/models/claim_student_loan_details_updater_spec.rb
  spec/models/student_loans/eligibility_spec.rb
  spec/requests/claims_spec.rb
Due: standard

content tweak - admin task for payroll gender
  app/views/admin/tasks/payroll_gender.html.erb
  config/locales/en.yml
  spec/features/admin/admin_claim_with_missing_payroll_gender_spec.rb
Due: standard

remove name from copy
  app/views/admin/tasks/payroll_gender.html.erb
  config/locales/en.yml
  spec/features/admin/admin_claim_with_missing_payroll_gender_spec.rb
Due: standard

better naming of scope
  app/forms/admin/claims_filter_form.rb
  app/models/claim.rb
  spec/models/claim_spec.rb
Due: standard

update FE policy short name
  config/locales/en.yml
  spec/features/admin/admin_claim_allocation_spec.rb
  spec/features/admin/admin_view_full_claim_further_education_payments_spec.rb
  spec/models/policies/further_education_payments/eligibility_admin_answers_presenter_spec.rb
  spec/models/policies_spec.rb
Due: standard

Claim page updates: "Awaiting provider verification" filter, remove "Qualification status" column.
  app/forms/admin/claims_filter_form.rb
  app/helpers/admin/claims_helper.rb
  app/models/claim.rb
  app/views/admin/claims/index.html.erb
  spec/features/admin/admin_claims_filtering_spec.rb
  spec/models/claim_spec.rb
Due: standard

Student Loan Plan job for FE
  app/jobs/student_loan_plan_check_job.rb
  app/models/automated_checks/claim_verifiers/student_loan_plan.rb
  app/models/claim.rb
  spec/factories/claims.rb
  spec/features/admin/upload_slc_data_spec.rb
  spec/models/automated_checks/claim_verifiers/student_loan_plan_spec.rb
  spec/models/claim_student_loan_details_updater_spec.rb
  spec/support/admin_view_claim_feature_shared_examples.rb
Due: standard

refactor - use Policy#auto_check_student_loan_plan_task?
  app/models/automated_checks/claim_verifiers/student_loan_plan.rb
  app/models/base_policy.rb
  app/models/claim.rb
  app/models/policies/early_career_payments.rb
  app/models/policies/further_education_payments.rb
  app/models/policies/levelling_up_premium_payments.rb
Due: standard

Set student loan plan for claim when it exists in student loan data for FE
  app/controllers/claims_form_callbacks.rb
  app/jobs/student_loan_plan_check_job.rb
  app/models/base_policy.rb
  app/models/claim.rb
  app/models/claim/claims_awaiting_decision_finder.rb
  app/models/journeys/further_education_payments/answers_student_loans_details_updater.rb
  app/models/policies/further_education_payments.rb
  app/models/policies/further_education_payments/claim_checking_tasks.rb
  spec/features/admin/upload_slc_data_spec.rb
  spec/features/further_education_payments/happy_path_spec.rb
  spec/jobs/student_loan_plan_check_job_spec.rb
  spec/models/claim/claims_awaiting_decision_finder_spec.rb
  spec/models/claim_checking_tasks_spec.rb
  spec/models/claim_spec.rb
  spec/requests/admin/admin_student_loans_data_upload_spec.rb
  spec/support/steps/student_loan_data.rb
Due: standard

[LUPEYALPHA-1010] student loan plan task for FE (#3168)
  app/controllers/claims_form_callbacks.rb
  app/jobs/student_loan_plan_check_job.rb
  app/models/automated_checks/claim_verifiers/student_loan_plan.rb
  app/models/base_policy.rb
  app/models/claim.rb
  app/models/claim/claims_awaiting_decision_finder.rb
  app/models/journeys/further_education_payments/answers_student_loans_details_updater.rb
  app/models/policies/early_career_payments.rb
  app/models/policies/further_education_payments.rb
  app/models/policies/further_education_payments/claim_checking_tasks.rb
  app/models/policies/levelling_up_premium_payments.rb
  spec/factories/claims.rb
  spec/features/admin/upload_slc_data_spec.rb
  spec/features/further_education_payments/happy_path_spec.rb
  spec/jobs/student_loan_plan_check_job_spec.rb
  spec/models/automated_checks/claim_verifiers/student_loan_plan_spec.rb
  spec/models/claim/claims_awaiting_decision_finder_spec.rb
  spec/models/claim_checking_tasks_spec.rb
  spec/models/claim_spec.rb
  spec/models/claim_student_loan_details_updater_spec.rb
  spec/requests/admin/admin_student_loans_data_upload_spec.rb
  spec/support/admin_view_claim_feature_shared_examples.rb
  spec/support/steps/student_loan_data.rb
Due: standard

add IRP rejection reason for previous residency
  app/models/policies/international_relocation_payments.rb
  config/locales/en.yml
  spec/mailers/claim_mailer_spec.rb
Due: standard

add IRP previous residency admin task
  app/models/claim_checking_tasks.rb
  app/models/policies/international_relocation_payments/claim_checking_tasks.rb
  app/models/task.rb
  app/views/admin/tasks/previous_residency.html.erb
  config/locales/en.yml
  spec/support/admin_view_claim_feature_shared_examples.rb
Due: standard

IRP copy update: remove trainees from ineligible
  app/views/get_a_teacher_relocation_payment/claims/ineligible.html.erb
Due: none

IRP copy update: remove courses from landing page
  app/views/get_a_teacher_relocation_payment/landing_page.html.erb
Due: none

IRP admin task, tweak arrival date
  app/models/policies/international_relocation_payments/admin_tasks_presenter.rb
  config/locales/en.yml
Due: standard

Send an email to the practitioner when the provider submits a claim for them
  app/forms/journeys/early_years_payment/provider/authenticated/claim_submission_form.rb
  app/mailers/application_mailer.rb
  app/mailers/claim_mailer.rb
  app/models/policies/early_years_payments/eligibility.rb
  spec/mailers/claim_mailer_spec.rb
Due: standard

fix admin back link positions
  app/views/admin/amendments/index.html.erb
  app/views/admin/claims/index.html.erb
  app/views/admin/claims/search.html.erb
  app/views/admin/claims/show.html.erb
  app/views/admin/decisions/new.html.erb
  app/views/admin/notes/index.html.erb
  app/views/admin/payments/index.html.erb
  app/views/admin/tasks/arrival_date.html.erb
  app/views/admin/tasks/census_subjects_taught.html.erb
  app/views/admin/tasks/employment.html.erb
  app/views/admin/tasks/employment_contract.html.erb
  app/views/admin/tasks/employment_start.html.erb
  app/views/admin/tasks/identity_confirmation.html.erb
  app/views/admin/tasks/index.html.erb
  app/views/admin/tasks/induction_confirmation.erb
  app/views/admin/tasks/matching_details.html.erb
  app/views/admin/tasks/payroll_details.html.erb
  app/views/admin/tasks/payroll_gender.html.erb
  app/views/admin/tasks/previous_payment.html.erb
  app/views/admin/tasks/provider_verification.html.erb
  app/views/admin/tasks/qualifications.html.erb
  app/views/admin/tasks/student_loan_amount.html.erb
  app/views/admin/tasks/student_loan_plan.html.erb
  app/views/admin/tasks/subject.html.erb
  app/views/admin/tasks/teaching_hours.html.erb
  app/views/admin/tasks/visa.html.erb
Due: none

LUPEYALPHA-1035 - store when the last provider email was sent
  app/controllers/admin/further_education_payments/provider_verification_emails_controller.rb
  app/forms/journeys/further_education_payments/claim_submission_form.rb
  app/models/policies/further_education_payments/provider_verification_emails.rb
  db/migrate/20240916173031_add_provider_verification_email_last_sent_at_to_further_education_payments_eligibilities.rb
  db/schema.rb
  spec/features/admin/admin_claim_further_education_payments_spec.rb
  spec/forms/journeys/further_education_payments/claim_submission_form_spec.rb
Due: standard

LUPEYALPHA-1035 - Change the verification_due_date to 3 weeks from sending chase email
  app/mailers/claim_mailer.rb
  app/models/policies/further_education_payments.rb
  spec/models/policies/further_education_payments/provider_verfication_emails_spec.rb
Due: standard

dfe-analytics add new field
  config/analytics.yml
Due: none

LUPEYALPHA-1035 - daily job to send chaser provider emails
  app/jobs/further_education_payments/provider_verification_chase_email_job.rb
  app/mailers/application_mailer.rb
  app/mailers/claim_mailer.rb
  app/models/policies/further_education_payments/eligibility.rb
  app/models/policies/further_education_payments/provider_verification_emails.rb
  spec/jobs/further_education_payments/provider_verification_chase_email_spec.rb
Due: standard

LUPEYALPHA-1035 - creates a note on the provider verfication task a chaser email sent
  app/jobs/further_education_payments/provider_verification_chase_email_job.rb
  spec/jobs/further_education_payments/provider_verification_chase_email_spec.rb
Due: standard

LUPEYALPHA-1035 - Only send chase email once, rejected/held claims are ignored
  app/jobs/further_education_payments/provider_verification_chase_email_job.rb
  app/models/policies/further_education_payments.rb
  app/models/policies/further_education_payments/eligibility.rb
  app/models/policies/further_education_payments/provider_verification_emails.rb
  config/analytics.yml
  db/migrate/20240923130010_add_provider_verification_chase_email_last_sent_at_to_further_education_payments_eligibilities.rb
  db/schema.rb
  spec/jobs/further_education_payments/provider_verification_chase_email_spec.rb
  spec/models/policies/further_education_payments/provider_verfication_emails_spec.rb
Due: standard

Display the note in the task a chaser email was sent
  app/views/admin/tasks/_provider_verification_unsubmitted.html.erb
  spec/features/admin/admin_claim_further_education_payments_spec.rb
Due: standard

touch readme
  README.md
Due: prettier

Show started at
  app/helpers/admin/claims_helper.rb
  db/migrate/20240924113642_make_claims_started_at_not_null.rb
  db/schema.rb
  spec/features/admin/admin_view_full_claim_further_education_payments_spec.rb
Due: standard

Back fill started at
  db/migrate/20240924095435_back_fill_claims_started_at.rb
  db/schema.rb
  spec/factories/claims.rb
  spec/forms/journeys/additional_payments_for_teaching/nqt_in_academic_year_after_itt_form_spec.rb
Due: standard

Set started at on claims #1
  app/forms/claim_submission_base_form.rb
  app/models/claim.rb
  config/analytics.yml
  db/migrate/20240924091408_add_started_at_to_claims.rb
  db/schema.rb
  spec/forms/journeys/additional_payments_for_teaching/claim_submission_form_spec.rb
  spec/forms/journeys/further_education_payments/claim_submission_form_spec.rb
  spec/forms/journeys/get_a_teacher_relocation_payment/claim_submission_form_spec.rb
  spec/forms/journeys/teacher_student_loan_reimbursement/claim_submission_form_spec.rb
Due: standard

Add link to view tasks
  app/views/admin/tasks/_claim_summary.html.erb
  app/views/admin/tasks/_claim_summary_further_education_payments.html.erb
  app/views/admin/tasks/_claim_summary_international_relocation_payments.html.erb
Due: none

Amend sla timeframes
  app/views/additional_payments/landing_page.html.erb
  app/views/submissions/_confirmation.html.erb
Due: none

Update the copy for the teaching hours question
  config/locales/en.yml
  spec/features/admin/admin_claim_further_education_payments_spec.rb
  spec/features/admin/admin_view_full_claim_further_education_payments_spec.rb
  spec/features/further_education_payments/happy_js_path_spec.rb
  spec/features/further_education_payments/happy_path_spec.rb
  spec/features/further_education_payments/ineligible_paths_spec.rb
  spec/features/further_education_payments/provider/provider_verifying_claims_spec.rb
  spec/forms/journeys/further_education_payments/provider/verify_claim_form_spec.rb
  spec/models/journeys/further_education_payments/answers_presenter_spec.rb
  spec/models/policies/further_education_payments/eligibility_admin_answers_presenter_spec.rb
Due: standard

touch
  README.md
Due: prettier

CAPT-1818 - IRP add rejection reason for claimed last year
  app/helpers/claim_mailer_helper.rb
  app/mailers/claim_mailer.rb
  app/models/policies/international_relocation_payments.rb
  config/locales/en.yml
  spec/factories/claims.rb
  spec/mailers/claim_mailer_spec.rb
Due: standard

WIP
  README.md
Due: prettier

Spec for sending notify template on claim submissiong
  spec/forms/journeys/early_years_payment/provider/authenticated/claim_submission_form_spec.rb
Due: standard

Fix linting
  spec/forms/journeys/early_years_payment/provider/authenticated/claim_submission_form_spec.rb
Due: standard

Add the provider journey dates
  app/views/static_pages/accessibility_statement.html.erb
  config/locales/en.yml
Due: none

Move accessibility dates to locales
  app/views/static_pages/accessibility_statement.html.erb
  config/locales/en.yml
Due: none
