Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

Remove claim verifier
  app/models/automated_checks/claim_verifiers/early_years_payments/identity.rb
Due: standard

Only show current academic year claims
  app/controllers/further_education_payments/providers/base_controller.rb
Due: standard

Add additional question for non qualified teachers
  app/forms/further_education_payments/providers/claims/verification/check_answers_form.rb
  app/forms/further_education_payments/providers/claims/verification/not_started_qualification_reason_form.rb
  app/models/further_education_payments/providers/claims/verification/wizard.rb
  app/models/policies/further_education_payments/eligibility.rb
  app/views/further_education_payments/providers/claims/verifications/_summary.html.erb
  app/views/further_education_payments/providers/claims/verifications/_verification_header.html.erb
  app/views/further_education_payments/providers/claims/verifications/not_started_qualification_reason.html.erb
  config/analytics.yml
  config/locales/en.yml
  db/migrate/20250919095049_add_not_started_qualification_reasons_to_fe_eligibility.rb
  db/schema.rb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
  spec/forms/further_education_payments/providers/claims/verification/not_started_qualification_reason_form_spec.rb
Due: standard

remove unused govuk verify code
  app/helpers/admin/claims_helper.rb
  app/models/claim.rb
  app/models/policies/early_years_payments/admin_claim_details_presenter.rb
  config/locales/en.yml
  spec/helpers/admin/claims_helper_spec.rb
  spec/models/claim_spec.rb
  spec/models/policies/early_years_payments/admin_claim_details_presenter_spec.rb
Due: standard

Add employment date check to admin view
  app/models/policies/early_years_payments/eligibility.rb
  app/views/admin/tasks/_claim_summary_early_years_payments.html.erb
  spec/features/admin/admin_view_claim_early_years_payments_spec.rb
Due: standard

Change decision date logic
  app/models/policies/early_years_payments.rb
  spec/features/admin/admin_view_full_claim_early_years_payments_spec.rb
  spec/models/policies/early_years_payments_spec.rb
Due: standard

Extract methods
  app/models/policies/further_education_payments/admin_tasks_presenter.rb
Due: standard

Fix unclosed nav tag
  app/views/admin/claims/_pagination.html.erb
Due: none

Install reactionview
  Gemfile
  Gemfile.lock
  config/initializers/content_security_policy.rb
  config/initializers/reactionview.rb
Due: standard

fix resume bug
  app/models/journeys/navigator.rb
  spec/features/further_education_payments/one_login_resume_spec.rb
Due: standard

Fix closing nav
  app/views/admin/payroll_runs/_pagination.html.erb
Due: none

Fix missing closing th
  app/views/admin/claims/_claims_with_matching_details.html.erb
Due: none

fix missing closing div
  app/views/admin/tasks/employment_history.html.erb
Due: none

Fix more missing tags
  app/views/early_years_payment/practitioner/claims/confirmation.html.erb
  app/views/early_years_payment/provider/authenticated/claims/returner_contract_type.html.erb
Due: none

Input is a self closing tag
  app/views/early_years_payment/provider/start/consent_form.html.erb
Due: none

Fix invalid html
  app/views/early_years_payment/provider/authenticated/claims/returner_worked_with_children.html.erb
  app/views/early_years_payment/provider/start/landing_page.html.erb
  app/views/omniauth_callbacks/session_missing_failure.html.erb
  app/views/targeted_retention_incentive_payments/claims/_ineligible_current_school.html.erb
  app/views/targeted_retention_incentive_payments/claims/eligibility_confirmed.html.erb
  app/views/unsubscribe/show.html.erb
Due: none

Remove notify on analytics change
  .github/workflows/notify-schema-change.yml
Due: none

update copy FE claimant journey
  app/forms/journeys/further_education_payments/previously_claimed_form.rb
  app/views/claims/full_name.html.erb
  app/views/further_education_payments/claims/half_teaching_hours.html.erb
  config/locales/en.yml
  spec/features/accessing_closed_service_spec.rb
  spec/features/admin/admin_view_full_claim_further_education_payments_spec.rb
  spec/features/further_education_payments/bypass_one_login_spec.rb
  spec/features/further_education_payments/change_answers_spec.rb
  spec/features/further_education_payments/claimed_last_year_spec.rb
  spec/features/further_education_payments/existing_one_login_spec.rb
  spec/features/further_education_payments/happy_js_path_spec.rb
  spec/features/further_education_payments/happy_path_spec.rb
  spec/features/further_education_payments/ineligible_paths_spec.rb
  spec/features/further_education_payments/jump_around_spec.rb
  spec/features/further_education_payments/one_login_without_idv_spec.rb
  spec/features/further_education_payments/previously_claimed_spec.rb
  spec/features/further_education_payments/variable_contract_spec.rb
  spec/models/journeys/further_education_payments/answers_presenter_spec.rb
  spec/models/policies/further_education_payments/eligibility_admin_answers_presenter_spec.rb
  spec/support/steps/further_education_journey.rb
Due: standard

Add herb linting to ci pipeline
  .github/workflows/ci.yaml
Due: none

Fix herb linting errorsss
  app/views/early_years_payment/provider/start/consent_form.html.erb
  app/views/further_education_payments/claims/teaching_responsibilities.html.erb
  app/views/further_education_payments/providers/claims/verifications/half_timetabled_teaching_time.html.erb
Due: none

update copy FE provider journey
  app/forms/further_education_payments/providers/claims/verification/teaching_hours_per_week_form.rb
  app/views/further_education_payments/providers/claims/information/claim_rejected.html.erb
  app/views/further_education_payments/providers/claims/verifications/_summary.html.erb
  app/views/further_education_payments/providers/claims/verifications/check_answers.html.erb
  app/views/further_education_payments/providers/claims/verifications/continued_employment.html.erb
  app/views/further_education_payments/providers/claims/verifications/contract_covers_full_academic_year.html.erb
  app/views/further_education_payments/providers/claims/verifications/half_teaching_hours.html.erb
  app/views/further_education_payments/providers/claims/verifications/half_timetabled_teaching_time.html.erb
  app/views/further_education_payments/providers/claims/verifications/in_first_five_years.html.erb
  app/views/further_education_payments/providers/claims/verifications/taught_at_least_one_academic_term.html.erb
  app/views/further_education_payments/providers/claims/verifications/teaching_hours_per_week.html.erb
  app/views/further_education_payments/providers/claims/verifications/teaching_responsibilities.html.erb
  config/locales/en.yml
  spec/features/further_education_payments/ineligible_paths_spec.rb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
  spec/features/further_education_payments/providers/provider_verifying_with_claimant_courses_spec.rb
  spec/features/further_education_payments/variable_contract_spec.rb
  spec/models/policies/further_education_payments/eligibility_admin_answers_presenter_spec.rb
Due: standard

CAPT-2877 - FE claimaint journey reorder
  app/models/journeys/further_education_payments/answers_presenter.rb
  app/models/journeys/further_education_payments/slug_sequence.rb
  spec/features/accessing_closed_service_spec.rb
  spec/features/further_education_payments/bypass_one_login_spec.rb
  spec/features/further_education_payments/change_answers_spec.rb
  spec/features/further_education_payments/claimed_last_year_spec.rb
  spec/features/further_education_payments/college_not_found_spec.rb
  spec/features/further_education_payments/existing_one_login_spec.rb
  spec/features/further_education_payments/happy_js_path_spec.rb
  spec/features/further_education_payments/happy_path_spec.rb
  spec/features/further_education_payments/ineligible_paths_spec.rb
  spec/features/further_education_payments/jump_around_spec.rb
  spec/features/further_education_payments/one_login_contiue_spec.rb
  spec/features/further_education_payments/one_login_without_idv_spec.rb
  spec/features/further_education_payments/previously_claimed_spec.rb
  spec/features/further_education_payments/variable_contract_spec.rb
  spec/features/journey_session_expiry_spec.rb
  spec/models/journeys/navigator_spec.rb
  spec/support/steps/further_education_journey.rb
Due: standard

Make herb optional in dev
  config/initializers/reactionview.rb
Due: standard

Rename task presenter
  app/models/policies/further_education_payments.rb
  app/models/policies/further_education_payments/year_one_admin_tasks_presenter.rb
  spec/models/policies/further_education_payments/year_one_admin_tasks_presenter_spec.rb
Due: standard

Add methods for provider details task
  app/models/policies/further_education_payments/admin_tasks_presenter.rb
  spec/support/admin_checks_feature_shared_examples.rb
Due: standard

Add Y2 FE admin tasks
  app/models/policies/further_education_payments.rb
  app/models/policies/further_education_payments/admin_tasks_presenter.rb
  app/models/policies/further_education_payments/claim_checking_tasks.rb
  app/models/task.rb
  app/views/admin/tasks/fe_provider_verification_v2.html.erb
  config/locales/en.yml
  spec/features/admin/admin_claim_further_education_payments_spec.rb
  spec/features/admin/tasks/further_education_payments/fe_provider_verification_v2_spec.rb
  spec/models/policies/further_education_payments/claim_checking_tasks_spec.rb
  spec/support/admin_checks_feature_shared_examples.rb
Due: standard

Return task presenter from method
  app/controllers/admin/payroll_gender_tasks_controller.rb
  app/controllers/admin/tasks_controller.rb
  app/models/base_policy.rb
  spec/views/admin/tasks/one_login_identity.html.erb_spec.rb
Due: standard

FE resumes correctly for 2 stateless pages
  app/forms/journeys/further_education_payments/check_your_answers_part_one_form.rb
  app/forms/journeys/further_education_payments/eligible_form.rb
  app/models/journeys/further_education_payments/session_answers.rb
  spec/factories/journeys/further_education_payments/further_education_payments_answers.rb
Due: standard

add pre resume callback mechanism
  app/models/journeys/further_education_payments/session_answers.rb
  app/models/journeys/navigator.rb
  app/models/journeys/session_answers.rb
  spec/features/further_education_payments/one_login_contiue_spec.rb
  spec/features/further_education_payments/one_login_resume_spec.rb
Due: standard

FE info provided page resumable
  app/forms/journeys/further_education_payments/information_provided_form.rb
  app/models/journeys/session_answers.rb
  spec/factories/journeys/further_education_payments/further_education_payments_answers.rb
Due: standard

tweak auto sign out experience
  app/controllers/claims_controller.rb
  app/controllers/concerns/form_submittable.rb
  app/forms/form.rb
  app/forms/journeys/further_education_payments/no_work_email_access_form.rb
  app/views/further_education_payments/claims/signed_out.html.erb
  app/views/further_education_payments/claims/signed_out_fe_no_work_email_access.html.erb
Due: standard

touch
  README.md
Due: prettier

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
