Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{css,html,js,js.erb,json,md,scss}"
      run: rails prettier {staged_files}
      skip:
        - merge
        - rebase
    standard:
      glob: "*.rb"
      run: rails standard {staged_files}
      skip:
        - merge
        - rebase

Remove failed bank details job
  app/jobs/claims/retry_failed_personal_bank_account_verification_job.rb
  app/jobs/claims/verify_personal_bank_account_job.rb
  spec/jobs/claims/retry_failed_personal_bank_account_verification_job_spec.rb
  spec/jobs/claims/verify_personal_bank_account_job_spec.rb
Due: standard

fe_repeat_applicant_check must pass for approvable
  app/models/policies/claim_checking_tasks.rb
  app/models/task.rb
  spec/factories/claims.rb
  spec/features/admin/admin_reject_claim_spec.rb
  spec/features/admin/admin_stats_spec.rb
  spec/models/claim_spec.rb
  spec/support/admin_checks_feature_shared_examples.rb
  spec/support/claim_personal_data_scrubber_shared_examples.rb
Due: standard

ensure seeds are valid
  db/seeds.rb
Due: standard

update persona CSV with TRS data
  app/models/policies/targeted_retention_incentive_payments/test/trs_importer.rb
  lib/dqt/objects/teacher.rb
  spec/models/policies/targeted_retention_incentive_payments/test/trs_importer_spec.rb
  spec/personas/targeted_retention_incentive_payments_new.csv
Due: standard

implement #to_csv for persona
  app/models/policies/targeted_retention_incentive_payments/test/user_persona.rb
  spec/models/policies/targeted_retention_incentive_payments/test/user_persona_spec.rb
Due: standard

change api to return array rather than string
  app/models/policies/targeted_retention_incentive_payments/test/user_persona.rb
  spec/models/policies/targeted_retention_incentive_payments/test/user_persona_spec.rb
Due: standard

add TRS degree names and codes to tests
  spec/models/policies/targeted_retention_incentive_payments/test/user_persona_spec.rb
Due: standard

map persona headers 1-to-1
  app/models/policies/targeted_retention_incentive_payments/test/user_persona.rb
  spec/fixtures/files/targeted_retention_incentive_payments_personas.csv
  spec/models/policies/targeted_retention_incentive_payments/test/user_persona_spec.rb
  spec/personas/targeted_retention_incentive_payments.csv
Due: standard

personas handles TRS data
  app/models/policies/targeted_retention_incentive_payments/test/user_persona.rb
  spec/fixtures/files/targeted_retention_incentive_payments_personas.csv
  spec/models/policies/targeted_retention_incentive_payments/test/user_persona_spec.rb
  spec/personas/targeted_retention_incentive_payments.csv
Due: standard

add rake task to import TRS data
  lib/tasks/trs_test_data.rake
Due: none

remove high risk OL idv check
  app/forms/admin/undo_decision_form.rb
  app/models/claim.rb
  app/models/one_login/return_code.rb
  app/views/admin/decisions/_decision_form.html.erb
  spec/factories/claims.rb
  spec/features/admin/admin_amend_decision_spec.rb
  spec/forms/admin/undo_decision_form_spec.rb
  spec/models/claim_spec.rb
Due: standard

Role and experience content change
  config/locales/further_education_payments.yml
  spec/models/policies/further_education_payments/eligibility_admin_provider_answers_presenter_spec.rb
Due: standard

Timetabled teaching hours content change
  app/views/further_education_payments/providers/claims/verifications/teaching_hours_per_week.html.erb
Due: none

The verification of this claim was started content change
  app/views/further_education_payments/providers/claims/verifications/_summary.html.erb
  app/views/further_education_payments/providers/claims/verifications/continue_verification.html.erb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
Due: standard

Change content eligible FE courses the claimant listed
  app/models/further_education_payments/providers/claims/answers_presenter.rb
  app/views/further_education_payments/providers/claims/verifications/_summary.html.erb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
  spec/features/further_education_payments/providers/provider_verifying_with_claimant_courses_spec.rb
  spec/features/further_education_payments/providers/verified_claim_spec.rb
Due: standard

Change content to study programmes, T Levels or 16-19 apprentices
  app/models/further_education_payments/providers/claims/answers_presenter.rb
  app/views/further_education_payments/providers/claims/verifications/_summary.html.erb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
  spec/features/further_education_payments/providers/provider_verifying_with_claimant_courses_spec.rb
  spec/features/further_education_payments/providers/verified_claim_spec.rb
Due: standard

wip
  app/controllers/widgets_controller.rb
  app/views/widgets/sign_in.html.erb
  config/initializers/omniauth.rb
  config/routes.rb
Due: standard

add FE teaching start year to QA report
  app/models/reports/failed_fe_provider_verification_v2.rb
  spec/models/reports/failed_fe_provider_verification_v2_spec.rb
Due: standard

change CSV year to full academic years
  app/models/reports/failed_fe_provider_verification_v2.rb
  spec/models/reports/failed_fe_provider_verification_v2_spec.rb
Due: standard

update maintenance page
  maintenance_page/html/assets/fonts/bold-affa96571d-v2.woff
  maintenance_page/html/assets/fonts/bold-b542beb274-v2.woff2
  maintenance_page/html/assets/fonts/light-94a07e06a1-v2.woff2
  maintenance_page/html/assets/fonts/light-f591b13f7d-v2.woff
  maintenance_page/html/assets/images/favicon.ico
  maintenance_page/html/assets/images/favicon.ico.br
  maintenance_page/html/assets/images/favicon.ico.gz
  maintenance_page/html/assets/images/favicon.svg
  maintenance_page/html/assets/images/favicon.svg.br
  maintenance_page/html/assets/images/favicon.svg.gz
  maintenance_page/html/assets/images/govuk-crest.svg
  maintenance_page/html/index.html
  maintenance_page/html/stylesheets/govuk-frontend-5.11.0.min.css
Due: prettier

feat(2705): claim storage account - point review at test modules branch
  terraform/application/config/review_app_env.yml
Due: none

School selector includes closed information
  app/views/further_education_payments/claims/select_provision.html.erb
  spec/features/further_education_payments/select_closed_school_spec.rb
Due: standard

touch
  README.md
Due: prettier

Allow amending practitioner_email_address
  app/forms/admin/amendment_form.rb
  app/forms/admin/amendments/early_years_payments_form.rb
  app/models/claim.rb
  app/views/admin/amendments/_early_years_payments.html.erb
  spec/features/admin/admin_amend_claim_spec.rb
Due: standard

Dynamically look up partial
  app/views/admin/amendments/_further_education_payments.html.erb
  app/views/admin/amendments/new.html.erb
Due: none

Allow amending email and mobile
  app/forms/admin/amendment_form.rb
  app/models/claim.rb
  app/views/admin/amendments/new.html.erb
  spec/features/admin/admin_amend_claim_spec.rb
  spec/requests/admin/admin_amendments_spec.rb
Due: standard

Extract validator
  app/forms/mobile_number_form.rb
  app/validators/mobile_number_format_validator.rb
Due: standard

Remove submitted requirement for amending
  app/forms/admin/amendments/early_years_payments_form.rb
  app/models/claim.rb
  spec/forms/admin/amendments/early_years_payments_form_spec.rb
  spec/models/claim_spec.rb
Due: standard

Update ineligible school copy
  app/views/targeted_retention_incentive_payments/claims/_ineligible_current_school.html.erb
Due: none

Fix - eligibility subquery multiple types
  app/models/claim/matching_attribute_finder.rb
  spec/models/claim/matching_attribute_finder_spec.rb
Due: standard

CAPT-1470 - duplicate finder per policy
  app/forms/admin/decision_form.rb
  app/models/policies/duplicate_finder.rb
  app/models/policies/early_career_payments/duplicate_finder.rb
  app/models/policies/early_years_payments/duplicate_finder.rb
  app/models/policies/further_education_payments/duplicate_finder.rb
  app/models/policies/international_relocation_payments/duplicate_finder.rb
  app/models/policies/student_loans/duplicate_finder.rb
  app/models/policies/targeted_retention_incentive_payments/duplicate_finder.rb
  spec/factories/claims.rb
  spec/features/admin/admin_claim_with_inconsistent_payroll_information_spec.rb
  spec/features/admin/approvals_spec.rb
  spec/features/further_education_payments/providers/unverified_dashboard_spec.rb
  spec/mailers/claim_mailer_spec.rb
  spec/models/policies/duplicate_finder_spec.rb
  spec/support/admin_view_claim_feature_shared_examples.rb
Due: standard

Add script to reject claims
  app/jobs/claims/reject_duplicates_job.rb
  spec/jobs/claims/reject_duplicates_job_spec.rb
Due: standard

Create remove_notes_job.rb
  app/jobs/remove_notes_job.rb
Due: standard

trigger census note creation
  app/jobs/remove_notes_job.rb
  app/jobs/trigger_census_subjects_taught_job.rb
Due: standard

Delete trigger_census_subjects_taught_job.rb
  app/jobs/trigger_census_subjects_taught_job.rb
Due: standard

Point old link at new landing page
  config/routes.rb
  spec/features/further_education_payments/providers/sessions_spec.rb
Due: standard

WIP - add reproduction test cases
  spec/models/automated_checks/claim_verifiers/employment_spec.rb
Due: standard

Bump node version
  Dockerfile
Due: none

Don't allow approving fe/tri/loans claims
  app/models/policies/further_education_payments.rb
  app/models/policies/student_loans.rb
  app/models/policies/targeted_retention_incentive_payments.rb
  app/views/admin/decisions/_decision_form.html.erb
  spec/models/claim_auto_approval_spec.rb
  spec/rails_helper.rb
Due: standard

Remove support_agent role
  app/controllers/admin/base_admin_controller.rb
  app/controllers/admin/page_controller.rb
  app/models/dfe_sign_in/user.rb
  spec/factories/dfe_sign_in/users.rb
  spec/features/admin/admin_claim_check_spec.rb
  spec/models/admin/task_list_form_spec.rb
  spec/models/dfe_sign_in/user_spec.rb
  spec/requests/admin/admin_amendments_spec.rb
  spec/requests/admin/admin_configure_services_spec.rb
  spec/requests/admin/admin_notes_spec.rb
  spec/requests/admin/admin_payment_confirmation_report_upload_spec.rb
  spec/requests/admin/admin_payroll_run_downloads_spec.rb
  spec/requests/admin/admin_payroll_runs_spec.rb
  spec/requests/admin/admin_school_workforce_data_upload_spec.rb
  spec/requests/admin/admin_student_loans_data_upload_spec.rb
  spec/requests/admin/admin_task_notes_spec.rb
  spec/requests/admin/admin_tps_data_upload_spec.rb
Due: standard
