Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{css,html,js,js.erb,json,md,scss}"
      run: rails prettier {staged_files}
      skip:
        - merge
        - rebase
    standard:
      glob: "*.rb"
      run: rails standard {staged_files}
      skip:
        - merge
        - rebase

Fix missing translation
  app/models/policies/further_education_payments/admin_tasks_presenter.rb
  config/locales/en.yml
Due: standard

Update payroll details copy
  app/views/admin/tasks/payroll_details.html.erb
  config/locales/en.yml
  spec/features/admin/admin_claim_payroll_details_task_spec.rb
Due: standard

Remove duplicated question
  app/views/admin/tasks/payroll_details.html.erb
  config/locales/en.yml
  spec/features/admin/admin_claim_payroll_details_task_spec.rb
Due: standard

Support rendering multi line answers
  app/views/admin/claims/_answers.html.erb
Due: none

Set heading width and show decision status
  app/views/admin/claims/show.html.erb
Due: none

Handle variable and fixed contracts
  app/models/policies/further_education_payments/eligibility.rb
  app/models/policies/further_education_payments/eligibility_admin_answers_presenter.rb
  spec/factories/policies/further_education_payments/eligibilities.rb
  spec/features/admin/admin_view_full_claim_further_education_payments_spec.rb
  spec/models/policies/further_education_payments/eligibility_admin_answers_presenter_spec.rb
Due: standard

Move rendering answers to policy specific partial
  app/views/admin/claims/policies/early_career_payments/_claim.html.erb
  app/views/admin/claims/policies/early_years_payments/_claim.html.erb
  app/views/admin/claims/policies/further_education_payments/_claim.html.erb
  app/views/admin/claims/policies/international_relocation_payments/_claim.html.erb
  app/views/admin/claims/policies/levelling_up_premium_payments/_claim.html.erb
  app/views/admin/claims/policies/student_loans/_claim.html.erb
  app/views/admin/claims/show.html.erb
Due: none

Show details on FE claims
  app/helpers/admin/claims_helper.rb
  app/models/policies/further_education_payments/eligibility_admin_answers_presenter.rb
  app/views/admin/claims/policies/further_education_payments/_claim.html.erb
  spec/features/admin/admin_view_full_claim_further_education_payments_spec.rb
  spec/models/policies/further_education_payments/eligibility_admin_answers_presenter_spec.rb
Due: standard

Rename method
  app/forms/journeys/further_education_payments/provider/verify_claim_form.rb
  app/models/policies/further_education_payments/eligibility.rb
  app/models/policies/further_education_payments/eligibility_admin_answers_presenter.rb
Due: standard

Update copy on expired link page
  app/views/early_years_payment/provider/start/claims/expired_link.html.erb
Due: none

update IRP reply-to for emails
  app/models/policies/international_relocation_payments.rb
Due: standard

update IRP email address
  app/views/get_a_teacher_relocation_payment/landing_page.html.erb
  config/locales/en.yml
Due: none

[LUPEYALPHA-790] Email timeout (magic link expiry) (#3200)
  app/controllers/claims_controller.rb
  app/models/journeys/early_years_payment/provider/start/slug_sequence.rb
  app/models/journeys/page_sequence.rb
  app/views/early_years_payment/provider/start/claims/expired_link.html.erb
  spec/features/early_years_payment/provider/authenticated/expired_magic_link_spec.rb
Due: standard

payroll admin task no longer shows claimant name
  config/locales/en.yml
Due: none

FE provision search errors on no results
  app/forms/journeys/further_education_payments/further_education_provision_search_form.rb
  app/forms/journeys/further_education_payments/select_provision_form.rb
  app/views/further_education_payments/claims/further_education_provision_search.html.erb
  spec/features/further_education_payments/happy_js_path_spec.rb
Due: standard

Update policy name
  app/models/policies/levelling_up_premium_payments.rb
  app/views/additional_payments/claims/_ineligibility_trainee_teaching_lacking_both_valid_itt_subject_and_degree.html.erb
  app/views/additional_payments/landing_page.html.erb
  config/locales/en.yml
  spec/features/admin/admin_claim_allocation_spec.rb
  spec/features/admin/admin_claims_filtering_spec.rb
  spec/features/admin/admin_manage_lupp_school_awards_spec.rb
  spec/features/admin/admin_payroll_runs_spec.rb
  spec/features/combined_teacher_claim_journey_spec.rb
  spec/features/combined_teacher_claim_journey_with_teacher_id_check_email_spec.rb
  spec/features/combined_teacher_claim_journey_with_teacher_id_check_mobile_spec.rb
  spec/features/combined_teacher_claim_journey_with_teacher_id_spec.rb
  spec/features/hmrc_bank_validation_spec.rb
  spec/features/levelling_up_premium_payments_spec.rb
  spec/helpers/admin/claims_helper_spec.rb
  spec/helpers/application_helper_spec.rb
  spec/helpers/claims/show_helper_spec.rb
  spec/mailers/claim_mailer_spec.rb
  spec/models/levelling_up_premium_payments_spec.rb
  spec/models/policies_spec.rb
Due: standard

Update email address
  config/locales/en.yml
  spec/mailers/claim_mailer_spec.rb
Due: standard

Replace hardcoded references to LUP
  app/views/additional_payments/claims/_eligibility_confirmed_multiple.html.erb
  app/views/additional_payments/claims/_eligibility_guidance_levelling_up_premium_payments.html.erb
  app/views/additional_payments/claims/_ineligibility_bad_itt_subject_for_ecp.html.erb
  app/views/additional_payments/claims/_ineligibility_bad_itt_year_for_ecp.html.erb
  app/views/additional_payments/claims/_ineligibility_current_school.html.erb
  app/views/additional_payments/claims/_ineligibility_dqt_data_ineligible.html.erb
  app/views/additional_payments/claims/_ineligibility_ecp_only_induction_not_completed.html.erb
  app/views/additional_payments/claims/_ineligibility_ecp_only_teacher_with_ineligible_itt_year.html.erb
  app/views/additional_payments/claims/_ineligibility_ecp_only_trainee_teacher.html.erb
  app/views/additional_payments/claims/_ineligibility_generic.html.erb
  app/views/additional_payments/claims/_ineligibility_lack_both_valid_itt_subject_and_degree.html.erb
  app/views/additional_payments/claims/_ineligibility_no_ecp_subjects_that_itt_year.html.erb
  app/views/additional_payments/claims/_ineligibility_teacher_with_ineligible_itt_year.html.erb
  app/views/additional_payments/claims/_ineligibility_trainee_in_last_policy_year.html.erb
  app/views/additional_payments/claims/_ineligibility_trainee_teaching_lacking_both_valid_itt_subject_and_degree.html.erb
  app/views/additional_payments/claims/_ineligibility_would_be_eligible_for_both_ecp_and_lup_except_for_insufficient_teaching.html.erb
  app/views/additional_payments/claims/_ineligibility_would_be_eligible_for_ecp_only_except_for_insufficient_teaching.html.erb
  app/views/additional_payments/claims/_ineligibility_would_be_eligible_for_lup_only_except_for_insufficient_teaching.html.erb
  app/views/additional_payments/claims/eligible_later.html.erb
  app/views/additional_payments/claims/future_eligibility.html.erb
  app/views/additional_payments/landing_page.html.erb
  app/views/additional_payments/submissions/show.html.erb
  app/views/admin/journey_configurations/_edit_additional_payments.html.erb
  app/views/admin/journey_configurations/edit.html.erb
  app/views/admin/payroll_runs/show.html.erb
Due: none

Configure FE claims to never be sent for QA (#3171)
  app/models/policies/further_education_payments.rb
Due: standard

admin IRP task to check for previous payment
  app/models/claim_checking_tasks.rb
  app/models/policies/international_relocation_payments/claim_checking_tasks.rb
  app/models/task.rb
  app/views/admin/tasks/previous_payment.html.erb
  config/locales/en.yml
  spec/features/admin/admin_checks_irp_claim_spec.rb
  spec/support/admin_view_claim_feature_shared_examples.rb
Due: standard

refactor: extract IRP tasks to object
  app/models/claim_checking_tasks.rb
  app/models/policies/international_relocation_payments/claim_checking_tasks.rb
Due: standard

add OL IDV data to identity confirmation task
  app/models/claim.rb
  app/views/admin/tasks/_one_login_idv.html.erb
  app/views/admin/tasks/identity_confirmation.html.erb
  spec/factories/claims.rb
  spec/features/admin/tasks/identity_confirmation_spec.rb
Due: standard

update copy on admin OL IDV task
  app/views/admin/tasks/_one_login_idv.html.erb
Due: none

update copy for admin OL IDV
  app/views/admin/tasks/_one_login_idv.html.erb
Due: none

auto check OL IDV data
  app/models/automated_checks/claim_verifiers/identity.rb
  app/models/base_policy.rb
  app/models/policies/further_education_payments.rb
  spec/factories/claims.rb
  spec/models/automated_checks/claim_verifiers/identity_spec.rb
Due: standard

one login check can never auto fail
  app/models/automated_checks/claim_verifiers/identity.rb
  spec/models/automated_checks/claim_verifiers/identity_spec.rb
Due: standard

OL mismatch now fails ID task
  app/models/automated_checks/claim_verifiers/identity.rb
  spec/models/automated_checks/claim_verifiers/identity_spec.rb
Due: standard

OLD IDV checks first and last name only
  app/models/automated_checks/claim_verifiers/identity.rb
Due: standard

add missing backoffice translation
  config/locales/en.yml
Due: none

fix back link position
  app/views/admin/tasks/identity_confirmation.html.erb
Due: none

do not send provider verification is OL IDV fails
  app/forms/journeys/further_education_payments/claim_submission_form.rb
  app/models/automated_checks/claim_verifiers/identity.rb
  app/models/claim.rb
  spec/forms/journeys/further_education_payments/claim_submission_form_spec.rb
Due: standard

update copy for IRP confirmation screen
  app/views/get_a_teacher_relocation_payment/submissions/show.html.erb
  app/views/submissions/_confirmation.html.erb
Due: none

add IRP specific data to admin CSV download
  app/models/claim/data_report_request.rb
  app/models/policies/international_relocation_payments/eligibility.rb
  spec/models/claim/data_report_request_spec.rb
Due: standard

admin IRP summary view tweak
  app/helpers/admin/claim_summary_helper.rb
  app/views/admin/tasks/_claim_summary_international_relocation_payments.html.erb
  spec/helpers/admin/claim_summary_helper_spec.rb
Due: standard

update admin IRP copy
  app/views/admin/tasks/index.html.erb
  config/locales/en.yml
Due: none

admin notes content update
  app/views/admin/notes/_form.html.erb
  app/views/admin/notes/index.html.erb
Due: none

admin notes content update (#3198)
  app/views/admin/notes/_form.html.erb
  app/views/admin/notes/index.html.erb
Due: none

Fix task links not showing
  app/views/admin/tasks/_provider_verification_unsubmitted.html.erb
  app/views/admin/tasks/provider_verification.html.erb
Due: none

touch readme
  README.md
Due: prettier

Cope with student loan data with "No data" rows. Remove invalid match logic.
  app/models/automated_checks/claim_verifiers/student_loan_plan.rb
  app/models/claim.rb
  app/models/claim_student_loan_details_updater.rb
  app/models/journeys/answers_student_loans_details_updater.rb
  app/models/journeys/teacher_student_loan_reimbursement/answers_student_loans_details_updater.rb
  app/models/student_loans_data_presenter.rb
  spec/features/admin/upload_slc_data_spec.rb
  spec/features/ineligible_student_loans_claims_spec.rb
  spec/models/automated_checks/claim_verifiers/student_loan_plan_spec.rb
  spec/models/claim_spec.rb
  spec/models/claim_student_loan_details_updater_spec.rb
  spec/models/student_loans/eligibility_spec.rb
  spec/requests/admin/admin_student_loans_data_upload_spec.rb
Due: standard
