Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

Update documentation for accessing production
  README.md
  bin/azure-console
  docs/connecting-to-azure.md
  docs/first-line-support-developer-runbook.md
  docs/school-check-data.md
Due: prettier

Disable until after migration
  .github/workflows/database_backup.yml
Due: none

Updated app name and removed unnecessary if statement
  .github/workflows/database_backup.yml
Due: none

Add database backup workflow
  .github/workflows/database_backup.yml
Due: none

Remove checkout step from job
  .github/workflows/database_backup.yml
Due: none

add ineligible state to FE journey
  app/models/journeys/further_education_payments/session_answers.rb
  app/models/policies/further_education_payments/policy_eligibility_checker.rb
  app/views/further_education_payments/claims/_ineligible_lacks_teacher_qualification_or_enrolment.html.erb
  spec/features/further_education_payments/ineligible_paths_spec.rb
Due: standard

add ineligible state for FE journey
  app/models/journeys/further_education_payments/session_answers.rb
  app/models/policies/further_education_payments/policy_eligibility_checker.rb
  app/views/further_education_payments/claims/_ineligible_must_at_least_half_hours_teaching_fe.html.erb
  spec/features/further_education_payments/ineligible_paths_spec.rb
Due: standard

Add the environment to the job so we pick the correct AZURE_SUBSCRIPTION variable
  .github/workflows/database_backup.yml
Due: none

minor copy change to an FE answer
  config/locales/en.yml
  spec/features/further_education_payments/ineligible_paths_spec.rb
Due: standard

handle ineligible FE subjects journey
  app/models/policies/further_education_payments/policy_eligibility_checker.rb
  app/views/further_education_payments/claims/_ineligible_subject.html.erb
  spec/features/further_education_payments/ineligible_paths_spec.rb
  spec/models/policies/further_education_payments/policy_eligibility_checker_spec.rb
Due: standard

renamed mathematics to maths
  spec/forms/journeys/further_education_payments/subjects_taught_form_spec.rb
Due: standard

building and construction courses for FE journey
  app/forms/journeys/further_education_payments/building_construction_courses_form.rb
  app/models/journeys/further_education_payments.rb
  app/models/journeys/further_education_payments/session_answers.rb
  app/views/further_education_payments/claims/building_and_construction_courses.html.erb
  config/locales/en.yml
  spec/features/further_education_payments/happy_js_path_spec.rb
  spec/features/further_education_payments/happy_path_spec.rb
  spec/forms/journeys/further_education_payments/building_construction_courses_form_spec.rb
Due: standard

update subjects taught values
  app/forms/journeys/further_education_payments/subjects_taught_form.rb
  config/locales/en.yml
Due: standard

refactor invert conditional
  app/forms/journeys/further_education_payments/teaching_responsibilities_form.rb
Due: standard

camelcase email
  config/locales/en.yml
Due: none

handle ineligible course for FE journey
  app/models/policies/further_education_payments/policy_eligibility_checker.rb
  app/views/further_education_payments/claims/_ineligible_courses.html.erb
  spec/features/further_education_payments/ineligible_paths_spec.rb
  spec/models/policies/further_education_payments/policy_eligibility_checker_spec.rb
Due: standard

add chemistry courses to FE journey
  app/forms/journeys/further_education_payments/building_construction_courses_form.rb
  app/forms/journeys/further_education_payments/chemistry_courses_form.rb
  app/models/journeys/further_education_payments.rb
  app/models/journeys/further_education_payments/session_answers.rb
  app/models/journeys/further_education_payments/slug_sequence.rb
  app/views/further_education_payments/claims/_courses.html.erb
  app/views/further_education_payments/claims/chemistry_courses.html.erb
  config/locales/en.yml
  spec/features/further_education_payments/happy_path_spec.rb
  spec/forms/journeys/further_education_payments/chemistry_courses_form_spec.rb
Due: standard

add maths courses to FE journey
  app/forms/journeys/further_education_payments/maths_courses_form.rb
  app/models/journeys/further_education_payments.rb
  app/models/journeys/further_education_payments/session_answers.rb
  app/models/journeys/further_education_payments/slug_sequence.rb
  app/views/further_education_payments/claims/maths_courses.html.erb
  config/locales/en.yml
  spec/features/further_education_payments/happy_path_spec.rb
  spec/forms/journeys/further_education_payments/maths_courses_form_spec.rb
Due: standard

handle rebase issue with course names
  app/forms/journeys/further_education_payments/subjects_taught_form.rb
  config/locales/en.yml
  spec/features/further_education_payments/happy_path_spec.rb
  spec/models/journeys/further_education_payments/answers_presenter_spec.rb
Due: standard

reset dependent answers for FE subjects taught
  app/forms/journeys/further_education_payments/subjects_taught_form.rb
  spec/forms/journeys/further_education_payments/subjects_taught_form_spec.rb
Due: standard

add computing courses to FE journey
  app/forms/journeys/further_education_payments/computing_courses_form.rb
  app/models/journeys/further_education_payments.rb
  app/models/journeys/further_education_payments/session_answers.rb
  app/models/journeys/further_education_payments/slug_sequence.rb
  app/views/further_education_payments/claims/computing_courses.html.erb
  config/locales/en.yml
  spec/features/further_education_payments/happy_path_spec.rb
  spec/forms/journeys/further_education_payments/computing_courses_form_spec.rb
Due: standard

move FE course options into i18n
  app/forms/journeys/further_education_payments/building_construction_courses_form.rb
  app/forms/journeys/further_education_payments/chemistry_courses_form.rb
  app/forms/journeys/further_education_payments/computing_courses_form.rb
  app/forms/journeys/further_education_payments/early_years_courses_form.rb
  app/forms/journeys/further_education_payments/engineering_manufacturing_courses_form.rb
  app/forms/journeys/further_education_payments/maths_courses_form.rb
  app/forms/journeys/further_education_payments/physics_courses_form.rb
  config/locales/en.yml
Due: standard

add engineering courses to FE journey
  app/forms/journeys/further_education_payments/engineering_manufacturing_courses_form.rb
  app/models/journeys/further_education_payments.rb
  app/models/journeys/further_education_payments/session_answers.rb
  app/models/journeys/further_education_payments/slug_sequence.rb
  app/views/further_education_payments/claims/engineering_manufacturing_courses.html.erb
  config/locales/en.yml
  spec/features/further_education_payments/happy_js_path_spec.rb
  spec/features/further_education_payments/happy_path_spec.rb
  spec/forms/journeys/further_education_payments/engineering_manufacturing_courses_form_spec.rb
Due: standard

add early years courses to FE journey
  app/forms/journeys/further_education_payments/early_years_courses_form.rb
  app/models/journeys/further_education_payments.rb
  app/models/journeys/further_education_payments/session_answers.rb
  app/models/journeys/further_education_payments/slug_sequence.rb
  app/views/further_education_payments/claims/early_years_courses.html.erb
  config/locales/en.yml
  spec/features/further_education_payments/happy_path_spec.rb
  spec/forms/journeys/further_education_payments/early_years_courses_form_spec.rb
Due: standard

course label links now open in a new tab
  app/forms/journeys/further_education_payments/building_construction_courses_form.rb
  app/forms/journeys/further_education_payments/computing_courses_form.rb
  app/forms/journeys/further_education_payments/early_years_courses_form.rb
  app/forms/journeys/further_education_payments/engineering_manufacturing_courses_form.rb
  app/forms/journeys/further_education_payments/maths_courses_form.rb
  spec/features/further_education_payments/happy_path_spec.rb
Due: standard

fix linting
  app/forms/journeys/further_education_payments/building_construction_courses_form.rb
  app/forms/journeys/further_education_payments/chemistry_courses_form.rb
  app/forms/journeys/further_education_payments/computing_courses_form.rb
  app/forms/journeys/further_education_payments/early_years_courses_form.rb
  app/forms/journeys/further_education_payments/engineering_manufacturing_courses_form.rb
  app/forms/journeys/further_education_payments/maths_courses_form.rb
  app/models/policies/further_education_payments/policy_eligibility_checker.rb
Due: standard

update FE course identifiers
  app/forms/journeys/further_education_payments/building_construction_courses_form.rb
  app/forms/journeys/further_education_payments/chemistry_courses_form.rb
  spec/forms/journeys/further_education_payments/building_construction_courses_form_spec.rb
  spec/forms/journeys/further_education_payments/chemistry_courses_form_spec.rb
Due: standard

start again links go to starting page instead
  app/views/further_education_payments/claims/_ineligible_courses.html.erb
  app/views/further_education_payments/claims/_ineligible_subject.html.erb
Due: none

add physics courses to FE journey
  app/forms/journeys/further_education_payments/physics_courses_form.rb
  app/models/journeys/further_education_payments.rb
  app/models/journeys/further_education_payments/session_answers.rb
  app/models/journeys/further_education_payments/slug_sequence.rb
  app/views/further_education_payments/claims/physics_courses.html.erb
  config/locales/en.yml
  spec/features/further_education_payments/happy_path_spec.rb
  spec/forms/journeys/further_education_payments/physics_courses_form_spec.rb
Due: standard

add forced line break for presentation
  config/locales/en.yml
Due: none

update course hint copy
  config/locales/en.yml
Due: none

fix rebasing tests
  app/models/journeys/further_education_payments.rb
  app/models/journeys/further_education_payments/slug_sequence.rb
  app/views/further_education_payments/claims/building_construction_courses.html.erb
  spec/features/further_education_payments/ineligible_paths_spec.rb
Due: standard

remove duplicated include
  app/forms/journeys/further_education_payments/building_construction_courses_form.rb
  app/forms/journeys/further_education_payments/chemistry_courses_form.rb
  app/forms/journeys/further_education_payments/computing_courses_form.rb
  app/forms/journeys/further_education_payments/early_years_courses_form.rb
  app/forms/journeys/further_education_payments/engineering_manufacturing_courses_form.rb
  app/forms/journeys/further_education_payments/maths_courses_form.rb
  app/forms/journeys/further_education_payments/physics_courses_form.rb
Due: standard

Enable logit.io shipping for all environments
  terraform/application/application.tf
  terraform/application/config/production.tfvars.json
  terraform/application/config/review.tfvars.json
  terraform/application/config/test.tfvars.json
  terraform/application/variables.tf
Due: prettier

Database restore workflow
  .github/workflows/database_restore.yml
Due: none

Use GA from branch 1914-claims-db-backup
  .github/workflows/database_backup.yml
Due: none

Override backup file name in restore workflow
  .github/workflows/database_restore.yml
Due: none

enqueue school import job when seeding
  db/seeds.rb
Due: standard

Fix app env yml formatting
  terraform/application/config/production_app_env.yml
Due: none

Update redirect URLs for https
  terraform/application/config/production_app_env.yml
  terraform/application/config/test_app_env.yml
Due: none

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
