Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

Remove date of entry check
  app/models/policies/international_relocation_payments/policy_eligibility_checker.rb
  spec/features/get_a_teacher_relocation_payment/ineligible_route_completing_the_form_spec.rb
  spec/models/policies/international_relocation_payments/policy_eligibility_checker_spec.rb
Due: standard

swap ordering of provider verified claims stats
  app/views/further_education_payments/providers/verified_claims/index.html.erb
Due: none

min height for card component for better alignment
  app/assets/stylesheets/components/card.scss
Due: prettier

Add employment date check to admin view
  app/models/policies/early_years_payments/eligibility.rb
  app/views/admin/tasks/_claim_summary_early_years_payments.html.erb
  spec/features/admin/admin_view_claim_early_years_payments_spec.rb
Due: standard

Move constant
  app/controllers/further_education_payments/providers/base_controller.rb
  app/models/policies/further_education_payments.rb
  app/views/further_education_payments/provider/claims/_dfe_sign_in_bypass_form.html.erb
  app/views/further_education_payments/providers/sessions/_dfe_sign_in_by_pass.html.erb
  spec/features/further_education_payments/provider/provider_verifying_claims_in_2024_ay_spec.rb
  spec/features/further_education_payments/providers/provider_verification_access_spec.rb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
  spec/features/further_education_payments/providers/provider_verifying_with_claimant_courses_spec.rb
Due: standard

Add y1 verification spec
  spec/features/further_education_payments/viewing_year_1_claims_in_admin_area_spec.rb
Due: standard

Remove Y1 FE provider views
  app/views/further_education_payments/provider/claims/_dfe_sign_in_bypass_form.html.erb
  app/views/further_education_payments/provider/claims/_unauthorised_claim_admin.html.erb
  app/views/further_education_payments/provider/claims/_unauthorised_incorrect_role.html.erb
  app/views/further_education_payments/provider/claims/_unauthorised_no_service_access.html.erb
  app/views/further_education_payments/provider/claims/_unauthorised_organisation_mismatch.html.erb
  app/views/further_education_payments/provider/claims/already_verified.html.erb
  app/views/further_education_payments/provider/claims/confirmation.html.erb
  app/views/further_education_payments/provider/claims/expired_link.html.erb
  app/views/further_education_payments/provider/claims/sign_in.html.erb
  app/views/further_education_payments/provider/claims/unauthorised.html.erb
  app/views/further_education_payments/provider/claims/verify_claim.html.erb
  app/views/further_education_payments/provider/claims/verify_identity.html.erb
  app/views/further_education_payments/provider/landing_page.html.erb
Due: none

Remove Y1 FE PV oauth callback
  app/controllers/omniauth_callbacks_controller.rb
  db/seeds.rb
  spec/features/further_education_payments/providers/provider_verification_access_spec.rb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
  spec/features/further_education_payments/providers/provider_verifying_with_claimant_courses_spec.rb
  spec/features/further_education_payments/providers/sessions_spec.rb
  spec/features/further_education_payments/providers/status_and_processed_by_spec.rb
  spec/features/further_education_payments/providers/unverified_dashboard_spec.rb
  spec/features/further_education_payments/providers/verified_claim_spec.rb
  spec/features/further_education_payments/providers/verified_dashboard_spec.rb
Due: standard

Remove links for admin to resend y1 verification
  app/controllers/admin/further_education_payments/provider_verification_emails_controller.rb
  app/views/admin/tasks/_provider_verification_unsubmitted.html.erb
  config/routes.rb
  spec/features/admin/admin_claim_further_education_payments_spec.rb
Due: standard

Remove FE Y1 PV forms
  app/forms/journeys/further_education_payments/provider/already_verified_form.rb
  app/forms/journeys/further_education_payments/provider/claim_submission_form.rb
  app/forms/journeys/further_education_payments/provider/confirmation_form.rb
  app/forms/journeys/further_education_payments/provider/expired_link_form.rb
  app/forms/journeys/further_education_payments/provider/omniauth_callback_form.rb
  app/forms/journeys/further_education_payments/provider/session_form.rb
  app/forms/journeys/further_education_payments/provider/sign_in_form.rb
  app/forms/journeys/further_education_payments/provider/unauthorised_form.rb
  app/forms/journeys/further_education_payments/provider/verify_claim_form.rb
  app/forms/journeys/further_education_payments/provider/verify_identity_form.rb
  app/models/journeys/further_education_payments/provider.rb
  spec/forms/journeys/further_education_payments/provider/omniauth_callback_form_spec.rb
  spec/forms/journeys/further_education_payments/provider/verify_claim_form_spec.rb
  spec/forms/journeys/further_education_payments/provider/verify_identity_form_spec.rb
Due: standard

Rename journey stub
  app/controllers/further_education_payments/providers/base_controller.rb
Due: standard

Remove Y1 FE provider journey models
  app/controllers/omniauth_callbacks_controller.rb
  app/models/journeys.rb
  app/models/journeys/further_education_payments/provider.rb
  app/models/journeys/further_education_payments/provider/authorisation.rb
  app/models/journeys/further_education_payments/provider/eligibility_checker.rb
  app/models/journeys/further_education_payments/provider/session.rb
  app/models/journeys/further_education_payments/provider/session_answers.rb
  app/models/journeys/further_education_payments/provider/session_answers_type.rb
  app/models/journeys/further_education_payments/provider/slug_sequence.rb
  db/seeds.rb
  spec/models/journeys/further_education_payments/provider/authorisation_spec.rb
  spec/models/journeys_spec.rb
  spec/requests/omniauth_callbacks_controller_spec.rb
Due: standard

Fix header
  app/controllers/further_education_payments/providers/base_controller.rb
  app/views/further_education_payments/providers/_header.html.erb
Due: standard

Move sign out and request service urls
  app/models/policies/further_education_payments.rb
  app/views/further_education_payments/providers/authorisation_failures/_no_service_access.html.erb
  app/views/further_education_payments/providers/authorisation_failures/_organisation_mismatch.html.erb
Due: standard

Remove provider verification emails
  app/forms/journeys/further_education_payments/check_your_answers_form.rb
  app/forms/journeys/further_education_payments/provider/claim_submission_form.rb
  app/jobs/further_education_payments/provider_verification_chase_email_job.rb
  app/mailers/application_mailer.rb
  app/mailers/claim_mailer.rb
  app/models/policies/further_education_payments/provider_verification_emails.rb
  spec/features/further_education_payments/provider/provider_verifying_claims_in_2024_ay_spec.rb
  spec/forms/journeys/further_education_payments/check_your_answers_form_spec.rb
  spec/forms/journeys/further_education_payments/provider/verify_claim_form_spec.rb
  spec/forms/journeys/further_education_payments/provider/verify_identity_form_spec.rb
  spec/jobs/further_education_payments/provider_verification_chase_email_job_spec.rb
  spec/models/policies/further_education_payments/provider_verfication_emails_spec.rb
Due: standard

Remove unused method
  app/models/policies/further_education_payments.rb
  spec/factories/journeys/further_education_payments/provider/answers.rb
  spec/factories/journeys/further_education_payments/provider/session.rb
  spec/features/admin/admin_claim_further_education_payments_spec.rb
Due: standard

Remove commented out spec
  app/models/policies/further_education_payments.rb
  spec/features/further_education_payments/provider/provider_verifying_claims_in_2024_ay_spec.rb
Due: standard

Add fe provider journey to old journeys scope
  app/models/journeys/configuration.rb
Due: standard

This job has been removed
  config/recurring.yml
Due: none

copy update FE start year page
  app/views/further_education_payments/claims/further_education_teaching_start_year.html.erb
Due: none

update copy FE contract type
  app/forms/journeys/further_education_payments/contract_type_form.rb
  config/locales/en.yml
  spec/features/further_education_payments/ineligible_paths_spec.rb
Due: standard

copy update FE teaching qualification page
  app/views/further_education_payments/claims/teaching_qualification.html.erb
Due: none

copy update EY start pages
  app/views/early_years_payment/practitioner/landing_page.html.erb
  app/views/early_years_payment/provider/start/guidance.html.erb
  app/views/early_years_payment/provider/start/landing_page.html.erb
  spec/features/early_years_payment/provider/start/documents_spec.rb
  spec/features/early_years_payment/provider/start/happy_path_spec.rb
Due: standard

update copy FE courses hint
  app/views/further_education_payments/claims/_courses.html.erb
  config/locales/en.yml
Due: none

Assume all claims have a journey session
  app/models/journeys/early_years_payment/provider/authenticated/eligibility_checker.rb
  spec/features/early_years_payment/provider/authenticated/ineligible_max_claims_exceeded_spec.rb
  spec/models/journeys/early_years_payment/provider/authenticated/eligibility_checker_spec.rb
Due: standard

Update ineligible screen copy
  app/views/early_years_payment/provider/authenticated/claims/_ineligibility_max_claims_exceeded.html.erb
  spec/features/early_years_payment/provider/authenticated/ineligible_max_claims_exceeded_spec.rb
Due: standard

Add limits to number of claims per nursery
  app/models/eligible_ey_provider.rb
  app/models/eligible_ey_providers_importer.rb
  app/models/journeys/early_years_payment/provider/authenticated/eligibility_checker.rb
  app/models/journeys/early_years_payment/provider/authenticated/session_answers.rb
  app/views/early_years_payment/provider/authenticated/claims/_ineligibility_max_claims_exceeded.html.erb
  config/analytics.yml
  db/migrate/20250916153109_add_eoi_limit_to_eligible_ey_providers.rb
  db/schema.rb
  spec/factories/eligible_ey_providers.rb
  spec/features/admin/eligible_ey_providers_spec.rb
  spec/features/early_years_payment/provider/authenticated/ineligible_max_claims_exceeded_spec.rb
  spec/models/eligible_ey_providers_importer_spec.rb
  spec/models/journeys/early_years_payment/provider/authenticated/eligibility_checker_spec.rb
Due: standard

copy update FE half teaching hours hint
  app/views/further_education_payments/claims/half_teaching_hours.html.erb
Due: none

copy update FE performance/disciplinary page
  config/locales/en.yml
  spec/features/admin/admin_view_full_claim_further_education_payments_spec.rb
  spec/features/further_education_payments/bypass_one_login_spec.rb
  spec/features/further_education_payments/change_answers_spec.rb
  spec/features/further_education_payments/claimed_last_year_spec.rb
  spec/features/further_education_payments/existing_one_login_spec.rb
  spec/features/further_education_payments/happy_js_path_spec.rb
  spec/features/further_education_payments/happy_path_spec.rb
  spec/features/further_education_payments/ineligible_paths_spec.rb
  spec/features/further_education_payments/jump_around_spec.rb
  spec/features/further_education_payments/one_login_without_idv_spec.rb
  spec/features/further_education_payments/previously_claimed_spec.rb
  spec/features/further_education_payments/variable_contract_spec.rb
  spec/models/journeys/further_education_payments/answers_presenter_spec.rb
  spec/models/policies/further_education_payments/eligibility_admin_answers_presenter_spec.rb
Due: standard

update copy FE eligible page
  app/views/further_education_payments/claims/eligible.html.erb
Due: none

FE claimant declaration
  app/forms/journeys/further_education_payments/check_your_answers_form.rb
  app/models/journeys/further_education_payments/session_answers.rb
  app/views/further_education_payments/claims/check_your_answers.html.erb
  config/analytics.yml
  config/locales/en.yml
  db/migrate/20250919121023_add_claimant_declaration.rb
  db/schema.rb
  spec/features/accessing_closed_service_spec.rb
  spec/features/further_education_payments/claimed_last_year_spec.rb
  spec/features/further_education_payments/existing_one_login_spec.rb
  spec/features/further_education_payments/happy_js_path_spec.rb
  spec/features/further_education_payments/happy_path_spec.rb
  spec/features/further_education_payments/one_login_without_idv_spec.rb
  spec/features/further_education_payments/previously_claimed_spec.rb
  spec/features/further_education_payments/variable_contract_spec.rb
  spec/forms/journeys/further_education_payments/check_your_answers_form_spec.rb
  spec/models/journeys/service_access_code_spec.rb
  spec/support/steps/further_education_journey.rb
Due: standard

Only show current academic year claims
  app/controllers/further_education_payments/providers/base_controller.rb
Due: standard

Add additional question for non qualified teachers
  app/forms/further_education_payments/providers/claims/verification/check_answers_form.rb
  app/forms/further_education_payments/providers/claims/verification/not_started_qualification_reason_form.rb
  app/models/further_education_payments/providers/claims/verification/wizard.rb
  app/models/policies/further_education_payments/eligibility.rb
  app/views/further_education_payments/providers/claims/verifications/_summary.html.erb
  app/views/further_education_payments/providers/claims/verifications/_verification_header.html.erb
  app/views/further_education_payments/providers/claims/verifications/not_started_qualification_reason.html.erb
  config/analytics.yml
  config/locales/en.yml
  db/migrate/20250919095049_add_not_started_qualification_reasons_to_fe_eligibility.rb
  db/schema.rb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
  spec/forms/further_education_payments/providers/claims/verification/not_started_qualification_reason_form_spec.rb
Due: standard

CAPT-2863 Add continued employment page and form
  app/forms/further_education_payments/providers/claims/verification/check_answers_form.rb
  app/forms/further_education_payments/providers/claims/verification/continued_employment_form.rb
  app/models/further_education_payments/providers/claims/verification/wizard.rb
  app/views/further_education_payments/providers/claims/verifications/_summary.html.erb
  app/views/further_education_payments/providers/claims/verifications/continued_employment.html.erb
  config/analytics_blocklist.yml
  db/migrate/20250922184500_add_continued_employment_provider_verification_attribute_to_fe_eligibility.rb
  db/schema.rb
  spec/factories/policies/further_education_payments/eligibilities.rb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
  spec/features/further_education_payments/providers/provider_verifying_with_claimant_courses_spec.rb
Due: standard

touch
  README.md
Due: prettier

FE provider dashboard scoped to academic year
  app/controllers/further_education_payments/providers/base_controller.rb
Due: standard

FE provider dashboard verified stats
  app/controllers/further_education_payments/providers/base_controller.rb
  app/controllers/further_education_payments/providers/verified_claims_controller.rb
  app/models/further_education_payments/providers/claims/stats.rb
  app/models/payment.rb
  app/views/further_education_payments/providers/verified_claims/index.html.erb
  spec/factories/policies/further_education_payments/eligibilities.rb
  spec/models/further_education_payments/providers/claims/stats_spec.rb
Due: standard

Add spec to check jobs in recurring exist
  spec/jobs/recurring_jobs_exist_spec.rb
Due: standard

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
