Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{css,html,js,js.erb,json,md,scss}"
      run: rails prettier {staged_files}
      skip:
        - merge
        - rebase
    standard:
      glob: "*.rb"
      run: rails standard {staged_files}
      skip:
        - merge
        - rebase

CAPT-3772 - upload payslip, dfe charter blurb
  app/views/early_years_teachers_financial_incentive_payments/claims/upload_employment_proof.html.erb
Due: none

Update upload_employment_proof.html.erb
  app/views/early_years_teachers_financial_incentive_payments/claims/upload_employment_proof.html.erb
Due: none

2683 - New GitHub action validate infra workflow
  .github/workflows/validate-infrastructure.yml
  Makefile
  README.md
Due: prettier

CAPT-3776 - Fix image preview size outside development
  app/assets/stylesheets/components/document.scss
  app/assets/stylesheets/components/image_preview.scss
  app/views/early_years_teachers_financial_incentive_payments/claims/review_employment_proof.html.erb
Due: prettier

Set TRN from TRS
  app/forms/journeys/early_years_teachers_financial_incentive_payments/check_your_answers_form.rb
  spec/features/early_years_teachers_financial_incentive_payments/claim_submission_to_payroll_spec.rb
Due: standard

Add full end to end spec
  app/controllers/journeys/early_years_teachers_financial_incentive_payments/auth_controller.rb
  app/controllers/journeys/early_years_teachers_financial_incentive_payments/bypass_auth_controller.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/session_answers.rb
  app/models/policies/early_years_teachers_financial_incentive_payments/duplicate_finder.rb
  spec/features/early_years_teachers_financial_incentive_payments/claim_submission_to_payroll_spec.rb
Due: standard

Add content to service
  app/views/early_years_teachers_financial_incentive_payments/claims/confirmation.html.erb
  app/views/early_years_teachers_financial_incentive_payments/claims/nursery_search.html.erb
  app/views/early_years_teachers_financial_incentive_payments/claims/nursery_select.html.erb
  config/locales/early_years_teachers_financial_incentive_payments.yml
Due: none

Update app/views/early_years_teachers_financial_incentive_payments/claims/confirmation.html.erb
  app/views/early_years_teachers_financial_incentive_payments/claims/confirmation.html.erb
Due: none

Fix claim cancelled
  app/controllers/static_pages_controller.rb
  app/forms/journeys/early_years_teachers_financial_incentive_payments/claim_cancelled_form.rb
  app/forms/journeys/early_years_teachers_financial_incentive_payments/continue_claim_form.rb
  app/views/early_years_teachers_financial_incentive_payments/claims/claim_cancelled.html.erb
  config/routes.rb
  spec/features/early_years_teachers_financial_incentive_payments/claim_cancelled_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/ineligible_spec.rb
Due: standard

Swtich to school search field
  app/views/further_education_payments/claims/further_education_provision_search.html.erb
Due: none

Fix selecting school
  app/forms/journeys/further_education_payments/further_education_provision_search_form.rb
Due: standard

CAPT-3771 - Add EYTRP check eligibility form
  app/forms/journeys/early_years_teachers_financial_incentive_payments/check_eligibility_form.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/session_answers.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments/slug_sequence.rb
  app/models/policies/early_years_teachers_financial_incentive_payments/policy_eligibility_checker.rb
  app/views/early_years_teachers_financial_incentive_payments/claims/_ineligible_check_eligibility_both_not_confirmed.html.erb
  app/views/early_years_teachers_financial_incentive_payments/claims/_ineligible_check_eligibility_not_confirmed_content.html.erb
  app/views/early_years_teachers_financial_incentive_payments/claims/_ineligible_fifty_percent_time_as_eyt_not_confirmed.html.erb
  app/views/early_years_teachers_financial_incentive_payments/claims/_ineligible_not_subject_to_performance_and_disciplinary_not_confirmed.html.erb
  app/views/early_years_teachers_financial_incentive_payments/claims/check_eligibility.html.erb
  config/locales/early_years_teachers_financial_incentive_payments.yml
  spec/features/early_years_teachers_financial_incentive_payments/check_eligibility_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/claim_submission_to_payroll_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/happy_path_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/ineligible_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/review_employment_proof_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/teacher_auth_bypass_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/upload_employment_proof_validation_spec.rb
  spec/forms/journeys/early_years_teachers_financial_incentive_payments/check_eligibility_form_spec.rb
Due: standard

Update review_app_env.yml
  terraform/application/config/review_app_env.yml
Due: none

Update Dockerfile
  Dockerfile
Due: none

Add rejection / approval constants
  app/models/policies/early_years_teachers_financial_incentive_payments.rb
Due: standard

Update claim index for eytrp identity task
  app/helpers/admin/claims_helper.rb
Due: standard

Update guidance.html.erb
  app/views/early_years_teachers_financial_incentive_payments/guidance.html.erb
Due: none

Methodology page
  app/controllers/static_pages_controller.rb
  app/views/early_years_teachers_financial_incentive_payments/methodology.html.erb
  config/routes.rb
Due: standard

Methodology spec
  spec/features/early_years_teachers_financial_incentive_payments/happy_path_spec.rb
Due: standard

EYTFI in app feedback survey
  app/controllers/feedback_controller.rb
  app/forms/feedbacks/confirmation_form.rb
  app/forms/feedbacks/details_form.rb
  app/models/feedback.rb
  app/models/journeys/base.rb
  app/models/journeys/early_years_teachers_financial_incentive_payments.rb
  app/models/journeys/feedbacks/slug_sequence.rb
  app/views/early_years_teachers_financial_incentive_payments/claims/confirmation.html.erb
  app/views/early_years_teachers_financial_incentive_payments/claims/ineligible.html.erb
  app/views/feedback/confirmation.html.erb
  app/views/feedback/details.html.erb
  app/views/layouts/application.html.erb
  app/views/shared/_phase_banner.html.erb
  app/views/shared/phase_banner/_early_years_teachers_recognition_payments.html.erb
  config/analytics.yml
  config/analytics_hidden_pii.yml
  config/locales/early_years_teachers_financial_incentive_payments.yml
  config/routes.rb
  db/migrate/20260528133525_create_feedbacks.rb
  db/schema.rb
  spec/features/early_years_teachers_financial_incentive_payments/feedback_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/happy_path_spec.rb
Due: standard

remove Form inheritance from EYTFI feedback
  app/controllers/feedback_controller.rb
  app/forms/feedbacks/confirmation_form.rb
  app/forms/feedbacks/details_form.rb
  app/views/feedback/details.html.erb
Due: standard

copy tweak EYTFI feedback confirmation page
  app/views/feedback/confirmation.html.erb
Due: none

For private beta we're qa-ing all claims
  app/models/policies/early_years_teachers_financial_incentive_payments.rb
Due: standard

Enable EYTRP in admin site
  app/models/admin/task_list_form.rb
  app/models/base_policy.rb
  app/models/policies.rb
  app/models/policies/early_years_teachers_financial_incentive_payments.rb
  spec/models/policies/early_years_teachers_financial_incentive_payments_spec.rb
Due: standard

Use trn for matching claims
  app/models/policies/early_years_teachers_financial_incentive_payments.rb
  spec/models/claim/matching_attribute_finder_spec.rb
Due: standard

change logic of postcode search
  app/views/claims/postcode_search.html.erb
  app/views/claims/select_home_address.html.erb
  spec/features/admin/admin_ey_tasks_spec.rb
  spec/features/admin/admin_fraud_prevention_spec.rb
  spec/features/combined_teacher_claim_journey_with_teacher_id_spec.rb
  spec/features/early_years_payment/practitioner/happy_path_spec.rb
  spec/features/targeted_retention_incentive_payments_spec.rb
  spec/features/targeted_retention_incentives/changing_answers_spec.rb
  spec/features/targeted_retention_incentives/eligible_paths_spec.rb
  spec/features/targeted_retention_incentives/reminders_spec.rb
  spec/support/steps/early_years_practitioner_journey.rb
Due: standard

Update postcode_search.html.erb
  app/views/claims/postcode_search.html.erb
Due: none

CAPT-3804 - EYTRP check eligibility content update
  app/views/early_years_teachers_financial_incentive_payments/claims/check_eligibility.html.erb
  config/locales/early_years_teachers_financial_incentive_payments.yml
  spec/features/admin/approvals_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/check_eligibility_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/claim_cancelled_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/claim_submission_to_payroll_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/happy_path_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/ineligible_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/review_employment_proof_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/teacher_auth_bypass_spec.rb
  spec/features/early_years_teachers_financial_incentive_payments/upload_employment_proof_validation_spec.rb
Due: standard

Remove excludeClosedSchools
  app/assets/javascripts/components/school_search_field.js
Due: prettier

Use school_search
  app/views/claims/current_school.html.erb
Due: none

Remove unused partial
  app/views/targeted_retention_incentive_payments/claims/_current_school_question.html.erb
Due: none

Always show banking name
  app/forms/admin/amendment_form.rb
  app/views/admin/amendments/new.html.erb
  spec/features/admin/admin_amend_claim_spec.rb
Due: standard

remove EYTFI back links
  app/views/early_years_teachers_financial_incentive_payments/claims/_ineligible_teaching_qualification_ineligible.html.erb
  app/views/early_years_teachers_financial_incentive_payments/claims/continue_claim.html.erb
Due: none

CAPT-3799 - Add extra fields to EYTRP check your answers page
  app/models/journeys/early_years_teachers_financial_incentive_payments/answers_presenter.rb
  app/views/early_years_teachers_financial_incentive_payments/claims/check_your_answers.html.erb
  spec/models/journeys/early_years_teachers_financial_incentive_payments/answers_presenter_spec.rb
Due: standard

Remove college_search.js.erb
  app/assets/javascripts/components/college_search.js.erb
Due: prettier
