Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{css,html,js,js.erb,json,md,scss}"
      run: rails prettier {staged_files}
      skip:
        - merge
        - rebase
    standard:
      glob: "*.rb"
      run: rails standard {staged_files}
      skip:
        - merge
        - rebase

Call terraform-apply-aks
  .github/actions/deploy-environment/action.yml
Due: none

Use PR number and not event number
  .github/actions/deploy-environment/action.yml
  .github/workflows/build_and_deploy.yml
Due: none

Change PR message, fix deployment name
  .github/workflows/build_and_deploy.yml
Due: none

Correct comment URLs
  .github/workflows/build_and_deploy.yml
Due: none

Align table header
  .github/workflows/build_and_deploy.yml
Due: none

Add delete-review-app workflow
  .github/workflows/build_and_deploy.yml
  .github/workflows/delete_review_app.yml
Due: none

Output APP_URL from build and use in PR comment
  .github/actions/deploy-environment/action.yml
  .github/workflows/build_and_deploy.yml
Due: none

Try to pull the APP_ULR from env again
  .github/workflows/build_and_deploy.yml
Due: none

output raw url not json
  .github/actions/deploy-environment/action.yml
Due: none

Update README
  README.md
Due: prettier

Update config for test env
  global_config/test.sh
  terraform/application/config/test.tfvars.json
Due: prettier

Echo correct URL in makefile
  Makefile
Due: none

dont suppress dfe analytics in review apps
  terraform/application/config/review_app_env.yml
Due: none

Add dfe:analytics:check lint step to the CI workflow
  .github/workflows/ci.yaml
Due: none

Fix indentation
  .github/workflows/ci.yaml
Due: none

Update .github/workflows/build_and_deploy.yml
  .github/workflows/build_and_deploy.yml
Due: none

Create a claim from journey session
  app/controllers/submissions_controller.rb
  app/forms/claim_submission_form.rb
  app/models/claim.rb
  app/models/claim_journey_session_shim.rb
  app/models/current_claim.rb
  app/models/journeys/session.rb
  app/models/policies/early_career_payments/eligibility.rb
  app/models/policies/levelling_up_premium_payments/eligibility.rb
  config/analytics.yml
  db/migrate/20240510144004_reference_journey_session_from_claim.rb
  db/schema.rb
  spec/features/admin_claim_tasks_update_with_dqt_api_spec.rb
  spec/features/combined_teacher_claim_journey_spec.rb
  spec/features/early_career_payments_claim_spec.rb
  spec/features/early_career_payments_eligible_now_reminder_set_spec.rb
  spec/features/levelling_up_premium_payments_spec.rb
  spec/features/student_loans_claim_spec.rb
  spec/forms/claim_submission_form_spec.rb
  spec/models/claim_spec.rb
  spec/models/current_claim_spec.rb
  spec/requests/submissions_spec.rb
Due: standard

Adds check your answers form
  app/controllers/submissions_controller.rb
  app/forms/check_your_answers_form.rb
  app/models/journeys/base.rb
  app/models/journeys/base_answers_presenter.rb
  app/views/additional_payments/claims/check_your_answers.html.erb
  app/views/student_loans/claims/check_your_answers.html.erb
Due: standard

Split the claim submission form per journey
  app/controllers/submissions_controller.rb
  app/forms/claim_submission_base_form.rb
  app/forms/claim_submission_form.rb
  app/forms/journeys/additional_payments_for_teaching/claim_submission_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/claim_submission_form.rb
  config/locales/en.yml
  spec/forms/journeys/additional_payments_for_teaching/claim_submission_form_spec.rb
  spec/forms/journeys/teacher_student_loan_reimbursement/claim_submission_form_spec.rb
Due: standard

Require deploy tag to build, remove master branch condition
  .github/workflows/build_and_deploy.yml
Due: none

set review rails_env to be production
  .github/workflows/delete_review_app.yml
  config/environments/review.rb
  terraform/application/config/review_app_env.yml
Due: standard

set review config from production
  config/environments/review.rb
Due: standard

update env name and rails env
  terraform/application/config/review_app_env.yml
Due: none

remove RAILS_ENV
  terraform/application/config/review_app_env.yml
Due: none

Ruby 3.2.4 upgrade
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
Due: none

Remove env variables moved to keyvault (copied from existing review env)
  terraform/application/config/review_app_env.yml
Due: none

Remove old GDS tweaks which are no longer needed
  app/assets/stylesheets/components/gds_kit_tweaks.scss
Due: prettier

Prevent the admin tabs from running client and server-side
  app/views/admin/amendments/index.html.erb
  app/views/admin/claims/_tabs.html.erb
  app/views/admin/notes/index.html.erb
  app/views/admin/payments/index.html.erb
  app/views/admin/tasks/index.html.erb
Due: none

Keep old non-anchor tabs behaviour
  app/views/admin/claims/_tabs.html.erb
Due: none

Use attributes with journey session
  app/forms/claim_submission_base_form.rb
  app/forms/form.rb
  app/forms/journeys/additional_payments_for_teaching/claim_submission_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/claim_submission_form.rb
  app/models/claim_journey_session_shim.rb
  app/models/journeys/additional_payments_for_teaching/claim_journey_session_shim.rb
  app/models/journeys/additional_payments_for_teaching/session.rb
  app/models/journeys/additional_payments_for_teaching/session_answers.rb
  app/models/journeys/additional_payments_for_teaching/session_answers_type.rb
  app/models/journeys/session.rb
  app/models/journeys/session_answers.rb
  app/models/journeys/teacher_student_loan_reimbursement/claim_journey_session_shim.rb
  app/models/journeys/teacher_student_loan_reimbursement/session.rb
  app/models/journeys/teacher_student_loan_reimbursement/session_answers.rb
  app/models/journeys/teacher_student_loan_reimbursement/session_answers_type.rb
  spec/models/journeys/session_spec.rb
Due: standard

Refactor form to take advantage of attributes
  app/forms/claim_submission_base_form.rb
  app/forms/journeys/additional_payments_for_teaching/claim_submission_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/claim_submission_form.rb
  app/models/journeys/additional_payments_for_teaching/claim_journey_session_shim.rb
  app/models/journeys/teacher_student_loan_reimbursement/claim_journey_session_shim.rb
  spec/forms/journeys/additional_payments_for_teaching/claim_submission_form_spec.rb
  spec/forms/journeys/teacher_student_loan_reimbursement/claim_submission_form_spec.rb
Due: standard

PR feedback
  app/forms/claim_submission_base_form.rb
  app/forms/journeys/additional_payments_for_teaching/claim_submission_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/claim_submission_form.rb
  app/models/journeys/additional_payments_for_teaching/session.rb
  app/models/journeys/teacher_student_loan_reimbursement/session.rb
Due: standard

Ruby 3.2.4 upgrade (#2749)
  .ruby-version
  .tool-versions
  Dockerfile
  Gemfile
  Gemfile.lock
Due: none

Inherit from production env
  config/environments/review.rb
  terraform/application/application.tf
  terraform/application/config/review.tfvars.json
  terraform/application/config/review_app_env.yml
  terraform/application/variables.tf
Due: prettier, standard

Implement form objects for reminders slugs (ECP/LUPP)
  app/forms/email_verification_form.rb
  app/forms/journeys/additional_payments_for_teaching/reminders/email_verification_form.rb
  app/forms/journeys/additional_payments_for_teaching/reminders/personal_details_form.rb
  app/models/journeys/additional_payments_for_teaching.rb
  app/models/journeys/base.rb
  app/models/journeys/teacher_student_loan_reimbursement.rb
  config/locales/en.yml
  spec/forms/journeys/additional_payments_for_teaching/reminders/email_verification_form_spec.rb
  spec/forms/journeys/additional_payments_for_teaching/reminders/personal_details_form_spec.rb
Due: standard

Make sure permitted params fetch from the model name param key
  app/forms/form.rb
Due: standard

Fix reminders routes
  config/routes.rb
Due: standard
