Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{css,html,js,js.erb,json,md,scss}"
      run: rails prettier {staged_files}
      skip:
        - merge
        - rebase
    standard:
      glob: "*.rb"
      run: rails standard {staged_files}
      skip:
        - merge
        - rebase

flip order of seeders
  db/seeds.rb
Due: standard

tidy up seeding code
  db/seeders/base.rb
  db/seeders/development.rb
  db/seeders/null.rb
  db/seeders/review.rb
  db/seeds.rb
Due: standard

Add cache columns
  app/models/payroll_run.rb
  app/views/admin/payroll_runs/index.html.erb
  db/migrate/20260706122602_add_calculated_columns_to_payroll_run.rb
  db/schema.rb
Due: standard

Run feature flag on ci
  spec/rails_helper.rb
Due: standard

Cache payroll index page calculations
  app/controllers/admin/payroll_runs_controller.rb
  app/jobs/payroll_run_back_fill_job.rb
  app/jobs/payroll_run_job.rb
  app/models/payment_confirmation_upload.rb
  app/models/payroll_run.rb
  config/analytics.yml
  db/migrate/20260706122602_add_calculated_columns_to_payroll_run.rb
  db/schema.rb
  spec/factories/payroll_runs.rb
  spec/models/payment_confirmation_upload_spec.rb
  spec/models/payroll_run_spec.rb
Due: standard

Add service overview
  README.md
  docs/policy-acronyms.md
  docs/service-overview.md
Due: prettier

Update docs
  docs/developer-onboarding.md
  docs/policy-acronyms.md
Due: prettier

Update docs/service-overview.md
  docs/service-overview.md
Due: prettier

Update docs/policy-acronyms.md
  docs/policy-acronyms.md
Due: prettier

Update service-overview.md
  docs/service-overview.md
Due: prettier

Clean up feature flag
  app/controllers/admin/payroll_runs_controller.rb
  app/jobs/payroll_run_back_fill_job.rb
  app/models/payroll_run.rb
  spec/rails_helper.rb
Due: standard

127 - Refactor - FE - use journey_session.answers.update
  app/forms/journeys/further_education_payments/building_construction_courses_form.rb
  app/forms/journeys/further_education_payments/check_your_answers_form.rb
  app/forms/journeys/further_education_payments/check_your_answers_part_one_form.rb
  app/forms/journeys/further_education_payments/chemistry_courses_form.rb
  app/forms/journeys/further_education_payments/computing_courses_form.rb
  app/forms/journeys/further_education_payments/contract_type_form.rb
  app/forms/journeys/further_education_payments/early_years_courses_form.rb
  app/forms/journeys/further_education_payments/eligible_form.rb
  app/forms/journeys/further_education_payments/engineering_manufacturing_courses_form.rb
  app/forms/journeys/further_education_payments/existing_progress_form.rb
  app/forms/journeys/further_education_payments/fixed_term_contract_form.rb
  app/forms/journeys/further_education_payments/further_education_provision_search_form.rb
  app/forms/journeys/further_education_payments/further_education_teaching_start_year_form.rb
  app/forms/journeys/further_education_payments/half_teaching_hours_form.rb
  app/forms/journeys/further_education_payments/have_one_login_account_form.rb
  app/forms/journeys/further_education_payments/hours_teaching_eligible_subjects_form.rb
  app/forms/journeys/further_education_payments/information_provided_form.rb
  app/forms/journeys/further_education_payments/maths_courses_form.rb
  app/forms/journeys/further_education_payments/passport_form.rb
  app/forms/journeys/further_education_payments/physics_courses_form.rb
  app/forms/journeys/further_education_payments/previously_claimed_form.rb
  app/forms/journeys/further_education_payments/select_provision_form.rb
  app/forms/journeys/further_education_payments/subjects_taught_form.rb
  app/forms/journeys/further_education_payments/taught_at_least_one_term_form.rb
  app/forms/journeys/further_education_payments/teaching_hours_per_week_form.rb
  app/forms/journeys/further_education_payments/teaching_qualification_form.rb
  app/forms/journeys/further_education_payments/teaching_responsibilities_form.rb
  app/forms/journeys/further_education_payments/work_email_access_form.rb
  app/forms/journeys/further_education_payments/work_email_form.rb
  app/forms/journeys/further_education_payments/work_email_verification_form.rb
Due: standard

fix: update! not needed here
  app/forms/journeys/further_education_payments/further_education_provision_search_form.rb
Due: standard

Show decisions have been undone
  app/helpers/admin/claims_helper.rb
  app/views/admin/decisions/index.html.erb
  spec/features/admin/admin_amend_decision_spec.rb
Due: standard

Fix date dependent test
  spec/features/admin/early_years_teachers_financial_incentive_payments/claim_tasks_index_spec.rb
Due: standard

127 - Refactor - FE - use journey_session.answers.update!
  app/forms/journeys/further_education_payments/building_construction_courses_form.rb
  app/forms/journeys/further_education_payments/check_your_answers_form.rb
  app/forms/journeys/further_education_payments/check_your_answers_part_one_form.rb
  app/forms/journeys/further_education_payments/chemistry_courses_form.rb
  app/forms/journeys/further_education_payments/computing_courses_form.rb
  app/forms/journeys/further_education_payments/contract_type_form.rb
  app/forms/journeys/further_education_payments/early_years_courses_form.rb
  app/forms/journeys/further_education_payments/eligible_form.rb
  app/forms/journeys/further_education_payments/engineering_manufacturing_courses_form.rb
  app/forms/journeys/further_education_payments/existing_progress_form.rb
  app/forms/journeys/further_education_payments/fixed_term_contract_form.rb
  app/forms/journeys/further_education_payments/further_education_provision_search_form.rb
  app/forms/journeys/further_education_payments/further_education_teaching_start_year_form.rb
  app/forms/journeys/further_education_payments/half_teaching_hours_form.rb
  app/forms/journeys/further_education_payments/have_one_login_account_form.rb
  app/forms/journeys/further_education_payments/hours_teaching_eligible_subjects_form.rb
  app/forms/journeys/further_education_payments/information_provided_form.rb
  app/forms/journeys/further_education_payments/maths_courses_form.rb
  app/forms/journeys/further_education_payments/passport_form.rb
  app/forms/journeys/further_education_payments/physics_courses_form.rb
  app/forms/journeys/further_education_payments/previously_claimed_form.rb
  app/forms/journeys/further_education_payments/select_provision_form.rb
  app/forms/journeys/further_education_payments/subjects_taught_form.rb
  app/forms/journeys/further_education_payments/taught_at_least_one_term_form.rb
  app/forms/journeys/further_education_payments/teaching_hours_per_week_form.rb
  app/forms/journeys/further_education_payments/teaching_qualification_form.rb
  app/forms/journeys/further_education_payments/teaching_responsibilities_form.rb
  app/forms/journeys/further_education_payments/work_email_access_form.rb
  app/forms/journeys/further_education_payments/work_email_form.rb
  app/forms/journeys/further_education_payments/work_email_verification_form.rb
Due: standard

127 - Refactor - EYP - use journey_session.answers.update!
  app/forms/journeys/early_years_payment/practitioner/find_reference_form.rb
  app/forms/journeys/early_years_payment/provider/alternative_idv/check_answers_form.rb
  app/forms/journeys/early_years_payment/provider/alternative_idv/claimant_employed_by_nursery_form.rb
  app/forms/journeys/early_years_payment/provider/alternative_idv/claimant_personal_details_form.rb
  app/forms/journeys/early_years_payment/provider/alternative_idv/email_verification_form.rb
  app/forms/journeys/early_years_payment/provider/authenticated/check_your_answers_form.rb
  app/forms/journeys/early_years_payment/provider/authenticated/child_facing_form.rb
  app/forms/journeys/early_years_payment/provider/authenticated/claimant_name_form.rb
  app/forms/journeys/early_years_payment/provider/authenticated/consent_form.rb
  app/forms/journeys/early_years_payment/provider/authenticated/contract_type_form.rb
  app/forms/journeys/early_years_payment/provider/authenticated/current_nursery_form.rb
  app/forms/journeys/early_years_payment/provider/authenticated/employee_email_form.rb
  app/forms/journeys/early_years_payment/provider/authenticated/paye_reference_form.rb
  app/forms/journeys/early_years_payment/provider/authenticated/returner_contract_type_form.rb
  app/forms/journeys/early_years_payment/provider/authenticated/start_date_form.rb
Due: standard

127 - Refactor - TSLR - use journey_session.answers.update!
  app/forms/journeys/teacher_student_loan_reimbursement/claim_school_results_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/leadership_position_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/mostly_performed_leadership_duties_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/qts_year_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/qualification_details_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/select_claim_school_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/student_loan_amount_form.rb
  app/forms/journeys/teacher_student_loan_reimbursement/subjects_taught_form.rb
Due: standard

127 - Refactor - EYTRP - use journey_session.answers.update!
  app/forms/journeys/early_years_teachers_financial_incentive_payments/check_your_answers_form.rb
  app/forms/journeys/early_years_teachers_financial_incentive_payments/review_employment_proof_form.rb
Due: standard

127 - Refactor - GTRP - use journey_session.answers.update!
  app/forms/journeys/get_a_teacher_relocation_payment/application_route_form.rb
  app/forms/journeys/get_a_teacher_relocation_payment/breaks_in_employment_form.rb
  app/forms/journeys/get_a_teacher_relocation_payment/changed_workplace_or_new_contract_form.rb
  app/forms/journeys/get_a_teacher_relocation_payment/contract_details_form.rb
  app/forms/journeys/get_a_teacher_relocation_payment/entry_date_form.rb
  app/forms/journeys/get_a_teacher_relocation_payment/headteacher_details_form.rb
  app/forms/journeys/get_a_teacher_relocation_payment/nationality_form.rb
  app/forms/journeys/get_a_teacher_relocation_payment/passport_number_form.rb
  app/forms/journeys/get_a_teacher_relocation_payment/previous_payment_received_form.rb
  app/forms/journeys/get_a_teacher_relocation_payment/state_funded_secondary_school_form.rb
  app/forms/journeys/get_a_teacher_relocation_payment/subject_form.rb
  app/forms/journeys/get_a_teacher_relocation_payment/visa_form.rb
Due: standard

127 - Refactor - STRI - use journey_session.answers.update!
  app/forms/journeys/targeted_retention_incentive_payments/eligible_degree_subject_form.rb
  app/forms/journeys/targeted_retention_incentive_payments/employed_directly_form.rb
  app/forms/journeys/targeted_retention_incentive_payments/entire_term_contract_form.rb
  app/forms/journeys/targeted_retention_incentive_payments/nqt_in_academic_year_after_itt_form.rb
  app/forms/journeys/targeted_retention_incentive_payments/select_current_school_form.rb
  app/forms/journeys/targeted_retention_incentive_payments/supply_teacher_form.rb
  app/forms/journeys/targeted_retention_incentive_payments/teaching_subject_now_form.rb
Due: standard

127 - Refactor - shared forms - use journey_session.answers.update!
  app/forms/address_form.rb
  app/forms/date_of_birth_form.rb
  app/forms/debug/sign_in_or_continue_form.rb
  app/forms/email_address_form.rb
  app/forms/email_verification_form.rb
  app/forms/full_name_form.rb
  app/forms/gender_form.rb
  app/forms/mobile_number_form.rb
  app/forms/mobile_verification_form.rb
  app/forms/national_insurance_number_form.rb
  app/forms/personal_bank_account_form.rb
  app/forms/poor_performance_form.rb
  app/forms/reminders/email_verification_form.rb
  app/forms/select_current_school_form.rb
  app/forms/select_email_form.rb
  app/forms/select_home_address_form.rb
  app/forms/sign_in_or_continue_form.rb
  app/forms/teacher_reference_number_form.rb
Due: standard

Update ineligible list for financial incentive payments
  app/views/early_years_teachers_financial_incentive_payments/methodology.html.erb
Due: none

Add new academic year service opening runbook
  docs/first-line-support-developer-runbook.md
  docs/new-academic-year.md
Due: prettier

Remove eligibility criteria section from methodology
  app/views/early_years_teachers_financial_incentive_payments/methodology.html.erb
Due: none

Update guidance for eligible group-based settings
  app/views/early_years_teachers_financial_incentive_payments/guidance.html.erb
Due: none

2856 - New staging environment
  .github/workflows/build_and_deploy.yml
  .github/workflows/database_backup.yml
  .github/workflows/database_restore.yml
  .github/workflows/maintenance.yml
  .github/workflows/postgres-ptr.yml
  .github/workflows/restore-deleted-postgres.yml
  Makefile
  README.md
  docs/secrets.md
  global_config/staging.sh
  terraform/application/config/staging.tfvars.json
  terraform/application/config/staging_app_env.yml
  terraform/application/statuscake.tf
  terraform/domains/environment_domains/config/staging.tfvars.json
Due: prettier

Display bank details on the claim show page
  app/helpers/admin/claims_helper.rb
  app/models/policies/early_years_payments/admin_claim_details_presenter.rb
  spec/helpers/admin/claims_helper_spec.rb
  spec/models/policies/early_years_payments/admin_claim_details_presenter_spec.rb
Due: standard

test
  README.md
Due: prettier

2856 - Make staging more like review rather than test
  global_config/staging.sh
  terraform/application/config/staging.tfvars.json
  terraform/application/config/staging_app_env.yml
  terraform/domains/environment_domains/config/staging.tfvars.json
Due: prettier

2856 - Revert staging infra to permanent resources
  global_config/staging.sh
  terraform/application/config/staging.tfvars.json
  terraform/domains/environment_domains/config/staging.tfvars.json
Due: prettier

2856 - Revert staging to define environment as staging
  terraform/application/config/staging.tfvars.json
  terraform/application/config/staging_app_env.yml
Due: prettier

Fix README test/staging links
  README.md
Due: prettier

Update FE payroll code
  app/models/policies/further_education_payments.rb
  spec/models/policies/further_education_payments_spec.rb
Due: standard

Add a download button for nursery list
  app/controllers/admin/eligible_eytfi_providers_controller.rb
  app/views/admin/journey_configurations/_edit_early_years_teachers_recognition_payments.html.erb
Due: standard

Revise methodology for early years teacher payments
  app/views/early_years_teachers_financial_incentive_payments/methodology.html.erb
Due: none

Fix content on Methodology and Guidance
  app/views/early_years_teachers_financial_incentive_payments/guidance.html.erb
  app/views/early_years_teachers_financial_incentive_payments/methodology.html.erb
Due: none

Remove eligibility criteria section from methodology
  app/views/early_years_teachers_financial_incentive_payments/guidance.html.erb
  app/views/early_years_teachers_financial_incentive_payments/methodology.html.erb
Due: none
