Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

handle closed FE providers
  app/forms/journeys/further_education_payments/further_education_provision_search_form.rb
  app/forms/journeys/further_education_payments/select_provision_form.rb
  app/models/journeys/further_education_payments/session_answers.rb
  app/models/policies/further_education_payments/policy_eligibility_checker.rb
  spec/features/further_education_payments/ineligible_paths_spec.rb
Due: standard

minor copy change for FE journey
  app/views/further_education_payments/claims/_ineligible_fe_provider.html.erb
Due: none

Remove hostname redirect check (#2959)
  config/routes.rb
  spec/requests/canonical_domain_redirect_spec.rb
Due: standard

FE journey: add ineligible state
  app/forms/form_helpers.rb
  app/models/journeys/further_education_payments/session_answers.rb
  app/models/policies/further_education_payments/policy_eligibility_checker.rb
  app/views/further_education_payments/claims/_ineligible_courses.html.erb
  app/views/further_education_payments/claims/_ineligible_fe_provider.html.erb
  app/views/further_education_payments/claims/_ineligible_lack_teaching_responsibilities.html.erb
  app/views/further_education_payments/claims/_ineligible_lacks_teacher_qualification_or_enrolment.html.erb
  app/views/further_education_payments/claims/_ineligible_less_than_half_hours_teaching_eligible_courses.html.erb
  app/views/further_education_payments/claims/_ineligible_must_be_recent_further_education_teacher.html.erb
  app/views/further_education_payments/claims/_ineligible_must_teach_at_least_one_term.html.erb
  app/views/further_education_payments/claims/_ineligible_subject.html.erb
  app/views/further_education_payments/claims/_ineligible_subject_to_problematic_actions.html.erb
  app/views/further_education_payments/claims/_ineligible_teaching_less_than_2_5.html.erb
  app/views/further_education_payments/claims/_ineligible_teaching_less_than_2_5_next_term.html.erb
  config/locales/en.yml
  spec/features/further_education_payments/ineligible_paths_spec.rb
Due: standard

add hours_teaching_eligible_subjects to FE answers
  app/models/journeys/further_education_payments/answers_presenter.rb
  spec/models/journeys/further_education_payments/answers_presenter_spec.rb
Due: standard

populate FE award amount placeholder
  app/forms/journeys/further_education_payments/eligible_form.rb
  app/models/journeys/further_education_payments.rb
  app/models/journeys/further_education_payments/session_answers.rb
  app/models/school.rb
  app/views/further_education_payments/claims/eligible.html.erb
  spec/features/further_education_payments/happy_path_spec.rb
  spec/models/journeys/further_education_payments/session_answers_spec.rb
Due: standard

move one login sign in to after eligibility checks
  app/models/journeys/further_education_payments/slug_sequence.rb
  app/views/claims/_sign_in.html.erb
  app/views/further_education_payments/claims/one_login_placeholder.html.erb
  spec/features/further_education_payments/college_not_found_spec.rb
  spec/features/further_education_payments/happy_js_path_spec.rb
  spec/features/further_education_payments/happy_path_spec.rb
  spec/features/further_education_payments/ineligible_paths_spec.rb
  spec/support/feature_helpers.rb
Due: standard

Ship production logs to Logit.io
  terraform/application/config/production.tfvars.json
Due: prettier

Allow admins to update the address on claims
  app/models/claim.rb
  app/views/admin/amendments/new.html.erb
  spec/features/admin_amend_claim_spec.rb
Due: standard

Retry flaky test
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

Update landing page copy
  app/views/get_a_teacher_relocation_payment/landing_page.html.erb
Due: none

add one login test and prod env vars
  terraform/application/config/production_app_env.yml
  terraform/application/config/test_app_env.yml
Due: none

Add EY CSV data import
  app/controllers/admin/early_years_data_uploads_controller.rb
  app/jobs/import_early_years_data_job.rb
  app/models/early_years_data.rb
  app/models/early_years_data_importer.rb
  app/views/admin/claims/index.html.erb
  app/views/admin/early_years_data_uploads/new.html.erb
  config/routes.rb
  db/migrate/20240729101656_create_early_years_data.rb
  db/schema.rb
  spec/jobs/import_early_years_data_job_spec.rb
  spec/requests/admin_early_years_data_upload_spec.rb
Due: standard

disable one login in production
  terraform/application/config/production_app_env.yml
Due: none

remove forced one login back links
  app/views/claims/sign_in.html.erb
Due: none

Allow file access in early_years_data_uploads_controller.rb
  config/brakeman.ignore
Due: none

Block early_years_data from DfE::Analytics
  config/analytics_blocklist.yml
Due: none

Fix spec issues
  app/models/early_years_data.rb
  spec/requests/admin_early_years_data_upload_spec.rb
Due: standard

Fix flakey spec
  spec/jobs/import_early_years_data_job_spec.rb
Due: standard

One Login proof of concept
  .env.development
  .env.test
  app/controllers/omniauth_callbacks_controller.rb
  app/forms/sign_in_form.rb
  app/models/journeys/base.rb
  app/models/journeys/further_education_payments/slug_sequence.rb
  app/models/journeys/session_answers.rb
  app/views/claims/_sign_in.html.erb
  app/views/claims/sign_in.html.erb
  app/views/get_a_teacher_relocation_payment/landing_page.html.erb
  config/initializers/omniauth.rb
  config/routes.rb
  spec/factories/journeys/further_education_payments/further_education_payments_answers.rb
  spec/features/further_education_payments/college_not_found_spec.rb
  spec/features/further_education_payments/happy_js_path_spec.rb
  spec/features/further_education_payments/happy_path_spec.rb
  spec/features/further_education_payments/ineligible_paths_spec.rb
  spec/forms/sign_in_form_spec.rb
  spec/support/feature_helpers.rb
  terraform/application/config/review_app_env.yml
Due: standard

fix production env var syntax error
  terraform/application/config/production_app_env.yml
Due: none

fix syntax in terraform yaml
  terraform/application/config/production_app_env.yml
Due: none

Hide the start button if the journey is closed
  app/views/early_years_payment/landing_page.html.erb
Due: none

Add Early years URL to review app deployment message
  .github/workflows/build_and_deploy.yml
Due: none

Add landing page content
  app/views/early_years_payment/landing_page.html.erb
  config/locales/en.yml
Due: none

Update content on landing page to match prototype
  app/views/early_years_payment/landing_page.html.erb
Due: none

Namespace journey to EarlyYearsPayment::Provider
  app/models/journeys.rb
  app/models/journeys/early_years_payment.rb
  app/models/journeys/early_years_payment/eligibility_checker.rb
  app/models/journeys/early_years_payment/provider.rb
  app/models/journeys/early_years_payment/provider/eligibility_checker.rb
  app/models/journeys/early_years_payment/provider/session.rb
  app/models/journeys/early_years_payment/provider/session_answers.rb
  app/models/journeys/early_years_payment/provider/session_answers_type.rb
  app/models/journeys/early_years_payment/provider/slug_sequence.rb
  app/models/journeys/early_years_payment/session.rb
  app/models/journeys/early_years_payment/session_answers.rb
  app/models/journeys/early_years_payment/session_answers_type.rb
  app/models/journeys/early_years_payment/slug_sequence.rb
  app/views/early_years_payment/provider/landing_page.html.erb
  config/locales/en.yml
  db/seeds.rb
  spec/factories/journey_configurations.rb
  spec/features/early_years_payment/happy_path_spec.rb
  spec/features/early_years_payment/provider/happy_path_spec.rb
  spec/models/journeys_spec.rb
  spec/support/steps/journey_configuration.rb
Due: standard

Simplifiy slugs
  app/models/journeys/early_years_payment/provider/slug_sequence.rb
Due: standard

Add link to ACAS site
  app/views/early_years_payment/provider/landing_page.html.erb
Due: none

Add EarlyYearsPayment scaffolding
  app/models/journeys.rb
  app/models/journeys/early_years_payment.rb
  app/models/journeys/early_years_payment/eligibility_checker.rb
  app/models/journeys/early_years_payment/session.rb
  app/models/journeys/early_years_payment/session_answers.rb
  app/models/journeys/early_years_payment/session_answers_type.rb
  app/models/journeys/early_years_payment/slug_sequence.rb
  app/models/policies/early_years_payment.rb
  app/models/policies/early_years_payment/eligibility.rb
  app/models/policies/early_years_payment/policy_eligibility_checker.rb
  app/views/early_years_payment/landing_page.html.erb
  config/analytics.yml
  config/locales/en.yml
  db/migrate/20240724092519_create_early_years_payment_eligibilities.rb
  db/schema.rb
  db/seeds.rb
  spec/factories/journey_configurations.rb
  spec/features/early_years_payment/happy_path_spec.rb
  spec/models/journeys_spec.rb
  spec/support/steps/journey_configuration.rb
Due: standard

Set start_page_url to be landing page
  app/models/journeys/early_years_payment/provider/slug_sequence.rb
Due: standard

Add claim_description to en.yml for "Claim in progress" screen
  config/locales/en.yml
Due: none

ignore session answer attributes in the stored JSON that have not been defined on the SessionAnswers class
  app/models/journeys/session_answers_type.rb
  spec/models/journeys/session_answers_type_spec.rb
Due: standard

rename ClaimSessionTimeout concern to SessionManagement
  app/controllers/base_public_controller.rb
  app/controllers/concerns/session_management.rb
Due: standard

do not delete entries from session
  app/controllers/concerns/claim_session_timeout.rb
Due: standard

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
