Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

Update heartbeat job to push to StatusCake
  app/jobs/heartbeat_job.rb
Due: standard

Add heartbeat monitor for statuscake
  terraform/application/application.tf
  terraform/application/statuscake.tf
  terraform/application/variables.tf
Due: none

Document how to restart worker deployment
  README.md
Due: prettier

mark spec as flaky
  spec/features/further_education_payments/ineligible_paths_spec.rb
Due: standard

content updates
  app/models/policies/further_education_payments.rb
  app/views/further_education_payments/claims/_ineligible_fe_provider.html.erb
  app/views/further_education_payments/claims/further_education_provision_search.html.erb
  app/views/further_education_payments/landing_page.html.erb
  config/locales/en.yml
  spec/features/further_education_payments/ineligible_paths_spec.rb
Due: standard

Add button to resend provider verification email
  app/controllers/admin/further_education_payments/provider_verification_emails_controller.rb
  app/views/admin/tasks/provider_verification.html.erb
  config/routes.rb
  spec/features/admin/admin_claim_further_education_payments_spec.rb
Due: standard

Bump base image
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
Due: none

remove word "free"
  app/views/further_education_payments/claims/_ineligible_fe_provider.html.erb
Due: none

[LUPEYALPHA-1001] FE content updates (#3151)
  app/models/policies/further_education_payments.rb
  app/views/further_education_payments/claims/_ineligible_fe_provider.html.erb
  app/views/further_education_payments/claims/further_education_provision_search.html.erb
  app/views/further_education_payments/landing_page.html.erb
  config/locales/en.yml
  spec/features/further_education_payments/ineligible_paths_spec.rb
Due: standard

add OL timestamps to journey session
  app/controllers/omniauth_callbacks_controller.rb
  app/models/journeys/session_answers.rb
  spec/requests/omniauth_callbacks_controller_spec.rb
Due: standard

move admin request specs into folder
  spec/requests/admin/admin_allocations_spec.rb
  spec/requests/admin/admin_amendments_spec.rb
  spec/requests/admin/admin_authentication_spec.rb
  spec/requests/admin/admin_claims_spec.rb
  spec/requests/admin/admin_concurrent_sessions_spec.rb
  spec/requests/admin/admin_configure_services_spec.rb
  spec/requests/admin/admin_decisions_spec.rb
  spec/requests/admin/admin_notes_spec.rb
  spec/requests/admin/admin_page_spec.rb
  spec/requests/admin/admin_payment_confirmation_report_upload_spec.rb
  spec/requests/admin/admin_payroll_gender_tasks_spec.rb
  spec/requests/admin/admin_payroll_run_downloads_spec.rb
  spec/requests/admin/admin_payroll_run_payments_spec.rb
  spec/requests/admin/admin_payroll_runs_spec.rb
  spec/requests/admin/admin_school_workforce_data_upload_spec.rb
  spec/requests/admin/admin_sessions_spec.rb
  spec/requests/admin/admin_static_pages_spec.rb
  spec/requests/admin/admin_student_loans_data_upload_spec.rb
  spec/requests/admin/admin_support_tickets_spec.rb
  spec/requests/admin/admin_tasks_spec.rb
  spec/requests/admin/admin_timeout_spec.rb
  spec/requests/admin/admin_tps_data_upload_spec.rb
  spec/requests/admin/admin_undo_decisions_spec.rb
Due: standard

cache OL IDV data in journey session
  app/controllers/omniauth_callbacks_controller.rb
  app/models/journeys/session_answers.rb
  app/models/one_login/core_identity_validator.rb
  spec/models/one_login/core_identity_validator_spec.rb
  spec/requests/omniauth_callbacks_controller_spec.rb
Due: standard

store onelogin info on claim
  app/models/claim.rb
  config/analytics.yml
  config/analytics_blocklist.yml
  db/migrate/20240904150711_add_onelogin_idv_to_claims.rb
  db/schema.rb
  spec/forms/journeys/further_education_payments/claim_submission_form_spec.rb
  spec/models/claim_spec.rb
Due: standard

Update admin copy
  app/views/admin/tasks/provider_verification.html.erb
  spec/features/admin/admin_claim_further_education_payments_spec.rb
Due: standard

Remove tasks for FE claims
  app/models/claim_checking_tasks.rb
  app/models/policies/further_education_payments/admin_tasks_presenter.rb
Due: standard

Fix production one Login endpoint config
  terraform/application/config/production_app_env.yml
Due: none

Remove redundant config
  terraform/application/config/production_app_env.yml
Due: none

Fix production One Login endpoint config (#3158)
  terraform/application/config/production_app_env.yml
Due: none

Provider confirmation email
  app/forms/journeys/further_education_payments/provider/verify_claim_form.rb
  app/mailers/application_mailer.rb
  app/mailers/claim_mailer.rb
  spec/forms/journeys/further_education_payments/provider/verify_claim_form_spec.rb
  spec/support/have_received_email_matcher.rb
Due: standard

FE admin: conditionally show employment task
  app/models/claim_checking_tasks.rb
  app/models/policies/further_education_payments/claim_checking_tasks.rb
  spec/models/claim_checking_tasks_spec.rb
  spec/support/admin_view_claim_feature_shared_examples.rb
Due: standard

add FE employment task if TRN provided
  app/models/automated_checks/claim_verifiers/employment.rb
  app/models/policies/further_education_payments.rb
  spec/models/automated_checks/claim_verifier_spec.rb
Due: standard

add placeholders for FE admin tasks
  app/models/policies/further_education_payments/admin_tasks_presenter.rb
  app/models/policies/further_education_payments/claim_checking_tasks.rb
  spec/support/admin_view_claim_feature_shared_examples.rb
Due: standard

Show type of contract claimant selected
  app/forms/journeys/further_education_payments/provider/verify_claim_form.rb
  app/views/further_education_payments/provider/claims/verify_claim.html.erb
  config/locales/en.yml
  spec/features/further_education_payments/provider/provider_verifying_claims_spec.rb
Due: standard

Add rejection reasons for FE claims
  app/models/policies/further_education_payments.rb
  config/locales/en.yml
Due: standard

Quick copy fix
  app/forms/journeys/further_education_payments/provider/verify_claim_form.rb
  app/views/further_education_payments/provider/claims/verify_claim.html.erb
  config/locales/en.yml
  spec/features/further_education_payments/provider/provider_verifying_claims_spec.rb
Due: standard

Branch on fixed_term_full_year
  app/models/policies/further_education_payments/eligibility.rb
  config/locales/en.yml
  spec/features/further_education_payments/provider/provider_verifying_claims_spec.rb
  spec/forms/journeys/further_education_payments/provider/verify_claim_form_spec.rb
Due: standard

Update the support email address
  config/locales/en.yml
Due: none

Delegate to policy to decide auto pass logic and include failure
  app/models/automated_checks/claim_verifiers/identity.rb
  app/models/base_policy.rb
  app/models/policies/further_education_payments.rb
  app/views/admin/tasks/_task_outcome.html.erb
  spec/models/automated_checks/claim_verifiers/identity_spec.rb
Due: standard

LUPEYALPHA-955 - Add identity confirmation task to FE that auto passes
  app/helpers/admin/claims_helper.rb
  app/models/automated_checks/claim_verifiers/identity.rb
  app/models/policies/further_education_payments.rb
  app/views/admin/tasks/_task_outcome.html.erb
  app/views/admin/tasks/identity_confirmation.html.erb
  spec/forms/journeys/further_education_payments/provider/verify_claim_form_spec.rb
  spec/helpers/admin/claims_helper_spec.rb
  spec/models/automated_checks/claim_verifiers/identity_spec.rb
Due: standard

Ensure OL task outcome is specific to identity confirmation and OL
  app/models/task.rb
  app/views/admin/tasks/_task_outcome.html.erb
Due: standard

switch to using a helper
  app/controllers/admin/amendments_controller.rb
  app/controllers/admin/base_admin_controller.rb
  app/controllers/admin/claims_controller.rb
  app/controllers/admin/decisions_controller.rb
  app/controllers/admin/notes_controller.rb
  app/controllers/admin/payments_controller.rb
  app/controllers/admin/support_tickets_controller.rb
  app/controllers/admin/tasks_controller.rb
  app/helpers/admin/claim_summary_helper.rb
  app/views/admin/amendments/index.html.erb
  app/views/admin/decisions/new.html.erb
  app/views/admin/notes/index.html.erb
  app/views/admin/payments/index.html.erb
  app/views/admin/tasks/arrival_date.html.erb
  app/views/admin/tasks/census_subjects_taught.html.erb
  app/views/admin/tasks/employment.html.erb
  app/views/admin/tasks/employment_contract.html.erb
  app/views/admin/tasks/employment_start.html.erb
  app/views/admin/tasks/identity_confirmation.html.erb
  app/views/admin/tasks/index.html.erb
  app/views/admin/tasks/induction_confirmation.erb
  app/views/admin/tasks/matching_details.html.erb
  app/views/admin/tasks/payroll_details.html.erb
  app/views/admin/tasks/payroll_gender.html.erb
  app/views/admin/tasks/qualifications.html.erb
  app/views/admin/tasks/student_loan_amount.html.erb
  app/views/admin/tasks/student_loan_plan.html.erb
  app/views/admin/tasks/subject.html.erb
  app/views/admin/tasks/teaching_hours.html.erb
  app/views/admin/tasks/visa.html.erb
  spec/helpers/admin/claim_summary_helper_spec.rb
Due: standard

Claim Summary for FE
  app/controllers/admin/amendments_controller.rb
  app/controllers/admin/base_admin_controller.rb
  app/controllers/admin/claims_controller.rb
  app/controllers/admin/decisions_controller.rb
  app/controllers/admin/notes_controller.rb
  app/controllers/admin/payments_controller.rb
  app/controllers/admin/support_tickets_controller.rb
  app/controllers/admin/tasks_controller.rb
  app/views/admin/amendments/index.html.erb
  app/views/admin/decisions/new.html.erb
  app/views/admin/notes/index.html.erb
  app/views/admin/payments/index.html.erb
  app/views/admin/tasks/_claim_summary_further_education_payments.html.erb
  app/views/admin/tasks/arrival_date.html.erb
  app/views/admin/tasks/census_subjects_taught.html.erb
  app/views/admin/tasks/employment.html.erb
  app/views/admin/tasks/employment_contract.html.erb
  app/views/admin/tasks/employment_start.html.erb
  app/views/admin/tasks/identity_confirmation.html.erb
  app/views/admin/tasks/index.html.erb
  app/views/admin/tasks/induction_confirmation.erb
  app/views/admin/tasks/matching_details.html.erb
  app/views/admin/tasks/payroll_details.html.erb
  app/views/admin/tasks/payroll_gender.html.erb
  app/views/admin/tasks/qualifications.html.erb
  app/views/admin/tasks/student_loan_amount.html.erb
  app/views/admin/tasks/student_loan_plan.html.erb
  app/views/admin/tasks/subject.html.erb
  app/views/admin/tasks/teaching_hours.html.erb
  app/views/admin/tasks/visa.html.erb
  spec/features/admin/admin_view_claim_spec.rb
  spec/support/admin_view_claim_feature_shared_examples.rb
  spec/support/admin_view_claim_logged_in_with_tid_feature_shared_examples.rb
Due: standard

feature spec
  spec/factories/policies/further_education_payments/eligibilities.rb
  spec/features/admin/admin_view_claim_further_education_payments_spec.rb
Due: standard

touch readme
  README.md
Due: prettier

Fix backlink on ineligible child-facing page
  app/views/early_years_payment/provider/authenticated/claims/_ineligibility_not_child_facing_enough.html.erb
Due: none

[LUPEYALPHA-964] Claim Summary for FE (#3150)
  app/helpers/admin/claim_summary_helper.rb
  app/views/admin/amendments/index.html.erb
  app/views/admin/decisions/new.html.erb
  app/views/admin/notes/index.html.erb
  app/views/admin/payments/index.html.erb
  app/views/admin/tasks/_claim_summary_further_education_payments.html.erb
  app/views/admin/tasks/arrival_date.html.erb
  app/views/admin/tasks/census_subjects_taught.html.erb
  app/views/admin/tasks/employment.html.erb
  app/views/admin/tasks/employment_contract.html.erb
  app/views/admin/tasks/employment_start.html.erb
  app/views/admin/tasks/identity_confirmation.html.erb
  app/views/admin/tasks/index.html.erb
  app/views/admin/tasks/induction_confirmation.erb
  app/views/admin/tasks/matching_details.html.erb
  app/views/admin/tasks/payroll_details.html.erb
  app/views/admin/tasks/payroll_gender.html.erb
  app/views/admin/tasks/qualifications.html.erb
  app/views/admin/tasks/student_loan_amount.html.erb
  app/views/admin/tasks/student_loan_plan.html.erb
  app/views/admin/tasks/subject.html.erb
  app/views/admin/tasks/teaching_hours.html.erb
  app/views/admin/tasks/visa.html.erb
  spec/factories/policies/further_education_payments/eligibilities.rb
  spec/features/admin/admin_view_claim_further_education_payments_spec.rb
  spec/features/admin/admin_view_claim_spec.rb
  spec/helpers/admin/claim_summary_helper_spec.rb
  spec/support/admin_view_claim_feature_shared_examples.rb
  spec/support/admin_view_claim_logged_in_with_tid_feature_shared_examples.rb
Due: standard

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
