Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{css,html,js,js.erb,json,md,scss}"
      run: rails prettier {staged_files}
      skip:
        - merge
        - rebase
    standard:
      glob: "*.rb"
      run: rails standard {staged_files}
      skip:
        - merge
        - rebase

Replace smart quotes in docs (#3424)
  docs/architecture-decisions/0008-use-govuk-verify-for-claiment-identity-assurance.md
  docs/architecture-decisions/0009-capture-teacher-reference-number.md
  docs/architecture-decisions/0011-payroll-information-to-be-downloaded-directly-by-payroll-provider.md
Due: prettier

Remove policies_claimable
  app/models/base_policy.rb
  app/models/claim/matching_attribute_finder.rb
  app/models/policies/early_career_payments.rb
  app/models/policies/early_years_payments.rb
  app/models/policies/further_education_payments.rb
  app/models/policies/international_relocation_payments.rb
  app/models/policies/levelling_up_premium_payments.rb
  app/models/policies/student_loans.rb
  spec/models/base_policy_spec.rb
  spec/models/claim/matching_attribute_finder_spec.rb
Due: standard

Migrate gcp wif
  .github/actions/deploy-environment/action.yml
  .github/workflows/delete_review_app.yml
  config/initializers/dfe_analytics.rb
  terraform/application/config/review.tfvars.json
Due: prettier, standard

Migrate gcp wif
  config/initializers/dfe_analytics.rb
Due: standard

Fix deadline warning tag
  app/views/admin/tasks/_claim_summary_international_relocation_payments.html.erb
Due: none

Migrate gcp wif
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/dfe_analytics.rb
Due: standard

Migrate gcp wif
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/dfe_analytics.rb
  terraform/application/application.tf
  terraform/application/config/test.tfvars.json
  terraform/application/variables.tf
Due: prettier, standard

Migrate gcp wif
  terraform/application/application.tf
Due: none

Block invalid policy combinations
  app/models/claim.rb
  app/models/policies.rb
  spec/factories/claims.rb
  spec/factories/payments.rb
  spec/features/admin/admin_payroll_runs_spec.rb
  spec/features/admin/claim_with_unpermitted_policy_combo_spec.rb
  spec/jobs/payroll_run_job_spec.rb
  spec/models/claim_spec.rb
Due: standard

Add duplicate claims check
  app/models/automated_checks/claim_verifiers/duplicate_claims_check.rb
  app/models/claim.rb
  app/models/claims.rb
  app/models/claims/claim_duplicate.rb
  app/models/policies/early_career_payments.rb
  app/models/policies/early_years_payments.rb
  app/models/policies/further_education_payments.rb
  app/models/policies/international_relocation_payments.rb
  app/models/policies/levelling_up_premium_payments.rb
  app/models/policies/student_loans.rb
  db/migrate/20241219115223_create_claims_claim_duplicates.rb
  db/schema.rb
  spec/models/automated_checks/claim_verifiers/duplicate_claims_check_spec.rb
  spec/models/claims/claim_duplicate_spec.rb
Due: standard

Add stricter address validations
  app/forms/address_form.rb
  spec/forms/address_form_spec.rb
Due: standard

CAPT-2087 Skip CSRF checks for unwanted requests
  app/controllers/application_controller.rb
  spec/requests/application_spec.rb
Due: standard

Block invalid policy combinations
  app/models/claim.rb
  app/models/policies.rb
  spec/factories/claims.rb
  spec/factories/payments.rb
  spec/features/admin/admin_payroll_runs_spec.rb
  spec/features/admin/claim_with_unpermitted_policy_combo_spec.rb
  spec/jobs/payroll_run_job_spec.rb
  spec/models/claim_spec.rb
  spec/models/policies_spec.rb
Due: standard

Use permutation rather than combination
  app/models/policies.rb
  spec/models/policies_spec.rb
Due: standard

test ci
  README.md
Due: prettier

rm rubyzip gem as no longer used
  Gemfile
  Gemfile.lock
Due: none

can extract full name from OL JWT
  app/models/one_login/core_identity_validator.rb
  spec/models/one_login/core_identity_validator_spec.rb
Due: standard

ensure OL full name uses family name last
  app/models/one_login/core_identity_validator.rb
  spec/models/one_login/core_identity_validator_spec.rb
Due: standard

OL name matches via regexp
  app/models/claim.rb
  spec/models/claim_spec.rb
Due: standard

store full name from OL
  app/controllers/omniauth_callbacks_controller.rb
  app/models/claim.rb
  app/models/journeys/session_answers.rb
  config/analytics_blocklist.yml
  db/migrate/20241205121421_add_ol_full_name_to_claims.rb
  db/schema.rb
  spec/factories/claims.rb
  spec/features/further_education_payments/happy_path_spec.rb
  spec/forms/journeys/further_education_payments/claim_submission_form_spec.rb
  spec/models/automated_checks/claim_verifiers/identity_spec.rb
  spec/models/claim_spec.rb
  spec/requests/omniauth_callbacks_controller_spec.rb
Due: standard

WIP one click unsub with patched mail-notify
  Gemfile
  Gemfile.lock
  app/mailers/reminder_mailer.rb
Due: standard

add unsubscribe functionality
  app/controllers/unsubscribe_controller.rb
  app/forms/unsubscribe/confirmation_form.rb
  app/mailers/reminder_mailer.rb
  app/views/unsubscribe/create.html.erb
  app/views/unsubscribe/show.html.erb
  app/views/unsubscribe/subscription_not_found.html.erb
  config/environments/development.rb
  config/environments/test.rb
  config/routes.rb
  spec/features/unsubscribe_spec.rb
  spec/forms/current_school_form_spec.rb
  spec/forms/employed_directly_form_spec.rb
  spec/forms/form_spec.rb
  spec/forms/gender_form_spec.rb
  spec/forms/journeys/additional_payments_for_teaching/entire_term_contract_form_spec.rb
  spec/forms/journeys/additional_payments_for_teaching/induction_completed_form_spec.rb
  spec/forms/journeys/additional_payments_for_teaching/itt_academic_year_form_spec.rb
  spec/forms/journeys/teacher_student_loan_reimbursement/claim_school_form_spec.rb
  spec/forms/personal_details_form_spec.rb
  spec/forms/poor_performance_form_spec.rb
  spec/forms/provide_mobile_number_form_spec.rb
  spec/forms/supply_teacher_form_spec.rb
  spec/forms/unsubscribe/confirmation_form_spec.rb
  spec/mailers/reminder_mailer_spec.rb
  spec/requests/admin/admin_amendments_spec.rb
  spec/requests/unsubscribe_spec.rb
Due: standard

unsubscribe soft deletes reminder
  app/controllers/unsubscribe_controller.rb
  app/forms/unsubscribe/confirmation_form.rb
  app/models/reminder.rb
  db/migrate/20241206105631_add_deleted_at_to_reminders.rb
  db/schema.rb
  spec/factories/reminders.rb
  spec/features/unsubscribe_spec.rb
  spec/requests/unsubscribe_spec.rb
Due: standard

update analytics config with reminders#deleted_at
  config/analytics.yml
Due: none

reminders now supports reverse soft delete
  app/forms/reminders/email_verification_form.rb
  app/forms/reminders/personal_details_form.rb
  spec/forms/reminders/email_verification_form_spec.rb
  spec/forms/reminders/personal_details_form_spec.rb
Due: standard

reminders now uses Deletable module
  app/controllers/unsubscribe_controller.rb
  app/forms/reminders/email_verification_form.rb
  app/models/concerns/deletable.rb
  app/models/reminder.rb
  db/migrate/20241206105631_add_deleted_at_to_reminders.rb
Due: standard

CAPT-2040 normalize names for payroll csv export
  app/models/payroll/name_normalizer.rb
  app/models/payroll/payment_csv_row.rb
  spec/models/payroll/name_normalizer_spec.rb
Due: standard

Remove redundant function
  app/models/payroll/name_normalizer.rb
  spec/models/payroll/name_normalizer_spec.rb
Due: standard

CAPT-2040 normalize banking name
  app/models/payroll/banking_name_normalizer.rb
  app/models/payroll/payment_csv_row.rb
  spec/models/payroll/banking_name_normalizer_spec.rb
Due: standard

fix linting
  spec/support/dqt_helpers.rb
Due: standard

Remove accessibility statment for EY
  app/views/layouts/application.html.erb
Due: none

Include claim reference in rollbar errors
  app/jobs/application_job.rb
Due: standard

Log session answers to rollbar
  app/controllers/claims_controller.rb
  app/models/concerns/journeys/sessions/pii_attributes.rb
  app/models/journeys/early_years_payment/provider/authenticated/session_answers.rb
  app/models/journeys/further_education_payments/provider/session_answers.rb
  app/models/journeys/get_a_teacher_relocation_payment/session_answers.rb
  app/models/journeys/session_answers.rb
Due: standard

enable OTP autocomplete
  app/views/claims/_one_time_password.html.erb
Due: none

CAPT-1953 silence more rollbar errors froms bots
  config/routes.rb
  spec/routes/routes_spec.rb
Due: standard

add nil guard where eligible_itt_subject is nil
  app/models/policies/early_career_payments/admin_tasks_presenter.rb
  spec/models/policies/early_career_payments/admin_tasks_presenter_spec.rb
Due: standard
