Repository DFE-Digital/claim-additional-payments-for-teaching: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, standard

prettier:
  run: rails prettier {staged_files}
  skip:
  - merge
  - rebase

standard:
  run: rails standard {staged_files}
  skip:
  - merge
  - rebase

enabled DfE sign in
  terraform/application/config/review_app_env.yml
Due: none

modify unique index on dfe sign in users
  db/migrate/20250630131122_dfe_users_index_change.rb
  db/schema.rb
Due: standard

use preprod env for review apps
  terraform/application/config/review_app_env.yml
Due: none

bypass dfe sign in for review apps
  terraform/application/config/review_app_env.yml
Due: none

CAPT-2666 feat: Show status badge
  app/models/policies/further_education_payments/eligibility.rb
  app/views/further_education_payments/providers/claims/verifications/_claim_summary.html.erb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
  spec/models/policies/further_education_payments/eligibility_spec.rb
Due: standard

handle multiple user_type for DfE sign in
  app/controllers/admin/auth_controller.rb
  app/controllers/omniauth_callbacks_controller.rb
  app/models/dfe_sign_in/authenticated_session.rb
  spec/features/further_education_payments/providers/provider_verification_access_spec.rb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
  spec/lib/dfe_sign_in/authenticated_session_spec.rb
Due: standard

add vulnerability fix in Dockerfile
  Dockerfile
Due: none

refactor: CAPT-2666 Extract method to reuse on the table column
  app/helpers/further_education_payments/providers_helper.rb
  app/views/further_education_payments/providers/claims/index.html.erb
  app/views/further_education_payments/providers/claims/verifications/_claim_summary.html.erb
  spec/helpers/further_education_payments/providers_helper_spec.rb
Due: standard

allow custom OL uid for dev and review apps
  app/controllers/omniauth_callbacks_controller.rb
  app/views/claims/_sign_in_1_start.html.erb
Due: standard

CAPT-2430 - Use internal HE data and not DQT API
  lib/dqt/objects/teacher.rb
  spec/factories/claims.rb
  spec/features/combined_teacher_claim_journey_with_teacher_id_spec.rb
  spec/features/targeted_retention_incentives/ineligible_paths_spec.rb
  spec/forms/journeys/targeted_retention_incentive_payments/qualification_details_form_spec.rb
  spec/forms/journeys/teacher_student_loan_reimbursement/qualification_details_form_spec.rb
  spec/lib/dqt/objects/teacher_spec.rb
  spec/models/automated_checks/claim_verifiers/qualifications_spec.rb
  spec/models/journeys/targeted_retention_incentive_payments/answers_presenter_spec.rb
  spec/support/dqt_helpers.rb
Due: standard

TEST
  README.md
Due: prettier

Fix failing tests due to hardcoded date of birth
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

Fix failing tests due to hardcoded date of birth (#3938)
  spec/features/get_a_teacher_relocation_payment/teacher_route_completing_the_form_spec.rb
  spec/support/get_a_teacher_relocation_payment/step_helpers.rb
Due: standard

do not run DfE sign in importer for review apps
  app/jobs/dfe_sign_in/user_data_importer_job.rb
  spec/jobs/dfe_sign_in/user_data_importer_spec.rb
Due: standard

Move claimant_name to base form
  app/forms/further_education_payments/providers/claims/verification/base_form.rb
  app/forms/further_education_payments/providers/claims/verification/contract_covers_full_academic_year_form.rb
  app/forms/further_education_payments/providers/claims/verification/performance_and_discipline_form.rb
  app/forms/further_education_payments/providers/claims/verification/role_and_experience_form.rb
Due: standard

Add contracted hours form
  app/forms/further_education_payments/providers/claims/verification/check_answers_form.rb
  app/forms/further_education_payments/providers/claims/verification/contracted_hours_form.rb
  app/models/further_education_payments/providers/claims/verification/wizard.rb
  app/views/further_education_payments/providers/claims/verifications/check_answers.html.erb
  app/views/further_education_payments/providers/claims/verifications/contracted_hours.html.erb
  config/analytics.yml
  db/migrate/20250709125318_add_contracted_hours_attribtutes_to_fe_eligibility.rb
  db/schema.rb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
Due: standard

Adds the verification declaration
  app/controllers/further_education_payments/providers/claims/verifications_controller.rb
  app/forms/further_education_payments/providers/claims/verification/check_answers_form.rb
  app/models/further_education_payments/providers/claims/verification/wizard.rb
  app/views/further_education_payments/providers/claims/verifications/check_answers.html.erb
  config/analytics.yml
  db/migrate/20250710131813_add_verification_fields_to_fe_eligibility.rb
  db/schema.rb
  spec/factories/policies/further_education_payments/eligibilities.rb
  spec/features/further_education_payments/providers/provider_verifying_claims_spec.rb
  spec/forms/further_education_payments/providers/claims/verification/check_answers_form_spec.rb
Due: standard

migration to add user_type for DSI records
  config/analytics.yml
  db/migrate/20250626123109_add_user_type_for_dsi.rb
  db/schema.rb
Due: standard

can config multiple DfE sign in credentials
  app/forms/journeys/further_education_payments/provider/omniauth_callback_form.rb
  app/models/journeys/further_education_payments/provider.rb
  lib/dfe_sign_in.rb
  lib/dfe_sign_in/api/user.rb
  lib/dfe_sign_in/utils.rb
  spec/lib/dfe_sign_in/dfe_sign_in_spec.rb
  spec/lib/dfe_sign_in/utils_spec.rb
  spec/support/dfe_sign_in_helpers.rb
Due: standard

move method into eigenclass
  lib/dfe_sign_in.rb
Due: standard

DfE sign in support for multiple clients
  .env.development
  .env.test
  app/controllers/admin/auth_controller.rb
  app/controllers/admin/base_admin_controller.rb
  app/forms/admin/claims_filter_form.rb
  app/forms/journeys/further_education_payments/provider/omniauth_callback_form.rb
  app/jobs/dfe_sign_in/user_data_importer_job.rb
  app/models/automated_checks/claim_verifiers/alternative_identity_verification.rb
  app/models/automated_checks/claim_verifiers/provider_verification.rb
  app/models/dfe_sign_in.rb
  app/models/dfe_sign_in/api/client.rb
  app/models/dfe_sign_in/api/user.rb
  app/models/dfe_sign_in/authenticated_session.rb
  app/models/dfe_sign_in/user.rb
  app/models/dfe_sign_in/user_data_importer.rb
  app/models/dfe_sign_in/utils.rb
  config/initializers/dfe_sign_in.rb
  config/initializers/omniauth.rb
  spec/factories/dfe_sign_in/users.rb
  spec/features/further_education_payments/provider/provider_verifying_claims_in_2024_ay_spec.rb
  spec/lib/dfe_sign_in/api/user_spec.rb
  spec/lib/dfe_sign_in/authenticated_session_spec.rb
  spec/models/automated_checks/claim_verifiers/provider_verification_spec.rb
  spec/models/dfe_sign_in/api/client_spec.rb
  spec/models/dfe_sign_in/user_data_importer_spec.rb
  spec/support/dfe_sign_in_helpers.rb
  terraform/application/config/production_app_env.yml
  terraform/application/config/review_app_env.yml
  terraform/application/config/test_app_env.yml
Due: standard

move dfe sign in file from lib => models
  app/models/dfe_sign_in.rb
  app/models/dfe_sign_in/api/user.rb
  app/models/dfe_sign_in/authenticated_session.rb
  app/models/dfe_sign_in/utils.rb
  config/application.rb
  config/initializers/dfe_sign_in.rb
Due: standard

fix specs due to rebase
  spec/jobs/dfe_sign_in/user_data_importer_spec.rb
Due: standard

fix memoized variable name
  app/models/dfe_sign_in/user_data_importer.rb
Due: standard

fail fast if missing ENV vars
  config/initializers/dfe_sign_in.rb
Due: standard

add needed ENV vars for precompile
  Dockerfile
Due: none

change URL underscores to hyphens for FE provider
  config/routes.rb
  spec/features/further_education_payments/providers/sessions_spec.rb
  spec/features/further_education_payments/providers/unverified_dashboard_spec.rb
Due: standard

enable provider_dashboard feature flag in seeds
  db/seeds.rb
Due: standard

update deploy comment
  .github/workflows/build_and_deploy.yml
Due: none

remove check required tile
  app/assets/stylesheets/components/card.scss
  app/views/further_education_payments/providers/claims/index.html.erb
Due: prettier

touch
  README.md
Due: prettier

ordering for provider verified claims
  app/controllers/further_education_payments/providers/verified_claims_controller.rb
  spec/features/further_education_payments/providers/verified_dashboard_spec.rb
Due: standard

Path conditions:
  prettier: any of: *.{css,html,js,js.erb,json,md,scss}
  standard: any of: *.rb
